.filter {
    background-color: var(--vscode-sidebar-background);
    color: var(--vscode-input-foreground);

    &.selected, &.selected:hover {
        background-color: var(--vscode-button-background);
        color: var(--vscode-button-foreground);
    }
}
