.results-container {
    max-width: calc(100% - 266px);

    &.filters-sidebar-hidden {
        max-width: 100%;
    }
}
@container root-outer-container (max-width: 899px) {
    .filters-sidebar,
    .filters-sidebar-toggle {
        display: none !important;
    }

    .container {
        display: block !important;
    }

    .results-container {
        max-width: 100% !important;
    }
}

@container root-outer-container (min-width: 900px) {
    .filters-modal-trigger {
        display: none !important;
    }
}

.filters-sidebar && .results-container {
    transition: all 1s ease-in;
}

.filters-sidebar {
    background-color: var(--vscode-input-background);
}

.search-results-header {
    container-type: inline-size;
    container-name: search-results-header
}

/*
    Hide labels for small containers
*/
@container search-results-header (width < 475px) {
    .search-results-header__label {
        display: none;
    }
}
