.context-item-mention-node {
    color: var(--vscode-textLink-foreground);
    background-color: color-mix(in lch, var(--vscode-textLink-foreground) 10%, transparent);
    border-radius: 2px;
    white-space: normal;
    padding: 0 1px;
    display: inline-block;

    .icon {
        display: inline-block;
        width: 13px;
        height: 13px;
        margin-right: -2px;
        transform: translateY(-1px);
        opacity: 0.8;
    }

    margin-right: 2px;
    & + .context-item-mention-node {
        margin-left: 2px;
    }
}

body[data-vscode-theme-kind='vscode-high-contrast-light'] .context-item-mention-node {
    background-color: var(--code-background);
    color: var(--code-foreground);
}
