.template-input-node {
    /* TODO this doesn't come close to matching the figmas due to not having the different levels of warnings colours mentioned */
    border: 1px dashed var(--vscode-editorWarning-foreground);
    border-radius: 3px;
    white-space: normal;
    padding: 0 3px;
    display: inline-flex;
    align-items: baseline;
    outline-offset: -1px;
    cursor: pointer;

    & + .template-input-node {
        margin-left: 2px;
    }
}
