:root {
    --border-color: #e6ebf2;
    --border-color-2: #e6ebf2;
    --result-header-bg: #f5f8fa;
    --text-muted-highlighted: #566880;
    --code-bg: white;
    --primary-2: #a3d0ff;
    --subtle-bg-2: #eff2f5;
    --text-disabled: #798baf;
    --text-muted: #5e6e8c;
    --mark-bg: #f8e688;
}

.result-container {
    contain: paint;
    border: solid 1px gray;
    border-radius: 4px;
}

.header {
    padding: 0.5rem 0.75rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    position: sticky;
    top: 0;

    /* Show on top of search result contents */
    z-index: 1;

    border-bottom: 1px solid var(--border-color-2);
    background-color: var(--result-header-bg);

    &-title {
        flex: 1 1 auto;
        display: flex;
        flex-wrap: wrap;
    }
}

.result {
    background-color: var(--code-bg);
    border-bottom: 1px solid var(--border-color-2);
}

.search-result-match {
    /* Don't use cascading link style */
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
}

.horizontal-divider-between {
    &:not(:last-child) {
        border-bottom: 1px solid var(--border-color);
    }
}

.focusable-block {
    &:focus-visible {
        box-shadow: inset 0 0 0 1px var(--primary-2);
    }
}

.clickable {
    cursor: pointer;
    &:hover {
        text-decoration: none;
        background-color: var(--subtle-bg-2);
    }
}

.divider-between {
    > *:not(:last-child)::after {
        content: ' ';
        height: 1rem;
        margin: 0 0.75rem;
        border-right: 1px solid var(--border-color-2);
        display: block;
    }
}

.divider-vertical {
    border-bottom: 1px solid var(--border-color-2);
    width: 100%;
    margin: 0.5rem 0;
}

.divider {
    border-right: 1px solid var(--border-color-2);
    height: 1rem;
    margin: 0 0.5rem;
}

.title {
    display: flex;
    align-items: center;
    flex-grow: 1;
    min-width: 0;
    flex-wrap: wrap;
}

.title-inner {
    overflow-wrap: anywhere;
}

.toggle-matches-button {
    width: 100%;
    text-align: left;
    border: none;
    padding: 0.25rem 0.5rem;
    border-top: 1px solid var(--border-color);
    background-color: var(--code-bg);
    color: var(--text-disabled);

    &:hover {
        color: var(--text-muted);
    }

    &--expanded {
        position: sticky;
        bottom: 0;
    }

    &-text {
        margin-left: 0.125rem;
    }
}

:global(.sr-only) {
    position: absolute;
    width: 0.0625rem;
    height: 0.0625rem;
    padding: 0;
    margin: -0.0625rem;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

:global(.match-highlight) {
    color: var(--text-muted-highlighted);
    background-color: var(--mark-bg);
}
