.message-content-container {
    display: flex;
    align-items: flex-start;
    gap: var(--cell-spacing);
}
.message-content {
    flex: 1 0;
}

/* Make feedback buttons take up less vertical space */
.feedback-buttons {
    margin-top: calc(0.25*var(--cell-spacing));
}

/* Buttons on hover */
.cell-container .feedback-buttons {
    opacity: 0.25;
}
.cell-container:hover .feedback-buttons {
    opacity: 1;
}
