out/
dist/
build/
**/test-data/
vscode/src/testutils/vscode/
agent/src/bfg/__tests__/
agent/src/__tests__/
/.eslintrc.js
/.prettierrc.js
/vitest.workspace.js
vitest.config.ts
vite.config.ts
__mocks__
