node_modules/
.stylelintcache
dist/
out/
*.tsbuildinfo
.DS_Store
.env
.*.env
.idea/
.run/
.test/
**/*.iml
**/*.vsix
index.scip
playwright
playwright-report
test-results
.vscode-test/
.envrc
agent/bindings/kotlin/lib/bin/
