nodejs 20.9.0
pnpm 8.6.7
yarn 1.22.19 # required for agent/scripts/generate-agent-bindings.sh -> scip-typescript-cody-bindings
zig  0.13 # required for lib/noxide
bun  1.1.34 # required for lib/noxide script
python 3.11.3
