:root {
    --human-message-editor-toolbar-height: 22px;
    --human-message-editor-gap: 4px;
    --human-message-editor-cell-spacing-bottom: 6px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: var(--human-message-editor-gap);
    padding: var(--prompt-editor-padding-y) var(--prompt-editor-padding-x);
    border-radius: 2px;
    background-color: color-mix(in srgb, var(--vscode-input-background) 50%, transparent);
    color: var(--vscode-input-foreground);
    outline: solid 1px var(--vscode-input-border);
    outline-offset: -1px;
    cursor: text;
}

.toolbar {
    height: var(--human-message-editor-toolbar-height);
    margin-left: -2px;
    overflow: hidden;
}

.container:not(.focused, [data-keep-toolbar-open]) {
    --human-message-editor-gap: 0px;

    .toolbar {
        height: 0;
        opacity: 0;
        margin-top: 0;
        pointer-events: none;
    }
}

.container:hover, .container:has(:focus-within, menu>button:focus) {
    background-color: var(--vscode-input-background);
}

/* Show focus ring when the input is focused or a toolbar button within the input container is
   focused, but NOT if something in a toolbar button's popover is focused. */
.container:has([data-lexical-editor='true']:focus-within, menu>button:focus) {
    outline-color: var(--vscode-focusBorder);
}

.editor-content-editable {
    min-height: 1lh;
}
