.container {
    display: flex;
    flex-direction: column;
    gap: var(--human-message-editor-gap);

    padding: var(--prompt-editor-padding);
    border-radius: 2px;
}

/* Dim toolbar when unfocused. */
.container:not(:is(.focused, :focus-within, :focus-visible, :hover)) .toolbar {
    opacity: 0.3;
}

/* Make the whole container look like a big input field when focused. */
.container:is(.focused, :focus-within, :focus-visible, :hover) {
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);

    outline: solid 1px var(--vscode-input-border);
}
.container:has(:focus-within) {
    outline-color: var(--vscode-focusBorder);
}

.editor-content-editable {
    min-height: 1lh;
}

/* Hide/show toolbar. */
:root {
    --human-message-editor-toolbar-height: 20px;
    --human-message-editor-gap: var(--prompt-editor-padding);
    --human-message-editor-toolbar-bottom-padding: calc(0.5*var(--prompt-editor-padding));
}
.container {
    padding-bottom: var(--human-message-editor-toolbar-bottom-padding);
}
.toolbar {
    height: var(--human-message-editor-toolbar-height);
}
.container:not(.firstMessage):not(:is(.focused, :focus-within, :focus-visible, :hover)) {
    margin-bottom: calc(var(--human-message-editor-toolbar-height) + var(--human-message-editor-gap) - (var(--prompt-editor-padding) - var(--human-message-editor-toolbar-bottom-padding)));
    padding-bottom: var(--prompt-editor-padding);
    .toolbar {
        display: none;
    }
}

.toolbar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--prompt-editor-padding);
}
.toolbar .spacer {
    flex: 1;
}

