.container {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    user-select: none;
}

.file {
    font-size: var(--vscode-editor-font-size, inherit);
    margin: 0;
}

.file {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.error-color {
    display: inline;
    color: var(--vscode-problemsErrorIcon-foreground, inherit);
}
