.inner-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    /* popups use a screen to capture clicks outside the popups; this is
       necessary so that the screen can extend to the extent of the view without
       scrollbars */
    overflow: clip;
}

.transcript-container {
    flex: 1;
}
