.container {
    width: 100%;
    max-height: 250%;
    z-index: 99;

    display: flex;

    border-radius: 0.5rem 0.5rem 0 0;

    flex-direction: column;
    background: var(--vscode-input-background);
}

.commands-title-container {
    margin-left: 0.5rem;

    width: 96%;
    display: flex;
    margin-bottom: 0;
    padding-bottom: 0;
}

.commands-container {
    margin-left: 0.5rem;

    width: 96%;
    display: flex;

    flex-direction: column-reverse;
    overflow-x: scroll;
}

.command-item {
    display: flex;
    align-items: center;
    font-size: inherit;
    width: 100%;
    max-height: 2rem;
    cursor: pointer;

    border: none;
    background: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
}

.command-item-title {
    justify-content: space-between;
}

.selected {
    background: var(--vscode-input-foreground);
    color: var(--vscode-input-background);
    width: 100%;
}

.command-title {
    font-weight: 500;
    font-size: inherit;
}

.command-description {
    margin-left: 1rem;
    font-size: smaller;
}
