.container {
    max-height: 250%;
    z-index: 99;

    display: flex;

    border: 1px solid;
    margin-bottom: 0.2rem;

    flex-direction: column;
    background: var(--vscode-sideBar-background);
}

.commands-title-container {
    margin-left: 0.5rem;
    margin-right: 0.5rem;

    width: 96%;
    display: flex;
    margin-bottom: 0;
    padding-bottom: 0;

    color: var(--vscode-sideBarTitle-foreground);
}

.commands-container {
    margin-left: 0.5rem;

    width: 96%;
    display: flex;

    flex-direction: column-reverse;
    overflow-x: scroll;
}

.command-item {
    display: flex;
    align-items: center;
    font-size: inherit;
    width: 100%;
    max-height: 2rem;
    cursor: pointer;

    border: none;
    background: var(--vscode-sideBar-background);
}

.command-item-title {
    font-size: smaller;
    justify-content: space-between;
}

.command-title {
    font-weight: 500;
    font-size: inherit;

    color: var(--vscode-sideBarTitle-foreground);
}

.command-description {
    margin-left: 0.25rem;
    font-size: smaller;

    color: var(--vscode-sideBar-foreground);
}

.selected {
    width: 100%;

    opacity: 0.5;
}
