@import '@vscode/codicons/dist/codicon';
@import url(./utils/highlight.css);
@import url(./components/shadcn/shadcn.css);
@import url(./themes/index.css);

@font-face {
    font-family: cody-icons;
    font-display: block;
    src: url('../resources/cody-icons.woff') format('woff');
}

:root {
    /* Our syntax highlighter expects a dark code background color, regardless of the VS Code color
    theme. */
    --code-background: #222222;
    --code-foreground: #ffffff;
}

#root {
    height: 100%;
    margin: 0 auto;
    font-family: var(--vscode-font-family);
    color: var(--vscode-sideBar-foreground);
    background-color: var(--vscode-sideBar-background);
    /* Override VS Code Webview Toolkit elements */
    --border-width: none;
    color:var(--text);

    /* Backgrounds */
    --background-01: var(--vscode-panel-background);  /* Main page background */
    --background-02: color-mix(in srgb, var(--vscode-panel-background) 85%, black 15%);  /* Slightly darker */
    --background-03: color-mix(in srgb, var(--vscode-panel-background) 70%, black 30%);  /* Even darker */

    /* Text */
    --text: var(--vscode-foreground);
    --text-subtle: color-mix(in srgb, var(--vscode-foreground) 70%, transparent 30%);  /* Slightly transparent */
    --text-muted: color-mix(in srgb, var(--vscode-foreground) 50%, transparent 50%);  /* More transparent */
    --text-primary: var(--vscode-button-background);
    --text-primary-subtle: color-mix(in srgb, var(--vscode-button-background)  70%, transparent 30%);  /* Subtle primary */
    --text-primary-muted: color-mix(in srgb, var(--vscode-button-background)  50%, transparent 50%);  /* Muted primary */
    --text-disabled: color-mix(in srgb, var(--vscode-foreground) 30%, transparent 70%);  /* Highly transparent */
    --text-link-color: #5d9b2f;
    --text-link-hover-color: #ff4c00;
    --text-white: #FFFFFF;

    /* Borders */
    --border: var(--vscode-panel-border);
    --border-subtle: color-mix(in srgb, var(--vscode-panel-border) 70%, transparent 30%);  /* Subtle border */
    --border-disabled: color-mix(in srgb, var(--vscode-panel-border) 30%, transparent 70%);  /* Disabled border */
    --border-active: color-mix(in srgb, var(--vscode-button-background) 90%, transparent 30%);  /* Active border with hint of blue */
    --border-hover: color-mix(in srgb, var(--vscode-panel-border) 75%, white 25%);  /* Hover border with more vibrant blue */

    /* Highlight */
    --highlight-background: color-mix(in srgb, var(--vscode-button-background) 40%, transparent 10%);
    --highlight-background-text: #ffffff;
    --highlight-border: #391ed3;

    /* Links */
    --link-color: var(--vscode-button-background);
    --link-hover-color: color-mix(in srgb, var(--vscode-button-background) 75%, white 25%);

    /* Primary Button */
    --button-primary-text: var(--vscode-button-foreground);
    --button-primary-background: var(--vscode-button-background);
    --button-primary-background-hover: var(--vscode-button-hoverBackground);
    --button-primary-border: var(--vscode-button-border);
    --button-primary-border-hover: #8e00ff;
    --button-primary-disabled: #A6B6D9;

    /* Secondary Button */
    --button-secondary-text: #313940;
    --button-secondary-background: #ff0000;
    --button-secondary-background-hover: #F9FAFB;
    --button-secondary-border: #ff00f4;
    --button-secondary-border-hover: #00ee1a;
    --button-secondary-disabled: #A6B6D9;

    /* Semantic Colors */
    /* Error */
    --error-background: #fff5f5;  /* red 0 */
    --error-border: #ff8787;      /* red 4 */
    --error-text: #c92a2a;        /* red 9 */

    /* Warning */
    --warning-background: #fff4e6;  /* orange 0 */
    --warning-border: #ffa94d;      /* orange 4 */
    --warning-text: #d9480f;        /* orange 9 */

    /* Success */
    --success-background: #ebfbee;  /* green 0 */
    --success-border: #40c057;      /* green 6 */
    --success-text: #2b8a3e;        /* green 9 */

    /* Shadows */
    --shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    --shadow-hover: 0 0 0 1px rgba(0, 0, 0, 0.1);
    --shadow-xl: 0 0 0 1px rgba(0, 0, 0, 0.1);


    /* storybook fixes */
    --vscode-editor-foreground: var(--text);
    --vscode-editor-background: var(--background-01);
    --vscode-font-size: 14px;
    --vscode-tab-border: var(--border);
    --vscode-sideBar-background: var(--background-01);
    --vscode-sideBar-border: orange;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--vscode-sideBar-background);
}

a {
    font-weight: 500;
    color: var(--vscode-textLink-foreground);
    text-decoration: inherit;
}

a:hover {
    color: var(--vscode-textLink-activeForeground);
}

.w-100 {
    width: 100%;
}

.cody-chat-error {
    color: var(--vscode-input-foreground);
    background-color: var(--vscode-inputValidation-errorBackground);
    padding: 0.5rem;
}

.cody-chat-error > span {
    font-weight: bold;
}

