.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1.25rem;
    color: var(--vscode-editor-foreground);
}

.sections-container {
    flex: 1;
}

.logo {
    margin-bottom: 1rem;
}

.button-width-sizer {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.button-stack {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 100%;
}

.section {
    background: var(--vscode-sideBar-background);
    color: var(--vscode-sideBar-foreground);
    border: 1px solid var(--vscode-widget-border);
    box-shadow: 0 2px 16px 0 var(--vscode-widget-shadow);
    border-radius: 4px;
    margin-bottom: var(--spacing);
    padding: var(--spacing);
}

@media (width >= 640px) {
    .section {
        width: fit-content;
        min-width: 300px;
    }
}

.section h1 {
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    margin: 0 0 0.75rem;
}

.section p {
    margin: 15px 0 0;
    font-size: 12px;
    opacity: 0.8;
}

.button {
    box-sizing: border-box;
    justify-content: center;
    padding: 0.25rem;
    max-width: 300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media (width >= 640px) {
    .button {
        margin-left: 0;
    }
}

.terms {
    font-size: 90%;
    opacity: 0.8;
    margin-bottom: 0.5rem;
    line-height: 1.4;
}

.button img {
    width: 16px;
    margin-inline-end: 0.5rem;
}
