.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1.25rem;
    color: var(--vscode-editor-foreground);
}

.logo {
    margin-bottom: 1rem;
}

.button-width-sizer {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.button-stack {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 100%;
}

.section.auth-method-screen {
    background: var(--vscode-sideBar-background);
    color: var(--vscode-sideBar-foreground);
    border: 1px solid var(--vscode-widget-border);
    box-shadow: 0 2px 16px 0 var(--vscode-widget-shadow);
    border-radius: 4px;
}

@media (min-width: 640px) {
    .section.auth-method-screen {
        width: fit-content;
        min-width: 300px;
    }
}

.auth-method-screen h1 {
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1;
    margin: 0 0 0.75rem 0;
}

.auth-method-screen .button {
    font-weight: 500;
}

.sections-container {
    flex: 1;
}

.section {
    border: 0.1em solid;
    border-width: 0.1em;
    margin-bottom: var(--spacing);
    padding: var(--spacing);
}

.other-sign-in-options h2 {
    font-size: inherit;
    font-weight: 500;
    margin: 0;
    opacity: 80%;
}

.other-sign-in-options p {
    margin: 0.33rem 0 0 0;
}

.button {
    box-sizing: border-box;
    justify-content: center;
    padding: 0.25rem;
    max-width: 300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 640px) {
    .button {
        margin-left: 0;
    }
}

.terms {
    font-size: 90%;
    opacity: 80%;
    margin-bottom: 0.5rem;
    line-height: 1.4;
}

.button img {
    width: 16px;
    margin-inline-end: 0.5rem;
}

/* To suppress jsx-eslint/anchor-is-valid. */
.link-button {
    background-color: transparent;
    color: var(--vscode-textLink-foreground);
    border: none;
    cursor: pointer;
    display: inline;
    margin: 0;
    padding: 0;
    line-height: 1;
}
