.container {
    display: flex;
    flex-direction: column;
    height: 100%;

    padding: 1.25rem;
    color: var(--vscode-editor-foreground);
}

.divider {
    height: 1px;
    border-top: 1px solid var(--vscode-activityBar-border);
    margin-bottom: 1.25rem;
}

.list {
    list-style: none;
    padding: 0;
}

.plugin {
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--vscode-activityBar-border);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.plugin-checkbox {
    min-width: 3rem;
    min-height: 3rem;
}

.plugin-header {
    font-weight: 600;
    margin: 0 0 0.5rem;
    font-size: 1rem;
}

.plugin-description {
    font-style: italic;
    margin: 0;
}
