.container {
    position: absolute;
    bottom: 100%;
    left: 0;
    box-sizing: border-box;
    /* Match the input width */
    width: calc(100vw - 64px);
    /* Fit in 6 results with the 7th peeking in */
    max-height: 11.8rem;
    z-index: 101;
    background: var(--vscode-sideBar-background);
    color: var(--vscode-sideBar-foreground);
    border: 1px solid var(--vscode-widget-border);
    box-shadow: 0 0 8px 2px var(--vscode-widget-shadow);
    border-radius: 6px;
    padding: 0.25rem;
    display: flex;
    flex-direction: column;
}

.heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .25rem 0.5rem;
}

.heading-container:has(+ .selections-container) {
    margin-bottom: 0rem;
}

.heading {
    font-size: 12px;
    font-weight: 500;
    margin: 0;
}

.selections-container {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
}

.selection-item {
    display: flex;
    align-items: center;
    font-size: inherit;
    width: 100%;
    cursor: pointer;
    border: none;
    color: currentColor;
    background: transparent;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    gap: 0.3rem;
}

.title-and-description-container {
    display: flex;
    align-items: baseline;
    text-align: left;
    gap: 0.1rem;
    overflow: hidden;
}

.selection-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.selection-description {
    margin-left: 0.25rem;
    font-size: smaller;
    opacity: 0.7;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
}

.selection-item:hover {
    color: var(--vscode-list-hoverForeground);
    background-color: var(--vscode-list-hoverBackground);
}

.selected,
.selected.selection-item:hover {
    color: var(--vscode-list-activeSelectionForeground);
    background: var(--vscode-list-activeSelectionBackground);
}

body[data-vscode-theme-kind='vscode-high-contrast-light'] .selected,
body[data-vscode-theme-kind='vscode-high-contrast'] .selected {
    outline: 1px dashed var(--vscode-contrastActiveBorder);
    outline-offset: -1px;
}

.separator {
    all: unset;
    margin: 0.5rem;
    border-bottom: 1px solid var(--vscode-dropdown-border);
}

.empty-symbol-search-tip {
    font-size: 11px;
    padding: 0 0.5rem;
    opacity: 0.7;
    margin: 0 0 0.25rem 0;
}

.empty-symbol-search-tip i {
    vertical-align: middle;
}