:root {
    --prompt-editor-padding: 0.5rem;
}

.editor {
    font: inherit;
    width: 100%;
    overflow: hidden;

    /* Don't allow the input box to become larger than the webview to avoid submit buttons going off the screen */
    max-height: 80vh; /* 80% of viewport height */

    /* Place on top of each other */
    grid-area: 1 / 1 / 2 / 2;
    resize: none;
}

.editor:not(.seamless) {
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);

    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 2px;

    padding: var(--prompt-editor-padding);
}

.editor:not(.seamless):focus,
.editor:not(.seamless):focus-visible,
.editor:not(.seamless):focus-within {
    outline: 1px solid var(--vscode-focusBorder);
    outline-offset: -1px;
}

.editor:not(.seamless) {
    border-color: var(--vscode-input-border, transparent);
}

.disabled {
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    opacity: 0.5;
}
