:root {
    --vscode-actionBar-toggledBackground: #383a49;
    --vscode-activityBar-background: #000000;
    --vscode-activityBar-border: #6fc3df;
    --vscode-activityBar-foreground: #ffffff;
    --vscode-activityBar-inactiveForeground: #ffffff;
    --vscode-activityBarBadge-background: #000000;
    --vscode-activityBarBadge-foreground: #ffffff;
    --vscode-activityBarTop-activeBorder: #6fc3df;
    --vscode-activityBarTop-dropBorder: #ffffff;
    --vscode-activityBarTop-foreground: #ffffff;
    --vscode-activityBarTop-inactiveForeground: #ffffff;
    --vscode-badge-background: #000000;
    --vscode-badge-foreground: #ffffff;
    --vscode-banner-iconForeground: #3794ff;
    --vscode-breadcrumb-activeSelectionForeground: #ffffff;
    --vscode-breadcrumb-background: #000000;
    --vscode-breadcrumb-focusForeground: #ffffff;
    --vscode-breadcrumb-foreground: rgba(255, 255, 255, 0.8);
    --vscode-breadcrumbPicker-background: #0c141f;
    --vscode-button-border: #6fc3df;
    --vscode-button-foreground: #ffffff;
    --vscode-button-secondaryForeground: #ffffff;
    --vscode-button-separator: rgba(255, 255, 255, 0.4);
    --vscode-charts-blue: #3794ff;
    --vscode-charts-foreground: #ffffff;
    --vscode-charts-green: #89d185;
    --vscode-charts-lines: rgba(255, 255, 255, 0.5);
    --vscode-charts-orange: #ab5a00;
    --vscode-charts-purple: #b180d7;
    --vscode-charts-red: #f48771;
    --vscode-charts-yellow: #ffd370;
    --vscode-chat-avatarBackground: #000000;
    --vscode-chat-avatarForeground: #ffffff;
    --vscode-chat-requestBackground: #0c141f;
    --vscode-chat-requestBorder: #6fc3df;
    --vscode-chat-slashCommandBackground: #ffffff;
    --vscode-chat-slashCommandForeground: #000000;
    --vscode-checkbox-background: #000000;
    --vscode-checkbox-border: #6fc3df;
    --vscode-checkbox-foreground: #ffffff;
    --vscode-checkbox-selectBackground: #0c141f;
    --vscode-checkbox-selectBorder: #ffffff;
    --vscode-commandCenter-activeBorder: #ffffff;
    --vscode-commandCenter-activeForeground: #ffffff;
    --vscode-commandCenter-border: #6fc3df;
    --vscode-commandCenter-debuggingBackground: rgba(186, 89, 44, 0.26);
    --vscode-commandCenter-foreground: #ffffff;
    --vscode-commentsView-resolvedIcon: #6fc3df;
    --vscode-commentsView-unresolvedIcon: #6fc3df;
    --vscode-contrastActiveBorder: #f38518;
    --vscode-contrastBorder: #6fc3df;
    --vscode-debugConsole-errorForeground: #f48771;
    --vscode-debugConsole-infoForeground: #ffffff;
    --vscode-debugConsole-sourceForeground: #ffffff;
    --vscode-debugConsole-warningForeground: #008000;
    --vscode-debugConsoleInputIcon-foreground: #ffffff;
    --vscode-debugExceptionWidget-background: #420b0d;
    --vscode-debugExceptionWidget-border: #a31515;
    --vscode-debugIcon-breakpointCurrentStackframeForeground: #ffcc00;
    --vscode-debugIcon-breakpointDisabledForeground: #848484;
    --vscode-debugIcon-breakpointForeground: #e51400;
    --vscode-debugIcon-breakpointStackframeForeground: #89d185;
    --vscode-debugIcon-breakpointUnverifiedForeground: #848484;
    --vscode-debugIcon-continueForeground: #75beff;
    --vscode-debugIcon-disconnectForeground: #f48771;
    --vscode-debugIcon-pauseForeground: #75beff;
    --vscode-debugIcon-restartForeground: #89d185;
    --vscode-debugIcon-startForeground: #89d185;
    --vscode-debugIcon-stepBackForeground: #75beff;
    --vscode-debugIcon-stepIntoForeground: #75beff;
    --vscode-debugIcon-stepOutForeground: #75beff;
    --vscode-debugIcon-stepOverForeground: #75beff;
    --vscode-debugIcon-stopForeground: #f48771;
    --vscode-debugTokenExpression-boolean: #75bdfe;
    --vscode-debugTokenExpression-error: #f48771;
    --vscode-debugTokenExpression-name: #ffffff;
    --vscode-debugTokenExpression-number: #89d185;
    --vscode-debugTokenExpression-string: #f48771;
    --vscode-debugTokenExpression-value: #ffffff;
    --vscode-debugToolBar-background: #000000;
    --vscode-debugView-exceptionLabelBackground: #6c2022;
    --vscode-debugView-exceptionLabelForeground: #ffffff;
    --vscode-debugView-stateLabelBackground: rgba(136, 136, 136, 0.27);
    --vscode-debugView-stateLabelForeground: #ffffff;
    --vscode-debugView-valueChangedHighlight: #569cd6;
    --vscode-descriptionForeground: rgba(255, 255, 255, 0.7);
    --vscode-diffEditor-border: #6fc3df;
    --vscode-diffEditor-insertedTextBorder: #33ff2e;
    --vscode-diffEditor-move-border: rgba(139, 139, 139, 0.61);
    --vscode-diffEditor-moveActive-border: #ffa500;
    --vscode-diffEditor-removedTextBorder: #ff008f;
    --vscode-diffEditor-unchangedRegionBackground: #000000;
    --vscode-diffEditor-unchangedRegionForeground: #ffffff;
    --vscode-diffEditor-unchangedRegionShadow: #000000;
    --vscode-disabledForeground: #a5a5a5;
    --vscode-dropdown-background: #000000;
    --vscode-dropdown-border: #6fc3df;
    --vscode-dropdown-foreground: #ffffff;
    --vscode-dropdown-listBackground: #000000;
    --vscode-editor-background: #000000;
    --vscode-editor-findMatchBorder: #f38518;
    --vscode-editor-findMatchHighlightBorder: #f38518;
    --vscode-editor-findRangeHighlightBorder: rgba(243, 133, 24, 0.4);
    --vscode-editor-focusedStackFrameHighlightBackground: rgba(122, 189, 122, 0.3);
    --vscode-editor-foreground: #ffffff;
    --vscode-editor-hoverHighlightBackground: rgba(173, 214, 255, 0.15);
    --vscode-editor-inactiveSelectionBackground: rgba(255, 255, 255, 0.7);
    --vscode-editor-inlineValuesBackground: rgba(255, 200, 0, 0.2);
    --vscode-editor-inlineValuesForeground: rgba(255, 255, 255, 0.5);
    --vscode-editor-lineHighlightBorder: #f38518;
    --vscode-editor-linkedEditingBackground: rgba(255, 0, 0, 0.3);
    --vscode-editor-rangeHighlightBorder: #f38518;
    --vscode-editor-selectionBackground: #ffffff;
    --vscode-editor-selectionForeground: #000000;
    --vscode-editor-selectionHighlightBorder: #f38518;
    --vscode-editor-snippetFinalTabstopHighlightBorder: #525252;
    --vscode-editor-snippetTabstopHighlightBackground: rgba(124, 124, 124, 0.3);
    --vscode-editor-stackFrameHighlightBackground: rgba(255, 255, 0, 0.2);
    --vscode-editor-symbolHighlightBorder: #f38518;
    --vscode-editor-wordHighlightBorder: #f38518;
    --vscode-editor-wordHighlightStrongBorder: #f38518;
    --vscode-editor-wordHighlightTextBorder: #f38518;
    --vscode-editorActiveLineNumber-foreground: #f38518;
    --vscode-editorBracketHighlight-foreground1: #ffd700;
    --vscode-editorBracketHighlight-foreground2: #da70d6;
    --vscode-editorBracketHighlight-foreground3: #87cefa;
    --vscode-editorBracketHighlight-foreground4: rgba(0, 0, 0, 0);
    --vscode-editorBracketHighlight-foreground5: rgba(0, 0, 0, 0);
    --vscode-editorBracketHighlight-foreground6: rgba(0, 0, 0, 0);
    --vscode-editorBracketHighlight-unexpectedBracket-foreground: #ff3232;
    --vscode-editorBracketMatch-background: rgba(0, 100, 0, 0.1);
    --vscode-editorBracketMatch-border: #6fc3df;
    --vscode-editorBracketPairGuide-activeBackground1: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground2: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground3: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground4: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground5: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground6: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background1: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background2: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background3: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background4: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background5: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background6: rgba(0, 0, 0, 0);
    --vscode-editorCodeLens-foreground: #999999;
    --vscode-editorCommentsWidget-rangeActiveBackground: rgba(111, 195, 223, 0.1);
    --vscode-editorCommentsWidget-rangeBackground: rgba(111, 195, 223, 0.1);
    --vscode-editorCommentsWidget-replyInputBackground: #000000;
    --vscode-editorCommentsWidget-resolvedBorder: #6fc3df;
    --vscode-editorCommentsWidget-unresolvedBorder: #6fc3df;
    --vscode-editorCursor-foreground: #ffffff;
    --vscode-editorError-border: rgba(228, 119, 119, 0.8);
    --vscode-editorError-foreground: #f48771;
    --vscode-editorGhostText-border: rgba(255, 255, 255, 0.8);
    --vscode-editorGroup-border: #6fc3df;
    --vscode-editorGroup-dropIntoPromptBackground: #0c141f;
    --vscode-editorGroup-dropIntoPromptBorder: #6fc3df;
    --vscode-editorGroup-dropIntoPromptForeground: #ffffff;
    --vscode-editorGroup-focusedEmptyBorder: #f38518;
    --vscode-editorGroupHeader-border: #6fc3df;
    --vscode-editorGroupHeader-noTabsBackground: #000000;
    --vscode-editorGutter-addedBackground: #487e02;
    --vscode-editorGutter-background: #000000;
    --vscode-editorGutter-commentGlyphForeground: #000000;
    --vscode-editorGutter-commentRangeForeground: #ffffff;
    --vscode-editorGutter-commentUnresolvedGlyphForeground: #000000;
    --vscode-editorGutter-deletedBackground: #f48771;
    --vscode-editorGutter-foldingControlForeground: #ffffff;
    --vscode-editorGutter-modifiedBackground: #1b81a8;
    --vscode-editorHint-border: rgba(238, 238, 238, 0.8);
    --vscode-editorHoverWidget-background: #0c141f;
    --vscode-editorHoverWidget-border: #6fc3df;
    --vscode-editorHoverWidget-foreground: #ffffff;
    --vscode-editorHoverWidget-highlightForeground: #f38518;
    --vscode-editorHoverWidget-statusBarBackground: #0c141f;
    --vscode-editorIndentGuide-activeBackground: #7c7c7c;
    --vscode-editorIndentGuide-activeBackground1: #ffffff;
    --vscode-editorIndentGuide-activeBackground2: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground3: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground4: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground5: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground6: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background: #7c7c7c;
    --vscode-editorIndentGuide-background1: #ffffff;
    --vscode-editorIndentGuide-background2: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background3: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background4: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background5: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background6: rgba(0, 0, 0, 0);
    --vscode-editorInfo-border: rgba(55, 148, 255, 0.8);
    --vscode-editorInfo-foreground: #3794ff;
    --vscode-editorInlayHint-background: rgba(255, 255, 255, 0.1);
    --vscode-editorInlayHint-foreground: #ffffff;
    --vscode-editorInlayHint-parameterBackground: rgba(255, 255, 255, 0.1);
    --vscode-editorInlayHint-parameterForeground: #ffffff;
    --vscode-editorInlayHint-typeBackground: rgba(255, 255, 255, 0.1);
    --vscode-editorInlayHint-typeForeground: #ffffff;
    --vscode-editorLightBulb-foreground: #ffcc00;
    --vscode-editorLightBulbAi-foreground: #ffcc00;
    --vscode-editorLightBulbAutoFix-foreground: #75beff;
    --vscode-editorLineNumber-activeForeground: #f38518;
    --vscode-editorLineNumber-foreground: #ffffff;
    --vscode-editorLink-activeForeground: #00ffff;
    --vscode-editorMarkerNavigation-background: #000000;
    --vscode-editorMarkerNavigationError-background: #6fc3df;
    --vscode-editorMarkerNavigationInfo-background: #6fc3df;
    --vscode-editorMarkerNavigationWarning-background: #6fc3df;
    --vscode-editorMarkerNavigationWarning-headerBackground: #0c141f;
    --vscode-editorMultiCursor-primary-foreground: #ffffff;
    --vscode-editorMultiCursor-secondary-foreground: #ffffff;
    --vscode-editorOverviewRuler-addedForeground: rgba(72, 126, 2, 0.6);
    --vscode-editorOverviewRuler-border: rgba(127, 127, 127, 0.3);
    --vscode-editorOverviewRuler-bracketMatchForeground: #a0a0a0;
    --vscode-editorOverviewRuler-commentForeground: #ffffff;
    --vscode-editorOverviewRuler-commentUnresolvedForeground: #ffffff;
    --vscode-editorOverviewRuler-commonContentForeground: #c3df6f;
    --vscode-editorOverviewRuler-currentContentForeground: #c3df6f;
    --vscode-editorOverviewRuler-deletedForeground: rgba(244, 135, 113, 0.6);
    --vscode-editorOverviewRuler-errorForeground: #ff3232;
    --vscode-editorOverviewRuler-findMatchForeground: #ab5a00;
    --vscode-editorOverviewRuler-incomingContentForeground: #c3df6f;
    --vscode-editorOverviewRuler-infoForeground: rgba(55, 148, 255, 0.8);
    --vscode-editorOverviewRuler-modifiedForeground: rgba(27, 129, 168, 0.6);
    --vscode-editorOverviewRuler-rangeHighlightForeground: rgba(0, 122, 204, 0.6);
    --vscode-editorOverviewRuler-selectionHighlightForeground: rgba(160, 160, 160, 0.8);
    --vscode-editorOverviewRuler-warningForeground: rgba(255, 204, 0, 0.8);
    --vscode-editorOverviewRuler-wordHighlightForeground: rgba(160, 160, 160, 0.8);
    --vscode-editorOverviewRuler-wordHighlightStrongForeground: rgba(192, 160, 192, 0.8);
    --vscode-editorOverviewRuler-wordHighlightTextForeground: rgba(160, 160, 160, 0.8);
    --vscode-editorPane-background: #000000;
    --vscode-editorRuler-foreground: #ffffff;
    --vscode-editorStickyScroll-background: #000000;
    --vscode-editorStickyScroll-border: #6fc3df;
    --vscode-editorSuggestWidget-background: #0c141f;
    --vscode-editorSuggestWidget-border: #6fc3df;
    --vscode-editorSuggestWidget-focusHighlightForeground: #f38518;
    --vscode-editorSuggestWidget-foreground: #ffffff;
    --vscode-editorSuggestWidget-highlightForeground: #f38518;
    --vscode-editorSuggestWidgetStatus-foreground: rgba(255, 255, 255, 0.5);
    --vscode-editorUnicodeHighlight-border: #ffd370;
    --vscode-editorUnnecessaryCode-border: rgba(255, 255, 255, 0.8);
    --vscode-editorWarning-border: rgba(255, 204, 0, 0.8);
    --vscode-editorWarning-foreground: #ffd370;
    --vscode-editorWatermark-foreground: #ffffff;
    --vscode-editorWhitespace-foreground: #7c7c7c;
    --vscode-editorWidget-background: #0c141f;
    --vscode-editorWidget-border: #6fc3df;
    --vscode-editorWidget-foreground: #ffffff;
    --vscode-errorForeground: #f48771;
    --vscode-extensionBadge-remoteBackground: #000000;
    --vscode-extensionBadge-remoteForeground: #ffffff;
    --vscode-extensionButton-separator: rgba(255, 255, 255, 0.4);
    --vscode-extensionIcon-preReleaseForeground: #1d9271;
    --vscode-extensionIcon-starForeground: #ff8e00;
    --vscode-extensionIcon-verifiedForeground: #21a6ff;
    --vscode-focusBorder: #f38518;
    --vscode-foreground: #ffffff;
    --vscode-icon-foreground: #ffffff;
    --vscode-inlineChat-background: #0c141f;
    --vscode-inlineChat-border: #6fc3df;
    --vscode-inlineChat-regionHighlight: rgba(173, 214, 255, 0.15);
    --vscode-inlineChatInput-background: #000000;
    --vscode-inlineChatInput-border: #6fc3df;
    --vscode-inlineChatInput-focusBorder: #f38518;
    --vscode-inlineChatInput-placeholderForeground: rgba(255, 255, 255, 0.7);
    --vscode-input-background: #000000;
    --vscode-input-border: #6fc3df;
    --vscode-input-foreground: #ffffff;
    --vscode-input-placeholderForeground: rgba(255, 255, 255, 0.7);
    --vscode-inputOption-activeBackground: rgba(0, 0, 0, 0);
    --vscode-inputOption-activeBorder: #6fc3df;
    --vscode-inputOption-activeForeground: #ffffff;
    --vscode-inputValidation-errorBackground: #000000;
    --vscode-inputValidation-errorBorder: #6fc3df;
    --vscode-inputValidation-infoBackground: #000000;
    --vscode-inputValidation-infoBorder: #6fc3df;
    --vscode-inputValidation-warningBackground: #000000;
    --vscode-inputValidation-warningBorder: #6fc3df;
    --vscode-interactive-activeCodeBorder: #6fc3df;
    --vscode-interactive-inactiveCodeBorder: #6fc3df;
    --vscode-keybindingLabel-background: rgba(0, 0, 0, 0);
    --vscode-keybindingLabel-border: #6fc3df;
    --vscode-keybindingLabel-bottomBorder: #6fc3df;
    --vscode-keybindingLabel-foreground: #ffffff;
    --vscode-list-deemphasizedForeground: #a7a8a9;
    --vscode-list-filterMatchBorder: #6fc3df;
    --vscode-list-focusHighlightForeground: #f38518;
    --vscode-list-focusOutline: #f38518;
    --vscode-list-highlightForeground: #f38518;
    --vscode-list-hoverBackground: rgba(255, 255, 255, 0.1);
    --vscode-list-invalidItemForeground: #b89500;
    --vscode-listFilterWidget-background: #0c141f;
    --vscode-listFilterWidget-noMatchesOutline: #6fc3df;
    --vscode-listFilterWidget-outline: #f38518;
    --vscode-menu-background: #000000;
    --vscode-menu-border: #6fc3df;
    --vscode-menu-foreground: #ffffff;
    --vscode-menu-selectionBorder: #f38518;
    --vscode-menu-separatorBackground: #6fc3df;
    --vscode-menubar-selectionBorder: #f38518;
    --vscode-menubar-selectionForeground: #ffffff;
    --vscode-merge-border: #c3df6f;
    --vscode-mergeEditor-change-background: rgba(155, 185, 85, 0.2);
    --vscode-mergeEditor-change-word-background: rgba(156, 204, 44, 0.2);
    --vscode-mergeEditor-changeBase-background: #4b1818;
    --vscode-mergeEditor-changeBase-word-background: #6f1313;
    --vscode-mergeEditor-conflict-handled-minimapOverViewRuler: rgba(173, 172, 168, 0.93);
    --vscode-mergeEditor-conflict-handledFocused-border: rgba(193, 193, 193, 0.8);
    --vscode-mergeEditor-conflict-handledUnfocused-border: rgba(134, 134, 134, 0.29);
    --vscode-mergeEditor-conflict-unhandled-minimapOverViewRuler: #fcba03;
    --vscode-mergeEditor-conflict-unhandledFocused-border: #ffa600;
    --vscode-mergeEditor-conflict-unhandledUnfocused-border: rgba(255, 166, 0, 0.48);
    --vscode-mergeEditor-conflictingLines-background: rgba(255, 234, 0, 0.28);
    --vscode-minimap-errorHighlight: #ff3232;
    --vscode-minimap-findMatchHighlight: #ab5a00;
    --vscode-minimap-foregroundOpacity: #000000;
    --vscode-minimap-infoHighlight: rgba(55, 148, 255, 0.8);
    --vscode-minimap-selectionHighlight: #ffffff;
    --vscode-minimap-selectionOccurrenceHighlight: #ffffff;
    --vscode-minimap-warningHighlight: rgba(255, 204, 0, 0.8);
    --vscode-minimapGutter-addedBackground: #487e02;
    --vscode-minimapGutter-deletedBackground: #f48771;
    --vscode-minimapGutter-modifiedBackground: #1b81a8;
    --vscode-minimapSlider-activeBackground: rgba(111, 195, 223, 0.5);
    --vscode-minimapSlider-background: rgba(111, 195, 223, 0.3);
    --vscode-minimapSlider-hoverBackground: rgba(111, 195, 223, 0.4);
    --vscode-multiDiffEditor-border: #6fc3df;
    --vscode-notebook-cellBorderColor: #6fc3df;
    --vscode-notebook-cellInsertionIndicator: #f38518;
    --vscode-notebook-cellStatusBarItemHoverBackground: rgba(255, 255, 255, 0.15);
    --vscode-notebook-cellToolbarSeparator: #6fc3df;
    --vscode-notebook-focusedCellBorder: #f38518;
    --vscode-notebook-focusedEditorBorder: #f38518;
    --vscode-notebook-inactiveFocusedCellBorder: #6fc3df;
    --vscode-notebook-inactiveSelectedCellBorder: #f38518;
    --vscode-notebook-selectedCellBorder: #6fc3df;
    --vscode-notebookEditorOverviewRuler-runningCellForeground: #89d185;
    --vscode-notebookScrollbarSlider-activeBackground: #6fc3df;
    --vscode-notebookScrollbarSlider-background: rgba(111, 195, 223, 0.6);
    --vscode-notebookScrollbarSlider-hoverBackground: rgba(111, 195, 223, 0.8);
    --vscode-notebookStatusErrorIcon-foreground: #f48771;
    --vscode-notebookStatusRunningIcon-foreground: #ffffff;
    --vscode-notebookStatusSuccessIcon-foreground: #89d185;
    --vscode-notificationCenter-border: #6fc3df;
    --vscode-notificationCenterHeader-background: #0c141f;
    --vscode-notificationLink-foreground: #21a6ff;
    --vscode-notificationToast-border: #6fc3df;
    --vscode-notifications-background: #0c141f;
    --vscode-notifications-border: #0c141f;
    --vscode-notifications-foreground: #ffffff;
    --vscode-notificationsErrorIcon-foreground: #f48771;
    --vscode-notificationsInfoIcon-foreground: #3794ff;
    --vscode-notificationsWarningIcon-foreground: #ffd370;
    --vscode-panel-background: #000000;
    --vscode-panel-border: #6fc3df;
    --vscode-panel-dropBorder: #ffffff;
    --vscode-panelInput-border: #6fc3df;
    --vscode-panelSection-border: #6fc3df;
    --vscode-panelSectionHeader-border: #6fc3df;
    --vscode-panelStickyScroll-background: #000000;
    --vscode-panelTitle-activeBorder: #6fc3df;
    --vscode-panelTitle-activeForeground: #ffffff;
    --vscode-panelTitle-inactiveForeground: #ffffff;
    --vscode-peekView-border: #6fc3df;
    --vscode-peekViewEditor-background: #000000;
    --vscode-peekViewEditor-matchHighlightBorder: #f38518;
    --vscode-peekViewEditorGutter-background: #000000;
    --vscode-peekViewEditorStickyScroll-background: #000000;
    --vscode-peekViewResult-background: #000000;
    --vscode-peekViewResult-fileForeground: #ffffff;
    --vscode-peekViewResult-lineForeground: #ffffff;
    --vscode-peekViewResult-selectionForeground: #ffffff;
    --vscode-peekViewTitle-background: #000000;
    --vscode-peekViewTitleDescription-foreground: rgba(255, 255, 255, 0.6);
    --vscode-peekViewTitleLabel-foreground: #ffffff;
    --vscode-pickerGroup-border: #ffffff;
    --vscode-pickerGroup-foreground: #ffffff;
    --vscode-ports-iconRunningProcessForeground: #ffffff;
    --vscode-problemsErrorIcon-foreground: #f48771;
    --vscode-problemsInfoIcon-foreground: #3794ff;
    --vscode-problemsWarningIcon-foreground: #ffd370;
    --vscode-profileBadge-background: #ffffff;
    --vscode-profileBadge-foreground: #000000;
    --vscode-progressBar-background: #6fc3df;
    --vscode-quickInput-background: #0c141f;
    --vscode-quickInput-foreground: #ffffff;
    --vscode-quickInputTitle-background: #000000;
    --vscode-remoteHub-decorations-addedForegroundColor: #1b5225;
    --vscode-remoteHub-decorations-conflictForegroundColor: #c74e39;
    --vscode-remoteHub-decorations-deletedForegroundColor: #c74e39;
    --vscode-remoteHub-decorations-ignoredResourceForeground: #a7a8a9;
    --vscode-remoteHub-decorations-incomingAddedForegroundColor: #1b5225;
    --vscode-remoteHub-decorations-incomingDeletedForegroundColor: #c74e39;
    --vscode-remoteHub-decorations-incomingModifiedForegroundColor: #e2c08d;
    --vscode-remoteHub-decorations-incomingRenamedForegroundColor: #73c991;
    --vscode-remoteHub-decorations-modifiedForegroundColor: #e2c08d;
    --vscode-remoteHub-decorations-submoduleForegroundColor: #8db9e2;
    --vscode-remoteHub-decorations-workspaceRepositoriesView-hasUncommittedChangesForegroundColor: #e2c08d;
    --vscode-sash-hover-size: 4px;
    --vscode-sash-hoverBorder: #f38518;
    --vscode-sash-size: 4px;
    --vscode-scm-historyItemStatisticsBorder: rgba(255, 255, 255, 0.2);
    --vscode-scrollbarSlider-activeBackground: #6fc3df;
    --vscode-scrollbarSlider-background: rgba(111, 195, 223, 0.6);
    --vscode-scrollbarSlider-hoverBackground: rgba(111, 195, 223, 0.8);
    --vscode-search-resultsInfoForeground: #ffffff;
    --vscode-searchEditor-findMatchBorder: #f38518;
    --vscode-searchEditor-textInputBorder: #6fc3df;
    --vscode-selection-background: #008000;
    --vscode-settings-checkboxBackground: #000000;
    --vscode-settings-checkboxBorder: #6fc3df;
    --vscode-settings-checkboxForeground: #ffffff;
    --vscode-settings-dropdownBackground: #000000;
    --vscode-settings-dropdownBorder: #6fc3df;
    --vscode-settings-dropdownForeground: #ffffff;
    --vscode-settings-dropdownListBorder: #6fc3df;
    --vscode-settings-focusedRowBorder: #f38518;
    --vscode-settings-headerBorder: #6fc3df;
    --vscode-settings-headerForeground: #ffffff;
    --vscode-settings-modifiedItemIndicator: #00497a;
    --vscode-settings-numberInputBackground: #000000;
    --vscode-settings-numberInputBorder: #6fc3df;
    --vscode-settings-numberInputForeground: #ffffff;
    --vscode-settings-sashBorder: #6fc3df;
    --vscode-settings-settingsHeaderHoverForeground: rgba(255, 255, 255, 0.7);
    --vscode-settings-textInputBackground: #000000;
    --vscode-settings-textInputBorder: #6fc3df;
    --vscode-settings-textInputForeground: #ffffff;
    --vscode-sideBar-background: #000000;
    --vscode-sideBar-border: #6fc3df;
    --vscode-sideBarActivityBarTop-border: #6fc3df;
    --vscode-sideBarSectionHeader-border: #6fc3df;
    --vscode-sideBarStickyScroll-background: #000000;
    --vscode-sideBarTitle-background: #000000;
    --vscode-sideBarTitle-foreground: #ffffff;
    --vscode-sideBySideEditor-horizontalBorder: #6fc3df;
    --vscode-sideBySideEditor-verticalBorder: #6fc3df;
    --vscode-simpleFindWidget-sashBorder: #6fc3df;
    --vscode-statusBar-border: #6fc3df;
    --vscode-statusBar-debuggingBackground: #ba592c;
    --vscode-statusBar-debuggingBorder: #6fc3df;
    --vscode-statusBar-debuggingForeground: #ffffff;
    --vscode-statusBar-foreground: #ffffff;
    --vscode-statusBar-noFolderBorder: #6fc3df;
    --vscode-statusBar-noFolderForeground: #ffffff;
    --vscode-statusBarItem-activeBackground: rgba(255, 255, 255, 0.18);
    --vscode-statusBarItem-compactHoverBackground: rgba(255, 255, 255, 0.2);
    --vscode-statusBarItem-errorForeground: #ffffff;
    --vscode-statusBarItem-errorHoverBackground: rgba(255, 255, 255, 0.12);
    --vscode-statusBarItem-errorHoverForeground: #ffffff;
    --vscode-statusBarItem-hoverBackground: rgba(255, 255, 255, 0.12);
    --vscode-statusBarItem-hoverForeground: #ffffff;
    --vscode-statusBarItem-offlineBackground: #6c1717;
    --vscode-statusBarItem-offlineForeground: #ffffff;
    --vscode-statusBarItem-offlineHoverBackground: rgba(255, 255, 255, 0.12);
    --vscode-statusBarItem-offlineHoverForeground: #ffffff;
    --vscode-statusBarItem-prominentBackground: rgba(0, 0, 0, 0.5);
    --vscode-statusBarItem-prominentForeground: #ffffff;
    --vscode-statusBarItem-prominentHoverBackground: rgba(0, 0, 0, 0.3);
    --vscode-statusBarItem-prominentHoverForeground: #ffffff;
    --vscode-statusBarItem-remoteBackground: rgba(0, 0, 0, 0);
    --vscode-statusBarItem-remoteForeground: #ffffff;
    --vscode-statusBarItem-remoteHoverBackground: rgba(255, 255, 255, 0.12);
    --vscode-statusBarItem-remoteHoverForeground: #ffffff;
    --vscode-statusBarItem-warningForeground: #ffffff;
    --vscode-statusBarItem-warningHoverBackground: rgba(255, 255, 255, 0.12);
    --vscode-statusBarItem-warningHoverForeground: #ffffff;
    --vscode-symbolIcon-arrayForeground: #ffffff;
    --vscode-symbolIcon-booleanForeground: #ffffff;
    --vscode-symbolIcon-classForeground: #ee9d28;
    --vscode-symbolIcon-colorForeground: #ffffff;
    --vscode-symbolIcon-constantForeground: #ffffff;
    --vscode-symbolIcon-constructorForeground: #b180d7;
    --vscode-symbolIcon-enumeratorForeground: #ee9d28;
    --vscode-symbolIcon-enumeratorMemberForeground: #75beff;
    --vscode-symbolIcon-eventForeground: #ee9d28;
    --vscode-symbolIcon-fieldForeground: #75beff;
    --vscode-symbolIcon-fileForeground: #ffffff;
    --vscode-symbolIcon-folderForeground: #ffffff;
    --vscode-symbolIcon-functionForeground: #b180d7;
    --vscode-symbolIcon-interfaceForeground: #75beff;
    --vscode-symbolIcon-keyForeground: #ffffff;
    --vscode-symbolIcon-keywordForeground: #ffffff;
    --vscode-symbolIcon-methodForeground: #b180d7;
    --vscode-symbolIcon-moduleForeground: #ffffff;
    --vscode-symbolIcon-namespaceForeground: #ffffff;
    --vscode-symbolIcon-nullForeground: #ffffff;
    --vscode-symbolIcon-numberForeground: #ffffff;
    --vscode-symbolIcon-objectForeground: #ffffff;
    --vscode-symbolIcon-operatorForeground: #ffffff;
    --vscode-symbolIcon-packageForeground: #ffffff;
    --vscode-symbolIcon-propertyForeground: #ffffff;
    --vscode-symbolIcon-referenceForeground: #ffffff;
    --vscode-symbolIcon-snippetForeground: #ffffff;
    --vscode-symbolIcon-stringForeground: #ffffff;
    --vscode-symbolIcon-structForeground: #ffffff;
    --vscode-symbolIcon-textForeground: #ffffff;
    --vscode-symbolIcon-typeParameterForeground: #ffffff;
    --vscode-symbolIcon-unitForeground: #ffffff;
    --vscode-symbolIcon-variableForeground: #75beff;
    --vscode-tab-activeBackground: #000000;
    --vscode-tab-activeForeground: #ffffff;
    --vscode-tab-border: #6fc3df;
    --vscode-tab-dragAndDropBorder: #f38518;
    --vscode-tab-inactiveForeground: #ffffff;
    --vscode-tab-inactiveModifiedBorder: #ffffff;
    --vscode-tab-lastPinnedBorder: #6fc3df;
    --vscode-tab-unfocusedActiveBackground: #000000;
    --vscode-tab-unfocusedActiveForeground: #ffffff;
    --vscode-tab-unfocusedActiveModifiedBorder: #ffffff;
    --vscode-tab-unfocusedInactiveForeground: #ffffff;
    --vscode-tab-unfocusedInactiveModifiedBorder: #ffffff;
    --vscode-terminal-ansiBlack: #000000;
    --vscode-terminal-ansiBlue: #0000ee;
    --vscode-terminal-ansiBrightBlack: #7f7f7f;
    --vscode-terminal-ansiBrightBlue: #5c5cff;
    --vscode-terminal-ansiBrightCyan: #00ffff;
    --vscode-terminal-ansiBrightGreen: #00ff00;
    --vscode-terminal-ansiBrightMagenta: #ff00ff;
    --vscode-terminal-ansiBrightRed: #ff0000;
    --vscode-terminal-ansiBrightWhite: #ffffff;
    --vscode-terminal-ansiBrightYellow: #ffff00;
    --vscode-terminal-ansiCyan: #00cdcd;
    --vscode-terminal-ansiGreen: #00cd00;
    --vscode-terminal-ansiMagenta: #cd00cd;
    --vscode-terminal-ansiRed: #cd0000;
    --vscode-terminal-ansiWhite: #e5e5e5;
    --vscode-terminal-ansiYellow: #cdcd00;
    --vscode-terminal-border: #6fc3df;
    --vscode-terminal-findMatchBorder: #f38518;
    --vscode-terminal-findMatchHighlightBorder: #f38518;
    --vscode-terminal-foreground: #ffffff;
    --vscode-terminal-hoverHighlightBackground: rgba(173, 214, 255, 0.07);
    --vscode-terminal-inactiveSelectionBackground: rgba(255, 255, 255, 0.7);
    --vscode-terminal-selectionBackground: #ffffff;
    --vscode-terminal-selectionForeground: #000000;
    --vscode-terminalCommandDecoration-defaultBackground: rgba(255, 255, 255, 0.5);
    --vscode-terminalCommandDecoration-errorBackground: #f14c4c;
    --vscode-terminalCommandDecoration-successBackground: #1b81a8;
    --vscode-terminalOverviewRuler-cursorForeground: rgba(160, 160, 160, 0.8);
    --vscode-terminalOverviewRuler-findMatchForeground: #f38518;
    --vscode-testing-coverCountBadgeBackground: #000000;
    --vscode-testing-coverCountBadgeForeground: #ffffff;
    --vscode-testing-coveredBorder: #6fc3df;
    --vscode-testing-coveredGutterBackground: #89d185;
    --vscode-testing-iconErrored: #f14c4c;
    --vscode-testing-iconErrored-retired: rgba(241, 76, 76, 0.7);
    --vscode-testing-iconFailed: #f14c4c;
    --vscode-testing-iconFailed-retired: rgba(241, 76, 76, 0.7);
    --vscode-testing-iconPassed: #73c991;
    --vscode-testing-iconPassed-retired: rgba(115, 201, 145, 0.7);
    --vscode-testing-iconQueued: #cca700;
    --vscode-testing-iconQueued-retired: rgba(204, 167, 0, 0.7);
    --vscode-testing-iconSkipped: #848484;
    --vscode-testing-iconSkipped-retired: rgba(132, 132, 132, 0.7);
    --vscode-testing-iconUnset: #848484;
    --vscode-testing-iconUnset-retired: rgba(132, 132, 132, 0.7);
    --vscode-testing-message-error-decorationForeground: #ffffff;
    --vscode-testing-message-info-decorationForeground: rgba(255, 255, 255, 0.5);
    --vscode-testing-messagePeekBorder: #6fc3df;
    --vscode-testing-peekBorder: #6fc3df;
    --vscode-testing-runAction: #73c991;
    --vscode-testing-uncoveredBorder: #6fc3df;
    --vscode-testing-uncoveredGutterBackground: #f48771;
    --vscode-textBlockQuote-border: #ffffff;
    --vscode-textCodeBlock-background: #000000;
    --vscode-textLink-activeForeground: #21a6ff;
    --vscode-textLink-foreground: #21a6ff;
    --vscode-textPreformat-background: #ffffff;
    --vscode-textPreformat-foreground: #000000;
    --vscode-textSeparator-foreground: #000000;
    --vscode-titleBar-activeBackground: #000000;
    --vscode-titleBar-activeForeground: #ffffff;
    --vscode-titleBar-border: #6fc3df;
    --vscode-toolbar-hoverOutline: #f38518;
    --vscode-tree-inactiveIndentGuidesStroke: rgba(169, 169, 169, 0.4);
    --vscode-tree-indentGuidesStroke: #a9a9a9;
    --vscode-welcomePage-progress-background: #000000;
    --vscode-welcomePage-progress-foreground: #21a6ff;
    --vscode-welcomePage-tileBackground: #000000;
    --vscode-welcomePage-tileBorder: #6fc3df;
    --vscode-widget-border: #6fc3df;
    --vscode-window-activeBorder: #6fc3df;
    --vscode-window-inactiveBorder: #6fc3df;
}
