
/* Mimic rules injected by VSCode */

html{

    background-color: var(--jetbrains-MainToolbar-background);
    /* Mimic rules injected by VSCode */
    --vscode-font-weight: var(--font-weight);
    --vscode-font-size: var(--jetbrains-font-size);

    --vscode-editor-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;;
    --vscode-editor-font-weight: var(--font-weight);
    --vscode-editor-font-size: 13px;

    --vscode-widget-shadow: rgba(0, 0, 0, 0.36);
    scrollbar-color: var(--vscode-scrollbarSlider-background) var(--vscode-editor-background);
}


body {
    overscroll-behavior-x: none;
    background-color: var(--vscode-sideBar-background);
    color: var(--vscode-editor-foreground);
    font-family: var(--vscode-font-family);
    font-weight: var(--vscode-font-weight);
    font-size: var(--vscode-font-size);
    margin: 0 auto;
    padding: 0;



    background: transparent; /* we should let the color of the underlying UI set the background of the sidebar*/
    --border-width: none;

    color:var(--text);

    --font: var(--font-family);
    --font-editor: 'Monaco', 'Consolas', monospace;
    --font-size: 13px;

    -vscode-editor-font-family: var(--font);

    /* PRIMITIVES FROM EDITOR */
    --editor-background: var(--jetbrains-MainToolbar-background);
    --editor-border: var(--jetbrains-Menu-borderColor);
    --editor-accent: var(--jetbrains-Button-default-endBackground);
    --editor-text:var(--jetbrains-text);

    /* Primary Button */
    --button-primary-text: var(--jetbrains-Button-default-foreground);
    --button-primary-background: var(--editor-accent);
    --button-primary-background-hover: color-mix(in srgb, var(--jetbrains-Button-default-endBackground) 70%, white 30%);
    --button-primary-border: var(--vscode-button-border);
    --button-primary-border-hover: var(--vscode-button-border);

    /* Backgrounds */
    --background-01: var(--editor-background);  /* Main page background */
    --background-02: color-mix(in srgb, var(--background-01), black 5%);  /* Slightly darker */
    --background-03: color-mix(in srgb, var(--background-01), black 10%);  /* Even darker */

    /* Text */
    --text: var(--editor-text);
    --text-subtle: color-mix(in srgb, var(--text), transparent 10%);  /* Slightly transparent */
    --text-muted: color-mix(in srgb, var(--text), transparent 20%);  /* More transparent */
    --text-primary: var(--editor-text);
    --text-primary-subtle: color-mix(in srgb, var(--text-primary)  70%, transparent 30%);  /* Subtle primary */
    --text-primary-muted: color-mix(in srgb, var(--text-primary)  50%, transparent 50%);  /* Muted primary */
    --text-disabled: color-mix(in srgb, var(--text-primary) 30%, transparent 70%);  /* Highly transparent */

    /* Links */
    --text-link-color: var(--editor-accent);
    --text-link-hover-color: #ff4c00;
    --text-inverted: #FFFFFF;

    /* Borders */
    --border: var(--editor-border);
    --border-subtle: color-mix(in srgb, var(--border) 70%, transparent 30%);  /* Subtle border */
    --border-disabled: color-mix(in srgb, var(--border) 30%, transparent 70%);  /* Disabled border */
    --border-active: color-mix(in srgb, var(--editor-accent), transparent 30%);  /* Active border with hint of blue */
    --border-hover: color-mix(in srgb, var(--border) 75%, white 25%);  /* Hover border with more vibrant blue */

    /* Highlight */
    --highlight-background: color-mix(in srgb, var(--editor-accent), transparent 40%);
    --highlight-text: color-mix(in srgb, var(--text), white 90%);
    --highlight-border: color-mix(in srgb, var(--editor-accent) 50%, white 20%);

    /* Links */
    --link-color: var(--editor-accent);
    --link-hover-color: color-mix(in srgb, var(--editor-accent) 75%, white 25%);



}

html :matches(img, video) {
    max-width: 100%;
    max-height: 100%;
}


html body *::-webkit-scrollbar {
    width: 14px;
    height: 8px;
    background-color: transparent;
}

html body *::-webkit-scrollbar-thumb {
    background: var(--scrollbar-slider-active-background);
    border-radius: 100px;
    border: 3px solid var(--jetbrains-Desktop-background);
}

html pre::-webkit-scrollbar {
    width: 14px;
    height: 14px;
    background-color: transparent;
}

html pre::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 100px;
    border: 3px solid var(--code-background);
}
