:root {
    --vscode-actionBar-toggledBackground: #dddddd;
    --vscode-activityBar-activeBorder: #005fb8;
    --vscode-activityBar-background: #f8f8f8;
    --vscode-activityBar-border: #e5e5e5;
    --vscode-activityBar-dropBorder: #1f1f1f;
    --vscode-activityBar-foreground: #1f1f1f;
    --vscode-activityBar-inactiveForeground: #616161;
    --vscode-activityBarBadge-background: #005fb8;
    --vscode-activityBarBadge-foreground: #ffffff;
    --vscode-activityBarTop-activeBorder: #424242;
    --vscode-activityBarTop-dropBorder: #424242;
    --vscode-activityBarTop-foreground: #424242;
    --vscode-activityBarTop-inactiveForeground: rgba(66, 66, 66, 0.75);
    --vscode-badge-background: #cccccc;
    --vscode-badge-foreground: #3b3b3b;
    --vscode-banner-background: #a2a2a2;
    --vscode-banner-foreground: #000000;
    --vscode-banner-iconForeground: #1a85ff;
    --vscode-breadcrumb-activeSelectionForeground: #2f2f2f;
    --vscode-breadcrumb-background: #ffffff;
    --vscode-breadcrumb-focusForeground: #2f2f2f;
    --vscode-breadcrumb-foreground: rgba(59, 59, 59, 0.8);
    --vscode-breadcrumbPicker-background: #f8f8f8;
    --vscode-button-background: #005fb8;
    --vscode-button-border: rgba(0, 0, 0, 0.1);
    --vscode-button-foreground: #ffffff;
    --vscode-button-hoverBackground: #0258a8;
    --vscode-button-secondaryBackground: #e5e5e5;
    --vscode-button-secondaryForeground: #3b3b3b;
    --vscode-button-secondaryHoverBackground: #cccccc;
    --vscode-button-separator: rgba(255, 255, 255, 0.4);
    --vscode-charts-blue: #1a85ff;
    --vscode-charts-foreground: #3b3b3b;
    --vscode-charts-green: #388a34;
    --vscode-charts-lines: rgba(59, 59, 59, 0.5);
    --vscode-charts-orange: #d18616;
    --vscode-charts-purple: #652d90;
    --vscode-charts-red: #e51400;
    --vscode-charts-yellow: #bf8803;
    --vscode-chat-avatarBackground: #f2f2f2;
    --vscode-chat-avatarForeground: #3b3b3b;
    --vscode-chat-requestBackground: rgba(255, 255, 255, 0.62);
    --vscode-chat-requestBorder: rgba(0, 0, 0, 0.1);
    --vscode-chat-slashCommandBackground: #d2ecff;
    --vscode-chat-slashCommandForeground: #306ca2;
    --vscode-checkbox-background: #f8f8f8;
    --vscode-checkbox-border: #cecece;
    --vscode-checkbox-foreground: #3b3b3b;
    --vscode-checkbox-selectBackground: #f8f8f8;
    --vscode-checkbox-selectBorder: #3b3b3b;
    --vscode-commandCenter-activeBackground: rgba(0, 0, 0, 0.08);
    --vscode-commandCenter-activeBorder: rgba(30, 30, 30, 0.3);
    --vscode-commandCenter-activeForeground: #1e1e1e;
    --vscode-commandCenter-background: rgba(0, 0, 0, 0.05);
    --vscode-commandCenter-border: rgba(30, 30, 30, 0.2);
    --vscode-commandCenter-debuggingBackground: rgba(253, 113, 108, 0.26);
    --vscode-commandCenter-foreground: #1e1e1e;
    --vscode-commandCenter-inactiveBorder: rgba(139, 148, 158, 0.25);
    --vscode-commandCenter-inactiveForeground: #8b949e;
    --vscode-commentsView-resolvedIcon: rgba(97, 97, 97, 0.5);
    --vscode-commentsView-unresolvedIcon: #005fb8;
    --vscode-debugConsole-errorForeground: #f85149;
    --vscode-debugConsole-infoForeground: #1a85ff;
    --vscode-debugConsole-sourceForeground: #3b3b3b;
    --vscode-debugConsole-warningForeground: #bf8803;
    --vscode-debugConsoleInputIcon-foreground: #3b3b3b;
    --vscode-debugExceptionWidget-background: #f1dfde;
    --vscode-debugExceptionWidget-border: #a31515;
    --vscode-debugIcon-breakpointCurrentStackframeForeground: #be8700;
    --vscode-debugIcon-breakpointDisabledForeground: #848484;
    --vscode-debugIcon-breakpointForeground: #e51400;
    --vscode-debugIcon-breakpointStackframeForeground: #89d185;
    --vscode-debugIcon-breakpointUnverifiedForeground: #848484;
    --vscode-debugIcon-continueForeground: #007acc;
    --vscode-debugIcon-disconnectForeground: #a1260d;
    --vscode-debugIcon-pauseForeground: #007acc;
    --vscode-debugIcon-restartForeground: #388a34;
    --vscode-debugIcon-startForeground: #388a34;
    --vscode-debugIcon-stepBackForeground: #007acc;
    --vscode-debugIcon-stepIntoForeground: #007acc;
    --vscode-debugIcon-stepOutForeground: #007acc;
    --vscode-debugIcon-stepOverForeground: #007acc;
    --vscode-debugIcon-stopForeground: #a1260d;
    --vscode-debugTokenExpression-boolean: #0000ff;
    --vscode-debugTokenExpression-error: #e51400;
    --vscode-debugTokenExpression-name: #9b46b0;
    --vscode-debugTokenExpression-number: #098658;
    --vscode-debugTokenExpression-string: #a31515;
    --vscode-debugTokenExpression-value: rgba(108, 108, 108, 0.8);
    --vscode-debugToolBar-background: #f3f3f3;
    --vscode-debugView-exceptionLabelBackground: #a31515;
    --vscode-debugView-exceptionLabelForeground: #ffffff;
    --vscode-debugView-stateLabelBackground: rgba(136, 136, 136, 0.27);
    --vscode-debugView-stateLabelForeground: #3b3b3b;
    --vscode-debugView-valueChangedHighlight: #569cd6;
    --vscode-descriptionForeground: #3b3b3b;
    --vscode-diffEditor-diagonalFill: rgba(34, 34, 34, 0.2);
    --vscode-diffEditor-insertedLineBackground: rgba(155, 185, 85, 0.2);
    --vscode-diffEditor-insertedTextBackground: rgba(156, 204, 44, 0.25);
    --vscode-diffEditor-move-border: rgba(139, 139, 139, 0.61);
    --vscode-diffEditor-moveActive-border: #ffa500;
    --vscode-diffEditor-removedLineBackground: rgba(255, 0, 0, 0.2);
    --vscode-diffEditor-removedTextBackground: rgba(255, 0, 0, 0.2);
    --vscode-diffEditor-unchangedCodeBackground: rgba(184, 184, 184, 0.16);
    --vscode-diffEditor-unchangedRegionBackground: #f8f8f8;
    --vscode-diffEditor-unchangedRegionForeground: #3b3b3b;
    --vscode-diffEditor-unchangedRegionShadow: rgba(115, 115, 115, 0.75);
    --vscode-disabledForeground: rgba(97, 97, 97, 0.5);
    --vscode-dropdown-background: #ffffff;
    --vscode-dropdown-border: #cecece;
    --vscode-dropdown-foreground: #3b3b3b;
    --vscode-dropdown-listBackground: #ffffff;
    --vscode-editor-background: #ffffff;
    --vscode-editor-findMatchBackground: #a8ac94;
    --vscode-editor-findMatchHighlightBackground: rgba(234, 92, 0, 0.33);
    --vscode-editor-findRangeHighlightBackground: rgba(180, 180, 180, 0.3);
    --vscode-editor-focusedStackFrameHighlightBackground: rgba(206, 231, 206, 0.45);
    --vscode-editor-foldBackground: rgba(173, 214, 255, 0.3);
    --vscode-editor-foreground: #3b3b3b;
    --vscode-editor-hoverHighlightBackground: rgba(173, 214, 255, 0.15);
    --vscode-editor-inactiveSelectionBackground: #e5ebf1;
    --vscode-editor-inlineValuesBackground: rgba(255, 200, 0, 0.2);
    --vscode-editor-inlineValuesForeground: rgba(0, 0, 0, 0.5);
    --vscode-editor-lineHighlightBorder: #eeeeee;
    --vscode-editor-linkedEditingBackground: rgba(255, 0, 0, 0.3);
    --vscode-editor-rangeHighlightBackground: rgba(253, 255, 0, 0.2);
    --vscode-editor-selectionBackground: #add6ff;
    --vscode-editor-selectionHighlightBackground: rgba(173, 214, 255, 0.5);
    --vscode-editor-snippetFinalTabstopHighlightBorder: rgba(10, 50, 100, 0.5);
    --vscode-editor-snippetTabstopHighlightBackground: rgba(10, 50, 100, 0.2);
    --vscode-editor-stackFrameHighlightBackground: rgba(255, 255, 102, 0.45);
    --vscode-editor-symbolHighlightBackground: rgba(234, 92, 0, 0.33);
    --vscode-editor-wordHighlightBackground: rgba(87, 87, 87, 0.25);
    --vscode-editor-wordHighlightStrongBackground: rgba(14, 99, 156, 0.25);
    --vscode-editor-wordHighlightTextBackground: rgba(87, 87, 87, 0.25);
    --vscode-editorActiveLineNumber-foreground: #0b216f;
    --vscode-editorBracketHighlight-foreground1: #0431fa;
    --vscode-editorBracketHighlight-foreground2: #319331;
    --vscode-editorBracketHighlight-foreground3: #7b3814;
    --vscode-editorBracketHighlight-foreground4: rgba(0, 0, 0, 0);
    --vscode-editorBracketHighlight-foreground5: rgba(0, 0, 0, 0);
    --vscode-editorBracketHighlight-foreground6: rgba(0, 0, 0, 0);
    --vscode-editorBracketHighlight-unexpectedBracket-foreground: rgba(255, 18, 18, 0.8);
    --vscode-editorBracketMatch-background: rgba(0, 100, 0, 0.1);
    --vscode-editorBracketMatch-border: #b9b9b9;
    --vscode-editorBracketPairGuide-activeBackground1: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground2: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground3: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground4: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground5: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground6: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background1: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background2: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background3: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background4: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background5: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background6: rgba(0, 0, 0, 0);
    --vscode-editorCodeLens-foreground: #919191;
    --vscode-editorCommentsWidget-rangeActiveBackground: rgba(0, 95, 184, 0.1);
    --vscode-editorCommentsWidget-rangeBackground: rgba(0, 95, 184, 0.1);
    --vscode-editorCommentsWidget-replyInputBackground: #f3f3f3;
    --vscode-editorCommentsWidget-resolvedBorder: rgba(97, 97, 97, 0.5);
    --vscode-editorCommentsWidget-unresolvedBorder: #005fb8;
    --vscode-editorCursor-foreground: #000000;
    --vscode-editorError-foreground: #e51400;
    --vscode-editorGhostText-foreground: rgba(0, 0, 0, 0.47);
    --vscode-editorGroup-border: #e5e5e5;
    --vscode-editorGroup-dropBackground: rgba(38, 119, 203, 0.18);
    --vscode-editorGroup-dropIntoPromptBackground: #f8f8f8;
    --vscode-editorGroup-dropIntoPromptForeground: #3b3b3b;
    --vscode-editorGroupHeader-noTabsBackground: #ffffff;
    --vscode-editorGroupHeader-tabsBackground: #f8f8f8;
    --vscode-editorGroupHeader-tabsBorder: #e5e5e5;
    --vscode-editorGutter-addedBackground: #2ea043;
    --vscode-editorGutter-background: #ffffff;
    --vscode-editorGutter-commentGlyphForeground: #3b3b3b;
    --vscode-editorGutter-commentRangeForeground: #d5d8e9;
    --vscode-editorGutter-commentUnresolvedGlyphForeground: #3b3b3b;
    --vscode-editorGutter-deletedBackground: #f85149;
    --vscode-editorGutter-foldingControlForeground: #3b3b3b;
    --vscode-editorGutter-modifiedBackground: #005fb8;
    --vscode-editorHint-foreground: #6c6c6c;
    --vscode-editorHoverWidget-background: #f8f8f8;
    --vscode-editorHoverWidget-border: #c8c8c8;
    --vscode-editorHoverWidget-foreground: #3b3b3b;
    --vscode-editorHoverWidget-highlightForeground: #0066bf;
    --vscode-editorHoverWidget-statusBarBackground: #ececec;
    --vscode-editorIndentGuide-activeBackground: rgba(51, 51, 51, 0.2);
    --vscode-editorIndentGuide-activeBackground1: #939393;
    --vscode-editorIndentGuide-activeBackground2: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground3: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground4: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground5: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground6: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background: rgba(51, 51, 51, 0.2);
    --vscode-editorIndentGuide-background1: #d3d3d3;
    --vscode-editorIndentGuide-background2: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background3: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background4: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background5: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background6: rgba(0, 0, 0, 0);
    --vscode-editorInfo-foreground: #1a85ff;
    --vscode-editorInlayHint-background: rgba(204, 204, 204, 0.1);
    --vscode-editorInlayHint-foreground: #969696;
    --vscode-editorInlayHint-parameterBackground: rgba(204, 204, 204, 0.1);
    --vscode-editorInlayHint-parameterForeground: #969696;
    --vscode-editorInlayHint-typeBackground: rgba(204, 204, 204, 0.1);
    --vscode-editorInlayHint-typeForeground: #969696;
    --vscode-editorLightBulb-foreground: #ddb100;
    --vscode-editorLightBulbAi-foreground: #ddb100;
    --vscode-editorLightBulbAutoFix-foreground: #007acc;
    --vscode-editorLineNumber-activeForeground: #171184;
    --vscode-editorLineNumber-foreground: #6e7681;
    --vscode-editorLink-activeForeground: #0000ff;
    --vscode-editorMarkerNavigation-background: #ffffff;
    --vscode-editorMarkerNavigationError-background: #e51400;
    --vscode-editorMarkerNavigationError-headerBackground: rgba(229, 20, 0, 0.1);
    --vscode-editorMarkerNavigationInfo-background: #1a85ff;
    --vscode-editorMarkerNavigationInfo-headerBackground: rgba(26, 133, 255, 0.1);
    --vscode-editorMarkerNavigationWarning-background: #bf8803;
    --vscode-editorMarkerNavigationWarning-headerBackground: rgba(191, 136, 3, 0.1);
    --vscode-editorMultiCursor-primary-foreground: #000000;
    --vscode-editorMultiCursor-secondary-foreground: #000000;
    --vscode-editorOverviewRuler-addedForeground: rgba(46, 160, 67, 0.6);
    --vscode-editorOverviewRuler-border: #e5e5e5;
    --vscode-editorOverviewRuler-bracketMatchForeground: #a0a0a0;
    --vscode-editorOverviewRuler-commentForeground: #d5d8e9;
    --vscode-editorOverviewRuler-commentUnresolvedForeground: #d5d8e9;
    --vscode-editorOverviewRuler-commonContentForeground: rgba(96, 96, 96, 0.4);
    --vscode-editorOverviewRuler-currentContentForeground: rgba(64, 200, 174, 0.5);
    --vscode-editorOverviewRuler-deletedForeground: rgba(248, 81, 73, 0.6);
    --vscode-editorOverviewRuler-errorForeground: rgba(255, 18, 18, 0.7);
    --vscode-editorOverviewRuler-findMatchForeground: rgba(209, 134, 22, 0.49);
    --vscode-editorOverviewRuler-incomingContentForeground: rgba(64, 166, 255, 0.5);
    --vscode-editorOverviewRuler-infoForeground: #1a85ff;
    --vscode-editorOverviewRuler-inlineChatInserted: rgba(156, 204, 44, 0.2);
    --vscode-editorOverviewRuler-inlineChatRemoved: rgba(255, 0, 0, 0.16);
    --vscode-editorOverviewRuler-modifiedForeground: rgba(0, 95, 184, 0.6);
    --vscode-editorOverviewRuler-rangeHighlightForeground: rgba(0, 122, 204, 0.6);
    --vscode-editorOverviewRuler-selectionHighlightForeground: rgba(160, 160, 160, 0.8);
    --vscode-editorOverviewRuler-warningForeground: #bf8803;
    --vscode-editorOverviewRuler-wordHighlightForeground: rgba(160, 160, 160, 0.8);
    --vscode-editorOverviewRuler-wordHighlightStrongForeground: rgba(192, 160, 192, 0.8);
    --vscode-editorOverviewRuler-wordHighlightTextForeground: rgba(160, 160, 160, 0.8);
    --vscode-editorPane-background: #ffffff;
    --vscode-editorRuler-foreground: #d3d3d3;
    --vscode-editorStickyScroll-background: #ffffff;
    --vscode-editorStickyScroll-shadow: #dddddd;
    --vscode-editorStickyScrollHover-background: #f0f0f0;
    --vscode-editorSuggestWidget-background: #f8f8f8;
    --vscode-editorSuggestWidget-border: #c8c8c8;
    --vscode-editorSuggestWidget-focusHighlightForeground: #0066bf;
    --vscode-editorSuggestWidget-foreground: #3b3b3b;
    --vscode-editorSuggestWidget-highlightForeground: #0066bf;
    --vscode-editorSuggestWidget-selectedBackground: #e8e8e8;
    --vscode-editorSuggestWidget-selectedForeground: #000000;
    --vscode-editorSuggestWidget-selectedIconForeground: #000000;
    --vscode-editorSuggestWidgetStatus-foreground: rgba(59, 59, 59, 0.5);
    --vscode-editorUnicodeHighlight-border: #bf8803;
    --vscode-editorUnnecessaryCode-opacity: rgba(0, 0, 0, 0.47);
    --vscode-editorWarning-foreground: #bf8803;
    --vscode-editorWatermark-foreground: rgba(59, 59, 59, 0.68);
    --vscode-editorWhitespace-foreground: rgba(51, 51, 51, 0.2);
    --vscode-editorWidget-background: #f8f8f8;
    --vscode-editorWidget-border: #c8c8c8;
    --vscode-editorWidget-foreground: #3b3b3b;
    --vscode-errorForeground: #f85149;
    --vscode-extensionBadge-remoteBackground: #005fb8;
    --vscode-extensionBadge-remoteForeground: #ffffff;
    --vscode-extensionButton-background: #005fb8;
    --vscode-extensionButton-foreground: #ffffff;
    --vscode-extensionButton-hoverBackground: #0258a8;
    --vscode-extensionButton-prominentBackground: #005fb8;
    --vscode-extensionButton-prominentForeground: #ffffff;
    --vscode-extensionButton-prominentHoverBackground: #0258a8;
    --vscode-extensionButton-separator: rgba(255, 255, 255, 0.4);
    --vscode-extensionIcon-preReleaseForeground: #1d9271;
    --vscode-extensionIcon-sponsorForeground: #b51e78;
    --vscode-extensionIcon-starForeground: #df6100;
    --vscode-extensionIcon-verifiedForeground: #005fb8;
    --vscode-focusBorder: #005fb8;
    --vscode-foreground: #3b3b3b;
    --vscode-icon-foreground: #3b3b3b;
    --vscode-inlineChat-background: #f8f8f8;
    --vscode-inlineChat-border: #c8c8c8;
    --vscode-inlineChat-regionHighlight: rgba(173, 214, 255, 0.15);
    --vscode-inlineChat-shadow: rgba(0, 0, 0, 0.16);
    --vscode-inlineChatDiff-inserted: rgba(156, 204, 44, 0.13);
    --vscode-inlineChatDiff-removed: rgba(255, 0, 0, 0.1);
    --vscode-inlineChatInput-background: #ffffff;
    --vscode-inlineChatInput-border: #c8c8c8;
    --vscode-inlineChatInput-focusBorder: #005fb8;
    --vscode-inlineChatInput-placeholderForeground: #767676;
    --vscode-input-background: #ffffff;
    --vscode-input-border: #cecece;
    --vscode-input-foreground: #3b3b3b;
    --vscode-input-placeholderForeground: #767676;
    --vscode-inputOption-activeBackground: #bed6ed;
    --vscode-inputOption-activeBorder: #005fb8;
    --vscode-inputOption-activeForeground: #000000;
    --vscode-inputOption-hoverBackground: rgba(184, 184, 184, 0.31);
    --vscode-inputValidation-errorBackground: #f2dede;
    --vscode-inputValidation-errorBorder: #be1100;
    --vscode-inputValidation-infoBackground: #d6ecf2;
    --vscode-inputValidation-infoBorder: #007acc;
    --vscode-inputValidation-warningBackground: #f6f5d2;
    --vscode-inputValidation-warningBorder: #b89500;
    --vscode-interactive-activeCodeBorder: #007acc;
    --vscode-interactive-inactiveCodeBorder: #e4e6f1;
    --vscode-keybindingLabel-background: rgba(221, 221, 221, 0.4);
    --vscode-keybindingLabel-border: rgba(204, 204, 204, 0.4);
    --vscode-keybindingLabel-bottomBorder: rgba(187, 187, 187, 0.4);
    --vscode-keybindingLabel-foreground: #3b3b3b;
    --vscode-keybindingTable-headerBackground: rgba(59, 59, 59, 0.04);
    --vscode-keybindingTable-rowsBackground: rgba(59, 59, 59, 0.04);
    --vscode-list-activeSelectionBackground: #e8e8e8;
    --vscode-list-activeSelectionForeground: #000000;
    --vscode-list-activeSelectionIconForeground: #000000;
    --vscode-list-deemphasizedForeground: #8e8e90;
    --vscode-list-dropBackground: #d6ebff;
    --vscode-list-dropBetweenBackground: #3b3b3b;
    --vscode-list-errorForeground: #b01011;
    --vscode-list-filterMatchBackground: rgba(234, 92, 0, 0.33);
    --vscode-list-focusAndSelectionOutline: #005fb8;
    --vscode-list-focusHighlightForeground: #0066bf;
    --vscode-list-focusOutline: #005fb8;
    --vscode-list-highlightForeground: #0066bf;
    --vscode-list-hoverBackground: #f2f2f2;
    --vscode-list-inactiveSelectionBackground: #e4e6f1;
    --vscode-list-invalidItemForeground: #b89500;
    --vscode-list-warningForeground: #855f00;
    --vscode-listFilterWidget-background: #f8f8f8;
    --vscode-listFilterWidget-noMatchesOutline: #be1100;
    --vscode-listFilterWidget-outline: rgba(0, 0, 0, 0);
    --vscode-listFilterWidget-shadow: rgba(0, 0, 0, 0.16);
    --vscode-menu-background: #ffffff;
    --vscode-menu-border: #cecece;
    --vscode-menu-foreground: #3b3b3b;
    --vscode-menu-selectionBackground: #005fb8;
    --vscode-menu-selectionForeground: #ffffff;
    --vscode-menu-separatorBackground: #d4d4d4;
    --vscode-menubar-selectionBackground: rgba(184, 184, 184, 0.31);
    --vscode-menubar-selectionForeground: #1e1e1e;
    --vscode-merge-commonContentBackground: rgba(96, 96, 96, 0.16);
    --vscode-merge-commonHeaderBackground: rgba(96, 96, 96, 0.4);
    --vscode-merge-currentContentBackground: rgba(64, 200, 174, 0.2);
    --vscode-merge-currentHeaderBackground: rgba(64, 200, 174, 0.5);
    --vscode-merge-incomingContentBackground: rgba(64, 166, 255, 0.2);
    --vscode-merge-incomingHeaderBackground: rgba(64, 166, 255, 0.5);
    --vscode-mergeEditor-change-background: rgba(155, 185, 85, 0.2);
    --vscode-mergeEditor-change-word-background: rgba(156, 204, 44, 0.4);
    --vscode-mergeEditor-changeBase-background: #ffcccc;
    --vscode-mergeEditor-changeBase-word-background: #ffa3a3;
    --vscode-mergeEditor-conflict-handled-minimapOverViewRuler: rgba(173, 172, 168, 0.93);
    --vscode-mergeEditor-conflict-handledFocused-border: rgba(193, 193, 193, 0.8);
    --vscode-mergeEditor-conflict-handledUnfocused-border: rgba(134, 134, 134, 0.29);
    --vscode-mergeEditor-conflict-input1-background: rgba(64, 200, 174, 0.2);
    --vscode-mergeEditor-conflict-input2-background: rgba(64, 166, 255, 0.2);
    --vscode-mergeEditor-conflict-unhandled-minimapOverViewRuler: #fcba03;
    --vscode-mergeEditor-conflict-unhandledFocused-border: #ffa600;
    --vscode-mergeEditor-conflict-unhandledUnfocused-border: #ffa600;
    --vscode-mergeEditor-conflictingLines-background: rgba(255, 234, 0, 0.28);
    --vscode-minimap-errorHighlight: rgba(255, 18, 18, 0.7);
    --vscode-minimap-findMatchHighlight: #d18616;
    --vscode-minimap-foregroundOpacity: #000000;
    --vscode-minimap-infoHighlight: #1a85ff;
    --vscode-minimap-selectionHighlight: #add6ff;
    --vscode-minimap-selectionOccurrenceHighlight: #c9c9c9;
    --vscode-minimap-warningHighlight: #bf8803;
    --vscode-minimapGutter-addedBackground: #2ea043;
    --vscode-minimapGutter-deletedBackground: #f85149;
    --vscode-minimapGutter-modifiedBackground: #005fb8;
    --vscode-minimapSlider-activeBackground: rgba(0, 0, 0, 0.3);
    --vscode-minimapSlider-background: rgba(100, 100, 100, 0.2);
    --vscode-minimapSlider-hoverBackground: rgba(100, 100, 100, 0.35);
    --vscode-multiDiffEditor-border: #cccccc;
    --vscode-multiDiffEditor-headerBackground: #f8f8f8;
    --vscode-notebook-cellBorderColor: #e5e5e5;
    --vscode-notebook-cellEditorBackground: #f8f8f8;
    --vscode-notebook-cellInsertionIndicator: #005fb8;
    --vscode-notebook-cellStatusBarItemHoverBackground: rgba(0, 0, 0, 0.08);
    --vscode-notebook-cellToolbarSeparator: rgba(128, 128, 128, 0.35);
    --vscode-notebook-editorBackground: #ffffff;
    --vscode-notebook-focusedCellBorder: #005fb8;
    --vscode-notebook-focusedEditorBorder: #005fb8;
    --vscode-notebook-inactiveFocusedCellBorder: #e5e5e5;
    --vscode-notebook-selectedCellBackground: rgba(200, 221, 241, 0.31);
    --vscode-notebook-selectedCellBorder: #e5e5e5;
    --vscode-notebook-symbolHighlightBackground: rgba(253, 255, 0, 0.2);
    --vscode-notebookEditorOverviewRuler-runningCellForeground: #388a34;
    --vscode-notebookScrollbarSlider-activeBackground: rgba(0, 0, 0, 0.6);
    --vscode-notebookScrollbarSlider-background: rgba(100, 100, 100, 0.4);
    --vscode-notebookScrollbarSlider-hoverBackground: rgba(100, 100, 100, 0.7);
    --vscode-notebookStatusErrorIcon-foreground: #f85149;
    --vscode-notebookStatusRunningIcon-foreground: #3b3b3b;
    --vscode-notebookStatusSuccessIcon-foreground: #388a34;
    --vscode-notificationCenter-border: #e5e5e5;
    --vscode-notificationCenterHeader-background: #ffffff;
    --vscode-notificationCenterHeader-foreground: #3b3b3b;
    --vscode-notificationLink-foreground: #005fb8;
    --vscode-notificationToast-border: #e5e5e5;
    --vscode-notifications-background: #ffffff;
    --vscode-notifications-border: #e5e5e5;
    --vscode-notifications-foreground: #3b3b3b;
    --vscode-notificationsErrorIcon-foreground: #e51400;
    --vscode-notificationsInfoIcon-foreground: #1a85ff;
    --vscode-notificationsWarningIcon-foreground: #bf8803;
    --vscode-panel-background: #f8f8f8;
    --vscode-panel-border: #e5e5e5;
    --vscode-panel-dropBorder: #3b3b3b;
    --vscode-panelInput-border: #e5e5e5;
    --vscode-panelSection-border: #e5e5e5;
    --vscode-panelSection-dropBackground: rgba(38, 119, 203, 0.18);
    --vscode-panelSectionHeader-background: rgba(128, 128, 128, 0.2);
    --vscode-panelStickyScroll-background: #f8f8f8;
    --vscode-panelStickyScroll-shadow: #dddddd;
    --vscode-panelTitle-activeBorder: #005fb8;
    --vscode-panelTitle-activeForeground: #3b3b3b;
    --vscode-panelTitle-inactiveForeground: #3b3b3b;
    --vscode-peekView-border: #1a85ff;
    --vscode-peekViewEditor-background: #f2f8fc;
    --vscode-peekViewEditor-matchHighlightBackground: rgba(187, 128, 9, 0.4);
    --vscode-peekViewEditorGutter-background: #f2f8fc;
    --vscode-peekViewEditorStickyScroll-background: #f2f8fc;
    --vscode-peekViewResult-background: #ffffff;
    --vscode-peekViewResult-fileForeground: #1e1e1e;
    --vscode-peekViewResult-lineForeground: #646465;
    --vscode-peekViewResult-matchHighlightBackground: rgba(187, 128, 9, 0.4);
    --vscode-peekViewResult-selectionBackground: rgba(51, 153, 255, 0.2);
    --vscode-peekViewResult-selectionForeground: #6c6c6c;
    --vscode-peekViewTitle-background: #f3f3f3;
    --vscode-peekViewTitleDescription-foreground: #616161;
    --vscode-peekViewTitleLabel-foreground: #000000;
    --vscode-pickerGroup-border: #e5e5e5;
    --vscode-pickerGroup-foreground: #8b949e;
    --vscode-ports-iconRunningProcessForeground: #369432;
    --vscode-problemsErrorIcon-foreground: #e51400;
    --vscode-problemsInfoIcon-foreground: #1a85ff;
    --vscode-problemsWarningIcon-foreground: #bf8803;
    --vscode-profileBadge-background: #c4c4c4;
    --vscode-profileBadge-foreground: #333333;
    --vscode-progressBar-background: #005fb8;
    --vscode-quickInput-background: #f8f8f8;
    --vscode-quickInput-foreground: #3b3b3b;
    --vscode-quickInputList-focusBackground: #e8e8e8;
    --vscode-quickInputList-focusForeground: #000000;
    --vscode-quickInputList-focusIconForeground: #000000;
    --vscode-quickInputTitle-background: rgba(0, 0, 0, 0.06);
    --vscode-remoteHub-decorations-addedForegroundColor: #587c0c;
    --vscode-remoteHub-decorations-conflictForegroundColor: #ad0707;
    --vscode-remoteHub-decorations-deletedForegroundColor: #ad0707;
    --vscode-remoteHub-decorations-ignoredResourceForeground: #8e8e90;
    --vscode-remoteHub-decorations-incomingAddedForegroundColor: #587c0c;
    --vscode-remoteHub-decorations-incomingDeletedForegroundColor: #ad0707;
    --vscode-remoteHub-decorations-incomingModifiedForegroundColor: #895503;
    --vscode-remoteHub-decorations-incomingRenamedForegroundColor: #007100;
    --vscode-remoteHub-decorations-modifiedForegroundColor: #895503;
    --vscode-remoteHub-decorations-possibleConflictForegroundColor: #855f00;
    --vscode-remoteHub-decorations-submoduleForegroundColor: #1258a7;
    --vscode-remoteHub-decorations-workspaceRepositoriesView-hasUncommittedChangesForegroundColor: #895503;
    --vscode-sash-hover-size: 4px;
    --vscode-sash-hoverBorder: #005fb8;
    --vscode-sash-size: 4px;
    --vscode-scm-historyItemSelectedStatisticsBorder: rgba(0, 0, 0, 0.2);
    --vscode-scm-historyItemStatisticsBorder: rgba(59, 59, 59, 0.2);
    --vscode-scrollbar-shadow: #dddddd;
    --vscode-scrollbarSlider-activeBackground: rgba(0, 0, 0, 0.6);
    --vscode-scrollbarSlider-background: rgba(100, 100, 100, 0.4);
    --vscode-scrollbarSlider-hoverBackground: rgba(100, 100, 100, 0.7);
    --vscode-search-resultsInfoForeground: #3b3b3b;
    --vscode-searchEditor-findMatchBackground: rgba(234, 92, 0, 0.22);
    --vscode-searchEditor-textInputBorder: #cecece;
    --vscode-settings-checkboxBackground: #f8f8f8;
    --vscode-settings-checkboxBorder: #cecece;
    --vscode-settings-checkboxForeground: #3b3b3b;
    --vscode-settings-dropdownBackground: #ffffff;
    --vscode-settings-dropdownBorder: #cecece;
    --vscode-settings-dropdownForeground: #3b3b3b;
    --vscode-settings-dropdownListBorder: #c8c8c8;
    --vscode-settings-focusedRowBackground: rgba(242, 242, 242, 0.6);
    --vscode-settings-focusedRowBorder: #005fb8;
    --vscode-settings-headerBorder: #e5e5e5;
    --vscode-settings-headerForeground: #1f1f1f;
    --vscode-settings-modifiedItemIndicator: rgba(187, 128, 9, 0.4);
    --vscode-settings-numberInputBackground: #ffffff;
    --vscode-settings-numberInputBorder: #cecece;
    --vscode-settings-numberInputForeground: #3b3b3b;
    --vscode-settings-rowHoverBackground: rgba(242, 242, 242, 0.3);
    --vscode-settings-sashBorder: #e5e5e5;
    --vscode-settings-settingsHeaderHoverForeground: rgba(31, 31, 31, 0.7);
    --vscode-settings-textInputBackground: #ffffff;
    --vscode-settings-textInputBorder: #cecece;
    --vscode-settings-textInputForeground: #3b3b3b;
    --vscode-sideBar-background: #f8f8f8;
    --vscode-sideBar-border: #e5e5e5;
    --vscode-sideBar-dropBackground: rgba(38, 119, 203, 0.18);
    --vscode-sideBar-foreground: #3b3b3b;
    --vscode-sideBarActivityBarTop-border: #e5e5e5;
    --vscode-sideBarSectionHeader-background: #f8f8f8;
    --vscode-sideBarSectionHeader-border: #e5e5e5;
    --vscode-sideBarSectionHeader-foreground: #3b3b3b;
    --vscode-sideBarStickyScroll-background: #f8f8f8;
    --vscode-sideBarStickyScroll-shadow: #dddddd;
    --vscode-sideBarTitle-background: #f8f8f8;
    --vscode-sideBarTitle-foreground: #3b3b3b;
    --vscode-sideBySideEditor-horizontalBorder: #e5e5e5;
    --vscode-sideBySideEditor-verticalBorder: #e5e5e5;
    --vscode-simpleFindWidget-sashBorder: #c8c8c8;
    --vscode-statusBar-background: #f8f8f8;
    --vscode-statusBar-border: #e5e5e5;
    --vscode-statusBar-debuggingBackground: #fd716c;
    --vscode-statusBar-debuggingBorder: #e5e5e5;
    --vscode-statusBar-debuggingForeground: #000000;
    --vscode-statusBar-focusBorder: #005fb8;
    --vscode-statusBar-foreground: #3b3b3b;
    --vscode-statusBar-noFolderBackground: #f8f8f8;
    --vscode-statusBar-noFolderBorder: #e5e5e5;
    --vscode-statusBar-noFolderForeground: #3b3b3b;
    --vscode-statusBarItem-activeBackground: rgba(255, 255, 255, 0.18);
    --vscode-statusBarItem-compactHoverBackground: rgba(255, 255, 255, 0.2);
    --vscode-statusBarItem-errorBackground: #c72e0f;
    --vscode-statusBarItem-errorForeground: #ffffff;
    --vscode-statusBarItem-errorHoverBackground: rgba(255, 255, 255, 0.12);
    --vscode-statusBarItem-errorHoverForeground: #3b3b3b;
    --vscode-statusBarItem-focusBorder: #005fb8;
    --vscode-statusBarItem-hoverBackground: rgba(255, 255, 255, 0.12);
    --vscode-statusBarItem-hoverForeground: #3b3b3b;
    --vscode-statusBarItem-offlineBackground: #6c1717;
    --vscode-statusBarItem-offlineForeground: #ffffff;
    --vscode-statusBarItem-offlineHoverBackground: rgba(255, 255, 255, 0.12);
    --vscode-statusBarItem-offlineHoverForeground: #3b3b3b;
    --vscode-statusBarItem-prominentBackground: rgba(110, 118, 129, 0.4);
    --vscode-statusBarItem-prominentForeground: #3b3b3b;
    --vscode-statusBarItem-prominentHoverBackground: rgba(0, 0, 0, 0.3);
    --vscode-statusBarItem-prominentHoverForeground: #3b3b3b;
    --vscode-statusBarItem-remoteBackground: #005fb8;
    --vscode-statusBarItem-remoteForeground: #ffffff;
    --vscode-statusBarItem-remoteHoverBackground: rgba(255, 255, 255, 0.12);
    --vscode-statusBarItem-remoteHoverForeground: #3b3b3b;
    --vscode-statusBarItem-warningBackground: #725102;
    --vscode-statusBarItem-warningForeground: #ffffff;
    --vscode-statusBarItem-warningHoverBackground: rgba(255, 255, 255, 0.12);
    --vscode-statusBarItem-warningHoverForeground: #3b3b3b;
    --vscode-symbolIcon-arrayForeground: #3b3b3b;
    --vscode-symbolIcon-booleanForeground: #3b3b3b;
    --vscode-symbolIcon-classForeground: #d67e00;
    --vscode-symbolIcon-colorForeground: #3b3b3b;
    --vscode-symbolIcon-constantForeground: #3b3b3b;
    --vscode-symbolIcon-constructorForeground: #652d90;
    --vscode-symbolIcon-enumeratorForeground: #d67e00;
    --vscode-symbolIcon-enumeratorMemberForeground: #007acc;
    --vscode-symbolIcon-eventForeground: #d67e00;
    --vscode-symbolIcon-fieldForeground: #007acc;
    --vscode-symbolIcon-fileForeground: #3b3b3b;
    --vscode-symbolIcon-folderForeground: #3b3b3b;
    --vscode-symbolIcon-functionForeground: #652d90;
    --vscode-symbolIcon-interfaceForeground: #007acc;
    --vscode-symbolIcon-keyForeground: #3b3b3b;
    --vscode-symbolIcon-keywordForeground: #3b3b3b;
    --vscode-symbolIcon-methodForeground: #652d90;
    --vscode-symbolIcon-moduleForeground: #3b3b3b;
    --vscode-symbolIcon-namespaceForeground: #3b3b3b;
    --vscode-symbolIcon-nullForeground: #3b3b3b;
    --vscode-symbolIcon-numberForeground: #3b3b3b;
    --vscode-symbolIcon-objectForeground: #3b3b3b;
    --vscode-symbolIcon-operatorForeground: #3b3b3b;
    --vscode-symbolIcon-packageForeground: #3b3b3b;
    --vscode-symbolIcon-propertyForeground: #3b3b3b;
    --vscode-symbolIcon-referenceForeground: #3b3b3b;
    --vscode-symbolIcon-snippetForeground: #3b3b3b;
    --vscode-symbolIcon-stringForeground: #3b3b3b;
    --vscode-symbolIcon-structForeground: #3b3b3b;
    --vscode-symbolIcon-textForeground: #3b3b3b;
    --vscode-symbolIcon-typeParameterForeground: #3b3b3b;
    --vscode-symbolIcon-unitForeground: #3b3b3b;
    --vscode-symbolIcon-variableForeground: #007acc;
    --vscode-tab-activeBackground: #ffffff;
    --vscode-tab-activeBorder: #f8f8f8;
    --vscode-tab-activeBorderTop: #005fb8;
    --vscode-tab-activeForeground: #3b3b3b;
    --vscode-tab-activeModifiedBorder: #33aaee;
    --vscode-tab-border: #e5e5e5;
    --vscode-tab-dragAndDropBorder: #3b3b3b;
    --vscode-tab-hoverBackground: #ffffff;
    --vscode-tab-inactiveBackground: #f8f8f8;
    --vscode-tab-inactiveForeground: #868686;
    --vscode-tab-inactiveModifiedBorder: rgba(51, 170, 238, 0.5);
    --vscode-tab-lastPinnedBorder: #d4d4d4;
    --vscode-tab-unfocusedActiveBackground: #ffffff;
    --vscode-tab-unfocusedActiveBorder: #f8f8f8;
    --vscode-tab-unfocusedActiveBorderTop: #e5e5e5;
    --vscode-tab-unfocusedActiveForeground: rgba(59, 59, 59, 0.7);
    --vscode-tab-unfocusedActiveModifiedBorder: rgba(51, 170, 238, 0.7);
    --vscode-tab-unfocusedHoverBackground: #f8f8f8;
    --vscode-tab-unfocusedInactiveBackground: #f8f8f8;
    --vscode-tab-unfocusedInactiveForeground: rgba(134, 134, 134, 0.5);
    --vscode-tab-unfocusedInactiveModifiedBorder: rgba(51, 170, 238, 0.25);
    --vscode-terminal-ansiBlack: #000000;
    --vscode-terminal-ansiBlue: #0451a5;
    --vscode-terminal-ansiBrightBlack: #666666;
    --vscode-terminal-ansiBrightBlue: #0451a5;
    --vscode-terminal-ansiBrightCyan: #0598bc;
    --vscode-terminal-ansiBrightGreen: #14ce14;
    --vscode-terminal-ansiBrightMagenta: #bc05bc;
    --vscode-terminal-ansiBrightRed: #cd3131;
    --vscode-terminal-ansiBrightWhite: #a5a5a5;
    --vscode-terminal-ansiBrightYellow: #b5ba00;
    --vscode-terminal-ansiCyan: #0598bc;
    --vscode-terminal-ansiGreen: #107c10;
    --vscode-terminal-ansiMagenta: #bc05bc;
    --vscode-terminal-ansiRed: #cd3131;
    --vscode-terminal-ansiWhite: #555555;
    --vscode-terminal-ansiYellow: #949800;
    --vscode-terminal-border: #e5e5e5;
    --vscode-terminal-dropBackground: rgba(38, 119, 203, 0.18);
    --vscode-terminal-findMatchBackground: #a8ac94;
    --vscode-terminal-findMatchHighlightBackground: rgba(234, 92, 0, 0.33);
    --vscode-terminal-foreground: #3b3b3b;
    --vscode-terminal-hoverHighlightBackground: rgba(173, 214, 255, 0.07);
    --vscode-terminal-inactiveSelectionBackground: #e5ebf1;
    --vscode-terminal-selectionBackground: #add6ff;
    --vscode-terminal-tab-activeBorder: #005fb8;
    --vscode-terminalCommandDecoration-defaultBackground: rgba(0, 0, 0, 0.25);
    --vscode-terminalCommandDecoration-errorBackground: #e51400;
    --vscode-terminalCommandDecoration-successBackground: #2090d3;
    --vscode-terminalCursor-foreground: #005fb8;
    --vscode-terminalOverviewRuler-cursorForeground: rgba(160, 160, 160, 0.8);
    --vscode-terminalOverviewRuler-findMatchForeground: rgba(209, 134, 22, 0.49);
    --vscode-terminalStickyScrollHover-background: #f0f0f0;
    --vscode-testing-coverCountBadgeBackground: #cccccc;
    --vscode-testing-coverCountBadgeForeground: #3b3b3b;
    --vscode-testing-coveredBackground: rgba(156, 204, 44, 0.25);
    --vscode-testing-coveredBorder: rgba(156, 204, 44, 0.19);
    --vscode-testing-coveredGutterBackground: rgba(156, 204, 44, 0.15);
    --vscode-testing-iconErrored: #f14c4c;
    --vscode-testing-iconErrored-retired: rgba(241, 76, 76, 0.7);
    --vscode-testing-iconFailed: #f14c4c;
    --vscode-testing-iconFailed-retired: rgba(241, 76, 76, 0.7);
    --vscode-testing-iconPassed: #73c991;
    --vscode-testing-iconPassed-retired: rgba(115, 201, 145, 0.7);
    --vscode-testing-iconQueued: #cca700;
    --vscode-testing-iconQueued-retired: rgba(204, 167, 0, 0.7);
    --vscode-testing-iconSkipped: #848484;
    --vscode-testing-iconSkipped-retired: rgba(132, 132, 132, 0.7);
    --vscode-testing-iconUnset: #848484;
    --vscode-testing-iconUnset-retired: rgba(132, 132, 132, 0.7);
    --vscode-testing-message-error-decorationForeground: #e51400;
    --vscode-testing-message-error-lineBackground: rgba(255, 0, 0, 0.2);
    --vscode-testing-message-info-decorationForeground: rgba(59, 59, 59, 0.5);
    --vscode-testing-messagePeekBorder: #1a85ff;
    --vscode-testing-messagePeekHeaderBackground: rgba(26, 133, 255, 0.1);
    --vscode-testing-peekBorder: #e51400;
    --vscode-testing-peekHeaderBackground: rgba(229, 20, 0, 0.1);
    --vscode-testing-runAction: #73c991;
    --vscode-testing-uncoveredBackground: rgba(255, 0, 0, 0.2);
    --vscode-testing-uncoveredBorder: rgba(255, 0, 0, 0.15);
    --vscode-testing-uncoveredBranchBackground: #ff9999;
    --vscode-testing-uncoveredGutterBackground: rgba(255, 0, 0, 0.3);
    --vscode-textBlockQuote-background: #f8f8f8;
    --vscode-textBlockQuote-border: #e5e5e5;
    --vscode-textCodeBlock-background: #f8f8f8;
    --vscode-textLink-activeForeground: #005fb8;
    --vscode-textLink-foreground: #005fb8;
    --vscode-textPreformat-background: rgba(0, 0, 0, 0.12);
    --vscode-textPreformat-foreground: #3b3b3b;
    --vscode-textSeparator-foreground: #21262d;
    --vscode-titleBar-activeBackground: #f8f8f8;
    --vscode-titleBar-activeForeground: #1e1e1e;
    --vscode-titleBar-border: #e5e5e5;
    --vscode-titleBar-inactiveBackground: #f8f8f8;
    --vscode-titleBar-inactiveForeground: #8b949e;
    --vscode-toolbar-activeBackground: rgba(166, 166, 166, 0.31);
    --vscode-toolbar-hoverBackground: rgba(184, 184, 184, 0.31);
    --vscode-tree-inactiveIndentGuidesStroke: rgba(169, 169, 169, 0.4);
    --vscode-tree-indentGuidesStroke: #a9a9a9;
    --vscode-tree-tableColumnsBorder: rgba(97, 97, 97, 0.13);
    --vscode-tree-tableOddRowsBackground: rgba(59, 59, 59, 0.04);
    --vscode-walkThrough-embeddedEditorBackground: #f4f4f4;
    --vscode-walkthrough-stepTitle-foreground: #000000;
    --vscode-welcomePage-progress-background: #ffffff;
    --vscode-welcomePage-progress-foreground: #005fb8;
    --vscode-welcomePage-tileBackground: #f3f3f3;
    --vscode-welcomePage-tileBorder: rgba(0, 0, 0, 0.1);
    --vscode-welcomePage-tileHoverBackground: #dfdfdf;
    --vscode-widget-border: #e5e5e5;
    --vscode-widget-shadow: rgba(0, 0, 0, 0.16);
}
