:root {
    --vscode-actionBar-toggledBackground: #dddddd;
    --vscode-activityBar-activeBorder: #0f4a85;
    --vscode-activityBar-activeFocusBorder: #b5200d;
    --vscode-activityBar-background: #ffffff;
    --vscode-activityBar-border: #0f4a85;
    --vscode-activityBar-foreground: #292929;
    --vscode-activityBar-inactiveForeground: #292929;
    --vscode-activityBarBadge-background: #0f4a85;
    --vscode-activityBarBadge-foreground: #ffffff;
    --vscode-activityBarTop-activeBorder: #b5200d;
    --vscode-activityBarTop-dropBorder: #292929;
    --vscode-activityBarTop-foreground: #292929;
    --vscode-activityBarTop-inactiveForeground: #292929;
    --vscode-badge-background: #0f4a85;
    --vscode-badge-foreground: #ffffff;
    --vscode-banner-background: rgba(15, 74, 133, 0.1);
    --vscode-banner-iconForeground: #1a85ff;
    --vscode-breadcrumb-activeSelectionForeground: #2d2d2d;
    --vscode-breadcrumb-background: #ffffff;
    --vscode-breadcrumb-focusForeground: #2d2d2d;
    --vscode-breadcrumb-foreground: rgba(41, 41, 41, 0.8);
    --vscode-breadcrumbPicker-background: #ffffff;
    --vscode-button-background: #0f4a85;
    --vscode-button-border: #0f4a85;
    --vscode-button-foreground: #ffffff;
    --vscode-button-hoverBackground: #0f4a85;
    --vscode-button-secondaryBackground: #ffffff;
    --vscode-button-secondaryForeground: #292929;
    --vscode-button-separator: rgba(255, 255, 255, 0.4);
    --vscode-charts-blue: #1a85ff;
    --vscode-charts-foreground: #292929;
    --vscode-charts-green: #374e06;
    --vscode-charts-lines: rgba(41, 41, 41, 0.5);
    --vscode-charts-orange: #0f4a85;
    --vscode-charts-purple: #652d90;
    --vscode-charts-red: #b5200d;
    --vscode-charts-yellow: #895503;
    --vscode-chat-avatarBackground: #ffffff;
    --vscode-chat-avatarForeground: #292929;
    --vscode-chat-requestBorder: #0f4a85;
    --vscode-chat-slashCommandBackground: #0f4a85;
    --vscode-chat-slashCommandForeground: #ffffff;
    --vscode-checkbox-background: #ffffff;
    --vscode-checkbox-border: #0f4a85;
    --vscode-checkbox-foreground: #292929;
    --vscode-checkbox-selectBackground: #ffffff;
    --vscode-checkbox-selectBorder: #292929;
    --vscode-commandCenter-activeBorder: #292929;
    --vscode-commandCenter-activeForeground: #292929;
    --vscode-commandCenter-border: #0f4a85;
    --vscode-commandCenter-debuggingBackground: rgba(181, 32, 13, 0.26);
    --vscode-commandCenter-foreground: #292929;
    --vscode-commandCenter-inactiveBorder: rgba(41, 41, 41, 0.25);
    --vscode-commandCenter-inactiveForeground: #292929;
    --vscode-commentsView-resolvedIcon: #0f4a85;
    --vscode-commentsView-unresolvedIcon: #0f4a85;
    --vscode-contrastActiveBorder: #006bbd;
    --vscode-contrastBorder: #0f4a85;
    --vscode-debugConsole-errorForeground: #b5200d;
    --vscode-debugConsole-infoForeground: #292929;
    --vscode-debugConsole-sourceForeground: #292929;
    --vscode-debugConsole-warningForeground: #895503;
    --vscode-debugConsoleInputIcon-foreground: #292929;
    --vscode-debugExceptionWidget-background: #f1dfde;
    --vscode-debugExceptionWidget-border: #a31515;
    --vscode-debugIcon-breakpointCurrentStackframeForeground: #be8700;
    --vscode-debugIcon-breakpointDisabledForeground: #848484;
    --vscode-debugIcon-breakpointForeground: #e51400;
    --vscode-debugIcon-breakpointStackframeForeground: #89d185;
    --vscode-debugIcon-breakpointUnverifiedForeground: #848484;
    --vscode-debugIcon-continueForeground: #007acc;
    --vscode-debugIcon-disconnectForeground: #a1260d;
    --vscode-debugIcon-pauseForeground: #007acc;
    --vscode-debugIcon-restartForeground: #388a34;
    --vscode-debugIcon-startForeground: #388a34;
    --vscode-debugIcon-stepBackForeground: #007acc;
    --vscode-debugIcon-stepIntoForeground: #007acc;
    --vscode-debugIcon-stepOutForeground: #007acc;
    --vscode-debugIcon-stepOverForeground: #007acc;
    --vscode-debugIcon-stopForeground: #a1260d;
    --vscode-debugTokenExpression-boolean: #0000ff;
    --vscode-debugTokenExpression-error: #e51400;
    --vscode-debugTokenExpression-name: #292929;
    --vscode-debugTokenExpression-number: #098658;
    --vscode-debugTokenExpression-string: #a31515;
    --vscode-debugTokenExpression-value: #292929;
    --vscode-debugToolBar-background: #ffffff;
    --vscode-debugView-exceptionLabelBackground: #a31515;
    --vscode-debugView-exceptionLabelForeground: #292929;
    --vscode-debugView-stateLabelBackground: rgba(136, 136, 136, 0.27);
    --vscode-debugView-stateLabelForeground: #292929;
    --vscode-debugView-valueChangedHighlight: #569cd6;
    --vscode-descriptionForeground: rgba(41, 41, 41, 0.7);
    --vscode-diffEditor-border: #0f4a85;
    --vscode-diffEditor-insertedTextBorder: #374e06;
    --vscode-diffEditor-move-border: rgba(139, 139, 139, 0.61);
    --vscode-diffEditor-moveActive-border: #ffa500;
    --vscode-diffEditor-removedTextBorder: #ad0707;
    --vscode-diffEditor-unchangedRegionBackground: #ffffff;
    --vscode-diffEditor-unchangedRegionForeground: #292929;
    --vscode-diffEditor-unchangedRegionShadow: rgba(115, 115, 115, 0.75);
    --vscode-disabledForeground: #7f7f7f;
    --vscode-dropdown-background: #ffffff;
    --vscode-dropdown-border: #0f4a85;
    --vscode-dropdown-foreground: #292929;
    --vscode-dropdown-listBackground: #ffffff;
    --vscode-editor-background: #ffffff;
    --vscode-editor-findMatchBorder: #006bbd;
    --vscode-editor-findMatchHighlightBorder: #006bbd;
    --vscode-editor-findRangeHighlightBorder: rgba(0, 107, 189, 0.4);
    --vscode-editor-focusedStackFrameHighlightBackground: rgba(206, 231, 206, 0.45);
    --vscode-editor-foreground: #292929;
    --vscode-editor-inactiveSelectionBackground: rgba(15, 74, 133, 0.5);
    --vscode-editor-inlineValuesBackground: rgba(255, 200, 0, 0.2);
    --vscode-editor-inlineValuesForeground: rgba(0, 0, 0, 0.5);
    --vscode-editor-lineHighlightBorder: #0f4a85;
    --vscode-editor-linkedEditingBackground: #ffffff;
    --vscode-editor-rangeHighlightBorder: #006bbd;
    --vscode-editor-selectionBackground: #0f4a85;
    --vscode-editor-selectionForeground: #ffffff;
    --vscode-editor-selectionHighlightBorder: #006bbd;
    --vscode-editor-snippetFinalTabstopHighlightBorder: #292929;
    --vscode-editor-snippetTabstopHighlightBackground: rgba(10, 50, 100, 0.2);
    --vscode-editor-stackFrameHighlightBackground: rgba(255, 255, 102, 0.45);
    --vscode-editor-symbolHighlightBorder: #006bbd;
    --vscode-editor-wordHighlightBorder: #006bbd;
    --vscode-editor-wordHighlightStrongBorder: #006bbd;
    --vscode-editor-wordHighlightTextBorder: #006bbd;
    --vscode-editorActiveLineNumber-foreground: #006bbd;
    --vscode-editorBracketHighlight-foreground1: #0431fa;
    --vscode-editorBracketHighlight-foreground2: #319331;
    --vscode-editorBracketHighlight-foreground3: #7b3814;
    --vscode-editorBracketHighlight-foreground4: rgba(0, 0, 0, 0);
    --vscode-editorBracketHighlight-foreground5: rgba(0, 0, 0, 0);
    --vscode-editorBracketHighlight-foreground6: rgba(0, 0, 0, 0);
    --vscode-editorBracketMatch-background: rgba(0, 0, 0, 0);
    --vscode-editorBracketMatch-border: #0f4a85;
    --vscode-editorBracketPairGuide-activeBackground1: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground2: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground3: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground4: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground5: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground6: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background1: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background2: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background3: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background4: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background5: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background6: rgba(0, 0, 0, 0);
    --vscode-editorCodeLens-foreground: #292929;
    --vscode-editorCommentsWidget-rangeActiveBackground: rgba(15, 74, 133, 0.1);
    --vscode-editorCommentsWidget-rangeBackground: rgba(15, 74, 133, 0.1);
    --vscode-editorCommentsWidget-replyInputBackground: #ffffff;
    --vscode-editorCommentsWidget-resolvedBorder: #0f4a85;
    --vscode-editorCommentsWidget-unresolvedBorder: #0f4a85;
    --vscode-editorCursor-foreground: #0f4a85;
    --vscode-editorError-border: #b5200d;
    --vscode-editorError-foreground: #b5200d;
    --vscode-editorGhostText-border: rgba(41, 41, 41, 0.8);
    --vscode-editorGroup-border: #0f4a85;
    --vscode-editorGroup-dropBackground: rgba(15, 74, 133, 0.5);
    --vscode-editorGroup-dropIntoPromptBackground: #ffffff;
    --vscode-editorGroup-dropIntoPromptBorder: #0f4a85;
    --vscode-editorGroup-dropIntoPromptForeground: #292929;
    --vscode-editorGroup-focusedEmptyBorder: #006bbd;
    --vscode-editorGroupHeader-border: #0f4a85;
    --vscode-editorGroupHeader-noTabsBackground: #ffffff;
    --vscode-editorGutter-addedBackground: #48985d;
    --vscode-editorGutter-background: #ffffff;
    --vscode-editorGutter-commentGlyphForeground: #ffffff;
    --vscode-editorGutter-commentRangeForeground: #000000;
    --vscode-editorGutter-commentUnresolvedGlyphForeground: #ffffff;
    --vscode-editorGutter-deletedBackground: #b5200d;
    --vscode-editorGutter-foldingControlForeground: #292929;
    --vscode-editorGutter-modifiedBackground: #2090d3;
    --vscode-editorHint-border: #292929;
    --vscode-editorHoverWidget-background: #ffffff;
    --vscode-editorHoverWidget-border: #0f4a85;
    --vscode-editorHoverWidget-foreground: #292929;
    --vscode-editorHoverWidget-highlightForeground: #006bbd;
    --vscode-editorHoverWidget-statusBarBackground: #ffffff;
    --vscode-editorIndentGuide-activeBackground: #cccccc;
    --vscode-editorIndentGuide-activeBackground1: #cccccc;
    --vscode-editorIndentGuide-activeBackground2: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground3: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground4: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground5: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground6: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background: #cccccc;
    --vscode-editorIndentGuide-background1: #cccccc;
    --vscode-editorIndentGuide-background2: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background3: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background4: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background5: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background6: rgba(0, 0, 0, 0);
    --vscode-editorInfo-border: #292929;
    --vscode-editorInfo-foreground: #1a85ff;
    --vscode-editorInlayHint-background: rgba(15, 74, 133, 0.1);
    --vscode-editorInlayHint-foreground: #000000;
    --vscode-editorInlayHint-parameterBackground: rgba(15, 74, 133, 0.1);
    --vscode-editorInlayHint-parameterForeground: #000000;
    --vscode-editorInlayHint-typeBackground: rgba(15, 74, 133, 0.1);
    --vscode-editorInlayHint-typeForeground: #000000;
    --vscode-editorLightBulb-foreground: #007acc;
    --vscode-editorLightBulbAi-foreground: #007acc;
    --vscode-editorLightBulbAutoFix-foreground: #007acc;
    --vscode-editorLineNumber-activeForeground: #006bbd;
    --vscode-editorLineNumber-foreground: #292929;
    --vscode-editorLink-activeForeground: #292929;
    --vscode-editorMarkerNavigation-background: #ffffff;
    --vscode-editorMarkerNavigationError-background: #0f4a85;
    --vscode-editorMarkerNavigationInfo-background: #0f4a85;
    --vscode-editorMarkerNavigationWarning-background: #0f4a85;
    --vscode-editorMarkerNavigationWarning-headerBackground: rgba(15, 74, 133, 0.2);
    --vscode-editorMultiCursor-primary-foreground: #0f4a85;
    --vscode-editorMultiCursor-secondary-foreground: #0f4a85;
    --vscode-editorOverviewRuler-addedForeground: rgba(72, 152, 93, 0.6);
    --vscode-editorOverviewRuler-border: #666666;
    --vscode-editorOverviewRuler-bracketMatchForeground: #a0a0a0;
    --vscode-editorOverviewRuler-commentForeground: #000000;
    --vscode-editorOverviewRuler-commentUnresolvedForeground: #000000;
    --vscode-editorOverviewRuler-commonContentForeground: #007acc;
    --vscode-editorOverviewRuler-currentContentForeground: #007acc;
    --vscode-editorOverviewRuler-deletedForeground: rgba(181, 32, 13, 0.6);
    --vscode-editorOverviewRuler-errorForeground: #b5200d;
    --vscode-editorOverviewRuler-incomingContentForeground: #007acc;
    --vscode-editorOverviewRuler-infoForeground: #292929;
    --vscode-editorOverviewRuler-modifiedForeground: rgba(32, 144, 211, 0.6);
    --vscode-editorOverviewRuler-rangeHighlightForeground: rgba(0, 122, 204, 0.6);
    --vscode-editorOverviewRuler-selectionHighlightForeground: rgba(160, 160, 160, 0.8);
    --vscode-editorOverviewRuler-warningForeground: rgba(255, 204, 0, 0.8);
    --vscode-editorOverviewRuler-wordHighlightForeground: rgba(160, 160, 160, 0.8);
    --vscode-editorOverviewRuler-wordHighlightStrongForeground: rgba(192, 160, 192, 0.8);
    --vscode-editorOverviewRuler-wordHighlightTextForeground: rgba(160, 160, 160, 0.8);
    --vscode-editorPane-background: #ffffff;
    --vscode-editorRuler-foreground: #292929;
    --vscode-editorStickyScroll-background: #ffffff;
    --vscode-editorStickyScroll-border: #0f4a85;
    --vscode-editorStickyScrollHover-background: rgba(15, 74, 133, 0.1);
    --vscode-editorSuggestWidget-background: #ffffff;
    --vscode-editorSuggestWidget-border: #0f4a85;
    --vscode-editorSuggestWidget-focusHighlightForeground: #006bbd;
    --vscode-editorSuggestWidget-foreground: #292929;
    --vscode-editorSuggestWidget-highlightForeground: #006bbd;
    --vscode-editorSuggestWidgetStatus-foreground: rgba(41, 41, 41, 0.5);
    --vscode-editorUnicodeHighlight-border: #895503;
    --vscode-editorUnnecessaryCode-border: #0f4a85;
    --vscode-editorWarning-border: rgba(255, 204, 0, 0.8);
    --vscode-editorWarning-foreground: #895503;
    --vscode-editorWatermark-foreground: #292929;
    --vscode-editorWhitespace-foreground: #cccccc;
    --vscode-editorWidget-background: #ffffff;
    --vscode-editorWidget-border: #0f4a85;
    --vscode-editorWidget-foreground: #292929;
    --vscode-errorForeground: #b5200d;
    --vscode-extensionBadge-remoteBackground: #0f4a85;
    --vscode-extensionBadge-remoteForeground: #ffffff;
    --vscode-extensionButton-separator: rgba(255, 255, 255, 0.4);
    --vscode-extensionIcon-preReleaseForeground: #0f4a85;
    --vscode-extensionIcon-sponsorForeground: #b51e78;
    --vscode-extensionIcon-starForeground: #0f4a85;
    --vscode-extensionIcon-verifiedForeground: #0f4a85;
    --vscode-focusBorder: #006bbd;
    --vscode-foreground: #292929;
    --vscode-icon-foreground: #292929;
    --vscode-inlineChat-background: #ffffff;
    --vscode-inlineChat-border: #0f4a85;
    --vscode-inlineChatInput-background: #ffffff;
    --vscode-inlineChatInput-border: #0f4a85;
    --vscode-inlineChatInput-focusBorder: #006bbd;
    --vscode-inlineChatInput-placeholderForeground: rgba(41, 41, 41, 0.7);
    --vscode-input-background: #ffffff;
    --vscode-input-border: #0f4a85;
    --vscode-input-foreground: #292929;
    --vscode-input-placeholderForeground: rgba(41, 41, 41, 0.7);
    --vscode-inputOption-activeBackground: rgba(0, 0, 0, 0);
    --vscode-inputOption-activeBorder: #0f4a85;
    --vscode-inputOption-activeForeground: #292929;
    --vscode-inputValidation-errorBackground: #ffffff;
    --vscode-inputValidation-errorBorder: #0f4a85;
    --vscode-inputValidation-errorForeground: #292929;
    --vscode-inputValidation-infoBackground: #ffffff;
    --vscode-inputValidation-infoBorder: #0f4a85;
    --vscode-inputValidation-infoForeground: #292929;
    --vscode-inputValidation-warningBackground: #ffffff;
    --vscode-inputValidation-warningBorder: #0f4a85;
    --vscode-inputValidation-warningForeground: #292929;
    --vscode-interactive-activeCodeBorder: #0f4a85;
    --vscode-interactive-inactiveCodeBorder: #0f4a85;
    --vscode-keybindingLabel-background: rgba(0, 0, 0, 0);
    --vscode-keybindingLabel-border: #0f4a85;
    --vscode-keybindingLabel-bottomBorder: #292929;
    --vscode-keybindingLabel-foreground: #292929;
    --vscode-list-activeSelectionBackground: rgba(15, 74, 133, 0.1);
    --vscode-list-deemphasizedForeground: #666666;
    --vscode-list-filterMatchBorder: #006bbd;
    --vscode-list-focusHighlightForeground: #006bbd;
    --vscode-list-focusOutline: #006bbd;
    --vscode-list-highlightForeground: #006bbd;
    --vscode-list-hoverBackground: rgba(15, 74, 133, 0.1);
    --vscode-list-inactiveSelectionBackground: rgba(15, 74, 133, 0.1);
    --vscode-list-invalidItemForeground: #b5200d;
    --vscode-listFilterWidget-background: #ffffff;
    --vscode-listFilterWidget-noMatchesOutline: #0f4a85;
    --vscode-listFilterWidget-outline: #007acc;
    --vscode-menu-background: #ffffff;
    --vscode-menu-border: #0f4a85;
    --vscode-menu-foreground: #292929;
    --vscode-menu-selectionBackground: rgba(15, 74, 133, 0.1);
    --vscode-menu-selectionBorder: #006bbd;
    --vscode-menu-separatorBackground: #0f4a85;
    --vscode-menubar-selectionBorder: #006bbd;
    --vscode-menubar-selectionForeground: #292929;
    --vscode-merge-border: #007acc;
    --vscode-mergeEditor-change-background: rgba(155, 185, 85, 0.2);
    --vscode-mergeEditor-change-word-background: rgba(156, 204, 44, 0.4);
    --vscode-mergeEditor-changeBase-background: #ffcccc;
    --vscode-mergeEditor-changeBase-word-background: #ffa3a3;
    --vscode-mergeEditor-conflict-handled-minimapOverViewRuler: rgba(173, 172, 168, 0.93);
    --vscode-mergeEditor-conflict-handledFocused-border: rgba(193, 193, 193, 0.8);
    --vscode-mergeEditor-conflict-handledUnfocused-border: rgba(134, 134, 134, 0.29);
    --vscode-mergeEditor-conflict-unhandled-minimapOverViewRuler: #fcba03;
    --vscode-mergeEditor-conflict-unhandledFocused-border: #ffa600;
    --vscode-mergeEditor-conflict-unhandledUnfocused-border: rgba(255, 166, 0, 0.48);
    --vscode-mergeEditor-conflictingLines-background: rgba(255, 234, 0, 0.28);
    --vscode-minimap-errorHighlight: #b5200d;
    --vscode-minimap-findMatchHighlight: #0f4a85;
    --vscode-minimap-foregroundOpacity: #000000;
    --vscode-minimap-infoHighlight: #292929;
    --vscode-minimap-selectionHighlight: #0f4a85;
    --vscode-minimap-selectionOccurrenceHighlight: #0f4a85;
    --vscode-minimap-warningHighlight: rgba(255, 204, 0, 0.8);
    --vscode-minimapGutter-addedBackground: #48985d;
    --vscode-minimapGutter-deletedBackground: #b5200d;
    --vscode-minimapGutter-modifiedBackground: #2090d3;
    --vscode-minimapSlider-activeBackground: rgba(15, 74, 133, 0.5);
    --vscode-minimapSlider-background: rgba(15, 74, 133, 0.2);
    --vscode-minimapSlider-hoverBackground: rgba(15, 74, 133, 0.4);
    --vscode-multiDiffEditor-border: #cccccc;
    --vscode-notebook-cellBorderColor: #0f4a85;
    --vscode-notebook-cellInsertionIndicator: #006bbd;
    --vscode-notebook-cellStatusBarItemHoverBackground: rgba(0, 0, 0, 0.08);
    --vscode-notebook-cellToolbarSeparator: #0f4a85;
    --vscode-notebook-focusedCellBorder: #006bbd;
    --vscode-notebook-focusedEditorBorder: #006bbd;
    --vscode-notebook-inactiveFocusedCellBorder: #0f4a85;
    --vscode-notebook-inactiveSelectedCellBorder: #006bbd;
    --vscode-notebook-selectedCellBorder: #0f4a85;
    --vscode-notebookEditorOverviewRuler-runningCellForeground: #388a34;
    --vscode-notebookScrollbarSlider-activeBackground: #0f4a85;
    --vscode-notebookScrollbarSlider-background: rgba(15, 74, 133, 0.4);
    --vscode-notebookScrollbarSlider-hoverBackground: rgba(15, 74, 133, 0.8);
    --vscode-notebookStatusErrorIcon-foreground: #b5200d;
    --vscode-notebookStatusRunningIcon-foreground: #292929;
    --vscode-notebookStatusSuccessIcon-foreground: #388a34;
    --vscode-notificationCenter-border: #0f4a85;
    --vscode-notificationCenterHeader-background: #ffffff;
    --vscode-notificationLink-foreground: #0f4a85;
    --vscode-notificationToast-border: #0f4a85;
    --vscode-notifications-background: #ffffff;
    --vscode-notifications-border: #ffffff;
    --vscode-notifications-foreground: #292929;
    --vscode-notificationsErrorIcon-foreground: #b5200d;
    --vscode-notificationsInfoIcon-foreground: #1a85ff;
    --vscode-notificationsWarningIcon-foreground: #895503;
    --vscode-panel-background: #ffffff;
    --vscode-panel-border: #0f4a85;
    --vscode-panel-dropBorder: #292929;
    --vscode-panelInput-border: #0f4a85;
    --vscode-panelSection-border: #0f4a85;
    --vscode-panelSection-dropBackground: rgba(15, 74, 133, 0.5);
    --vscode-panelSectionHeader-border: #0f4a85;
    --vscode-panelStickyScroll-background: #ffffff;
    --vscode-panelTitle-activeBorder: #b5200d;
    --vscode-panelTitle-activeForeground: #292929;
    --vscode-panelTitle-inactiveForeground: #292929;
    --vscode-peekView-border: #0f4a85;
    --vscode-peekViewEditor-background: #ffffff;
    --vscode-peekViewEditor-matchHighlightBorder: #006bbd;
    --vscode-peekViewEditorGutter-background: #ffffff;
    --vscode-peekViewEditorStickyScroll-background: #ffffff;
    --vscode-peekViewResult-background: #ffffff;
    --vscode-peekViewResult-fileForeground: #292929;
    --vscode-peekViewResult-lineForeground: #292929;
    --vscode-peekViewResult-selectionForeground: #292929;
    --vscode-peekViewTitle-background: #ffffff;
    --vscode-peekViewTitleDescription-foreground: #292929;
    --vscode-peekViewTitleLabel-foreground: #292929;
    --vscode-pickerGroup-border: #0f4a85;
    --vscode-pickerGroup-foreground: #0f4a85;
    --vscode-ports-iconRunningProcessForeground: #0f4a85;
    --vscode-problemsErrorIcon-foreground: #b5200d;
    --vscode-problemsInfoIcon-foreground: #1a85ff;
    --vscode-problemsWarningIcon-foreground: #895503;
    --vscode-profileBadge-background: #000000;
    --vscode-profileBadge-foreground: #ffffff;
    --vscode-progressBar-background: #0f4a85;
    --vscode-quickInput-background: #ffffff;
    --vscode-quickInput-foreground: #292929;
    --vscode-quickInputTitle-background: #ffffff;
    --vscode-remoteHub-decorations-addedForegroundColor: #374e06;
    --vscode-remoteHub-decorations-conflictForegroundColor: #ad0707;
    --vscode-remoteHub-decorations-deletedForegroundColor: #ad0707;
    --vscode-remoteHub-decorations-ignoredResourceForeground: #8e8e90;
    --vscode-remoteHub-decorations-incomingAddedForegroundColor: #374e06;
    --vscode-remoteHub-decorations-incomingDeletedForegroundColor: #ad0707;
    --vscode-remoteHub-decorations-incomingModifiedForegroundColor: #895503;
    --vscode-remoteHub-decorations-incomingRenamedForegroundColor: #007100;
    --vscode-remoteHub-decorations-modifiedForegroundColor: #895503;
    --vscode-remoteHub-decorations-submoduleForegroundColor: #1258a7;
    --vscode-remoteHub-decorations-workspaceRepositoriesView-hasUncommittedChangesForegroundColor: #895503;
    --vscode-sash-hover-size: 4px;
    --vscode-sash-hoverBorder: #006bbd;
    --vscode-sash-size: 4px;
    --vscode-scm-historyItemStatisticsBorder: rgba(41, 41, 41, 0.2);
    --vscode-scrollbarSlider-activeBackground: #0f4a85;
    --vscode-scrollbarSlider-background: rgba(15, 74, 133, 0.4);
    --vscode-scrollbarSlider-hoverBackground: rgba(15, 74, 133, 0.8);
    --vscode-search-resultsInfoForeground: #292929;
    --vscode-searchEditor-findMatchBorder: #006bbd;
    --vscode-searchEditor-textInputBorder: #0f4a85;
    --vscode-settings-checkboxBackground: #ffffff;
    --vscode-settings-checkboxBorder: #0f4a85;
    --vscode-settings-checkboxForeground: #292929;
    --vscode-settings-dropdownBackground: #ffffff;
    --vscode-settings-dropdownBorder: #0f4a85;
    --vscode-settings-dropdownForeground: #292929;
    --vscode-settings-dropdownListBorder: #0f4a85;
    --vscode-settings-focusedRowBorder: #006bbd;
    --vscode-settings-headerBorder: #0f4a85;
    --vscode-settings-headerForeground: #292929;
    --vscode-settings-modifiedItemIndicator: #66afe0;
    --vscode-settings-numberInputBackground: #ffffff;
    --vscode-settings-numberInputBorder: #0f4a85;
    --vscode-settings-numberInputForeground: #292929;
    --vscode-settings-sashBorder: #0f4a85;
    --vscode-settings-settingsHeaderHoverForeground: rgba(41, 41, 41, 0.7);
    --vscode-settings-textInputBackground: #ffffff;
    --vscode-settings-textInputBorder: #0f4a85;
    --vscode-settings-textInputForeground: #292929;
    --vscode-sideBar-background: #ffffff;
    --vscode-sideBar-border: #0f4a85;
    --vscode-sideBar-dropBackground: rgba(15, 74, 133, 0.5);
    --vscode-sideBarActivityBarTop-border: #0f4a85;
    --vscode-sideBarSectionHeader-border: #0f4a85;
    --vscode-sideBarStickyScroll-background: #ffffff;
    --vscode-sideBarTitle-background: #ffffff;
    --vscode-sideBySideEditor-horizontalBorder: #0f4a85;
    --vscode-sideBySideEditor-verticalBorder: #0f4a85;
    --vscode-simpleFindWidget-sashBorder: #0f4a85;
    --vscode-statusBar-border: #0f4a85;
    --vscode-statusBar-debuggingBackground: #b5200d;
    --vscode-statusBar-debuggingBorder: #0f4a85;
    --vscode-statusBar-debuggingForeground: #ffffff;
    --vscode-statusBar-focusBorder: #292929;
    --vscode-statusBar-foreground: #292929;
    --vscode-statusBar-noFolderBorder: #0f4a85;
    --vscode-statusBar-noFolderForeground: #292929;
    --vscode-statusBarItem-activeBackground: rgba(0, 0, 0, 0.18);
    --vscode-statusBarItem-compactHoverBackground: rgba(0, 0, 0, 0.2);
    --vscode-statusBarItem-errorBackground: #b5200d;
    --vscode-statusBarItem-errorForeground: #ffffff;
    --vscode-statusBarItem-errorHoverBackground: rgba(0, 0, 0, 0.12);
    --vscode-statusBarItem-errorHoverForeground: #292929;
    --vscode-statusBarItem-focusBorder: #006bbd;
    --vscode-statusBarItem-hoverBackground: rgba(0, 0, 0, 0.12);
    --vscode-statusBarItem-hoverForeground: #292929;
    --vscode-statusBarItem-offlineBackground: #6c1717;
    --vscode-statusBarItem-offlineForeground: #ffffff;
    --vscode-statusBarItem-offlineHoverForeground: #292929;
    --vscode-statusBarItem-prominentBackground: rgba(0, 0, 0, 0.5);
    --vscode-statusBarItem-prominentForeground: #292929;
    --vscode-statusBarItem-prominentHoverForeground: #292929;
    --vscode-statusBarItem-remoteBackground: #0f4a85;
    --vscode-statusBarItem-remoteForeground: #ffffff;
    --vscode-statusBarItem-remoteHoverForeground: #292929;
    --vscode-statusBarItem-warningBackground: #895503;
    --vscode-statusBarItem-warningForeground: #ffffff;
    --vscode-statusBarItem-warningHoverBackground: rgba(0, 0, 0, 0.12);
    --vscode-statusBarItem-warningHoverForeground: #292929;
    --vscode-symbolIcon-arrayForeground: #292929;
    --vscode-symbolIcon-booleanForeground: #292929;
    --vscode-symbolIcon-classForeground: #d67e00;
    --vscode-symbolIcon-colorForeground: #292929;
    --vscode-symbolIcon-constantForeground: #292929;
    --vscode-symbolIcon-constructorForeground: #652d90;
    --vscode-symbolIcon-enumeratorForeground: #d67e00;
    --vscode-symbolIcon-enumeratorMemberForeground: #007acc;
    --vscode-symbolIcon-eventForeground: #d67e00;
    --vscode-symbolIcon-fieldForeground: #007acc;
    --vscode-symbolIcon-fileForeground: #292929;
    --vscode-symbolIcon-folderForeground: #292929;
    --vscode-symbolIcon-functionForeground: #652d90;
    --vscode-symbolIcon-interfaceForeground: #007acc;
    --vscode-symbolIcon-keyForeground: #292929;
    --vscode-symbolIcon-keywordForeground: #292929;
    --vscode-symbolIcon-methodForeground: #652d90;
    --vscode-symbolIcon-moduleForeground: #292929;
    --vscode-symbolIcon-namespaceForeground: #292929;
    --vscode-symbolIcon-nullForeground: #292929;
    --vscode-symbolIcon-numberForeground: #292929;
    --vscode-symbolIcon-objectForeground: #292929;
    --vscode-symbolIcon-operatorForeground: #292929;
    --vscode-symbolIcon-packageForeground: #292929;
    --vscode-symbolIcon-propertyForeground: #292929;
    --vscode-symbolIcon-referenceForeground: #292929;
    --vscode-symbolIcon-snippetForeground: #292929;
    --vscode-symbolIcon-stringForeground: #292929;
    --vscode-symbolIcon-structForeground: #292929;
    --vscode-symbolIcon-textForeground: #292929;
    --vscode-symbolIcon-typeParameterForeground: #292929;
    --vscode-symbolIcon-unitForeground: #292929;
    --vscode-symbolIcon-variableForeground: #007acc;
    --vscode-tab-activeBackground: #ffffff;
    --vscode-tab-activeBorderTop: #b5200d;
    --vscode-tab-activeForeground: #292929;
    --vscode-tab-activeModifiedBorder: #0f4a85;
    --vscode-tab-border: #0f4a85;
    --vscode-tab-dragAndDropBorder: #006bbd;
    --vscode-tab-inactiveForeground: #292929;
    --vscode-tab-inactiveModifiedBorder: #0f4a85;
    --vscode-tab-lastPinnedBorder: #0f4a85;
    --vscode-tab-unfocusedActiveBackground: #ffffff;
    --vscode-tab-unfocusedActiveBorderTop: #b5200d;
    --vscode-tab-unfocusedActiveForeground: #292929;
    --vscode-tab-unfocusedActiveModifiedBorder: #0f4a85;
    --vscode-tab-unfocusedHoverBorder: #0f4a85;
    --vscode-tab-unfocusedInactiveForeground: #292929;
    --vscode-tab-unfocusedInactiveModifiedBorder: #0f4a85;
    --vscode-terminal-ansiBlack: #292929;
    --vscode-terminal-ansiBlue: #0451a5;
    --vscode-terminal-ansiBrightBlack: #666666;
    --vscode-terminal-ansiBrightBlue: #0451a5;
    --vscode-terminal-ansiBrightCyan: #0598bc;
    --vscode-terminal-ansiBrightGreen: #00bc00;
    --vscode-terminal-ansiBrightMagenta: #bc05bc;
    --vscode-terminal-ansiBrightRed: #cd3131;
    --vscode-terminal-ansiBrightWhite: #a5a5a5;
    --vscode-terminal-ansiBrightYellow: #b5ba00;
    --vscode-terminal-ansiCyan: #0598bc;
    --vscode-terminal-ansiGreen: #136c13;
    --vscode-terminal-ansiMagenta: #bc05bc;
    --vscode-terminal-ansiRed: #cd3131;
    --vscode-terminal-ansiWhite: #555555;
    --vscode-terminal-ansiYellow: #949800;
    --vscode-terminal-border: #0f4a85;
    --vscode-terminal-dropBackground: rgba(15, 74, 133, 0.5);
    --vscode-terminal-findMatchBackground: #0f4a85;
    --vscode-terminal-findMatchBorder: #0f4a85;
    --vscode-terminal-findMatchHighlightBorder: #0f4a85;
    --vscode-terminal-foreground: #292929;
    --vscode-terminal-inactiveSelectionBackground: rgba(15, 74, 133, 0.5);
    --vscode-terminal-selectionBackground: #0f4a85;
    --vscode-terminal-selectionForeground: #ffffff;
    --vscode-terminalCommandDecoration-defaultBackground: rgba(0, 0, 0, 0.25);
    --vscode-terminalCommandDecoration-errorBackground: #b5200d;
    --vscode-terminalCommandDecoration-successBackground: #007100;
    --vscode-terminalOverviewRuler-cursorForeground: rgba(160, 160, 160, 0.8);
    --vscode-terminalOverviewRuler-findMatchForeground: #0f4a85;
    --vscode-terminalStickyScrollHover-background: rgba(15, 74, 133, 0.1);
    --vscode-testing-coverCountBadgeBackground: #0f4a85;
    --vscode-testing-coverCountBadgeForeground: #ffffff;
    --vscode-testing-coveredBorder: #0f4a85;
    --vscode-testing-coveredGutterBackground: #374e06;
    --vscode-testing-iconErrored: #b5200d;
    --vscode-testing-iconErrored-retired: rgba(181, 32, 13, 0.7);
    --vscode-testing-iconFailed: #b5200d;
    --vscode-testing-iconFailed-retired: rgba(181, 32, 13, 0.7);
    --vscode-testing-iconPassed: #007100;
    --vscode-testing-iconPassed-retired: rgba(0, 113, 0, 0.7);
    --vscode-testing-iconQueued: #cca700;
    --vscode-testing-iconQueued-retired: rgba(204, 167, 0, 0.7);
    --vscode-testing-iconSkipped: #848484;
    --vscode-testing-iconSkipped-retired: rgba(132, 132, 132, 0.7);
    --vscode-testing-iconUnset: #848484;
    --vscode-testing-iconUnset-retired: rgba(132, 132, 132, 0.7);
    --vscode-testing-message-error-decorationForeground: #292929;
    --vscode-testing-message-info-decorationForeground: rgba(41, 41, 41, 0.5);
    --vscode-testing-messagePeekBorder: #0f4a85;
    --vscode-testing-peekBorder: #0f4a85;
    --vscode-testing-runAction: #007100;
    --vscode-testing-uncoveredBorder: #0f4a85;
    --vscode-testing-uncoveredGutterBackground: #b5200d;
    --vscode-textBlockQuote-background: #f2f2f2;
    --vscode-textBlockQuote-border: #292929;
    --vscode-textCodeBlock-background: #f2f2f2;
    --vscode-textLink-activeForeground: #0f4a85;
    --vscode-textLink-foreground: #0f4a85;
    --vscode-textPreformat-background: #09345f;
    --vscode-textPreformat-foreground: #ffffff;
    --vscode-textSeparator-foreground: #292929;
    --vscode-titleBar-activeBackground: #ffffff;
    --vscode-titleBar-activeForeground: #292929;
    --vscode-titleBar-border: #0f4a85;
    --vscode-titleBar-inactiveForeground: #292929;
    --vscode-toolbar-hoverOutline: #006bbd;
    --vscode-tree-inactiveIndentGuidesStroke: rgba(165, 165, 165, 0.4);
    --vscode-tree-indentGuidesStroke: #a5a5a5;
    --vscode-welcomePage-progress-background: #ffffff;
    --vscode-welcomePage-progress-foreground: #0f4a85;
    --vscode-welcomePage-tileBackground: #ffffff;
    --vscode-welcomePage-tileBorder: #0f4a85;
    --vscode-widget-border: #0f4a85;
    --vscode-window-activeBorder: #0f4a85;
    --vscode-window-inactiveBorder: #0f4a85;
}
