:root {
    --vscode-actionBar-toggledBackground: rgba(255, 102, 102, 0.27);
    --vscode-activityBar-activeBorder: #ffffff;
    --vscode-activityBar-background: #580000;
    --vscode-activityBar-dropBorder: #ffffff;
    --vscode-activityBar-foreground: #ffffff;
    --vscode-activityBar-inactiveForeground: rgba(255, 255, 255, 0.4);
    --vscode-activityBarBadge-background: #007acc;
    --vscode-activityBarBadge-foreground: #ffffff;
    --vscode-activityBarTop-activeBorder: #e7e7e7;
    --vscode-activityBarTop-dropBorder: #e7e7e7;
    --vscode-activityBarTop-foreground: #e7e7e7;
    --vscode-activityBarTop-inactiveForeground: rgba(231, 231, 231, 0.6);
    --vscode-badge-background: #cc3333;
    --vscode-badge-foreground: #ffffff;
    --vscode-banner-background: #880000;
    --vscode-banner-foreground: #ffffff;
    --vscode-banner-iconForeground: #3794ff;
    --vscode-breadcrumb-activeSelectionForeground: #e0e0e0;
    --vscode-breadcrumb-background: #390000;
    --vscode-breadcrumb-focusForeground: #e0e0e0;
    --vscode-breadcrumb-foreground: rgba(204, 204, 204, 0.8);
    --vscode-breadcrumbPicker-background: #300000;
    --vscode-button-background: #883333;
    --vscode-button-foreground: #ffffff;
    --vscode-button-hoverBackground: #a33d3d;
    --vscode-button-secondaryBackground: #3a3d41;
    --vscode-button-secondaryForeground: #ffffff;
    --vscode-button-secondaryHoverBackground: #45494e;
    --vscode-button-separator: rgba(255, 255, 255, 0.4);
    --vscode-charts-blue: #3794ff;
    --vscode-charts-foreground: #cccccc;
    --vscode-charts-green: #89d185;
    --vscode-charts-lines: rgba(204, 204, 204, 0.5);
    --vscode-charts-orange: #d18616;
    --vscode-charts-purple: #b180d7;
    --vscode-charts-red: #f14c4c;
    --vscode-charts-yellow: #cca700;
    --vscode-chat-avatarBackground: #1f1f1f;
    --vscode-chat-avatarForeground: #cccccc;
    --vscode-chat-requestBackground: rgba(57, 0, 0, 0.62);
    --vscode-chat-requestBorder: rgba(255, 255, 255, 0.1);
    --vscode-chat-slashCommandBackground: rgba(52, 65, 75, 0.56);
    --vscode-chat-slashCommandForeground: #40a6ff;
    --vscode-checkbox-background: #580000;
    --vscode-checkbox-border: #580000;
    --vscode-checkbox-foreground: #f0f0f0;
    --vscode-checkbox-selectBackground: #300000;
    --vscode-checkbox-selectBorder: #c5c5c5;
    --vscode-commandCenter-activeBackground: rgba(255, 255, 255, 0.08);
    --vscode-commandCenter-activeBorder: rgba(204, 204, 204, 0.3);
    --vscode-commandCenter-activeForeground: #cccccc;
    --vscode-commandCenter-background: rgba(255, 255, 255, 0.05);
    --vscode-commandCenter-border: rgba(204, 204, 204, 0.2);
    --vscode-commandCenter-debuggingBackground: rgba(204, 102, 51, 0.26);
    --vscode-commandCenter-foreground: #cccccc;
    --vscode-commandCenter-inactiveBorder: rgba(204, 204, 204, 0.15);
    --vscode-commandCenter-inactiveForeground: rgba(204, 204, 204, 0.6);
    --vscode-commentsView-resolvedIcon: rgba(204, 204, 204, 0.5);
    --vscode-commentsView-unresolvedIcon: rgba(255, 102, 102, 0.67);
    --vscode-debugConsole-errorForeground: #ffeaea;
    --vscode-debugConsole-infoForeground: #3794ff;
    --vscode-debugConsole-sourceForeground: #cccccc;
    --vscode-debugConsole-warningForeground: #cca700;
    --vscode-debugConsoleInputIcon-foreground: #cccccc;
    --vscode-debugExceptionWidget-background: #420b0d;
    --vscode-debugExceptionWidget-border: #a31515;
    --vscode-debugIcon-breakpointCurrentStackframeForeground: #ffcc00;
    --vscode-debugIcon-breakpointDisabledForeground: #848484;
    --vscode-debugIcon-breakpointForeground: #e51400;
    --vscode-debugIcon-breakpointStackframeForeground: #89d185;
    --vscode-debugIcon-breakpointUnverifiedForeground: #848484;
    --vscode-debugIcon-continueForeground: #75beff;
    --vscode-debugIcon-disconnectForeground: #f48771;
    --vscode-debugIcon-pauseForeground: #75beff;
    --vscode-debugIcon-restartForeground: #89d185;
    --vscode-debugIcon-startForeground: #89d185;
    --vscode-debugIcon-stepBackForeground: #75beff;
    --vscode-debugIcon-stepIntoForeground: #75beff;
    --vscode-debugIcon-stepOutForeground: #75beff;
    --vscode-debugIcon-stepOverForeground: #75beff;
    --vscode-debugIcon-stopForeground: #f48771;
    --vscode-debugTokenExpression-boolean: #4e94ce;
    --vscode-debugTokenExpression-error: #f48771;
    --vscode-debugTokenExpression-name: #c586c0;
    --vscode-debugTokenExpression-number: #b5cea8;
    --vscode-debugTokenExpression-string: #ce9178;
    --vscode-debugTokenExpression-value: rgba(204, 204, 204, 0.6);
    --vscode-debugToolBar-background: #660000;
    --vscode-debugView-exceptionLabelBackground: #6c2022;
    --vscode-debugView-exceptionLabelForeground: #cccccc;
    --vscode-debugView-stateLabelBackground: rgba(136, 136, 136, 0.27);
    --vscode-debugView-stateLabelForeground: #cccccc;
    --vscode-debugView-valueChangedHighlight: #569cd6;
    --vscode-descriptionForeground: rgba(204, 204, 204, 0.7);
    --vscode-diffEditor-diagonalFill: rgba(204, 204, 204, 0.2);
    --vscode-diffEditor-insertedLineBackground: rgba(155, 185, 85, 0.2);
    --vscode-diffEditor-insertedTextBackground: rgba(156, 204, 44, 0.2);
    --vscode-diffEditor-move-border: rgba(139, 139, 139, 0.61);
    --vscode-diffEditor-moveActive-border: #ffa500;
    --vscode-diffEditor-removedLineBackground: rgba(255, 0, 0, 0.2);
    --vscode-diffEditor-removedTextBackground: rgba(255, 0, 0, 0.2);
    --vscode-diffEditor-unchangedCodeBackground: rgba(116, 116, 116, 0.16);
    --vscode-diffEditor-unchangedRegionBackground: #330000;
    --vscode-diffEditor-unchangedRegionForeground: #cccccc;
    --vscode-diffEditor-unchangedRegionShadow: #000000;
    --vscode-disabledForeground: rgba(204, 204, 204, 0.5);
    --vscode-dropdown-background: #580000;
    --vscode-dropdown-border: #580000;
    --vscode-dropdown-foreground: #f0f0f0;
    --vscode-editor-background: #390000;
    --vscode-editor-findMatchBackground: #515c6a;
    --vscode-editor-findMatchHighlightBackground: rgba(234, 92, 0, 0.33);
    --vscode-editor-findRangeHighlightBackground: rgba(58, 61, 65, 0.4);
    --vscode-editor-focusedStackFrameHighlightBackground: rgba(122, 189, 122, 0.3);
    --vscode-editor-foldBackground: rgba(117, 0, 0, 0.3);
    --vscode-editor-foreground: #f8f8f8;
    --vscode-editor-hoverHighlightBackground: rgba(255, 0, 0, 0.27);
    --vscode-editor-inactiveSelectionBackground: rgba(117, 0, 0, 0.5);
    --vscode-editor-inlineValuesBackground: rgba(255, 200, 0, 0.2);
    --vscode-editor-inlineValuesForeground: rgba(255, 255, 255, 0.5);
    --vscode-editor-lineHighlightBackground: rgba(255, 0, 0, 0.2);
    --vscode-editor-lineHighlightBorder: #282828;
    --vscode-editor-linkedEditingBackground: rgba(255, 0, 0, 0.3);
    --vscode-editor-rangeHighlightBackground: rgba(255, 255, 255, 0.04);
    --vscode-editor-selectionBackground: #750000;
    --vscode-editor-selectionHighlightBackground: rgba(245, 80, 0, 0.22);
    --vscode-editor-snippetFinalTabstopHighlightBorder: #525252;
    --vscode-editor-snippetTabstopHighlightBackground: rgba(124, 124, 124, 0.3);
    --vscode-editor-stackFrameHighlightBackground: rgba(255, 255, 0, 0.2);
    --vscode-editor-symbolHighlightBackground: rgba(234, 92, 0, 0.33);
    --vscode-editor-wordHighlightBackground: rgba(87, 87, 87, 0.72);
    --vscode-editor-wordHighlightStrongBackground: rgba(0, 73, 114, 0.72);
    --vscode-editor-wordHighlightTextBackground: rgba(87, 87, 87, 0.72);
    --vscode-editorActiveLineNumber-foreground: #c6c6c6;
    --vscode-editorBracketHighlight-foreground1: #ffd700;
    --vscode-editorBracketHighlight-foreground2: #da70d6;
    --vscode-editorBracketHighlight-foreground3: #179fff;
    --vscode-editorBracketHighlight-foreground4: rgba(0, 0, 0, 0);
    --vscode-editorBracketHighlight-foreground5: rgba(0, 0, 0, 0);
    --vscode-editorBracketHighlight-foreground6: rgba(0, 0, 0, 0);
    --vscode-editorBracketHighlight-unexpectedBracket-foreground: rgba(255, 18, 18, 0.8);
    --vscode-editorBracketMatch-background: rgba(0, 100, 0, 0.1);
    --vscode-editorBracketMatch-border: #888888;
    --vscode-editorBracketPairGuide-activeBackground1: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground2: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground3: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground4: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground5: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground6: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background1: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background2: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background3: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background4: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background5: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background6: rgba(0, 0, 0, 0);
    --vscode-editorCodeLens-foreground: #999999;
    --vscode-editorCommentsWidget-rangeActiveBackground: rgba(255, 102, 102, 0.07);
    --vscode-editorCommentsWidget-rangeBackground: rgba(255, 102, 102, 0.07);
    --vscode-editorCommentsWidget-replyInputBackground: #550000;
    --vscode-editorCommentsWidget-resolvedBorder: rgba(204, 204, 204, 0.5);
    --vscode-editorCommentsWidget-unresolvedBorder: rgba(255, 102, 102, 0.67);
    --vscode-editorCursor-foreground: #970000;
    --vscode-editorError-foreground: #f14c4c;
    --vscode-editorGhostText-foreground: rgba(255, 255, 255, 0.34);
    --vscode-editorGroup-border: rgba(255, 102, 102, 0.2);
    --vscode-editorGroup-dropBackground: rgba(83, 89, 93, 0.5);
    --vscode-editorGroup-dropIntoPromptBackground: #300000;
    --vscode-editorGroup-dropIntoPromptForeground: #cccccc;
    --vscode-editorGroupHeader-noTabsBackground: #390000;
    --vscode-editorGroupHeader-tabsBackground: #330000;
    --vscode-editorGutter-addedBackground: #487e02;
    --vscode-editorGutter-background: #390000;
    --vscode-editorGutter-commentGlyphForeground: #f8f8f8;
    --vscode-editorGutter-commentRangeForeground: #770000;
    --vscode-editorGutter-commentUnresolvedGlyphForeground: #f8f8f8;
    --vscode-editorGutter-deletedBackground: #f14c4c;
    --vscode-editorGutter-foldingControlForeground: #c5c5c5;
    --vscode-editorGutter-modifiedBackground: #1b81a8;
    --vscode-editorHint-foreground: rgba(238, 238, 238, 0.7);
    --vscode-editorHoverWidget-background: #300000;
    --vscode-editorHoverWidget-border: #454545;
    --vscode-editorHoverWidget-foreground: #cccccc;
    --vscode-editorHoverWidget-highlightForeground: #ff4444;
    --vscode-editorHoverWidget-statusBarBackground: #3a0000;
    --vscode-editorIndentGuide-activeBackground: #c10000;
    --vscode-editorIndentGuide-activeBackground1: #c10000;
    --vscode-editorIndentGuide-activeBackground2: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground3: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground4: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground5: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground6: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background: #c10000;
    --vscode-editorIndentGuide-background1: #c10000;
    --vscode-editorIndentGuide-background2: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background3: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background4: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background5: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background6: rgba(0, 0, 0, 0);
    --vscode-editorInfo-foreground: #3794ff;
    --vscode-editorInlayHint-background: rgba(204, 51, 51, 0.1);
    --vscode-editorInlayHint-foreground: #969696;
    --vscode-editorInlayHint-parameterBackground: rgba(204, 51, 51, 0.1);
    --vscode-editorInlayHint-parameterForeground: #969696;
    --vscode-editorInlayHint-typeBackground: rgba(204, 51, 51, 0.1);
    --vscode-editorInlayHint-typeForeground: #969696;
    --vscode-editorLightBulb-foreground: #ffcc00;
    --vscode-editorLightBulbAi-foreground: #ffcc00;
    --vscode-editorLightBulbAutoFix-foreground: #75beff;
    --vscode-editorLineNumber-activeForeground: rgba(255, 187, 187, 0.53);
    --vscode-editorLineNumber-foreground: rgba(255, 119, 119, 0.53);
    --vscode-editorLink-activeForeground: #ffd0aa;
    --vscode-editorMarkerNavigation-background: #390000;
    --vscode-editorMarkerNavigationError-background: #f14c4c;
    --vscode-editorMarkerNavigationError-headerBackground: rgba(241, 76, 76, 0.1);
    --vscode-editorMarkerNavigationInfo-background: #3794ff;
    --vscode-editorMarkerNavigationInfo-headerBackground: rgba(55, 148, 255, 0.1);
    --vscode-editorMarkerNavigationWarning-background: #cca700;
    --vscode-editorMarkerNavigationWarning-headerBackground: rgba(204, 167, 0, 0.1);
    --vscode-editorMultiCursor-primary-foreground: #970000;
    --vscode-editorMultiCursor-secondary-foreground: #970000;
    --vscode-editorOverviewRuler-addedForeground: rgba(72, 126, 2, 0.6);
    --vscode-editorOverviewRuler-border: rgba(127, 127, 127, 0.3);
    --vscode-editorOverviewRuler-bracketMatchForeground: #a0a0a0;
    --vscode-editorOverviewRuler-commentForeground: #770000;
    --vscode-editorOverviewRuler-commentUnresolvedForeground: #770000;
    --vscode-editorOverviewRuler-commonContentForeground: rgba(96, 96, 96, 0.4);
    --vscode-editorOverviewRuler-currentContentForeground: rgba(64, 200, 174, 0.5);
    --vscode-editorOverviewRuler-deletedForeground: rgba(241, 76, 76, 0.6);
    --vscode-editorOverviewRuler-errorForeground: rgba(255, 18, 18, 0.7);
    --vscode-editorOverviewRuler-findMatchForeground: rgba(209, 134, 22, 0.49);
    --vscode-editorOverviewRuler-incomingContentForeground: rgba(64, 166, 255, 0.5);
    --vscode-editorOverviewRuler-infoForeground: #3794ff;
    --vscode-editorOverviewRuler-inlineChatInserted: rgba(156, 204, 44, 0.12);
    --vscode-editorOverviewRuler-inlineChatRemoved: rgba(255, 0, 0, 0.12);
    --vscode-editorOverviewRuler-modifiedForeground: rgba(27, 129, 168, 0.6);
    --vscode-editorOverviewRuler-rangeHighlightForeground: rgba(0, 122, 204, 0.6);
    --vscode-editorOverviewRuler-selectionHighlightForeground: rgba(160, 160, 160, 0.8);
    --vscode-editorOverviewRuler-warningForeground: #cca700;
    --vscode-editorOverviewRuler-wordHighlightForeground: rgba(160, 160, 160, 0.8);
    --vscode-editorOverviewRuler-wordHighlightStrongForeground: rgba(192, 160, 192, 0.8);
    --vscode-editorOverviewRuler-wordHighlightTextForeground: rgba(160, 160, 160, 0.8);
    --vscode-editorPane-background: #390000;
    --vscode-editorRuler-foreground: #5a5a5a;
    --vscode-editorStickyScroll-background: #390000;
    --vscode-editorStickyScroll-shadow: #000000;
    --vscode-editorStickyScrollHover-background: #2a2d2e;
    --vscode-editorSuggestWidget-background: #300000;
    --vscode-editorSuggestWidget-border: #220000;
    --vscode-editorSuggestWidget-focusHighlightForeground: #ff4444;
    --vscode-editorSuggestWidget-foreground: #f8f8f8;
    --vscode-editorSuggestWidget-highlightForeground: #ff4444;
    --vscode-editorSuggestWidget-selectedBackground: #660000;
    --vscode-editorSuggestWidget-selectedForeground: #ffffff;
    --vscode-editorSuggestWidgetStatus-foreground: rgba(248, 248, 248, 0.5);
    --vscode-editorUnicodeHighlight-border: #cca700;
    --vscode-editorUnnecessaryCode-opacity: rgba(0, 0, 0, 0.67);
    --vscode-editorWarning-foreground: #cca700;
    --vscode-editorWatermark-foreground: rgba(248, 248, 248, 0.6);
    --vscode-editorWhitespace-foreground: #c10000;
    --vscode-editorWidget-background: #300000;
    --vscode-editorWidget-border: #454545;
    --vscode-editorWidget-foreground: #cccccc;
    --vscode-errorForeground: #ffeaea;
    --vscode-extensionBadge-remoteBackground: #007acc;
    --vscode-extensionBadge-remoteForeground: #ffffff;
    --vscode-extensionButton-background: #883333;
    --vscode-extensionButton-foreground: #ffffff;
    --vscode-extensionButton-hoverBackground: #a33d3d;
    --vscode-extensionButton-prominentBackground: #cc3333;
    --vscode-extensionButton-prominentForeground: #ffffff;
    --vscode-extensionButton-prominentHoverBackground: rgba(204, 51, 51, 0.53);
    --vscode-extensionButton-separator: rgba(255, 255, 255, 0.4);
    --vscode-extensionIcon-preReleaseForeground: #1d9271;
    --vscode-extensionIcon-sponsorForeground: #d758b3;
    --vscode-extensionIcon-starForeground: #ff8e00;
    --vscode-extensionIcon-verifiedForeground: #3794ff;
    --vscode-focusBorder: rgba(255, 102, 102, 0.67);
    --vscode-foreground: #cccccc;
    --vscode-icon-foreground: #c5c5c5;
    --vscode-inlineChat-background: #300000;
    --vscode-inlineChat-border: #454545;
    --vscode-inlineChat-regionHighlight: rgba(255, 0, 0, 0.27);
    --vscode-inlineChat-shadow: rgba(0, 0, 0, 0.36);
    --vscode-inlineChatDiff-inserted: rgba(156, 204, 44, 0.1);
    --vscode-inlineChatDiff-removed: rgba(255, 0, 0, 0.1);
    --vscode-inlineChatInput-background: #580000;
    --vscode-inlineChatInput-border: #454545;
    --vscode-inlineChatInput-focusBorder: rgba(255, 102, 102, 0.67);
    --vscode-inlineChatInput-placeholderForeground: rgba(204, 204, 204, 0.5);
    --vscode-input-background: #580000;
    --vscode-input-foreground: #cccccc;
    --vscode-input-placeholderForeground: rgba(204, 204, 204, 0.5);
    --vscode-inputOption-activeBackground: rgba(255, 102, 102, 0.27);
    --vscode-inputOption-activeBorder: #cc0000;
    --vscode-inputOption-activeForeground: #ffffff;
    --vscode-inputOption-hoverBackground: rgba(90, 93, 94, 0.5);
    --vscode-inputValidation-errorBackground: #5a1d1d;
    --vscode-inputValidation-errorBorder: #be1100;
    --vscode-inputValidation-infoBackground: #550000;
    --vscode-inputValidation-infoBorder: #db7e58;
    --vscode-inputValidation-warningBackground: #352a05;
    --vscode-inputValidation-warningBorder: #b89500;
    --vscode-interactive-activeCodeBorder: rgba(255, 0, 0, 0.27);
    --vscode-interactive-inactiveCodeBorder: #770000;
    --vscode-keybindingLabel-background: rgba(128, 128, 128, 0.17);
    --vscode-keybindingLabel-border: rgba(51, 51, 51, 0.6);
    --vscode-keybindingLabel-bottomBorder: rgba(68, 68, 68, 0.6);
    --vscode-keybindingLabel-foreground: #cccccc;
    --vscode-keybindingTable-headerBackground: rgba(204, 204, 204, 0.04);
    --vscode-keybindingTable-rowsBackground: rgba(204, 204, 204, 0.04);
    --vscode-list-activeSelectionBackground: #880000;
    --vscode-list-activeSelectionForeground: #ffffff;
    --vscode-list-deemphasizedForeground: #8c8c8c;
    --vscode-list-dropBackground: #662222;
    --vscode-list-dropBetweenBackground: #c5c5c5;
    --vscode-list-errorForeground: #f88070;
    --vscode-list-filterMatchBackground: rgba(234, 92, 0, 0.33);
    --vscode-list-focusHighlightForeground: #ff4444;
    --vscode-list-focusOutline: rgba(255, 102, 102, 0.67);
    --vscode-list-highlightForeground: #ff4444;
    --vscode-list-hoverBackground: #800000;
    --vscode-list-inactiveSelectionBackground: #770000;
    --vscode-list-invalidItemForeground: #b89500;
    --vscode-list-warningForeground: #cca700;
    --vscode-listFilterWidget-background: #300000;
    --vscode-listFilterWidget-noMatchesOutline: #be1100;
    --vscode-listFilterWidget-outline: rgba(0, 0, 0, 0);
    --vscode-listFilterWidget-shadow: rgba(0, 0, 0, 0.36);
    --vscode-menu-background: #580000;
    --vscode-menu-foreground: #f0f0f0;
    --vscode-menu-selectionBackground: #880000;
    --vscode-menu-selectionForeground: #ffffff;
    --vscode-menu-separatorBackground: #606060;
    --vscode-menubar-selectionBackground: rgba(90, 93, 94, 0.31);
    --vscode-menubar-selectionForeground: #cccccc;
    --vscode-merge-commonContentBackground: rgba(96, 96, 96, 0.16);
    --vscode-merge-commonHeaderBackground: rgba(96, 96, 96, 0.4);
    --vscode-merge-currentContentBackground: rgba(64, 200, 174, 0.2);
    --vscode-merge-currentHeaderBackground: rgba(64, 200, 174, 0.5);
    --vscode-merge-incomingContentBackground: rgba(64, 166, 255, 0.2);
    --vscode-merge-incomingHeaderBackground: rgba(64, 166, 255, 0.5);
    --vscode-mergeEditor-change-background: rgba(155, 185, 85, 0.2);
    --vscode-mergeEditor-change-word-background: rgba(156, 204, 44, 0.2);
    --vscode-mergeEditor-changeBase-background: #4b1818;
    --vscode-mergeEditor-changeBase-word-background: #6f1313;
    --vscode-mergeEditor-conflict-handled-minimapOverViewRuler: rgba(173, 172, 168, 0.93);
    --vscode-mergeEditor-conflict-handledFocused-border: rgba(193, 193, 193, 0.8);
    --vscode-mergeEditor-conflict-handledUnfocused-border: rgba(134, 134, 134, 0.29);
    --vscode-mergeEditor-conflict-input1-background: rgba(64, 200, 174, 0.2);
    --vscode-mergeEditor-conflict-input2-background: rgba(64, 166, 255, 0.2);
    --vscode-mergeEditor-conflict-unhandled-minimapOverViewRuler: #fcba03;
    --vscode-mergeEditor-conflict-unhandledFocused-border: #ffa600;
    --vscode-mergeEditor-conflict-unhandledUnfocused-border: rgba(255, 166, 0, 0.48);
    --vscode-mergeEditor-conflictingLines-background: rgba(255, 234, 0, 0.28);
    --vscode-minimap-errorHighlight: rgba(255, 18, 18, 0.7);
    --vscode-minimap-findMatchHighlight: #d18616;
    --vscode-minimap-foregroundOpacity: #000000;
    --vscode-minimap-infoHighlight: #3794ff;
    --vscode-minimap-selectionHighlight: #750000;
    --vscode-minimap-selectionOccurrenceHighlight: #676767;
    --vscode-minimap-warningHighlight: #cca700;
    --vscode-minimapGutter-addedBackground: #487e02;
    --vscode-minimapGutter-deletedBackground: #f14c4c;
    --vscode-minimapGutter-modifiedBackground: #1b81a8;
    --vscode-minimapSlider-activeBackground: rgba(191, 191, 191, 0.2);
    --vscode-minimapSlider-background: rgba(121, 121, 121, 0.2);
    --vscode-minimapSlider-hoverBackground: rgba(100, 100, 100, 0.35);
    --vscode-multiDiffEditor-headerBackground: #262626;
    --vscode-notebook-cellBorderColor: #770000;
    --vscode-notebook-cellEditorBackground: #330000;
    --vscode-notebook-cellInsertionIndicator: rgba(255, 102, 102, 0.67);
    --vscode-notebook-cellStatusBarItemHoverBackground: rgba(255, 255, 255, 0.15);
    --vscode-notebook-cellToolbarSeparator: rgba(128, 128, 128, 0.35);
    --vscode-notebook-editorBackground: #390000;
    --vscode-notebook-focusedCellBorder: rgba(255, 102, 102, 0.67);
    --vscode-notebook-focusedEditorBorder: rgba(255, 102, 102, 0.67);
    --vscode-notebook-inactiveFocusedCellBorder: #770000;
    --vscode-notebook-selectedCellBackground: #770000;
    --vscode-notebook-selectedCellBorder: #770000;
    --vscode-notebook-symbolHighlightBackground: rgba(255, 255, 255, 0.04);
    --vscode-notebookEditorOverviewRuler-runningCellForeground: #89d185;
    --vscode-notebookScrollbarSlider-activeBackground: rgba(191, 191, 191, 0.4);
    --vscode-notebookScrollbarSlider-background: rgba(121, 121, 121, 0.4);
    --vscode-notebookScrollbarSlider-hoverBackground: rgba(100, 100, 100, 0.7);
    --vscode-notebookStatusErrorIcon-foreground: #ffeaea;
    --vscode-notebookStatusRunningIcon-foreground: #cccccc;
    --vscode-notebookStatusSuccessIcon-foreground: #89d185;
    --vscode-notificationCenterHeader-background: #3e0000;
    --vscode-notificationLink-foreground: #3794ff;
    --vscode-notifications-background: #300000;
    --vscode-notifications-border: #3e0000;
    --vscode-notifications-foreground: #cccccc;
    --vscode-notificationsErrorIcon-foreground: #f14c4c;
    --vscode-notificationsInfoIcon-foreground: #3794ff;
    --vscode-notificationsWarningIcon-foreground: #cca700;
    --vscode-panel-background: #390000;
    --vscode-panel-border: rgba(128, 128, 128, 0.35);
    --vscode-panel-dropBorder: #e7e7e7;
    --vscode-panelSection-border: rgba(128, 128, 128, 0.35);
    --vscode-panelSection-dropBackground: rgba(83, 89, 93, 0.5);
    --vscode-panelSectionHeader-background: rgba(128, 128, 128, 0.2);
    --vscode-panelStickyScroll-background: #390000;
    --vscode-panelStickyScroll-shadow: #000000;
    --vscode-panelTitle-activeBorder: #e7e7e7;
    --vscode-panelTitle-activeForeground: #e7e7e7;
    --vscode-panelTitle-inactiveForeground: rgba(231, 231, 231, 0.6);
    --vscode-peekView-border: rgba(255, 0, 0, 0.27);
    --vscode-peekViewEditor-background: #300000;
    --vscode-peekViewEditor-matchHighlightBackground: rgba(255, 143, 0, 0.6);
    --vscode-peekViewEditorGutter-background: #300000;
    --vscode-peekViewEditorStickyScroll-background: #300000;
    --vscode-peekViewResult-background: #400000;
    --vscode-peekViewResult-fileForeground: #ffffff;
    --vscode-peekViewResult-lineForeground: #bbbbbb;
    --vscode-peekViewResult-matchHighlightBackground: rgba(234, 92, 0, 0.3);
    --vscode-peekViewResult-selectionBackground: rgba(51, 153, 255, 0.2);
    --vscode-peekViewResult-selectionForeground: #ffffff;
    --vscode-peekViewTitle-background: #550000;
    --vscode-peekViewTitleDescription-foreground: rgba(204, 204, 204, 0.7);
    --vscode-peekViewTitleLabel-foreground: #ffffff;
    --vscode-pickerGroup-border: rgba(255, 0, 0, 0.2);
    --vscode-pickerGroup-foreground: #cc9999;
    --vscode-ports-iconRunningProcessForeground: #db7e58;
    --vscode-problemsErrorIcon-foreground: #f14c4c;
    --vscode-problemsInfoIcon-foreground: #3794ff;
    --vscode-problemsWarningIcon-foreground: #cca700;
    --vscode-profileBadge-background: #4d4d4d;
    --vscode-profileBadge-foreground: #ffffff;
    --vscode-progressBar-background: #cc3333;
    --vscode-quickInput-background: #300000;
    --vscode-quickInput-foreground: #cccccc;
    --vscode-quickInputList-focusBackground: #660000;
    --vscode-quickInputList-focusForeground: #ffffff;
    --vscode-quickInputTitle-background: rgba(255, 255, 255, 0.1);
    --vscode-remoteHub-decorations-addedForegroundColor: #81b88b;
    --vscode-remoteHub-decorations-conflictForegroundColor: #e4676b;
    --vscode-remoteHub-decorations-deletedForegroundColor: #c74e39;
    --vscode-remoteHub-decorations-ignoredResourceForeground: #8c8c8c;
    --vscode-remoteHub-decorations-incomingAddedForegroundColor: #81b88b;
    --vscode-remoteHub-decorations-incomingDeletedForegroundColor: #c74e39;
    --vscode-remoteHub-decorations-incomingModifiedForegroundColor: #e2c08d;
    --vscode-remoteHub-decorations-incomingRenamedForegroundColor: #73c991;
    --vscode-remoteHub-decorations-modifiedForegroundColor: #e2c08d;
    --vscode-remoteHub-decorations-possibleConflictForegroundColor: #cca700;
    --vscode-remoteHub-decorations-submoduleForegroundColor: #8db9e2;
    --vscode-remoteHub-decorations-workspaceRepositoriesView-hasUncommittedChangesForegroundColor: #e2c08d;
    --vscode-sash-hover-size: 4px;
    --vscode-sash-hoverBorder: rgba(255, 102, 102, 0.67);
    --vscode-sash-size: 4px;
    --vscode-scm-historyItemSelectedStatisticsBorder: rgba(255, 255, 255, 0.2);
    --vscode-scm-historyItemStatisticsBorder: rgba(204, 204, 204, 0.2);
    --vscode-scrollbar-shadow: #000000;
    --vscode-scrollbarSlider-activeBackground: rgba(191, 191, 191, 0.4);
    --vscode-scrollbarSlider-background: rgba(121, 121, 121, 0.4);
    --vscode-scrollbarSlider-hoverBackground: rgba(100, 100, 100, 0.7);
    --vscode-search-resultsInfoForeground: rgba(204, 204, 204, 0.65);
    --vscode-searchEditor-findMatchBackground: rgba(234, 92, 0, 0.22);
    --vscode-selection-background: rgba(255, 119, 119, 0.53);
    --vscode-settings-checkboxBackground: #580000;
    --vscode-settings-checkboxBorder: #580000;
    --vscode-settings-checkboxForeground: #f0f0f0;
    --vscode-settings-dropdownBackground: #580000;
    --vscode-settings-dropdownBorder: #580000;
    --vscode-settings-dropdownForeground: #f0f0f0;
    --vscode-settings-dropdownListBorder: #454545;
    --vscode-settings-focusedRowBackground: rgba(128, 0, 0, 0.6);
    --vscode-settings-focusedRowBorder: rgba(255, 102, 102, 0.67);
    --vscode-settings-headerBorder: rgba(128, 128, 128, 0.35);
    --vscode-settings-headerForeground: #e7e7e7;
    --vscode-settings-modifiedItemIndicator: #0c7d9d;
    --vscode-settings-numberInputBackground: #580000;
    --vscode-settings-numberInputForeground: #cccccc;
    --vscode-settings-rowHoverBackground: rgba(128, 0, 0, 0.3);
    --vscode-settings-sashBorder: rgba(128, 128, 128, 0.35);
    --vscode-settings-settingsHeaderHoverForeground: rgba(231, 231, 231, 0.7);
    --vscode-settings-textInputBackground: #580000;
    --vscode-settings-textInputForeground: #cccccc;
    --vscode-sideBar-background: #330000;
    --vscode-sideBar-dropBackground: rgba(83, 89, 93, 0.5);
    --vscode-sideBarSectionHeader-background: rgba(128, 128, 128, 0.2);
    --vscode-sideBarStickyScroll-background: #330000;
    --vscode-sideBarStickyScroll-shadow: #000000;
    --vscode-sideBarTitle-background: #330000;
    --vscode-sideBySideEditor-horizontalBorder: rgba(255, 102, 102, 0.2);
    --vscode-sideBySideEditor-verticalBorder: rgba(255, 102, 102, 0.2);
    --vscode-simpleFindWidget-sashBorder: #454545;
    --vscode-statusBar-background: #700000;
    --vscode-statusBar-debuggingBackground: #cc6633;
    --vscode-statusBar-debuggingForeground: #ffffff;
    --vscode-statusBar-focusBorder: #ffffff;
    --vscode-statusBar-foreground: #ffffff;
    --vscode-statusBar-noFolderBackground: #700000;
    --vscode-statusBar-noFolderForeground: #ffffff;
    --vscode-statusBarItem-activeBackground: rgba(255, 255, 255, 0.18);
    --vscode-statusBarItem-compactHoverBackground: rgba(255, 255, 255, 0.2);
    --vscode-statusBarItem-errorBackground: #ff2626;
    --vscode-statusBarItem-errorForeground: #ffffff;
    --vscode-statusBarItem-errorHoverBackground: rgba(255, 255, 255, 0.12);
    --vscode-statusBarItem-errorHoverForeground: #ffffff;
    --vscode-statusBarItem-focusBorder: #ffffff;
    --vscode-statusBarItem-hoverBackground: rgba(255, 255, 255, 0.12);
    --vscode-statusBarItem-hoverForeground: #ffffff;
    --vscode-statusBarItem-offlineBackground: #6c1717;
    --vscode-statusBarItem-offlineForeground: #ffffff;
    --vscode-statusBarItem-offlineHoverBackground: rgba(255, 255, 255, 0.12);
    --vscode-statusBarItem-offlineHoverForeground: #ffffff;
    --vscode-statusBarItem-prominentBackground: rgba(0, 0, 0, 0.5);
    --vscode-statusBarItem-prominentForeground: #ffffff;
    --vscode-statusBarItem-prominentHoverBackground: rgba(0, 0, 0, 0.3);
    --vscode-statusBarItem-prominentHoverForeground: #ffffff;
    --vscode-statusBarItem-remoteBackground: #cc3333;
    --vscode-statusBarItem-remoteForeground: #ffffff;
    --vscode-statusBarItem-remoteHoverBackground: rgba(255, 255, 255, 0.12);
    --vscode-statusBarItem-remoteHoverForeground: #ffffff;
    --vscode-statusBarItem-warningBackground: #7a6400;
    --vscode-statusBarItem-warningForeground: #ffffff;
    --vscode-statusBarItem-warningHoverBackground: rgba(255, 255, 255, 0.12);
    --vscode-statusBarItem-warningHoverForeground: #ffffff;
    --vscode-symbolIcon-arrayForeground: #cccccc;
    --vscode-symbolIcon-booleanForeground: #cccccc;
    --vscode-symbolIcon-classForeground: #ee9d28;
    --vscode-symbolIcon-colorForeground: #cccccc;
    --vscode-symbolIcon-constantForeground: #cccccc;
    --vscode-symbolIcon-constructorForeground: #b180d7;
    --vscode-symbolIcon-enumeratorForeground: #ee9d28;
    --vscode-symbolIcon-enumeratorMemberForeground: #75beff;
    --vscode-symbolIcon-eventForeground: #ee9d28;
    --vscode-symbolIcon-fieldForeground: #75beff;
    --vscode-symbolIcon-fileForeground: #cccccc;
    --vscode-symbolIcon-folderForeground: #cccccc;
    --vscode-symbolIcon-functionForeground: #b180d7;
    --vscode-symbolIcon-interfaceForeground: #75beff;
    --vscode-symbolIcon-keyForeground: #cccccc;
    --vscode-symbolIcon-keywordForeground: #cccccc;
    --vscode-symbolIcon-methodForeground: #b180d7;
    --vscode-symbolIcon-moduleForeground: #cccccc;
    --vscode-symbolIcon-namespaceForeground: #cccccc;
    --vscode-symbolIcon-nullForeground: #cccccc;
    --vscode-symbolIcon-numberForeground: #cccccc;
    --vscode-symbolIcon-objectForeground: #cccccc;
    --vscode-symbolIcon-operatorForeground: #cccccc;
    --vscode-symbolIcon-packageForeground: #cccccc;
    --vscode-symbolIcon-propertyForeground: #cccccc;
    --vscode-symbolIcon-referenceForeground: #cccccc;
    --vscode-symbolIcon-snippetForeground: #cccccc;
    --vscode-symbolIcon-stringForeground: #cccccc;
    --vscode-symbolIcon-structForeground: #cccccc;
    --vscode-symbolIcon-textForeground: #cccccc;
    --vscode-symbolIcon-typeParameterForeground: #cccccc;
    --vscode-symbolIcon-unitForeground: #cccccc;
    --vscode-symbolIcon-variableForeground: #75beff;
    --vscode-tab-activeBackground: #490000;
    --vscode-tab-activeForeground: #ffffff;
    --vscode-tab-activeModifiedBorder: #3399cc;
    --vscode-tab-border: #252526;
    --vscode-tab-dragAndDropBorder: #ffffff;
    --vscode-tab-inactiveBackground: #300a0a;
    --vscode-tab-inactiveForeground: rgba(255, 255, 255, 0.5);
    --vscode-tab-inactiveModifiedBorder: rgba(51, 153, 204, 0.5);
    --vscode-tab-lastPinnedBorder: rgba(255, 0, 0, 0.27);
    --vscode-tab-unfocusedActiveBackground: #490000;
    --vscode-tab-unfocusedActiveForeground: rgba(255, 255, 255, 0.5);
    --vscode-tab-unfocusedActiveModifiedBorder: rgba(51, 153, 204, 0.5);
    --vscode-tab-unfocusedInactiveBackground: #300a0a;
    --vscode-tab-unfocusedInactiveForeground: rgba(255, 255, 255, 0.25);
    --vscode-tab-unfocusedInactiveModifiedBorder: rgba(51, 153, 204, 0.25);
    --vscode-terminal-ansiBlack: #000000;
    --vscode-terminal-ansiBlue: #2472c8;
    --vscode-terminal-ansiBrightBlack: #666666;
    --vscode-terminal-ansiBrightBlue: #3b8eea;
    --vscode-terminal-ansiBrightCyan: #29b8db;
    --vscode-terminal-ansiBrightGreen: #23d18b;
    --vscode-terminal-ansiBrightMagenta: #d670d6;
    --vscode-terminal-ansiBrightRed: #f14c4c;
    --vscode-terminal-ansiBrightWhite: #e5e5e5;
    --vscode-terminal-ansiBrightYellow: #f5f543;
    --vscode-terminal-ansiCyan: #11a8cd;
    --vscode-terminal-ansiGreen: #0dbc79;
    --vscode-terminal-ansiMagenta: #bc3fbc;
    --vscode-terminal-ansiRed: #cd3131;
    --vscode-terminal-ansiWhite: #e5e5e5;
    --vscode-terminal-ansiYellow: #e5e510;
    --vscode-terminal-border: rgba(128, 128, 128, 0.35);
    --vscode-terminal-dropBackground: rgba(83, 89, 93, 0.5);
    --vscode-terminal-findMatchBackground: #515c6a;
    --vscode-terminal-findMatchHighlightBackground: rgba(234, 92, 0, 0.33);
    --vscode-terminal-foreground: #cccccc;
    --vscode-terminal-hoverHighlightBackground: rgba(255, 0, 0, 0.13);
    --vscode-terminal-inactiveSelectionBackground: rgba(117, 0, 0, 0.5);
    --vscode-terminal-selectionBackground: #750000;
    --vscode-terminalCommandDecoration-defaultBackground: rgba(255, 255, 255, 0.25);
    --vscode-terminalCommandDecoration-errorBackground: #f14c4c;
    --vscode-terminalCommandDecoration-successBackground: #1b81a8;
    --vscode-terminalOverviewRuler-cursorForeground: rgba(160, 160, 160, 0.8);
    --vscode-terminalOverviewRuler-findMatchForeground: rgba(209, 134, 22, 0.49);
    --vscode-terminalStickyScrollHover-background: #2a2d2e;
    --vscode-testing-coverCountBadgeBackground: #cc3333;
    --vscode-testing-coverCountBadgeForeground: #ffffff;
    --vscode-testing-coveredBackground: rgba(156, 204, 44, 0.2);
    --vscode-testing-coveredBorder: rgba(156, 204, 44, 0.15);
    --vscode-testing-coveredGutterBackground: rgba(156, 204, 44, 0.12);
    --vscode-testing-iconErrored: #f14c4c;
    --vscode-testing-iconErrored-retired: rgba(241, 76, 76, 0.7);
    --vscode-testing-iconFailed: #f14c4c;
    --vscode-testing-iconFailed-retired: rgba(241, 76, 76, 0.7);
    --vscode-testing-iconPassed: #73c991;
    --vscode-testing-iconPassed-retired: rgba(115, 201, 145, 0.7);
    --vscode-testing-iconQueued: #cca700;
    --vscode-testing-iconQueued-retired: rgba(204, 167, 0, 0.7);
    --vscode-testing-iconSkipped: #848484;
    --vscode-testing-iconSkipped-retired: rgba(132, 132, 132, 0.7);
    --vscode-testing-iconUnset: #848484;
    --vscode-testing-iconUnset-retired: rgba(132, 132, 132, 0.7);
    --vscode-testing-message-error-decorationForeground: #f14c4c;
    --vscode-testing-message-error-lineBackground: rgba(255, 0, 0, 0.2);
    --vscode-testing-message-info-decorationForeground: rgba(248, 248, 248, 0.5);
    --vscode-testing-messagePeekBorder: #3794ff;
    --vscode-testing-messagePeekHeaderBackground: rgba(55, 148, 255, 0.1);
    --vscode-testing-peekBorder: #f14c4c;
    --vscode-testing-peekHeaderBackground: rgba(241, 76, 76, 0.1);
    --vscode-testing-runAction: #73c991;
    --vscode-testing-uncoveredBackground: rgba(255, 0, 0, 0.2);
    --vscode-testing-uncoveredBorder: rgba(255, 0, 0, 0.15);
    --vscode-testing-uncoveredBranchBackground: #880000;
    --vscode-testing-uncoveredGutterBackground: rgba(255, 0, 0, 0.3);
    --vscode-textBlockQuote-background: #222222;
    --vscode-textBlockQuote-border: rgba(0, 122, 204, 0.5);
    --vscode-textCodeBlock-background: rgba(10, 10, 10, 0.4);
    --vscode-textLink-activeForeground: #3794ff;
    --vscode-textLink-foreground: #3794ff;
    --vscode-textPreformat-background: rgba(255, 255, 255, 0.1);
    --vscode-textPreformat-foreground: #d7ba7d;
    --vscode-textSeparator-foreground: rgba(255, 255, 255, 0.18);
    --vscode-titleBar-activeBackground: #770000;
    --vscode-titleBar-activeForeground: #cccccc;
    --vscode-titleBar-inactiveBackground: #772222;
    --vscode-titleBar-inactiveForeground: rgba(204, 204, 204, 0.6);
    --vscode-toolbar-activeBackground: rgba(99, 102, 103, 0.31);
    --vscode-toolbar-hoverBackground: rgba(90, 93, 94, 0.31);
    --vscode-tree-inactiveIndentGuidesStroke: rgba(88, 88, 88, 0.4);
    --vscode-tree-indentGuidesStroke: #585858;
    --vscode-tree-tableColumnsBorder: rgba(204, 204, 204, 0.13);
    --vscode-tree-tableOddRowsBackground: rgba(204, 204, 204, 0.04);
    --vscode-walkThrough-embeddedEditorBackground: rgba(0, 0, 0, 0.4);
    --vscode-walkthrough-stepTitle-foreground: #ffffff;
    --vscode-welcomePage-progress-background: #580000;
    --vscode-welcomePage-progress-foreground: #3794ff;
    --vscode-welcomePage-tileBackground: #300000;
    --vscode-welcomePage-tileBorder: rgba(255, 255, 255, 0.1);
    --vscode-welcomePage-tileHoverBackground: #3a0000;
    --vscode-widget-shadow: rgba(0, 0, 0, 0.36);
}
