@import "vscode-base.css";

:root {
    --vscode-actionBar-toggledBackground: rgba(49, 109, 202, 0.4);
    --vscode-activityBar-activeBorder: #ec775c;
    --vscode-activityBar-background: #22272e;
    --vscode-activityBar-border: #444c56;
    --vscode-activityBar-dropBorder: #adbac7;
    --vscode-activityBar-foreground: #adbac7;
    --vscode-activityBar-inactiveForeground: #768390;
    --vscode-activityBarBadge-background: #316dca;
    --vscode-activityBarBadge-foreground: #cdd9e5;
    --vscode-activityBarTop-activeBorder: #e7e7e7;
    --vscode-activityBarTop-dropBorder: #e7e7e7;
    --vscode-activityBarTop-foreground: #e7e7e7;
    --vscode-activityBarTop-inactiveForeground: rgba(231, 231, 231, 0.6);
    --vscode-activityErrorBadge-background: #f14c4c;
    --vscode-activityErrorBadge-foreground: #000000;
    --vscode-activityWarningBadge-background: #cca700;
    --vscode-activityWarningBadge-foreground: #000000;
    --vscode-badge-background: #316dca;
    --vscode-badge-foreground: #cdd9e5;
    --vscode-banner-background: rgba(99, 110, 123, 0.4);
    --vscode-banner-foreground: #adbac7;
    --vscode-banner-iconForeground: #3794ff;
    --vscode-breadcrumb-activeSelectionForeground: #768390;
    --vscode-breadcrumb-background: #22272e;
    --vscode-breadcrumb-focusForeground: #adbac7;
    --vscode-breadcrumb-foreground: #768390;
    --vscode-breadcrumbPicker-background: #2d333b;
    --vscode-button-background: #347d39;
    --vscode-button-foreground: #ffffff;
    --vscode-button-hoverBackground: #46954a;
    --vscode-button-secondaryBackground: #3d444d;
    --vscode-button-secondaryForeground: #adbac7;
    --vscode-button-secondaryHoverBackground: #444c56;
    --vscode-button-separator: rgba(255, 255, 255, 0.4);
    --vscode-chart-axis: rgba(191, 191, 191, 0.4);
    --vscode-chart-guide: rgba(191, 191, 191, 0.2);
    --vscode-chart-line: #236b8e;
    --vscode-charts-blue: #3794ff;
    --vscode-charts-foreground: #adbac7;
    --vscode-charts-green: #89d185;
    --vscode-charts-lines: rgba(173, 186, 199, 0.5);
    --vscode-charts-orange: #d18616;
    --vscode-charts-purple: #b180d7;
    --vscode-charts-red: #f14c4c;
    --vscode-charts-yellow: #cca700;
    --vscode-chat-avatarBackground: #1f1f1f;
    --vscode-chat-avatarForeground: #adbac7;
    --vscode-chat-editedFileForeground: #e2c08d;
    --vscode-chat-requestBackground: rgba(34, 39, 46, 0.62);
    --vscode-chat-requestBorder: rgba(255, 255, 255, 0.1);
    --vscode-chat-slashCommandBackground: rgba(52, 65, 75, 0.56);
    --vscode-chat-slashCommandForeground: #40a6ff;
    --vscode-checkbox-background: #2d333b;
    --vscode-checkbox-border: #444c56;
    --vscode-checkbox-foreground: #adbac7;
    --vscode-checkbox-selectBackground: #2d333b;
    --vscode-checkbox-selectBorder: #768390;
    --vscode-commandCenter-activeBackground: rgba(255, 255, 255, 0.08);
    --vscode-commandCenter-activeBorder: rgba(118, 131, 144, 0.3);
    --vscode-commandCenter-activeForeground: #768390;
    --vscode-commandCenter-background: rgba(255, 255, 255, 0.05);
    --vscode-commandCenter-border: rgba(118, 131, 144, 0.2);
    --vscode-commandCenter-debuggingBackground: rgba(201, 60, 55, 0.26);
    --vscode-commandCenter-foreground: #768390;
    --vscode-commandCenter-inactiveBorder: rgba(118, 131, 144, 0.25);
    --vscode-commandCenter-inactiveForeground: #768390;
    --vscode-commentsView-resolvedIcon: rgba(204, 204, 204, 0.5);
    --vscode-commentsView-unresolvedIcon: #316dca;
    --vscode-debugConsole-errorForeground: #ff938a;
    --vscode-debugConsole-infoForeground: #768390;
    --vscode-debugConsole-sourceForeground: #daaa3f;
    --vscode-debugConsole-warningForeground: #c69026;
    --vscode-debugConsoleInputIcon-foreground: #b083f0;
    --vscode-debugExceptionWidget-background: #420b0d;
    --vscode-debugExceptionWidget-border: #a31515;
    --vscode-debugIcon-breakpointCurrentStackframeForeground: #ffcc00;
    --vscode-debugIcon-breakpointDisabledForeground: #848484;
    --vscode-debugIcon-breakpointForeground: #e5534b;
    --vscode-debugIcon-breakpointStackframeForeground: #89d185;
    --vscode-debugIcon-breakpointUnverifiedForeground: #848484;
    --vscode-debugIcon-continueForeground: #75beff;
    --vscode-debugIcon-disconnectForeground: #f48771;
    --vscode-debugIcon-pauseForeground: #75beff;
    --vscode-debugIcon-restartForeground: #89d185;
    --vscode-debugIcon-startForeground: #89d185;
    --vscode-debugIcon-stepBackForeground: #75beff;
    --vscode-debugIcon-stepIntoForeground: #75beff;
    --vscode-debugIcon-stepOutForeground: #75beff;
    --vscode-debugIcon-stepOverForeground: #75beff;
    --vscode-debugIcon-stopForeground: #f48771;
    --vscode-debugTokenExpression-boolean: #6bc46d;
    --vscode-debugTokenExpression-error: #ff938a;
    --vscode-debugTokenExpression-name: #6cb6ff;
    --vscode-debugTokenExpression-number: #6bc46d;
    --vscode-debugTokenExpression-string: #96d0ff;
    --vscode-debugTokenExpression-type: #4a90e2;
    --vscode-debugTokenExpression-value: #96d0ff;
    --vscode-debugToolBar-background: #2d333b;
    --vscode-debugView-exceptionLabelBackground: #6c2022;
    --vscode-debugView-exceptionLabelForeground: #adbac7;
    --vscode-debugView-stateLabelBackground: rgba(136, 136, 136, 0.27);
    --vscode-debugView-stateLabelForeground: #adbac7;
    --vscode-debugView-valueChangedHighlight: #569cd6;
    --vscode-descriptionForeground: #768390;
    --vscode-diffEditor-diagonalFill: rgba(204, 204, 204, 0.2);
    --vscode-diffEditor-insertedLineBackground: rgba(52, 125, 57, 0.15);
    --vscode-diffEditor-insertedTextBackground: rgba(87, 171, 90, 0.3);
    --vscode-diffEditor-move-border: rgba(139, 139, 139, 0.61);
    --vscode-diffEditor-moveActive-border: #ffa500;
    --vscode-diffEditor-removedLineBackground: rgba(201, 60, 55, 0.15);
    --vscode-diffEditor-removedTextBackground: rgba(244, 112, 103, 0.3);
    --vscode-diffEditor-unchangedCodeBackground: rgba(116, 116, 116, 0.16);
    --vscode-diffEditor-unchangedRegionBackground: #1c2128;
    --vscode-diffEditor-unchangedRegionForeground: #adbac7;
    --vscode-diffEditor-unchangedRegionShadow: #000000;
    --vscode-disabledForeground: rgba(204, 204, 204, 0.5);
    --vscode-dropdown-background: #2d333b;
    --vscode-dropdown-border: #444c56;
    --vscode-dropdown-foreground: #adbac7;
    --vscode-dropdown-listBackground: #2d333b;
    --vscode-editor-background: #22272e;
    --vscode-editor-compositionBorder: #ffffff;
    --vscode-editor-findMatchBackground: #966600;
    --vscode-editor-findMatchHighlightBackground: rgba(234, 197, 95, 0.5);
    --vscode-editor-findRangeHighlightBackground: rgba(58, 61, 65, 0.4);
    --vscode-editor-focusedStackFrameHighlightBackground: rgba(70, 149, 74, 0.4);
    --vscode-editor-foldBackground: rgba(99, 110, 123, 0.1);
    --vscode-editor-foldPlaceholderForeground: #808080;
    --vscode-editor-foreground: #adbac7;
    --vscode-editor-hoverHighlightBackground: rgba(38, 79, 120, 0.25);
    --vscode-editor-inactiveSelectionBackground: rgba(38, 79, 120, 0.5);
    --vscode-editor-inlineValuesBackground: rgba(255, 200, 0, 0.2);
    --vscode-editor-inlineValuesForeground: rgba(255, 255, 255, 0.5);
    --vscode-editor-lineHighlightBackground: rgba(99, 110, 123, 0.1);
    --vscode-editor-lineHighlightBorder: #282828;
    --vscode-editor-linkedEditingBackground: rgba(83, 155, 245, 0.07);
    --vscode-editor-placeholder-foreground: rgba(255, 255, 255, 0.34);
    --vscode-editor-rangeHighlightBackground: rgba(255, 255, 255, 0.04);
    --vscode-editor-selectionBackground: #264f78;
    --vscode-editor-selectionHighlightBackground: rgba(87, 171, 90, 0.25);
    --vscode-editor-snippetFinalTabstopHighlightBorder: #525252;
    --vscode-editor-snippetTabstopHighlightBackground: rgba(124, 124, 124, 0.3);
    --vscode-editor-stackFrameHighlightBackground: rgba(174, 124, 20, 0.4);
    --vscode-editor-symbolHighlightBackground: rgba(234, 197, 95, 0.5);
    --vscode-editor-wordHighlightBackground: rgba(99, 110, 123, 0.5);
    --vscode-editor-wordHighlightBorder: rgba(99, 110, 123, 0.6);
    --vscode-editor-wordHighlightStrongBackground: rgba(99, 110, 123, 0.3);
    --vscode-editor-wordHighlightStrongBorder: rgba(99, 110, 123, 0.6);
    --vscode-editor-wordHighlightTextBackground: rgba(99, 110, 123, 0.5);
    --vscode-editor-wordHighlightTextBorder: rgba(99, 110, 123, 0.6);
    --vscode-editorActionList-background: #2d333b;
    --vscode-editorActionList-focusBackground: rgba(99, 110, 123, 0.4);
    --vscode-editorActionList-focusForeground: #adbac7;
    --vscode-editorActionList-foreground: #adbac7;
    --vscode-editorActiveLineNumber-foreground: #c6c6c6;
    --vscode-editorBracketHighlight-foreground1: #6cb6ff;
    --vscode-editorBracketHighlight-foreground2: #6bc46d;
    --vscode-editorBracketHighlight-foreground3: #daaa3f;
    --vscode-editorBracketHighlight-foreground4: #ff938a;
    --vscode-editorBracketHighlight-foreground5: #fc8dc7;
    --vscode-editorBracketHighlight-foreground6: #dcbdfb;
    --vscode-editorBracketHighlight-unexpectedBracket-foreground: #768390;
    --vscode-editorBracketMatch-background: rgba(87, 171, 90, 0.25);
    --vscode-editorBracketMatch-border: rgba(87, 171, 90, 0.6);
    --vscode-editorBracketPairGuide-activeBackground1: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground2: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground3: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground4: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground5: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground6: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background1: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background2: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background3: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background4: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background5: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background6: rgba(0, 0, 0, 0);
    --vscode-editorCodeLens-foreground: #999999;
    --vscode-editorCommentsWidget-rangeActiveBackground: rgba(49, 109, 202, 0.1);
    --vscode-editorCommentsWidget-rangeBackground: rgba(49, 109, 202, 0.1);
    --vscode-editorCommentsWidget-replyInputBackground: #252526;
    --vscode-editorCommentsWidget-resolvedBorder: rgba(204, 204, 204, 0.5);
    --vscode-editorCommentsWidget-unresolvedBorder: #316dca;
    --vscode-editorCursor-foreground: #539bf5;
    --vscode-editorError-foreground: #f14c4c;
    --vscode-editorGhostText-foreground: rgba(255, 255, 255, 0.34);
    --vscode-editorGroup-border: #444c56;
    --vscode-editorGroup-dropBackground: rgba(83, 89, 93, 0.5);
    --vscode-editorGroup-dropIntoPromptBackground: #2d333b;
    --vscode-editorGroup-dropIntoPromptForeground: #adbac7;
    --vscode-editorGroupHeader-noTabsBackground: #22272e;
    --vscode-editorGroupHeader-tabsBackground: #1c2128;
    --vscode-editorGroupHeader-tabsBorder: #444c56;
    --vscode-editorGutter-addedBackground: rgba(70, 149, 74, 0.4);
    --vscode-editorGutter-background: #22272e;
    --vscode-editorGutter-commentGlyphForeground: #adbac7;
    --vscode-editorGutter-commentRangeForeground: #3c434c;
    --vscode-editorGutter-commentUnresolvedGlyphForeground: #adbac7;
    --vscode-editorGutter-deletedBackground: rgba(229, 83, 75, 0.4);
    --vscode-editorGutter-foldingControlForeground: #768390;
    --vscode-editorGutter-modifiedBackground: rgba(174, 124, 20, 0.4);
    --vscode-editorHint-foreground: rgba(238, 238, 238, 0.7);
    --vscode-editorHoverWidget-background: #2d333b;
    --vscode-editorHoverWidget-border: #454545;
    --vscode-editorHoverWidget-foreground: #adbac7;
    --vscode-editorHoverWidget-highlightForeground: #539bf5;
    --vscode-editorHoverWidget-statusBarBackground: #363d47;
    --vscode-editorIndentGuide-activeBackground: rgba(173, 186, 199, 0.24);
    --vscode-editorIndentGuide-activeBackground1: rgba(173, 186, 199, 0.24);
    --vscode-editorIndentGuide-activeBackground2: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground3: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground4: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground5: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground6: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background: rgba(173, 186, 199, 0.12);
    --vscode-editorIndentGuide-background1: rgba(173, 186, 199, 0.12);
    --vscode-editorIndentGuide-background2: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background3: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background4: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background5: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background6: rgba(0, 0, 0, 0);
    --vscode-editorInfo-foreground: #3794ff;
    --vscode-editorInlayHint-background: rgba(118, 131, 144, 0.2);
    --vscode-editorInlayHint-foreground: #768390;
    --vscode-editorInlayHint-parameterBackground: rgba(118, 131, 144, 0.2);
    --vscode-editorInlayHint-parameterForeground: #768390;
    --vscode-editorInlayHint-typeBackground: rgba(118, 131, 144, 0.2);
    --vscode-editorInlayHint-typeForeground: #768390;
    --vscode-editorLightBulb-foreground: #ffcc00;
    --vscode-editorLightBulbAi-foreground: #ffcc00;
    --vscode-editorLightBulbAutoFix-foreground: #75beff;
    --vscode-editorLineNumber-activeForeground: #adbac7;
    --vscode-editorLineNumber-foreground: #636e7b;
    --vscode-editorLink-activeForeground: #4e94ce;
    --vscode-editorMarkerNavigation-background: #22272e;
    --vscode-editorMarkerNavigationError-background: #f14c4c;
    --vscode-editorMarkerNavigationError-headerBackground: rgba(241, 76, 76, 0.1);
    --vscode-editorMarkerNavigationInfo-background: #3794ff;
    --vscode-editorMarkerNavigationInfo-headerBackground: rgba(55, 148, 255, 0.1);
    --vscode-editorMarkerNavigationWarning-background: #cca700;
    --vscode-editorMarkerNavigationWarning-headerBackground: rgba(204, 167, 0, 0.1);
    --vscode-editorMultiCursor-primary-foreground: #539bf5;
    --vscode-editorMultiCursor-secondary-foreground: #539bf5;
    --vscode-editorOverviewRuler-addedForeground: rgba(70, 149, 74, 0.24);
    --vscode-editorOverviewRuler-border: #1c2128;
    --vscode-editorOverviewRuler-bracketMatchForeground: #a0a0a0;
    --vscode-editorOverviewRuler-commentForeground: #3c434c;
    --vscode-editorOverviewRuler-commentUnresolvedForeground: #3c434c;
    --vscode-editorOverviewRuler-commonContentForeground: rgba(96, 96, 96, 0.4);
    --vscode-editorOverviewRuler-currentContentForeground: rgba(64, 200, 174, 0.5);
    --vscode-editorOverviewRuler-deletedForeground: rgba(229, 83, 75, 0.24);
    --vscode-editorOverviewRuler-errorForeground: rgba(255, 18, 18, 0.7);
    --vscode-editorOverviewRuler-findMatchForeground: rgba(209, 134, 22, 0.49);
    --vscode-editorOverviewRuler-incomingContentForeground: rgba(64, 166, 255, 0.5);
    --vscode-editorOverviewRuler-infoForeground: #3794ff;
    --vscode-editorOverviewRuler-inlineChatInserted: rgba(87, 171, 90, 0.18);
    --vscode-editorOverviewRuler-inlineChatRemoved: rgba(244, 112, 103, 0.18);
    --vscode-editorOverviewRuler-modifiedForeground: rgba(174, 124, 20, 0.24);
    --vscode-editorOverviewRuler-rangeHighlightForeground: rgba(0, 122, 204, 0.6);
    --vscode-editorOverviewRuler-selectionHighlightForeground: rgba(160, 160, 160, 0.8);
    --vscode-editorOverviewRuler-warningForeground: #cca700;
    --vscode-editorOverviewRuler-wordHighlightForeground: rgba(160, 160, 160, 0.8);
    --vscode-editorOverviewRuler-wordHighlightStrongForeground: rgba(192, 160, 192, 0.8);
    --vscode-editorOverviewRuler-wordHighlightTextForeground: rgba(160, 160, 160, 0.8);
    --vscode-editorPane-background: #22272e;
    --vscode-editorRuler-foreground: #5a5a5a;
    --vscode-editorStickyScroll-background: #22272e;
    --vscode-editorStickyScroll-shadow: rgba(84, 93, 104, 0.2);
    --vscode-editorStickyScrollHover-background: #2a2d2e;
    --vscode-editorSuggestWidget-background: #2d333b;
    --vscode-editorSuggestWidget-border: #454545;
    --vscode-editorSuggestWidget-focusHighlightForeground: #539bf5;
    --vscode-editorSuggestWidget-foreground: #adbac7;
    --vscode-editorSuggestWidget-highlightForeground: #539bf5;
    --vscode-editorSuggestWidget-selectedBackground: rgba(99, 110, 123, 0.4);
    --vscode-editorSuggestWidget-selectedForeground: #adbac7;
    --vscode-editorSuggestWidgetStatus-foreground: rgba(173, 186, 199, 0.5);
    --vscode-editorUnicodeHighlight-border: #cca700;
    --vscode-editorUnnecessaryCode-opacity: rgba(0, 0, 0, 0.67);
    --vscode-editorWarning-foreground: #cca700;
    --vscode-editorWatermark-foreground: rgba(173, 186, 199, 0.6);
    --vscode-editorWhitespace-foreground: #545d68;
    --vscode-editorWidget-background: #2d333b;
    --vscode-editorWidget-border: #454545;
    --vscode-editorWidget-foreground: #adbac7;
    --vscode-errorForeground: #e5534b;
    --vscode-extensionBadge-remoteBackground: #316dca;
    --vscode-extensionBadge-remoteForeground: #cdd9e5;
    --vscode-extensionButton-background: #347d39;
    --vscode-extensionButton-foreground: #ffffff;
    --vscode-extensionButton-hoverBackground: #46954a;
    --vscode-extensionButton-prominentBackground: #347d39;
    --vscode-extensionButton-prominentForeground: #ffffff;
    --vscode-extensionButton-prominentHoverBackground: #46954a;
    --vscode-extensionButton-separator: rgba(255, 255, 255, 0.4);
    --vscode-extensionIcon-preReleaseForeground: #1d9271;
    --vscode-extensionIcon-sponsorForeground: #d758b3;
    --vscode-extensionIcon-starForeground: #ff8e00;
    --vscode-extensionIcon-verifiedForeground: #539bf5;
    --vscode-focusBorder: #316dca;
    --vscode-foreground: #adbac7;
    --vscode-icon-foreground: #768390;
    --vscode-inlineChat-background: #2d333b;
    --vscode-inlineChat-border: #454545;
    --vscode-inlineChat-foreground: #adbac7;
    --vscode-inlineChat-shadow: rgba(0, 0, 0, 0.36);
    --vscode-inlineChatDiff-inserted: rgba(87, 171, 90, 0.15);
    --vscode-inlineChatDiff-removed: rgba(244, 112, 103, 0.15);
    --vscode-inlineChatInput-background: #22272e;
    --vscode-inlineChatInput-border: #454545;
    --vscode-inlineChatInput-focusBorder: #316dca;
    --vscode-inlineChatInput-placeholderForeground: #636e7b;
    --vscode-inlineEdit-border: #3c3c3c;
    --vscode-inlineEdit-indicator-background: #347d39;
    --vscode-inlineEdit-indicator-border: rgba(255, 255, 255, 0.4);
    --vscode-inlineEdit-indicator-foreground: #ffffff;
    --vscode-inlineEdit-modifiedBackground: rgba(87, 171, 90, 0.12);
    --vscode-inlineEdit-modifiedChangedLineBackground: rgba(0, 0, 0, 0);
    --vscode-inlineEdit-modifiedChangedTextBackground: rgba(87, 171, 90, 0.3);
    --vscode-inlineEdit-originalBackground: rgba(244, 112, 103, 0.12);
    --vscode-inlineEdit-originalChangedLineBackground: rgba(0, 0, 0, 0);
    --vscode-inlineEdit-originalChangedTextBackground: rgba(244, 112, 103, 0.3);
    --vscode-input-background: #22272e;
    --vscode-input-border: #444c56;
    --vscode-input-foreground: #adbac7;
    --vscode-input-placeholderForeground: #636e7b;
    --vscode-inputOption-activeBackground: rgba(49, 109, 202, 0.4);
    --vscode-inputOption-activeBorder: #007acc;
    --vscode-inputOption-activeForeground: #ffffff;
    --vscode-inputOption-hoverBackground: rgba(90, 93, 94, 0.5);
    --vscode-inputValidation-errorBackground: #5a1d1d;
    --vscode-inputValidation-errorBorder: #be1100;
    --vscode-inputValidation-infoBackground: #063b49;
    --vscode-inputValidation-infoBorder: #007acc;
    --vscode-inputValidation-warningBackground: #352a05;
    --vscode-inputValidation-warningBorder: #b89500;
    --vscode-interactive-activeCodeBorder: #007acc;
    --vscode-interactive-inactiveCodeBorder: rgba(99, 110, 123, 0.4);
    --vscode-keybindingLabel-background: rgba(128, 128, 128, 0.17);
    --vscode-keybindingLabel-border: rgba(51, 51, 51, 0.6);
    --vscode-keybindingLabel-bottomBorder: rgba(68, 68, 68, 0.6);
    --vscode-keybindingLabel-foreground: #adbac7;
    --vscode-keybindingTable-headerBackground: rgba(173, 186, 199, 0.04);
    --vscode-keybindingTable-rowsBackground: rgba(173, 186, 199, 0.04);
    --vscode-list-activeSelectionBackground: rgba(99, 110, 123, 0.4);
    --vscode-list-activeSelectionForeground: #adbac7;
    --vscode-list-deemphasizedForeground: #8c8c8c;
    --vscode-list-dropBackground: #062f4a;
    --vscode-list-dropBetweenBackground: #768390;
    --vscode-list-errorForeground: #f88070;
    --vscode-list-filterMatchBackground: rgba(234, 197, 95, 0.5);
    --vscode-list-focusBackground: rgba(65, 132, 228, 0.15);
    --vscode-list-focusForeground: #adbac7;
    --vscode-list-focusHighlightForeground: #539bf5;
    --vscode-list-focusOutline: #316dca;
    --vscode-list-highlightForeground: #539bf5;
    --vscode-list-hoverBackground: rgba(99, 110, 123, 0.1);
    --vscode-list-hoverForeground: #adbac7;
    --vscode-list-inactiveFocusBackground: rgba(65, 132, 228, 0.15);
    --vscode-list-inactiveSelectionBackground: rgba(99, 110, 123, 0.4);
    --vscode-list-inactiveSelectionForeground: #adbac7;
    --vscode-list-invalidItemForeground: #b89500;
    --vscode-list-warningForeground: #cca700;
    --vscode-listFilterWidget-background: #2d333b;
    --vscode-listFilterWidget-noMatchesOutline: #be1100;
    --vscode-listFilterWidget-outline: rgba(0, 0, 0, 0);
    --vscode-listFilterWidget-shadow: rgba(0, 0, 0, 0.36);
    --vscode-menu-background: #2d333b;
    --vscode-menu-foreground: #adbac7;
    --vscode-menu-selectionBackground: rgba(99, 110, 123, 0.4);
    --vscode-menu-selectionForeground: #adbac7;
    --vscode-menu-separatorBackground: #606060;
    --vscode-menubar-selectionBackground: rgba(90, 93, 94, 0.31);
    --vscode-menubar-selectionForeground: #768390;
    --vscode-merge-commonContentBackground: rgba(96, 96, 96, 0.16);
    --vscode-merge-commonHeaderBackground: rgba(96, 96, 96, 0.4);
    --vscode-merge-currentContentBackground: rgba(64, 200, 174, 0.2);
    --vscode-merge-currentHeaderBackground: rgba(64, 200, 174, 0.5);
    --vscode-merge-incomingContentBackground: rgba(64, 166, 255, 0.2);
    --vscode-merge-incomingHeaderBackground: rgba(64, 166, 255, 0.5);
    --vscode-mergeEditor-change-background: rgba(155, 185, 85, 0.2);
    --vscode-mergeEditor-change-word-background: rgba(156, 204, 44, 0.2);
    --vscode-mergeEditor-changeBase-background: #4b1818;
    --vscode-mergeEditor-changeBase-word-background: #6f1313;
    --vscode-mergeEditor-conflict-handled-minimapOverViewRuler: rgba(173, 172, 168, 0.93);
    --vscode-mergeEditor-conflict-handledFocused-border: rgba(193, 193, 193, 0.8);
    --vscode-mergeEditor-conflict-handledUnfocused-border: rgba(134, 134, 134, 0.29);
    --vscode-mergeEditor-conflict-input1-background: rgba(64, 200, 174, 0.2);
    --vscode-mergeEditor-conflict-input2-background: rgba(64, 166, 255, 0.2);
    --vscode-mergeEditor-conflict-unhandled-minimapOverViewRuler: #fcba03;
    --vscode-mergeEditor-conflict-unhandledFocused-border: #ffa600;
    --vscode-mergeEditor-conflict-unhandledUnfocused-border: rgba(255, 166, 0, 0.48);
    --vscode-mergeEditor-conflictingLines-background: rgba(255, 234, 0, 0.28);
    --vscode-minimap-errorHighlight: rgba(255, 18, 18, 0.7);
    --vscode-minimap-findMatchHighlight: #d18616;
    --vscode-minimap-foregroundOpacity: #000000;
    --vscode-minimap-infoHighlight: #3794ff;
    --vscode-minimap-selectionHighlight: #264f78;
    --vscode-minimap-selectionOccurrenceHighlight: #676767;
    --vscode-minimap-warningHighlight: #cca700;
    --vscode-minimapGutter-addedBackground: rgba(70, 149, 74, 0.4);
    --vscode-minimapGutter-deletedBackground: rgba(229, 83, 75, 0.4);
    --vscode-minimapGutter-modifiedBackground: rgba(174, 124, 20, 0.4);
    --vscode-minimapSlider-activeBackground: rgba(118, 131, 144, 0.28);
    --vscode-minimapSlider-background: rgba(118, 131, 144, 0.2);
    --vscode-minimapSlider-hoverBackground: rgba(118, 131, 144, 0.24);
    --vscode-multiDiffEditor-background: #22272e;
    --vscode-multiDiffEditor-border: #444c56;
    --vscode-multiDiffEditor-headerBackground: #262626;
    --vscode-notebook-cellBorderColor: rgba(99, 110, 123, 0.4);
    --vscode-notebook-cellEditorBackground: #1c2128;
    --vscode-notebook-cellInsertionIndicator: #316dca;
    --vscode-notebook-cellStatusBarItemHoverBackground: rgba(255, 255, 255, 0.15);
    --vscode-notebook-cellToolbarSeparator: rgba(128, 128, 128, 0.35);
    --vscode-notebook-editorBackground: #22272e;
    --vscode-notebook-focusedCellBorder: #316dca;
    --vscode-notebook-focusedEditorBorder: #316dca;
    --vscode-notebook-inactiveFocusedCellBorder: rgba(99, 110, 123, 0.4);
    --vscode-notebook-selectedCellBackground: rgba(99, 110, 123, 0.4);
    --vscode-notebook-selectedCellBorder: rgba(99, 110, 123, 0.4);
    --vscode-notebook-symbolHighlightBackground: rgba(255, 255, 255, 0.04);
    --vscode-notebookEditorOverviewRuler-runningCellForeground: #89d185;
    --vscode-notebookScrollbarSlider-activeBackground: rgba(118, 131, 144, 0.28);
    --vscode-notebookScrollbarSlider-background: rgba(118, 131, 144, 0.2);
    --vscode-notebookScrollbarSlider-hoverBackground: rgba(118, 131, 144, 0.24);
    --vscode-notebookStatusErrorIcon-foreground: #e5534b;
    --vscode-notebookStatusRunningIcon-foreground: #adbac7;
    --vscode-notebookStatusSuccessIcon-foreground: #89d185;
    --vscode-notificationCenterHeader-background: #2d333b;
    --vscode-notificationCenterHeader-foreground: #768390;
    --vscode-notificationLink-foreground: #539bf5;
    --vscode-notifications-background: #2d333b;
    --vscode-notifications-border: #444c56;
    --vscode-notifications-foreground: #adbac7;
    --vscode-notificationsErrorIcon-foreground: #e5534b;
    --vscode-notificationsInfoIcon-foreground: #539bf5;
    --vscode-notificationsWarningIcon-foreground: #c69026;
    --vscode-panel-background: #1c2128;
    --vscode-panel-border: #444c56;
    --vscode-panel-dropBorder: #adbac7;
    --vscode-panelInput-border: #444c56;
    --vscode-panelSection-border: #444c56;
    --vscode-panelSection-dropBackground: rgba(83, 89, 93, 0.5);
    --vscode-panelSectionHeader-background: rgba(128, 128, 128, 0.2);
    --vscode-panelStickyScroll-background: #1c2128;
    --vscode-panelStickyScroll-shadow: rgba(84, 93, 104, 0.2);
    --vscode-panelTitle-activeBorder: #ec775c;
    --vscode-panelTitle-activeForeground: #adbac7;
    --vscode-panelTitle-inactiveForeground: #768390;
    --vscode-peekView-border: #3794ff;
    --vscode-peekViewEditor-background: rgba(99, 110, 123, 0.1);
    --vscode-peekViewEditor-matchHighlightBackground: rgba(174, 124, 20, 0.4);
    --vscode-peekViewEditorGutter-background: rgba(99, 110, 123, 0.1);
    --vscode-peekViewEditorStickyScroll-background: rgba(99, 110, 123, 0.1);
    --vscode-peekViewResult-background: #22272e;
    --vscode-peekViewResult-fileForeground: #ffffff;
    --vscode-peekViewResult-lineForeground: #bbbbbb;
    --vscode-peekViewResult-matchHighlightBackground: rgba(174, 124, 20, 0.4);
    --vscode-peekViewResult-selectionBackground: rgba(51, 153, 255, 0.2);
    --vscode-peekViewResult-selectionForeground: #ffffff;
    --vscode-peekViewTitle-background: #252526;
    --vscode-peekViewTitleDescription-foreground: rgba(204, 204, 204, 0.7);
    --vscode-peekViewTitleLabel-foreground: #ffffff;
    --vscode-pickerGroup-border: #444c56;
    --vscode-pickerGroup-foreground: #768390;
    --vscode-ports-iconRunningProcessForeground: #444c56;
    --vscode-problemsErrorIcon-foreground: #f14c4c;
    --vscode-problemsInfoIcon-foreground: #3794ff;
    --vscode-problemsWarningIcon-foreground: #cca700;
    --vscode-profileBadge-background: #4d4d4d;
    --vscode-profileBadge-foreground: #ffffff;
    --vscode-profiles-sashBorder: #444c56;
    --vscode-progressBar-background: #316dca;
    --vscode-quickInput-background: #2d333b;
    --vscode-quickInput-foreground: #adbac7;
    --vscode-quickInputList-focusBackground: rgba(99, 110, 123, 0.4);
    --vscode-quickInputList-focusForeground: #adbac7;
    --vscode-quickInputTitle-background: rgba(255, 255, 255, 0.1);
    --vscode-radio-activeBackground: rgba(49, 109, 202, 0.4);
    --vscode-radio-activeBorder: #007acc;
    --vscode-radio-activeForeground: #ffffff;
    --vscode-radio-inactiveBorder: rgba(255, 255, 255, 0.2);
    --vscode-radio-inactiveHoverBackground: rgba(90, 93, 94, 0.5);
    --vscode-remoteHub-decorations-addedForegroundColor: #81b88b;
    --vscode-remoteHub-decorations-conflictForegroundColor: #e4676b;
    --vscode-remoteHub-decorations-deletedForegroundColor: #c74e39;
    --vscode-remoteHub-decorations-ignoredResourceForeground: #8c8c8c;
    --vscode-remoteHub-decorations-incomingAddedForegroundColor: #81b88b;
    --vscode-remoteHub-decorations-incomingDeletedForegroundColor: #c74e39;
    --vscode-remoteHub-decorations-incomingModifiedForegroundColor: #e2c08d;
    --vscode-remoteHub-decorations-incomingRenamedForegroundColor: #73c991;
    --vscode-remoteHub-decorations-modifiedForegroundColor: #e2c08d;
    --vscode-remoteHub-decorations-possibleConflictForegroundColor: #cca700;
    --vscode-remoteHub-decorations-submoduleForegroundColor: #8db9e2;
    --vscode-remoteHub-decorations-workspaceRepositoriesView-hasUncommittedChangesForegroundColor: #e2c08d;
    --vscode-sash-hover-size: 4px;
    --vscode-sash-hoverBorder: #316dca;
    --vscode-sash-size: 4px;
    --vscode-scmGraph-foreground1: #ffb000;
    --vscode-scmGraph-foreground2: #dc267f;
    --vscode-scmGraph-foreground3: #994f00;
    --vscode-scmGraph-foreground4: #40b0a6;
    --vscode-scmGraph-foreground5: #b66dff;
    --vscode-scmGraph-historyItemBaseRefColor: #ea5c00;
    --vscode-scmGraph-historyItemHoverAdditionsForeground: #81b88b;
    --vscode-scmGraph-historyItemHoverDefaultLabelBackground: #316dca;
    --vscode-scmGraph-historyItemHoverDefaultLabelForeground: #adbac7;
    --vscode-scmGraph-historyItemHoverDeletionsForeground: #c74e39;
    --vscode-scmGraph-historyItemHoverLabelForeground: #ffffff;
    --vscode-scmGraph-historyItemRefColor: #3794ff;
    --vscode-scmGraph-historyItemRemoteRefColor: #b180d7;
    --vscode-scrollbar-shadow: rgba(84, 93, 104, 0.2);
    --vscode-scrollbarSlider-activeBackground: rgba(118, 131, 144, 0.28);
    --vscode-scrollbarSlider-background: rgba(118, 131, 144, 0.2);
    --vscode-scrollbarSlider-hoverBackground: rgba(118, 131, 144, 0.24);
    --vscode-search-resultsInfoForeground: rgba(173, 186, 199, 0.65);
    --vscode-searchEditor-findMatchBackground: rgba(234, 197, 95, 0.33);
    --vscode-searchEditor-textInputBorder: #444c56;
    --vscode-settings-checkboxBackground: #2d333b;
    --vscode-settings-checkboxBorder: #444c56;
    --vscode-settings-checkboxForeground: #adbac7;
    --vscode-settings-dropdownBackground: #2d333b;
    --vscode-settings-dropdownBorder: #444c56;
    --vscode-settings-dropdownForeground: #adbac7;
    --vscode-settings-dropdownListBorder: #454545;
    --vscode-settings-focusedRowBackground: rgba(99, 110, 123, 0.06);
    --vscode-settings-focusedRowBorder: #316dca;
    --vscode-settings-headerBorder: #444c56;
    --vscode-settings-headerForeground: #adbac7;
    --vscode-settings-modifiedItemIndicator: rgba(174, 124, 20, 0.4);
    --vscode-settings-numberInputBackground: #22272e;
    --vscode-settings-numberInputBorder: #444c56;
    --vscode-settings-numberInputForeground: #adbac7;
    --vscode-settings-rowHoverBackground: rgba(99, 110, 123, 0.03);
    --vscode-settings-sashBorder: #444c56;
    --vscode-settings-settingsHeaderHoverForeground: rgba(173, 186, 199, 0.7);
    --vscode-settings-textInputBackground: #22272e;
    --vscode-settings-textInputBorder: #444c56;
    --vscode-settings-textInputForeground: #adbac7;
    --vscode-sideBar-background: #1c2128;
    --vscode-sideBar-border: #444c56;
    --vscode-sideBar-dropBackground: rgba(83, 89, 93, 0.5);
    --vscode-sideBar-foreground: #adbac7;
    --vscode-sideBarActivityBarTop-border: #444c56;
    --vscode-sideBarSectionHeader-background: #1c2128;
    --vscode-sideBarSectionHeader-border: #444c56;
    --vscode-sideBarSectionHeader-foreground: #adbac7;
    --vscode-sideBarStickyScroll-background: #1c2128;
    --vscode-sideBarStickyScroll-shadow: rgba(84, 93, 104, 0.2);
    --vscode-sideBarTitle-background: #1c2128;
    --vscode-sideBarTitle-foreground: #adbac7;
    --vscode-sideBySideEditor-horizontalBorder: #444c56;
    --vscode-sideBySideEditor-verticalBorder: #444c56;
    --vscode-simpleFindWidget-sashBorder: #454545;
    --vscode-statusBar-background: #22272e;
    --vscode-statusBar-border: #444c56;
    --vscode-statusBar-debuggingBackground: #c93c37;
    --vscode-statusBar-debuggingBorder: #444c56;
    --vscode-statusBar-debuggingForeground: #cdd9e5;
    --vscode-statusBar-focusBorder: rgba(49, 109, 202, 0.5);
    --vscode-statusBar-foreground: #768390;
    --vscode-statusBar-noFolderBackground: #22272e;
    --vscode-statusBar-noFolderBorder: #444c56;
    --vscode-statusBar-noFolderForeground: #768390;
    --vscode-statusBarItem-activeBackground: rgba(173, 186, 199, 0.12);
    --vscode-statusBarItem-compactHoverBackground: rgba(255, 255, 255, 0.2);
    --vscode-statusBarItem-errorBackground: #a01e17;
    --vscode-statusBarItem-errorForeground: #ffffff;
    --vscode-statusBarItem-errorHoverBackground: rgba(173, 186, 199, 0.08);
    --vscode-statusBarItem-errorHoverForeground: #768390;
    --vscode-statusBarItem-focusBorder: #316dca;
    --vscode-statusBarItem-hoverBackground: rgba(173, 186, 199, 0.08);
    --vscode-statusBarItem-hoverForeground: #768390;
    --vscode-statusBarItem-offlineBackground: #6c1717;
    --vscode-statusBarItem-offlineForeground: #adbac7;
    --vscode-statusBarItem-offlineHoverBackground: rgba(173, 186, 199, 0.08);
    --vscode-statusBarItem-offlineHoverForeground: #768390;
    --vscode-statusBarItem-prominentBackground: rgba(99, 110, 123, 0.4);
    --vscode-statusBarItem-prominentForeground: #768390;
    --vscode-statusBarItem-prominentHoverBackground: rgba(0, 0, 0, 0.3);
    --vscode-statusBarItem-prominentHoverForeground: #768390;
    --vscode-statusBarItem-remoteBackground: #444c56;
    --vscode-statusBarItem-remoteForeground: #adbac7;
    --vscode-statusBarItem-remoteHoverBackground: rgba(173, 186, 199, 0.08);
    --vscode-statusBarItem-remoteHoverForeground: #768390;
    --vscode-statusBarItem-warningBackground: #7a6400;
    --vscode-statusBarItem-warningForeground: #ffffff;
    --vscode-statusBarItem-warningHoverBackground: rgba(173, 186, 199, 0.08);
    --vscode-statusBarItem-warningHoverForeground: #768390;
    --vscode-symbolIcon-arrayForeground: #e0823d;
    --vscode-symbolIcon-booleanForeground: #539bf5;
    --vscode-symbolIcon-classForeground: #e0823d;
    --vscode-symbolIcon-colorForeground: #6cb6ff;
    --vscode-symbolIcon-constantForeground: #adbac7;
    --vscode-symbolIcon-constructorForeground: #dcbdfb;
    --vscode-symbolIcon-enumeratorForeground: #e0823d;
    --vscode-symbolIcon-enumeratorMemberForeground: #539bf5;
    --vscode-symbolIcon-eventForeground: #636e7b;
    --vscode-symbolIcon-fieldForeground: #e0823d;
    --vscode-symbolIcon-fileForeground: #c69026;
    --vscode-symbolIcon-folderForeground: #c69026;
    --vscode-symbolIcon-functionForeground: #b083f0;
    --vscode-symbolIcon-interfaceForeground: #e0823d;
    --vscode-symbolIcon-keyForeground: #539bf5;
    --vscode-symbolIcon-keywordForeground: #f47067;
    --vscode-symbolIcon-methodForeground: #b083f0;
    --vscode-symbolIcon-moduleForeground: #f47067;
    --vscode-symbolIcon-namespaceForeground: #f47067;
    --vscode-symbolIcon-nullForeground: #539bf5;
    --vscode-symbolIcon-numberForeground: #57ab5a;
    --vscode-symbolIcon-objectForeground: #e0823d;
    --vscode-symbolIcon-operatorForeground: #6cb6ff;
    --vscode-symbolIcon-packageForeground: #e0823d;
    --vscode-symbolIcon-propertyForeground: #e0823d;
    --vscode-symbolIcon-referenceForeground: #539bf5;
    --vscode-symbolIcon-snippetForeground: #539bf5;
    --vscode-symbolIcon-stringForeground: #6cb6ff;
    --vscode-symbolIcon-structForeground: #e0823d;
    --vscode-symbolIcon-textForeground: #6cb6ff;
    --vscode-symbolIcon-typeParameterForeground: #6cb6ff;
    --vscode-symbolIcon-unitForeground: #539bf5;
    --vscode-symbolIcon-variableForeground: #e0823d;
    --vscode-tab-activeBackground: #22272e;
    --vscode-tab-activeBorder: #22272e;
    --vscode-tab-activeBorderTop: #ec775c;
    --vscode-tab-activeForeground: #adbac7;
    --vscode-tab-activeModifiedBorder: #3399cc;
    --vscode-tab-border: #444c56;
    --vscode-tab-dragAndDropBorder: #adbac7;
    --vscode-tab-hoverBackground: #22272e;
    --vscode-tab-inactiveBackground: #1c2128;
    --vscode-tab-inactiveForeground: #768390;
    --vscode-tab-inactiveModifiedBorder: rgba(51, 153, 204, 0.5);
    --vscode-tab-lastPinnedBorder: #373e47;
    --vscode-tab-selectedBackground: #22272e;
    --vscode-tab-selectedBorderTop: #ec775c;
    --vscode-tab-selectedForeground: #adbac7;
    --vscode-tab-unfocusedActiveBackground: #22272e;
    --vscode-tab-unfocusedActiveBorder: #22272e;
    --vscode-tab-unfocusedActiveBorderTop: #444c56;
    --vscode-tab-unfocusedActiveForeground: rgba(173, 186, 199, 0.5);
    --vscode-tab-unfocusedActiveModifiedBorder: rgba(51, 153, 204, 0.5);
    --vscode-tab-unfocusedHoverBackground: rgba(99, 110, 123, 0.1);
    --vscode-tab-unfocusedInactiveBackground: #1c2128;
    --vscode-tab-unfocusedInactiveForeground: rgba(118, 131, 144, 0.5);
    --vscode-tab-unfocusedInactiveModifiedBorder: rgba(51, 153, 204, 0.25);
    --vscode-terminal-ansiBlack: #545d68;
    --vscode-terminal-ansiBlue: #539bf5;
    --vscode-terminal-ansiBrightBlack: #636e7b;
    --vscode-terminal-ansiBrightBlue: #6cb6ff;
    --vscode-terminal-ansiBrightCyan: #56d4dd;
    --vscode-terminal-ansiBrightGreen: #6bc46d;
    --vscode-terminal-ansiBrightMagenta: #dcbdfb;
    --vscode-terminal-ansiBrightRed: #ff938a;
    --vscode-terminal-ansiBrightWhite: #cdd9e5;
    --vscode-terminal-ansiBrightYellow: #daaa3f;
    --vscode-terminal-ansiCyan: #39c5cf;
    --vscode-terminal-ansiGreen: #57ab5a;
    --vscode-terminal-ansiMagenta: #b083f0;
    --vscode-terminal-ansiRed: #f47067;
    --vscode-terminal-ansiWhite: #909dab;
    --vscode-terminal-ansiYellow: #c69026;
    --vscode-terminal-border: #444c56;
    --vscode-terminal-dropBackground: rgba(83, 89, 93, 0.5);
    --vscode-terminal-findMatchBackground: #966600;
    --vscode-terminal-findMatchHighlightBackground: rgba(234, 197, 95, 0.5);
    --vscode-terminal-foreground: #adbac7;
    --vscode-terminal-hoverHighlightBackground: rgba(38, 79, 120, 0.13);
    --vscode-terminal-inactiveSelectionBackground: rgba(38, 79, 120, 0.5);
    --vscode-terminal-initialHintForeground: rgba(255, 255, 255, 0.34);
    --vscode-terminal-selectionBackground: #264f78;
    --vscode-terminal-tab-activeBorder: #22272e;
    --vscode-terminalCommandDecoration-defaultBackground: rgba(255, 255, 255, 0.25);
    --vscode-terminalCommandDecoration-errorBackground: #f14c4c;
    --vscode-terminalCommandDecoration-successBackground: #1b81a8;
    --vscode-terminalCommandGuide-foreground: rgba(99, 110, 123, 0.4);
    --vscode-terminalOverviewRuler-border: #1c2128;
    --vscode-terminalOverviewRuler-cursorForeground: rgba(160, 160, 160, 0.8);
    --vscode-terminalOverviewRuler-findMatchForeground: rgba(209, 134, 22, 0.49);
    --vscode-terminalStickyScrollHover-background: #2a2d2e;
    --vscode-testing-coverCountBadgeBackground: #316dca;
    --vscode-testing-coverCountBadgeForeground: #cdd9e5;
    --vscode-testing-coveredBackground: rgba(87, 171, 90, 0.3);
    --vscode-testing-coveredBorder: rgba(87, 171, 90, 0.23);
    --vscode-testing-coveredGutterBackground: rgba(87, 171, 90, 0.18);
    --vscode-testing-iconErrored: #f14c4c;
    --vscode-testing-iconErrored-retired: rgba(241, 76, 76, 0.7);
    --vscode-testing-iconFailed: #f14c4c;
    --vscode-testing-iconFailed-retired: rgba(241, 76, 76, 0.7);
    --vscode-testing-iconPassed: #73c991;
    --vscode-testing-iconPassed-retired: rgba(115, 201, 145, 0.7);
    --vscode-testing-iconQueued: #cca700;
    --vscode-testing-iconQueued-retired: rgba(204, 167, 0, 0.7);
    --vscode-testing-iconSkipped: #848484;
    --vscode-testing-iconSkipped-retired: rgba(132, 132, 132, 0.7);
    --vscode-testing-iconUnset: #848484;
    --vscode-testing-iconUnset-retired: rgba(132, 132, 132, 0.7);
    --vscode-testing-message-error-badgeBackground: #f14c4c;
    --vscode-testing-message-error-badgeBorder: #f14c4c;
    --vscode-testing-message-error-badgeForeground: #000000;
    --vscode-testing-message-info-decorationForeground: rgba(173, 186, 199, 0.5);
    --vscode-testing-messagePeekBorder: #3794ff;
    --vscode-testing-messagePeekHeaderBackground: rgba(55, 148, 255, 0.1);
    --vscode-testing-peekBorder: #f14c4c;
    --vscode-testing-peekHeaderBackground: rgba(241, 76, 76, 0.1);
    --vscode-testing-runAction: #73c991;
    --vscode-testing-uncoveredBackground: rgba(244, 112, 103, 0.3);
    --vscode-testing-uncoveredBorder: rgba(244, 112, 103, 0.23);
    --vscode-testing-uncoveredBranchBackground: #a05350;
    --vscode-testing-uncoveredGutterBackground: rgba(244, 112, 103, 0.45);
    --vscode-textBlockQuote-background: #1c2128;
    --vscode-textBlockQuote-border: #444c56;
    --vscode-textCodeBlock-background: rgba(99, 110, 123, 0.4);
    --vscode-textLink-activeForeground: #539bf5;
    --vscode-textLink-foreground: #539bf5;
    --vscode-textPreformat-background: rgba(99, 110, 123, 0.4);
    --vscode-textPreformat-foreground: #768390;
    --vscode-textSeparator-foreground: #373e47;
    --vscode-titleBar-activeBackground: #22272e;
    --vscode-titleBar-activeForeground: #768390;
    --vscode-titleBar-border: #444c56;
    --vscode-titleBar-inactiveBackground: #1c2128;
    --vscode-titleBar-inactiveForeground: #768390;
    --vscode-toolbar-activeBackground: rgba(99, 102, 103, 0.31);
    --vscode-toolbar-hoverBackground: rgba(90, 93, 94, 0.31);
    --vscode-tree-inactiveIndentGuidesStroke: rgba(55, 62, 71, 0.4);
    --vscode-tree-indentGuidesStroke: #373e47;
    --vscode-tree-tableColumnsBorder: rgba(204, 204, 204, 0.13);
    --vscode-tree-tableOddRowsBackground: rgba(173, 186, 199, 0.04);
    --vscode-walkThrough-embeddedEditorBackground: rgba(0, 0, 0, 0.4);
    --vscode-walkthrough-stepTitle-foreground: #ffffff;
    --vscode-welcomePage-progress-background: #22272e;
    --vscode-welcomePage-progress-foreground: #539bf5;
    --vscode-welcomePage-tileBackground: #2d333b;
    --vscode-welcomePage-tileBorder: rgba(255, 255, 255, 0.1);
    --vscode-welcomePage-tileHoverBackground: #363d47;
    --vscode-widget-shadow: rgba(0, 0, 0, 0.36);
}