@import "vscode-base.css";

:root {
    --vscode-actionBar-toggledBackground: #beb5b3;
    --vscode-activityBar-activeBorder: #72696d;
    --vscode-activityBar-activeFocusBorder: #ce4770;
    --vscode-activityBar-background: #ded5d0;
    --vscode-activityBar-border: #ded5d0;
    --vscode-activityBar-dropBorder: #72696d;
    --vscode-activityBar-foreground: #72696d;
    --vscode-activityBar-inactiveForeground: #a59c9c;
    --vscode-activityBarBadge-background: #ce4770;
    --vscode-activityBarBadge-foreground: #f8efe7;
    --vscode-activityBarTop-activeBorder: #2c232e;
    --vscode-activityBarTop-background: #eee5de;
    --vscode-activityBarTop-dropBorder: #2c232e;
    --vscode-activityBarTop-foreground: #2c232e;
    --vscode-activityBarTop-inactiveForeground: #a59c9c;
    --vscode-activityErrorBadge-background: #e51400;
    --vscode-activityErrorBadge-foreground: #ffffff;
    --vscode-activityWarningBadge-background: #bf8803;
    --vscode-activityWarningBadge-foreground: #ffffff;
    --vscode-badge-background: #ce4770;
    --vscode-badge-foreground: #f8efe7;
    --vscode-banner-background: #d2c9c4;
    --vscode-banner-foreground: #72696d;
    --vscode-banner-iconForeground: #72696d;
    --vscode-breadcrumb-activeSelectionForeground: #2c232e;
    --vscode-breadcrumb-background: #f8efe7;
    --vscode-breadcrumb-focusForeground: #72696d;
    --vscode-breadcrumb-foreground: #92898a;
    --vscode-breadcrumbPicker-background: #f8efe7;
    --vscode-button-background: #ded5d0;
    --vscode-button-foreground: #2c232e;
    --vscode-button-hoverBackground: #d2c9c4;
    --vscode-button-secondaryBackground: #ded5d0;
    --vscode-button-secondaryForeground: #72696d;
    --vscode-button-secondaryHoverBackground: #d2c9c4;
    --vscode-button-separator: #f8efe7;
    --vscode-chart-axis: rgba(0, 0, 0, 0.6);
    --vscode-chart-guide: rgba(0, 0, 0, 0.2);
    --vscode-chart-line: #236b8e;
    --vscode-charts-blue: #2473b6;
    --vscode-charts-foreground: #2c232e;
    --vscode-charts-green: #218871;
    --vscode-charts-lines: #a59c9c;
    --vscode-charts-orange: #d4572b;
    --vscode-charts-purple: #6851a2;
    --vscode-charts-red: #ce4770;
    --vscode-charts-yellow: #b16803;
    --vscode-chat-avatarBackground: #f8efe7;
    --vscode-chat-avatarForeground: #6851a2;
    --vscode-chat-editedFileForeground: #895503;
    --vscode-chat-requestBackground: #d2c9c4;
    --vscode-chat-requestBorder: #beb5b3;
    --vscode-chat-slashCommandBackground: rgba(0, 0, 0, 0);
    --vscode-chat-slashCommandForeground: #ce4770;
    --vscode-checkbox-background: #fdf7f3;
    --vscode-checkbox-border: #d2c9c4;
    --vscode-checkbox-foreground: #ce4770;
    --vscode-checkbox-selectBackground: #fdf7f3;
    --vscode-checkbox-selectBorder: #92898a;
    --vscode-commandCenter-activeBackground: #f8efe7;
    --vscode-commandCenter-activeBorder: rgba(146, 137, 138, 0.3);
    --vscode-commandCenter-activeForeground: #72696d;
    --vscode-commandCenter-background: #eee5de;
    --vscode-commandCenter-border: #f8efe7;
    --vscode-commandCenter-debuggingBackground: #eee5de;
    --vscode-commandCenter-foreground: #92898a;
    --vscode-commandCenter-inactiveBorder: rgba(190, 181, 179, 0.25);
    --vscode-commandCenter-inactiveForeground: #beb5b3;
    --vscode-commentsView-resolvedIcon: rgba(97, 97, 97, 0.5);
    --vscode-commentsView-unresolvedIcon: #a59c9c;
    --vscode-debugConsole-errorForeground: #ce4770;
    --vscode-debugConsole-infoForeground: #2473b6;
    --vscode-debugConsole-sourceForeground: #2c232e;
    --vscode-debugConsole-warningForeground: #d4572b;
    --vscode-debugConsoleInputIcon-foreground: #ce4770;
    --vscode-debugExceptionWidget-background: #fdf7f3;
    --vscode-debugExceptionWidget-border: #ded5d0;
    --vscode-debugIcon-breakpointCurrentStackframeForeground: #ce4770;
    --vscode-debugIcon-breakpointDisabledForeground: #72696d;
    --vscode-debugIcon-breakpointForeground: #ce4770;
    --vscode-debugIcon-breakpointStackframeForeground: #2c232e;
    --vscode-debugIcon-breakpointUnverifiedForeground: #d4572b;
    --vscode-debugIcon-continueForeground: #2c232e;
    --vscode-debugIcon-disconnectForeground: #2c232e;
    --vscode-debugIcon-pauseForeground: #2c232e;
    --vscode-debugIcon-restartForeground: #218871;
    --vscode-debugIcon-startForeground: #218871;
    --vscode-debugIcon-stepBackForeground: #2c232e;
    --vscode-debugIcon-stepIntoForeground: #2c232e;
    --vscode-debugIcon-stepOutForeground: #2c232e;
    --vscode-debugIcon-stepOverForeground: #2c232e;
    --vscode-debugIcon-stopForeground: #ce4770;
    --vscode-debugTokenExpression-boolean: #d4572b;
    --vscode-debugTokenExpression-error: #ce4770;
    --vscode-debugTokenExpression-name: #2473b6;
    --vscode-debugTokenExpression-number: #6851a2;
    --vscode-debugTokenExpression-string: #b16803;
    --vscode-debugTokenExpression-type: #4a90e2;
    --vscode-debugTokenExpression-value: #2c232e;
    --vscode-debugToolBar-background: #d2c9c4;
    --vscode-debugView-exceptionLabelBackground: #ce4770;
    --vscode-debugView-exceptionLabelForeground: #f8efe7;
    --vscode-debugView-stateLabelBackground: #218871;
    --vscode-debugView-stateLabelForeground: #f8efe7;
    --vscode-debugView-valueChangedHighlight: #ce4770;
    --vscode-descriptionForeground: #92898a;
    --vscode-diffEditor-diagonalFill: #d2c9c4;
    --vscode-diffEditor-insertedLineBackground: rgba(33, 136, 113, 0.1);
    --vscode-diffEditor-insertedTextBackground: rgba(33, 136, 113, 0.1);
    --vscode-diffEditor-move-border: #ff0000;
    --vscode-diffEditor-moveActive-border: #ff0000;
    --vscode-diffEditor-removedLineBackground: rgba(206, 71, 112, 0.1);
    --vscode-diffEditor-removedTextBackground: rgba(206, 71, 112, 0.1);
    --vscode-diffEditor-unchangedCodeBackground: #eee5de;
    --vscode-diffEditor-unchangedRegionBackground: #eee5de;
    --vscode-diffEditor-unchangedRegionForeground: #72696d;
    --vscode-diffEditor-unchangedRegionShadow: #ded5d0;
    --vscode-diffEditorGutter-insertedLineBackground: rgba(33, 136, 113, 0.1);
    --vscode-diffEditorGutter-removedLineBackground: rgba(206, 71, 112, 0.1);
    --vscode-diffEditorOverview-insertedForeground: rgba(33, 136, 113, 0.65);
    --vscode-diffEditorOverview-removedForeground: rgba(206, 71, 112, 0.65);
    --vscode-disabledForeground: rgba(97, 97, 97, 0.5);
    --vscode-dropdown-background: #fdf7f3;
    --vscode-dropdown-border: #d2c9c4;
    --vscode-dropdown-foreground: #92898a;
    --vscode-dropdown-listBackground: #fdf7f3;
    --vscode-editor-background: #f8efe7;
    --vscode-editor-compositionBorder: #000000;
    --vscode-editor-findMatchBackground: rgba(44, 35, 46, 0.15);
    --vscode-editor-findMatchBorder: #b16803;
    --vscode-editor-findMatchHighlightBackground: rgba(44, 35, 46, 0.15);
    --vscode-editor-findMatchHighlightBorder: rgba(0, 0, 0, 0);
    --vscode-editor-findRangeHighlightBackground: rgba(44, 35, 46, 0.05);
    --vscode-editor-findRangeHighlightBorder: rgba(0, 0, 0, 0);
    --vscode-editor-focusedStackFrameHighlightBackground: rgba(114, 105, 109, 0.15);
    --vscode-editor-foldBackground: rgba(44, 35, 46, 0.05);
    --vscode-editor-foldPlaceholderForeground: #808080;
    --vscode-editor-foreground: #2c232e;
    --vscode-editor-hoverHighlightBackground: rgba(44, 35, 46, 0.05);
    --vscode-editor-inactiveSelectionBackground: rgba(44, 35, 46, 0.05);
    --vscode-editor-inlineValuesBackground: #beb5b3;
    --vscode-editor-inlineValuesForeground: #72696d;
    --vscode-editor-lineHighlightBackground: rgba(44, 35, 46, 0.05);
    --vscode-editor-lineHighlightBorder: rgba(0, 0, 0, 0);
    --vscode-editor-linkedEditingBackground: #d2c9c4;
    --vscode-editor-placeholder-foreground: #a59c9c;
    --vscode-editor-rangeHighlightBackground: #d2c9c4;
    --vscode-editor-rangeHighlightBorder: #d2c9c4;
    --vscode-editor-selectionBackground: rgba(114, 105, 109, 0.15);
    --vscode-editor-selectionHighlightBackground: rgba(44, 35, 46, 0.15);
    --vscode-editor-selectionHighlightBorder: rgba(0, 0, 0, 0);
    --vscode-editor-snippetFinalTabstopHighlightBorder: rgba(10, 50, 100, 0.5);
    --vscode-editor-snippetTabstopHighlightBackground: rgba(10, 50, 100, 0.2);
    --vscode-editor-stackFrameHighlightBackground: rgba(114, 105, 109, 0.15);
    --vscode-editor-symbolHighlightBackground: rgba(44, 35, 46, 0.15);
    --vscode-editor-wordHighlightBackground: rgba(44, 35, 46, 0.15);
    --vscode-editor-wordHighlightBorder: rgba(0, 0, 0, 0);
    --vscode-editor-wordHighlightStrongBackground: rgba(44, 35, 46, 0.15);
    --vscode-editor-wordHighlightStrongBorder: rgba(0, 0, 0, 0);
    --vscode-editor-wordHighlightTextBackground: rgba(44, 35, 46, 0.15);
    --vscode-editor-wordHighlightTextBorder: rgba(0, 0, 0, 0);
    --vscode-editorActionList-background: #fdf7f3;
    --vscode-editorActionList-focusBackground: rgba(44, 35, 46, 0.05);
    --vscode-editorActionList-focusForeground: #ce4770;
    --vscode-editorActionList-foreground: #2c232e;
    --vscode-editorActiveLineNumber-foreground: #0b216f;
    --vscode-editorBracketHighlight-foreground1: #ce4770;
    --vscode-editorBracketHighlight-foreground2: #d4572b;
    --vscode-editorBracketHighlight-foreground3: #b16803;
    --vscode-editorBracketHighlight-foreground4: #218871;
    --vscode-editorBracketHighlight-foreground5: #2473b6;
    --vscode-editorBracketHighlight-foreground6: #6851a2;
    --vscode-editorBracketHighlight-unexpectedBracket-foreground: rgba(255, 18, 18, 0.8);
    --vscode-editorBracketMatch-background: #f8efe7;
    --vscode-editorBracketMatch-border: #a59c9c;
    --vscode-editorBracketPairGuide-activeBackground1: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground2: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground3: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground4: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground5: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground6: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background1: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background2: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background3: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background4: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background5: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background6: rgba(0, 0, 0, 0);
    --vscode-editorCodeLens-foreground: #a59c9c;
    --vscode-editorCommentsWidget-rangeActiveBackground: rgba(165, 156, 156, 0.1);
    --vscode-editorCommentsWidget-rangeBackground: rgba(165, 156, 156, 0.1);
    --vscode-editorCommentsWidget-replyInputBackground: #eee5de;
    --vscode-editorCommentsWidget-resolvedBorder: rgba(97, 97, 97, 0.5);
    --vscode-editorCommentsWidget-unresolvedBorder: #a59c9c;
    --vscode-editorCursor-background: #f8efe7;
    --vscode-editorCursor-foreground: #2c232e;
    --vscode-editorError-background: rgba(0, 0, 0, 0);
    --vscode-editorError-border: rgba(0, 0, 0, 0);
    --vscode-editorError-foreground: #ce4770;
    --vscode-editorGhostText-foreground: #a59c9c;
    --vscode-editorGroup-border: #eee5de;
    --vscode-editorGroup-dropBackground: rgba(238, 229, 222, 0.75);
    --vscode-editorGroup-dropIntoPromptBackground: #fdf7f3;
    --vscode-editorGroup-dropIntoPromptForeground: #2c232e;
    --vscode-editorGroup-emptyBackground: #ded5d0;
    --vscode-editorGroup-focusedEmptyBorder: #eee5de;
    --vscode-editorGroupHeader-noTabsBackground: #f8efe7;
    --vscode-editorGroupHeader-tabsBackground: #f8efe7;
    --vscode-editorGroupHeader-tabsBorder: #f8efe7;
    --vscode-editorGutter-addedBackground: #218871;
    --vscode-editorGutter-background: #f8efe7;
    --vscode-editorGutter-commentGlyphForeground: #2c232e;
    --vscode-editorGutter-commentRangeForeground: #eadcd1;
    --vscode-editorGutter-commentUnresolvedGlyphForeground: #2c232e;
    --vscode-editorGutter-deletedBackground: #ce4770;
    --vscode-editorGutter-foldingControlForeground: #72696d;
    --vscode-editorGutter-modifiedBackground: #d4572b;
    --vscode-editorHint-border: #f8efe7;
    --vscode-editorHint-foreground: #6851a2;
    --vscode-editorHoverWidget-background: #fdf7f3;
    --vscode-editorHoverWidget-border: #ded5d0;
    --vscode-editorHoverWidget-foreground: #2c232e;
    --vscode-editorHoverWidget-highlightForeground: #2c232e;
    --vscode-editorHoverWidget-statusBarBackground: #f9e9de;
    --vscode-editorIndentGuide-activeBackground: #beb5b3;
    --vscode-editorIndentGuide-activeBackground1: #beb5b3;
    --vscode-editorIndentGuide-activeBackground2: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground3: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground4: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground5: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground6: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background: #d2c9c4;
    --vscode-editorIndentGuide-background1: #d2c9c4;
    --vscode-editorIndentGuide-background2: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background3: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background4: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background5: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background6: rgba(0, 0, 0, 0);
    --vscode-editorInfo-background: rgba(0, 0, 0, 0);
    --vscode-editorInfo-border: #f8efe7;
    --vscode-editorInfo-foreground: #2473b6;
    --vscode-editorInlayHint-background: #d2c9c4;
    --vscode-editorInlayHint-foreground: #92898a;
    --vscode-editorInlayHint-parameterBackground: #d2c9c4;
    --vscode-editorInlayHint-parameterForeground: #92898a;
    --vscode-editorInlayHint-typeBackground: #d2c9c4;
    --vscode-editorInlayHint-typeForeground: #92898a;
    --vscode-editorLightBulb-foreground: #ce4770;
    --vscode-editorLightBulbAi-foreground: #ce4770;
    --vscode-editorLightBulbAutoFix-foreground: #218871;
    --vscode-editorLineNumber-activeForeground: #72696d;
    --vscode-editorLineNumber-foreground: #beb5b3;
    --vscode-editorLink-activeForeground: #2473b6;
    --vscode-editorMarkerNavigation-background: #d2c9c4;
    --vscode-editorMarkerNavigationError-background: #ce4770;
    --vscode-editorMarkerNavigationError-headerBackground: rgba(206, 71, 112, 0.1);
    --vscode-editorMarkerNavigationInfo-background: #2473b6;
    --vscode-editorMarkerNavigationInfo-headerBackground: rgba(36, 115, 182, 0.1);
    --vscode-editorMarkerNavigationWarning-background: #d4572b;
    --vscode-editorMarkerNavigationWarning-headerBackground: rgba(212, 87, 43, 0.1);
    --vscode-editorMultiCursor-primary-background: #f8efe7;
    --vscode-editorMultiCursor-primary-foreground: #2c232e;
    --vscode-editorMultiCursor-secondary-background: #f8efe7;
    --vscode-editorMultiCursor-secondary-foreground: #2c232e;
    --vscode-editorOverviewRuler-addedForeground: #218871;
    --vscode-editorOverviewRuler-border: #f8efe7;
    --vscode-editorOverviewRuler-bracketMatchForeground: #a0a0a0;
    --vscode-editorOverviewRuler-commentForeground: #eadcd1;
    --vscode-editorOverviewRuler-commentUnresolvedForeground: #eadcd1;
    --vscode-editorOverviewRuler-commonContentForeground: rgba(44, 35, 46, 0.15);
    --vscode-editorOverviewRuler-currentContentForeground: #d2c9c4;
    --vscode-editorOverviewRuler-deletedForeground: #ce4770;
    --vscode-editorOverviewRuler-errorForeground: #ce4770;
    --vscode-editorOverviewRuler-findMatchForeground: rgba(44, 35, 46, 0.15);
    --vscode-editorOverviewRuler-incomingContentForeground: #d2c9c4;
    --vscode-editorOverviewRuler-infoForeground: #2473b6;
    --vscode-editorOverviewRuler-inlineChatInserted: rgba(33, 136, 113, 0.08);
    --vscode-editorOverviewRuler-inlineChatRemoved: rgba(206, 71, 112, 0.08);
    --vscode-editorOverviewRuler-modifiedForeground: #d4572b;
    --vscode-editorOverviewRuler-rangeHighlightForeground: rgba(44, 35, 46, 0.15);
    --vscode-editorOverviewRuler-selectionHighlightForeground: rgba(44, 35, 46, 0.15);
    --vscode-editorOverviewRuler-warningForeground: #d4572b;
    --vscode-editorOverviewRuler-wordHighlightForeground: rgba(44, 35, 46, 0.15);
    --vscode-editorOverviewRuler-wordHighlightStrongForeground: rgba(44, 35, 46, 0.15);
    --vscode-editorOverviewRuler-wordHighlightTextForeground: rgba(44, 35, 46, 0.15);
    --vscode-editorPane-background: #f8efe7;
    --vscode-editorRuler-foreground: #beb5b3;
    --vscode-editorStickyScroll-background: #f8efe7;
    --vscode-editorStickyScroll-border: #d2c9c4;
    --vscode-editorStickyScroll-shadow: #f8efe7;
    --vscode-editorStickyScrollHover-background: rgba(44, 35, 46, 0.05);
    --vscode-editorSuggestWidget-background: #fdf7f3;
    --vscode-editorSuggestWidget-border: #ded5d0;
    --vscode-editorSuggestWidget-focusHighlightForeground: #2c232e;
    --vscode-editorSuggestWidget-foreground: #72696d;
    --vscode-editorSuggestWidget-highlightForeground: #2c232e;
    --vscode-editorSuggestWidget-selectedBackground: #a59c9c;
    --vscode-editorSuggestWidget-selectedForeground: #ce4770;
    --vscode-editorSuggestWidgetStatus-foreground: rgba(114, 105, 109, 0.5);
    --vscode-editorUnicodeHighlight-background: rgba(0, 0, 0, 0);
    --vscode-editorUnicodeHighlight-border: #d4572b;
    --vscode-editorUnnecessaryCode-opacity: rgba(0, 0, 0, 0.65);
    --vscode-editorWarning-background: rgba(0, 0, 0, 0);
    --vscode-editorWarning-border: rgba(0, 0, 0, 0);
    --vscode-editorWarning-foreground: #d4572b;
    --vscode-editorWatermark-foreground: rgba(44, 35, 46, 0.68);
    --vscode-editorWhitespace-foreground: #beb5b3;
    --vscode-editorWidget-background: #fdf7f3;
    --vscode-editorWidget-border: #ded5d0;
    --vscode-editorWidget-foreground: #2c232e;
    --vscode-errorForeground: #ce4770;
    --vscode-extensionBadge-remoteBackground: #ce4770;
    --vscode-extensionBadge-remoteForeground: #218871;
    --vscode-extensionButton-background: #ded5d0;
    --vscode-extensionButton-foreground: #72696d;
    --vscode-extensionButton-hoverBackground: #d2c9c4;
    --vscode-extensionButton-prominentBackground: #ded5d0;
    --vscode-extensionButton-prominentForeground: #2c232e;
    --vscode-extensionButton-prominentHoverBackground: #d2c9c4;
    --vscode-extensionButton-separator: #f8efe7;
    --vscode-extensionIcon-preReleaseForeground: #6851a2;
    --vscode-extensionIcon-sponsorForeground: #2473b6;
    --vscode-extensionIcon-starForeground: #ce4770;
    --vscode-extensionIcon-verifiedForeground: #218871;
    --vscode-focusBorder: #a59c9c;
    --vscode-foreground: #2c232e;
    --vscode-icon-foreground: #92898a;
    --vscode-inlineChat-background: #f8efe7;
    --vscode-inlineChat-border: #eee5de;
    --vscode-inlineChat-foreground: #2c232e;
    --vscode-inlineChat-shadow: #ded5d0;
    --vscode-inlineChatDiff-inserted: rgba(33, 136, 113, 0.1);
    --vscode-inlineChatDiff-removed: rgba(33, 136, 113, 0.1);
    --vscode-inlineChatInput-background: #fdf7f3;
    --vscode-inlineChatInput-border: #ded5d0;
    --vscode-inlineChatInput-focusBorder: #a59c9c;
    --vscode-inlineChatInput-placeholderForeground: #beb5b3;
    --vscode-inlineEdit-border: rgba(0, 0, 0, 0);
    --vscode-inlineEdit-indicator-background: #ded5d0;
    --vscode-inlineEdit-indicator-border: #f8efe7;
    --vscode-inlineEdit-indicator-foreground: #2c232e;
    --vscode-inlineEdit-modifiedBackground: rgba(33, 136, 113, 0.04);
    --vscode-inlineEdit-modifiedChangedLineBackground: rgba(0, 0, 0, 0);
    --vscode-inlineEdit-modifiedChangedTextBackground: rgba(33, 136, 113, 0.1);
    --vscode-inlineEdit-originalBackground: rgba(206, 71, 112, 0.04);
    --vscode-inlineEdit-originalChangedLineBackground: rgba(0, 0, 0, 0);
    --vscode-inlineEdit-originalChangedTextBackground: rgba(206, 71, 112, 0.1);
    --vscode-input-background: #fdf7f3;
    --vscode-input-border: #d2c9c4;
    --vscode-input-foreground: #2c232e;
    --vscode-input-placeholderForeground: #beb5b3;
    --vscode-inputOption-activeBackground: #beb5b3;
    --vscode-inputOption-activeBorder: #beb5b3;
    --vscode-inputOption-activeForeground: #2c232e;
    --vscode-inputOption-hoverBackground: #beb5b3;
    --vscode-inputValidation-errorBackground: #d2c9c4;
    --vscode-inputValidation-errorBorder: #ce4770;
    --vscode-inputValidation-errorForeground: #ce4770;
    --vscode-inputValidation-infoBackground: #d2c9c4;
    --vscode-inputValidation-infoBorder: #2473b6;
    --vscode-inputValidation-infoForeground: #2473b6;
    --vscode-inputValidation-warningBackground: #d2c9c4;
    --vscode-inputValidation-warningBorder: #d4572b;
    --vscode-inputValidation-warningForeground: #d4572b;
    --vscode-interactive-activeCodeBorder: #a59c9c;
    --vscode-interactive-inactiveCodeBorder: #d2c9c4;
    --vscode-keybindingLabel-background: #eee5de;
    --vscode-keybindingLabel-border: #eee5de;
    --vscode-keybindingLabel-bottomBorder: #eee5de;
    --vscode-keybindingLabel-foreground: #72696d;
    --vscode-keybindingTable-headerBackground: rgba(44, 35, 46, 0.04);
    --vscode-keybindingTable-rowsBackground: rgba(44, 35, 46, 0.04);
    --vscode-list-activeSelectionBackground: rgba(44, 35, 46, 0.05);
    --vscode-list-activeSelectionForeground: #ce4770;
    --vscode-list-deemphasizedForeground: #8e8e90;
    --vscode-list-dropBackground: rgba(238, 229, 222, 0.75);
    --vscode-list-dropBetweenBackground: #92898a;
    --vscode-list-errorForeground: #ce4770;
    --vscode-list-filterMatchBackground: rgba(44, 35, 46, 0.15);
    --vscode-list-filterMatchBorder: rgba(0, 0, 0, 0);
    --vscode-list-focusBackground: #f8efe7;
    --vscode-list-focusForeground: #2c232e;
    --vscode-list-focusHighlightForeground: #2c232e;
    --vscode-list-focusOutline: #a59c9c;
    --vscode-list-highlightForeground: #2c232e;
    --vscode-list-hoverBackground: rgba(44, 35, 46, 0.05);
    --vscode-list-hoverForeground: #2c232e;
    --vscode-list-inactiveFocusBackground: #f8efe7;
    --vscode-list-inactiveSelectionBackground: rgba(114, 105, 109, 0.05);
    --vscode-list-inactiveSelectionForeground: #ce4770;
    --vscode-list-invalidItemForeground: #ce4770;
    --vscode-list-warningForeground: #d4572b;
    --vscode-listFilterWidget-background: #f8efe7;
    --vscode-listFilterWidget-noMatchesOutline: #ce4770;
    --vscode-listFilterWidget-outline: #f8efe7;
    --vscode-listFilterWidget-shadow: #ded5d0;
    --vscode-menu-background: #f8efe7;
    --vscode-menu-border: #eee5de;
    --vscode-menu-foreground: #2c232e;
    --vscode-menu-selectionBackground: rgba(44, 35, 46, 0.05);
    --vscode-menu-selectionForeground: #ce4770;
    --vscode-menu-separatorBackground: #d2c9c4;
    --vscode-menubar-selectionBackground: rgba(184, 184, 184, 0.31);
    --vscode-menubar-selectionForeground: #2c232e;
    --vscode-merge-border: #f8efe7;
    --vscode-merge-commonContentBackground: rgba(44, 35, 46, 0.1);
    --vscode-merge-commonHeaderBackground: rgba(44, 35, 46, 0.15);
    --vscode-merge-currentContentBackground: rgba(206, 71, 112, 0.1);
    --vscode-merge-currentHeaderBackground: rgba(206, 71, 112, 0.15);
    --vscode-merge-incomingContentBackground: rgba(33, 136, 113, 0.1);
    --vscode-merge-incomingHeaderBackground: rgba(33, 136, 113, 0.15);
    --vscode-mergeEditor-change-background: rgba(44, 35, 46, 0.1);
    --vscode-mergeEditor-change-word-background: rgba(44, 35, 46, 0.1);
    --vscode-mergeEditor-changeBase-background: #ffcccc;
    --vscode-mergeEditor-changeBase-word-background: #ffa3a3;
    --vscode-mergeEditor-conflict-handled-minimapOverViewRuler: #218871;
    --vscode-mergeEditor-conflict-handledFocused-border: #218871;
    --vscode-mergeEditor-conflict-handledUnfocused-border: #218871;
    --vscode-mergeEditor-conflict-input1-background: rgba(206, 71, 112, 0.06);
    --vscode-mergeEditor-conflict-input2-background: rgba(33, 136, 113, 0.06);
    --vscode-mergeEditor-conflict-unhandled-minimapOverViewRuler: #ce4770;
    --vscode-mergeEditor-conflict-unhandledFocused-border: #ce4770;
    --vscode-mergeEditor-conflict-unhandledUnfocused-border: #ce4770;
    --vscode-mergeEditor-conflictingLines-background: rgba(255, 234, 0, 0.28);
    --vscode-minimap-errorHighlight: rgba(206, 71, 112, 0.65);
    --vscode-minimap-findMatchHighlight: rgba(146, 137, 138, 0.65);
    --vscode-minimap-foregroundOpacity: #000000;
    --vscode-minimap-infoHighlight: rgba(36, 115, 182, 0.65);
    --vscode-minimap-selectionHighlight: rgba(114, 105, 109, 0.15);
    --vscode-minimap-selectionOccurrenceHighlight: rgba(165, 156, 156, 0.65);
    --vscode-minimap-warningHighlight: rgba(212, 87, 43, 0.65);
    --vscode-minimapGutter-addedBackground: #218871;
    --vscode-minimapGutter-deletedBackground: #ce4770;
    --vscode-minimapGutter-modifiedBackground: #b16803;
    --vscode-minimapSlider-activeBackground: rgba(44, 35, 46, 0.17);
    --vscode-minimapSlider-background: rgba(114, 105, 109, 0.07);
    --vscode-minimapSlider-hoverBackground: rgba(44, 35, 46, 0.07);
    --vscode-multiDiffEditor-background: #f8efe7;
    --vscode-multiDiffEditor-border: #cccccc;
    --vscode-multiDiffEditor-headerBackground: #f8efe7;
    --vscode-notebook-cellBorderColor: #d2c9c4;
    --vscode-notebook-cellEditorBackground: rgba(238, 229, 222, 0.5);
    --vscode-notebook-cellInsertionIndicator: #2c232e;
    --vscode-notebook-cellStatusBarItemHoverBackground: #a59c9c;
    --vscode-notebook-cellToolbarSeparator: #d2c9c4;
    --vscode-notebook-editorBackground: #f8efe7;
    --vscode-notebook-focusedCellBorder: #a59c9c;
    --vscode-notebook-focusedEditorBorder: #a59c9c;
    --vscode-notebook-inactiveFocusedCellBorder: #d2c9c4;
    --vscode-notebook-selectedCellBackground: rgba(114, 105, 109, 0.05);
    --vscode-notebook-selectedCellBorder: #d2c9c4;
    --vscode-notebook-symbolHighlightBackground: rgba(253, 255, 0, 0.2);
    --vscode-notebookEditorOverviewRuler-runningCellForeground: #218871;
    --vscode-notebookScrollbarSlider-activeBackground: rgba(44, 35, 46, 0.35);
    --vscode-notebookScrollbarSlider-background: rgba(114, 105, 109, 0.15);
    --vscode-notebookScrollbarSlider-hoverBackground: rgba(44, 35, 46, 0.15);
    --vscode-notebookStatusErrorIcon-foreground: #ce4770;
    --vscode-notebookStatusRunningIcon-foreground: #2c232e;
    --vscode-notebookStatusSuccessIcon-foreground: #218871;
    --vscode-notificationCenter-border: #ded5d0;
    --vscode-notificationCenterHeader-background: #fdf7f3;
    --vscode-notificationCenterHeader-foreground: #92898a;
    --vscode-notificationLink-foreground: #ce4770;
    --vscode-notificationToast-border: #ded5d0;
    --vscode-notifications-background: #fdf7f3;
    --vscode-notifications-border: #ded5d0;
    --vscode-notifications-foreground: #72696d;
    --vscode-notificationsErrorIcon-foreground: #ce4770;
    --vscode-notificationsInfoIcon-foreground: #2473b6;
    --vscode-notificationsWarningIcon-foreground: #d4572b;
    --vscode-panel-background: #fdf7f3;
    --vscode-panel-border: #ded5d0;
    --vscode-panel-dropBorder: #ce4770;
    --vscode-panelInput-border: #dddddd;
    --vscode-panelSection-border: #ded5d0;
    --vscode-panelSection-dropBackground: rgba(238, 229, 222, 0.75);
    --vscode-panelSectionHeader-background: rgba(128, 128, 128, 0.2);
    --vscode-panelStickyScroll-background: #fdf7f3;
    --vscode-panelStickyScroll-border: #beb5b3;
    --vscode-panelStickyScroll-shadow: #fdf7f3;
    --vscode-panelTitle-activeBorder: #ce4770;
    --vscode-panelTitle-activeForeground: #ce4770;
    --vscode-panelTitle-inactiveForeground: #92898a;
    --vscode-peekView-border: #ded5d0;
    --vscode-peekViewEditor-background: #fdf7f3;
    --vscode-peekViewEditor-matchHighlightBackground: #beb5b3;
    --vscode-peekViewEditorGutter-background: #fdf7f3;
    --vscode-peekViewEditorStickyScroll-background: #fdf7f3;
    --vscode-peekViewResult-background: #fdf7f3;
    --vscode-peekViewResult-fileForeground: #92898a;
    --vscode-peekViewResult-lineForeground: #92898a;
    --vscode-peekViewResult-matchHighlightBackground: #beb5b3;
    --vscode-peekViewResult-selectionBackground: #d2c9c4;
    --vscode-peekViewResult-selectionForeground: #2c232e;
    --vscode-peekViewTitle-background: #eee5de;
    --vscode-peekViewTitleDescription-foreground: #92898a;
    --vscode-peekViewTitleLabel-foreground: #2c232e;
    --vscode-pickerGroup-border: #f8efe7;
    --vscode-pickerGroup-foreground: #beb5b3;
    --vscode-ports-iconRunningProcessForeground: #218871;
    --vscode-problemsErrorIcon-foreground: #ce4770;
    --vscode-problemsInfoIcon-foreground: #2473b6;
    --vscode-problemsWarningIcon-foreground: #d4572b;
    --vscode-profileBadge-background: #d2c9c4;
    --vscode-profileBadge-foreground: #72696d;
    --vscode-profiles-sashBorder: #ded5d0;
    --vscode-progressBar-background: #a59c9c;
    --vscode-quickInput-background: #fdf7f3;
    --vscode-quickInput-foreground: #92898a;
    --vscode-quickInputList-focusBackground: rgba(44, 35, 46, 0.05);
    --vscode-quickInputList-focusForeground: #ce4770;
    --vscode-quickInputTitle-background: rgba(0, 0, 0, 0.06);
    --vscode-radio-activeBackground: #beb5b3;
    --vscode-radio-activeBorder: #beb5b3;
    --vscode-radio-activeForeground: #2c232e;
    --vscode-radio-inactiveBorder: rgba(44, 35, 46, 0.2);
    --vscode-radio-inactiveHoverBackground: #beb5b3;
    --vscode-remoteHub-decorations-addedForegroundColor: #587c0c;
    --vscode-remoteHub-decorations-conflictForegroundColor: #ad0707;
    --vscode-remoteHub-decorations-deletedForegroundColor: #ad0707;
    --vscode-remoteHub-decorations-ignoredResourceForeground: #8e8e90;
    --vscode-remoteHub-decorations-incomingAddedForegroundColor: #587c0c;
    --vscode-remoteHub-decorations-incomingDeletedForegroundColor: #ad0707;
    --vscode-remoteHub-decorations-incomingModifiedForegroundColor: #895503;
    --vscode-remoteHub-decorations-incomingRenamedForegroundColor: #007100;
    --vscode-remoteHub-decorations-modifiedForegroundColor: #895503;
    --vscode-remoteHub-decorations-possibleConflictForegroundColor: #d4572b;
    --vscode-remoteHub-decorations-submoduleForegroundColor: #1258a7;
    --vscode-remoteHub-decorations-workspaceRepositoriesView-hasUncommittedChangesForegroundColor: #895503;
    --vscode-sash-hover-size: 4px;
    --vscode-sash-hoverBorder: #a59c9c;
    --vscode-sash-size: 4px;
    --vscode-scmGraph-foreground1: #ce4770;
    --vscode-scmGraph-foreground2: #d4572b;
    --vscode-scmGraph-foreground3: #b16803;
    --vscode-scmGraph-foreground4: #218871;
    --vscode-scmGraph-foreground5: #6851a2;
    --vscode-scmGraph-historyItemBaseRefColor: #2473b6;
    --vscode-scmGraph-historyItemHoverAdditionsForeground: #218871;
    --vscode-scmGraph-historyItemHoverDefaultLabelBackground: #92898a;
    --vscode-scmGraph-historyItemHoverDefaultLabelForeground: #f8efe7;
    --vscode-scmGraph-historyItemHoverDeletionsForeground: #ce4770;
    --vscode-scmGraph-historyItemHoverLabelForeground: #f8efe7;
    --vscode-scmGraph-historyItemRefColor: #6851a2;
    --vscode-scmGraph-historyItemRemoteRefColor: #218871;
    --vscode-scrollbar-shadow: #f8efe7;
    --vscode-scrollbarSlider-activeBackground: rgba(44, 35, 46, 0.35);
    --vscode-scrollbarSlider-background: rgba(114, 105, 109, 0.15);
    --vscode-scrollbarSlider-hoverBackground: rgba(44, 35, 46, 0.15);
    --vscode-search-resultsInfoForeground: #2c232e;
    --vscode-searchEditor-findMatchBackground: rgba(44, 35, 46, 0.1);
    --vscode-searchEditor-findMatchBorder: rgba(0, 0, 0, 0);
    --vscode-searchEditor-textInputBorder: #d2c9c4;
    --vscode-selection-background: rgba(114, 105, 109, 0.15);
    --vscode-settings-checkboxBackground: #fdf7f3;
    --vscode-settings-checkboxBorder: #d2c9c4;
    --vscode-settings-checkboxForeground: #ce4770;
    --vscode-settings-dropdownBackground: #fdf7f3;
    --vscode-settings-dropdownBorder: #d2c9c4;
    --vscode-settings-dropdownForeground: #2c232e;
    --vscode-settings-dropdownListBorder: #92898a;
    --vscode-settings-focusedRowBackground: rgba(44, 35, 46, 0.03);
    --vscode-settings-focusedRowBorder: #a59c9c;
    --vscode-settings-headerBorder: #ded5d0;
    --vscode-settings-headerForeground: #ce4770;
    --vscode-settings-modifiedItemIndicator: #ce4770;
    --vscode-settings-numberInputBackground: #fdf7f3;
    --vscode-settings-numberInputBorder: #d2c9c4;
    --vscode-settings-numberInputForeground: #2c232e;
    --vscode-settings-rowHoverBackground: rgba(165, 156, 156, 0.05);
    --vscode-settings-sashBorder: #d2c9c4;
    --vscode-settings-settingsHeaderHoverForeground: #2c232e;
    --vscode-settings-textInputBackground: #fdf7f3;
    --vscode-settings-textInputBorder: #d2c9c4;
    --vscode-settings-textInputForeground: #2c232e;
    --vscode-sideBar-background: #eee5de;
    --vscode-sideBar-border: #ded5d0;
    --vscode-sideBar-dropBackground: rgba(238, 229, 222, 0.75);
    --vscode-sideBar-foreground: #72696d;
    --vscode-sideBarSectionHeader-background: #eee5de;
    --vscode-sideBarSectionHeader-foreground: #a59c9c;
    --vscode-sideBarStickyScroll-background: #eee5de;
    --vscode-sideBarStickyScroll-border: #d2c9c4;
    --vscode-sideBarStickyScroll-shadow: #eee5de;
    --vscode-sideBarTitle-background: #eee5de;
    --vscode-sideBarTitle-foreground: #a59c9c;
    --vscode-sideBySideEditor-horizontalBorder: #eee5de;
    --vscode-sideBySideEditor-verticalBorder: #eee5de;
    --vscode-simpleFindWidget-sashBorder: #ff0000;
    --vscode-statusBar-background: #eee5de;
    --vscode-statusBar-border: #ded5d0;
    --vscode-statusBar-debuggingBackground: #a59c9c;
    --vscode-statusBar-debuggingBorder: #eee5de;
    --vscode-statusBar-debuggingForeground: #2c232e;
    --vscode-statusBar-focusBorder: #d2c9c4;
    --vscode-statusBar-foreground: #92898a;
    --vscode-statusBar-noFolderBackground: #eee5de;
    --vscode-statusBar-noFolderBorder: #ded5d0;
    --vscode-statusBar-noFolderForeground: #92898a;
    --vscode-statusBarItem-activeBackground: #f8efe7;
    --vscode-statusBarItem-compactHoverBackground: rgba(255, 255, 255, 0.2);
    --vscode-statusBarItem-errorBackground: #f8efe7;
    --vscode-statusBarItem-errorForeground: #ce4770;
    --vscode-statusBarItem-errorHoverBackground: #eee5de;
    --vscode-statusBarItem-errorHoverForeground: #2c232e;
    --vscode-statusBarItem-focusBorder: #92898a;
    --vscode-statusBarItem-hoverBackground: #eee5de;
    --vscode-statusBarItem-hoverForeground: #2c232e;
    --vscode-statusBarItem-offlineBackground: #ff0000;
    --vscode-statusBarItem-offlineForeground: #ff0000;
    --vscode-statusBarItem-offlineHoverBackground: #eee5de;
    --vscode-statusBarItem-offlineHoverForeground: #2c232e;
    --vscode-statusBarItem-prominentBackground: #d2c9c4;
    --vscode-statusBarItem-prominentForeground: #92898a;
    --vscode-statusBarItem-prominentHoverBackground: #d2c9c4;
    --vscode-statusBarItem-prominentHoverForeground: #2c232e;
    --vscode-statusBarItem-remoteBackground: #eee5de;
    --vscode-statusBarItem-remoteForeground: #218871;
    --vscode-statusBarItem-remoteHoverBackground: #218871;
    --vscode-statusBarItem-remoteHoverForeground: #f8efe7;
    --vscode-statusBarItem-warningBackground: #f8efe7;
    --vscode-statusBarItem-warningForeground: #d4572b;
    --vscode-statusBarItem-warningHoverBackground: #eee5de;
    --vscode-statusBarItem-warningHoverForeground: #2c232e;
    --vscode-symbolIcon-arrayForeground: #ce4770;
    --vscode-symbolIcon-booleanForeground: #ce4770;
    --vscode-symbolIcon-classForeground: #2473b6;
    --vscode-symbolIcon-colorForeground: #6851a2;
    --vscode-symbolIcon-constantForeground: #6851a2;
    --vscode-symbolIcon-constructorForeground: #218871;
    --vscode-symbolIcon-enumeratorForeground: #d4572b;
    --vscode-symbolIcon-enumeratorMemberForeground: #d4572b;
    --vscode-symbolIcon-eventForeground: #d4572b;
    --vscode-symbolIcon-fieldForeground: #d4572b;
    --vscode-symbolIcon-fileForeground: #72696d;
    --vscode-symbolIcon-folderForeground: #72696d;
    --vscode-symbolIcon-functionForeground: #218871;
    --vscode-symbolIcon-interfaceForeground: #2473b6;
    --vscode-symbolIcon-keyForeground: #d4572b;
    --vscode-symbolIcon-keywordForeground: #ce4770;
    --vscode-symbolIcon-methodForeground: #218871;
    --vscode-symbolIcon-moduleForeground: #2473b6;
    --vscode-symbolIcon-namespaceForeground: #2473b6;
    --vscode-symbolIcon-nullForeground: #6851a2;
    --vscode-symbolIcon-numberForeground: #6851a2;
    --vscode-symbolIcon-objectForeground: #2473b6;
    --vscode-symbolIcon-operatorForeground: #ce4770;
    --vscode-symbolIcon-packageForeground: #6851a2;
    --vscode-symbolIcon-propertyForeground: #d4572b;
    --vscode-symbolIcon-referenceForeground: #6851a2;
    --vscode-symbolIcon-snippetForeground: #218871;
    --vscode-symbolIcon-stringForeground: #b16803;
    --vscode-symbolIcon-structForeground: #ce4770;
    --vscode-symbolIcon-textForeground: #b16803;
    --vscode-symbolIcon-typeParameterForeground: #d4572b;
    --vscode-symbolIcon-unitForeground: #6851a2;
    --vscode-symbolIcon-variableForeground: #2473b6;
    --vscode-tab-activeBackground: #f8efe7;
    --vscode-tab-activeBorder: #ce4770;
    --vscode-tab-activeForeground: #ce4770;
    --vscode-tab-activeModifiedBorder: #beb5b3;
    --vscode-tab-border: #f8efe7;
    --vscode-tab-dragAndDropBorder: #ce4770;
    --vscode-tab-hoverBackground: #f8efe7;
    --vscode-tab-hoverBorder: #beb5b3;
    --vscode-tab-hoverForeground: #2c232e;
    --vscode-tab-inactiveBackground: #f8efe7;
    --vscode-tab-inactiveForeground: #92898a;
    --vscode-tab-inactiveModifiedBorder: #beb5b3;
    --vscode-tab-lastPinnedBorder: #beb5b3;
    --vscode-tab-selectedBackground: #f8efe7;
    --vscode-tab-selectedForeground: #ce4770;
    --vscode-tab-unfocusedActiveBackground: #f8efe7;
    --vscode-tab-unfocusedActiveBorder: #92898a;
    --vscode-tab-unfocusedActiveForeground: #72696d;
    --vscode-tab-unfocusedActiveModifiedBorder: #d2c9c4;
    --vscode-tab-unfocusedHoverBackground: #f8efe7;
    --vscode-tab-unfocusedHoverBorder: #f8efe7;
    --vscode-tab-unfocusedHoverForeground: #72696d;
    --vscode-tab-unfocusedInactiveBackground: #f8efe7;
    --vscode-tab-unfocusedInactiveForeground: #92898a;
    --vscode-tab-unfocusedInactiveModifiedBorder: #d2c9c4;
    --vscode-terminal-ansiBlack: #d2c9c4;
    --vscode-terminal-ansiBlue: #d4572b;
    --vscode-terminal-ansiBrightBlack: #a59c9c;
    --vscode-terminal-ansiBrightBlue: #d4572b;
    --vscode-terminal-ansiBrightCyan: #2473b6;
    --vscode-terminal-ansiBrightGreen: #218871;
    --vscode-terminal-ansiBrightMagenta: #6851a2;
    --vscode-terminal-ansiBrightRed: #ce4770;
    --vscode-terminal-ansiBrightWhite: #2c232e;
    --vscode-terminal-ansiBrightYellow: #b16803;
    --vscode-terminal-ansiCyan: #2473b6;
    --vscode-terminal-ansiGreen: #218871;
    --vscode-terminal-ansiMagenta: #6851a2;
    --vscode-terminal-ansiRed: #ce4770;
    --vscode-terminal-ansiWhite: #2c232e;
    --vscode-terminal-ansiYellow: #b16803;
    --vscode-terminal-background: #fdf7f3;
    --vscode-terminal-border: #ded5d0;
    --vscode-terminal-dropBackground: rgba(238, 229, 222, 0.75);
    --vscode-terminal-findMatchBackground: rgba(44, 35, 46, 0.15);
    --vscode-terminal-findMatchHighlightBackground: rgba(44, 35, 46, 0.15);
    --vscode-terminal-foreground: #2c232e;
    --vscode-terminal-hoverHighlightBackground: rgba(44, 35, 46, 0.02);
    --vscode-terminal-inactiveSelectionBackground: rgba(44, 35, 46, 0.07);
    --vscode-terminal-initialHintForeground: rgba(0, 0, 0, 0.47);
    --vscode-terminal-selectionBackground: rgba(44, 35, 46, 0.15);
    --vscode-terminal-tab-activeBorder: #ce4770;
    --vscode-terminalCommandDecoration-defaultBackground: #2c232e;
    --vscode-terminalCommandDecoration-errorBackground: #ce4770;
    --vscode-terminalCommandDecoration-successBackground: #218871;
    --vscode-terminalCommandGuide-foreground: rgba(114, 105, 109, 0.05);
    --vscode-terminalCursor-background: rgba(0, 0, 0, 0);
    --vscode-terminalCursor-foreground: #2c232e;
    --vscode-terminalOverviewRuler-border: #f8efe7;
    --vscode-terminalOverviewRuler-cursorForeground: rgba(160, 160, 160, 0.8);
    --vscode-terminalOverviewRuler-findMatchForeground: rgba(44, 35, 46, 0.15);
    --vscode-terminalStickyScrollHover-background: #f0f0f0;
    --vscode-testing-coverCountBadgeBackground: #ce4770;
    --vscode-testing-coverCountBadgeForeground: #f8efe7;
    --vscode-testing-coveredBackground: rgba(33, 136, 113, 0.1);
    --vscode-testing-coveredBorder: rgba(33, 136, 113, 0.07);
    --vscode-testing-coveredGutterBackground: rgba(33, 136, 113, 0.06);
    --vscode-testing-iconErrored: #ce4770;
    --vscode-testing-iconErrored-retired: rgba(206, 71, 112, 0.7);
    --vscode-testing-iconFailed: #ce4770;
    --vscode-testing-iconFailed-retired: rgba(206, 71, 112, 0.7);
    --vscode-testing-iconPassed: #218871;
    --vscode-testing-iconPassed-retired: rgba(33, 136, 113, 0.7);
    --vscode-testing-iconQueued: #2c232e;
    --vscode-testing-iconQueued-retired: rgba(44, 35, 46, 0.7);
    --vscode-testing-iconSkipped: #d4572b;
    --vscode-testing-iconSkipped-retired: rgba(212, 87, 43, 0.7);
    --vscode-testing-iconUnset: #92898a;
    --vscode-testing-iconUnset-retired: rgba(146, 137, 138, 0.7);
    --vscode-testing-message-error-badgeBackground: #e51400;
    --vscode-testing-message-error-badgeBorder: #e51400;
    --vscode-testing-message-error-badgeForeground: #ffffff;
    --vscode-testing-message-error-lineBackground: rgba(206, 71, 112, 0.1);
    --vscode-testing-message-info-decorationForeground: #2c232e;
    --vscode-testing-message-info-lineBackground: rgba(44, 35, 46, 0.1);
    --vscode-testing-messagePeekBorder: #2473b6;
    --vscode-testing-messagePeekHeaderBackground: rgba(36, 115, 182, 0.1);
    --vscode-testing-peekBorder: #ce4770;
    --vscode-testing-peekHeaderBackground: rgba(206, 71, 112, 0.1);
    --vscode-testing-runAction: #b16803;
    --vscode-testing-uncoveredBackground: rgba(206, 71, 112, 0.1);
    --vscode-testing-uncoveredBorder: rgba(206, 71, 112, 0.07);
    --vscode-testing-uncoveredBranchBackground: #efcecf;
    --vscode-testing-uncoveredGutterBackground: rgba(206, 71, 112, 0.15);
    --vscode-textBlockQuote-background: #ded5d0;
    --vscode-textBlockQuote-border: #ded5d0;
    --vscode-textCodeBlock-background: #ded5d0;
    --vscode-textLink-activeForeground: #2c232e;
    --vscode-textLink-foreground: #ce4770;
    --vscode-textPreformat-background: rgba(0, 0, 0, 0.1);
    --vscode-textPreformat-foreground: #2c232e;
    --vscode-textSeparator-foreground: #a59c9c;
    --vscode-titleBar-activeBackground: #eee5de;
    --vscode-titleBar-activeForeground: #92898a;
    --vscode-titleBar-border: #ded5d0;
    --vscode-titleBar-inactiveBackground: #eee5de;
    --vscode-titleBar-inactiveForeground: #beb5b3;
    --vscode-toolbar-activeBackground: rgba(166, 166, 166, 0.31);
    --vscode-toolbar-hoverBackground: rgba(184, 184, 184, 0.31);
    --vscode-tree-inactiveIndentGuidesStroke: #f8efe7;
    --vscode-tree-indentGuidesStroke: #d2c9c4;
    --vscode-tree-tableColumnsBorder: rgba(97, 97, 97, 0.13);
    --vscode-tree-tableOddRowsBackground: rgba(44, 35, 46, 0.04);
    --vscode-walkThrough-embeddedEditorBackground: #eee5de;
    --vscode-walkthrough-stepTitle-foreground: #000000;
    --vscode-welcomePage-progress-background: #a59c9c;
    --vscode-welcomePage-progress-foreground: #92898a;
    --vscode-welcomePage-tileBackground: #ded5d0;
    --vscode-welcomePage-tileBorder: rgba(0, 0, 0, 0.1);
    --vscode-welcomePage-tileHoverBackground: #d2c9c4;
    --vscode-widget-shadow: #ded5d0;
}