
.item {
    display: flex;
    gap: 0.5rem;

    &--indicator {
        display: none !important;
        margin-left: auto;
        align-self: flex-start;
    }

    &[data-selected="true"]  {
        .item--indicator {
            display: block !important;
            color: inherit;
        }

        .prompt--avatar, .prompt--description, .prompt--icon {
            color: inherit;
        }
    }

    &[data-disabled="true"]  {
        /*
         In order to override internal cmdk styles for disabled item.
         We need to have events over element to have a tooltip over the
         element on hover/focus.
        */
        pointer-events: auto !important;
        background-color: transparent;
        cursor: not-allowed;
    }
}

.prompt {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    min-width: 0;

    &--avatar {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &--icon {
        color: var(--text-muted);
    }

    &--content {
        min-width: 0;
        display: flex;
        flex-direction: column;
    }

    &--title {
        min-width: 0;
        display: flex;
        gap: 0.25rem;
        align-items: center;
    }

    &--name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 500;
    }

    &--description {
        color: var(--text-muted);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

