html[data-ide=jb] {
    --vscode-actionBar-toggledBackground: var(--jb-toolbarComboWidget-background);
    --vscode-activityBar-background: var(--jb-toolBar-background);
    --vscode-activityBar-border: var(--jb-toolbarComboWidget-background);
    --vscode-activityBar-foreground: var(--jb-toolBar-foreground);
    --vscode-activityBar-inactiveForeground: var(--jb-toolbarComboWidget-hoverBackground);
    --vscode-activityBarBadge-background: var(--jb-toolBar-background);
    --vscode-activityBarBadge-foreground: var(--jb-toolBar-foreground);
    --vscode-activityBarTop-activeBorder: var(--jb-menuBar-borderColor);
    --vscode-activityBarTop-dropBorder: var(--jb-menuBar-borderColor);
    --vscode-activityBarTop-foreground: var(--jb-menuBar-foreground);
    --vscode-activityBarTop-inactiveForeground: var(--jb-menuBar-selectionForeground);
    --vscode-badge-background: var(--jb-bookmark-iconBackground);
    --vscode-badge-foreground: var(--jb-label-foreground);
    --vscode-banner-iconForeground: var(--jb-button-foreground);
    --vscode-breadcrumb-activeSelectionForeground: var(--jb-lesson-badge-newLessonForeground);
    --vscode-breadcrumb-background: var(--jb-editorPane-background);
    --vscode-breadcrumb-focusForeground: var(--jb-editorPane-caretForeground);
    --vscode-breadcrumb-foreground: var(--jb-editorPane-foreground);
    --vscode-breadcrumbPicker-background: var(--jb-editorPane-inactiveBackground);
    --vscode-button-border: var(--jb-button-startBorderColor);
    --vscode-button-foreground: var(--jb-button-foreground);
    --vscode-button-secondaryForeground: var(--jb-button-disabledText);
    --vscode-button-separator: var(--jb-button-shadow);
    --vscode-charts-blue: var(--jb-checkBox-foreground);
    --vscode-charts-foreground: var(--jb-controlText);
    --vscode-charts-green: var(--jb-progressBar-passedColor);
    --vscode-charts-lines: var(--jb-table-gridColor);
    --vscode-charts-orange: var(--jb-bookmark-iconBackground);
    --vscode-charts-purple: var(--jb-tooltip-learning-background);
    --vscode-charts-red: var(--jb-progressBar-failedColor);
    --vscode-charts-yellow: var(--jb-validationTooltip-warningBackground);
    --vscode-chat-avatarBackground: var(--jb-radioButtonMenuItem-background);
    --vscode-chat-avatarForeground: var(--jb-tooltip-foreground);
    --vscode-chat-requestBackground: var(--jb-list-background);
    --vscode-chat-requestBorder: var(--jb-component-borderColor);
    --vscode-chat-slashCommandBackground: var(--jb-toolbarComboWidget-background);
    --vscode-chat-slashCommandForeground: var(--jb-toolbarComboWidget-hoverBackground);
    --vscode-checkbox-background: var(--jb-checkBox-background);
    --vscode-checkbox-border: var(--jb-component-borderColor);
    --vscode-checkbox-foreground: var(--jb-checkBox-foreground);
    --vscode-checkbox-selectBackground: var(--jb-textField-selectionBackground);
    --vscode-checkbox-selectBorder: var(--jb-textField-darkShadow);
    --vscode-commandCenter-activeBorder: var(--jb-button-default-focusColor);
    --vscode-commandCenter-activeForeground: var(--jb-button-default-foreground);
    --vscode-commandCenter-border: var(--jb-component-borderColor);
    --vscode-commandCenter-debuggingBackground: var(--jb-internalFrame-borderHighlight);
    --vscode-commandCenter-foreground: var(--jb-toolBar-foreground);
    --vscode-commentsView-resolvedIcon: var(--jb-list-selectionForeground);
    --vscode-commentsView-unresolvedIcon: var(--jb-bookmark-mnemonic-current-foreground);
    --vscode-contrastActiveBorder: var(--jb-actionButton-focusedBorderColor);
    --vscode-contrastBorder: var(--jb-actionButton-hoverBorderColor);
    --vscode-debugConsole-errorForeground: var(--jb-component-errorFocusColor);
    --vscode-debugConsole-infoForeground: var(--jb-info);
    --vscode-debugConsole-sourceForeground: var(--jb-editorPane-foreground);
    --vscode-debugConsole-warningForeground: var(--jb-validationTooltip-warningBorderColor);
    --vscode-debugConsoleInputIcon-foreground: var(--jb-component-infoForeground);
    --vscode-debugExceptionWidget-background: var(--jb-optionPane-background);
    --vscode-debugExceptionWidget-border: var(--jb-component-borderColor);
    --vscode-debugIcon-breakpointCurrentStackframeForeground: var(--jb-Tree.selectionForeground);
    --vscode-debugIcon-breakpointDisabledForeground: var(--jb-RadioButton.darcula.selectionDisabledColor);
    --vscode-debugIcon-breakpointForeground: var(--jb-BookmarkMnemonicCurrent.foreground);
    --vscode-debugIcon-breakpointStackframeForeground: var(--jb-Tree.selectionForeground);
    --vscode-debugIcon-breakpointUnverifiedForeground: var(--jb-RadioButton.darcula.selectionDisabledColor);
    --vscode-debugIcon-continueForeground: var(--jb-ToolWindow.HeaderCloseButton.background);
    --vscode-debugIcon-disconnectForeground: var(--jb-Button.shadowColor);
    --vscode-debugIcon-pauseForeground: var(--jb-Button.light);
    --vscode-debugIcon-restartForeground: var(--jb-Button.highlight);
    --vscode-debugIcon-startForeground: var(--jb-Button.highlight);
    --vscode-debugIcon-stepBackForeground: var(--jb-Button.light);
    --vscode-debugIcon-stepIntoForeground: var(--jb-Button.light);
    --vscode-debugIcon-stepOutForeground: var(--jb-Button.light);
    --vscode-debugIcon-stepOverForeground: var(--jb-Button.light);
    --vscode-debugIcon-stopForeground: var(--jb-ToolWindow.HeaderCloseButton.background);
    --vscode-debugTokenExpression-boolean: var(--jb-Table.foreground);
    --vscode-debugTokenExpression-error: var(--jb-ValidationTooltip.errorBackground);
    --vscode-debugTokenExpression-name: var(--jb-ToolTip.foreground);
    --vscode-debugTokenExpression-number: var(--jb-Table.focusCellForeground);
    --vscode-debugTokenExpression-string: var(--jb-TextField.foreground);
    --vscode-debugTokenExpression-value: var(--jb-ToolTip.foreground);
    --vscode-debugToolBar-background: var(--jb-ToolWindow.Header.background);
    --vscode-debugView-exceptionLabelBackground: var(--jb-ValidationTooltip.errorBackground);
    --vscode-debugView-exceptionLabelForeground: var(--jb-ToolTip.foreground);
    --vscode-debugView-stateLabelBackground: var(--jb-ValidationTooltip.warningBackground);
    --vscode-debugView-stateLabelForeground: var(--jb-ToolTip.foreground);
    --vscode-debugView-valueChangedHighlight: var(--jb-ProgressBar.passedColor);
    --vscode-descriptionForeground: var(--jb-Label.foreground);
    --vscode-diffEditor-border: var(--jb-SplitPaneDivider.draggingColor);
    --vscode-diffEditor-insertedTextBorder: var(--jb-Table.selectionBackground);
    --vscode-diffEditor-move-border: var(--jb-ToolWindow.HeaderTab.selectedInactiveBackground);
    --vscode-diffEditor-moveActive-border: var(--jb-ToolWindow.HeaderTab.selectedBackground);
    --vscode-diffEditor-removedTextBorder: var(--jb-ProgressBar.failedEndColor);
    --vscode-diffEditor-unchangedRegionBackground: var(--jb-Table.selectionInactiveBackground);
    --vscode-diffEditor-unchangedRegionForeground: var(--jb-Table.foreground);
    --vscode-diffEditor-unchangedRegionShadow: var(--jb-ScrollBar.thumbDarkShadow);
    --vscode-disabledForeground: var(--jb-checkBoxMenuItem-disabledForeground);
    --vscode-dropdown-background: var(--jb-comboBox-background);
    --vscode-dropdown-border: var(--jb-menuBar-borderColor);
    --vscode-dropdown-foreground: var(--jb-comboBox-foreground);
    --vscode-dropdown-listBackground: var(--jb-comboBox-buttonBackground);
    --vscode-editor-background: var(--jb-editorPane-background);
    --vscode-editor-findMatchBorder: var(--jb-dragAndDrop-borderColor);
    --vscode-editor-findMatchHighlightBorder: var(--jb-segmentedButton-selectedEndBorderColor);
    --vscode-editor-findRangeHighlightBorder: var(--jb-table-dropLineShortColor);
    --vscode-editor-focusedStackFrameHighlightBackground: var(--jb-table-selectionBackground);
    --vscode-editor-foreground: var(--jb-editorPane-foreground);
    --vscode-editor-hoverHighlightBackground: var(--jb-actionButton-hoverBackground);
    --vscode-editor-inactiveSelectionBackground: var(--jb-textComponent-selectionBackgroundInactive);
    --vscode-editor-inlineValuesBackground: var(--jb-bookmarkMnemonicAvailable-background);
    --vscode-editor-inlineValuesForeground: var(--jb-label-foreground);
    --vscode-editor-lineHighlightBorder: var(--jb-separator-foreground);
    --vscode-editor-linkedEditingBackground: var(--jb-menu-selectionBackground);
    --vscode-editor-rangeHighlightBorder: var(--jb-component-focusedBorderColor);
    --vscode-editor-selectionBackground: var(--jb-editorPane-selectionBackground);
    --vscode-editor-selectionForeground: var(--jb-editorPane-selectionForeground);
    --vscode-editor-selectionHighlightBorder: var(--jb-segmentedButton-selectedStartBorderColor);
    --vscode-editor-snippetFinalTabstopHighlightBorder: var(--jb-segmentedButton-focusColor);
    --vscode-editor-snippetTabstopHighlightBackground: var(--jb-segmentedButton-selectedButtonColor);
    --vscode-editor-stackFrameHighlightBackground: var(--jb-table-selectionInactiveBackground);
    --vscode-editor-symbolHighlightBorder: var(--jb-menuItem-selectionBackground);
    --vscode-editor-wordHighlightBorder: var(--jb-button-default-startBorderColor);
    --vscode-editor-wordHighlightStrongBorder: var(--jb-textField-darkShadow);
    --vscode-editor-wordHighlightTextBorder: var(--jb-component-errorFocusColor);
    --vscode-editorActiveLineNumber-foreground: var(--jb-textField-highlight);
    --vscode-editorBracketHighlight-foreground1: var(--jb-menuItem-acceleratorForeground);
    --vscode-editorBracketHighlight-foreground2: var(--jb-table-selectionForeground);
    --vscode-editorBracketHighlight-foreground3: var(--jb-toolTip-infoForeground);
    --vscode-editorBracketHighlight-foreground4: var(--jb-tree-textForeground);
    --vscode-editorBracketHighlight-foreground5: var(--jb-infoText);
    --vscode-editorBracketHighlight-foreground6: var(--jb-tree-foreground);
    --vscode-editorBracketHighlight-unexpectedBracket-foreground: var(--jb-hyperlink-linkColor);
    --vscode-editorBracketMatch-background: var(--jb-editorBracketMatch-background);
    --vscode-editorBracketMatch-border: var(--jb-editorBracketMatch-border);
    --vscode-editorBracketPairGuide-activeBackground1: var(--jb-editorBracketPairGuide-activeBackground1);
    --vscode-editorBracketPairGuide-activeBackground2: var(--jb-editorBracketPairGuide-activeBackground2);
    --vscode-editorBracketPairGuide-activeBackground3: var(--jb-editorBracketPairGuide-activeBackground3);
    --vscode-editorBracketPairGuide-activeBackground4: var(--jb-editorBracketPairGuide-activeBackground4);
    --vscode-editorBracketPairGuide-activeBackground5: var(--jb-editorBracketPairGuide-activeBackground5);
    --vscode-editorBracketPairGuide-activeBackground6: var(--jb-editorBracketPairGuide-activeBackground6);
    --vscode-editorBracketPairGuide-background1: var(--jb-editorBracketPairGuide-background1);
    --vscode-editorBracketPairGuide-background2: var(--jb-editorBracketPairGuide-background2);
    --vscode-editorBracketPairGuide-background3: var(--jb-editorBracketPairGuide-background3);
    --vscode-editorBracketPairGuide-background4: var(--jb-editorBracketPairGuide-background4);
    --vscode-editorBracketPairGuide-background5: var(--jb-editorBracketPairGuide-background5);
    --vscode-editorBracketPairGuide-background6: var(--jb-editorBracketPairGuide-background6);
    --vscode-editorCodeLens-foreground: var(--jb-editorCodeLens-foreground);
    --vscode-editorCommentsWidget-rangeActiveBackground: var(--jb-editorCommentsWidget-rangeActiveBackground);
    --vscode-editorCommentsWidget-rangeBackground: var(--jb-editorCommentsWidget-rangeBackground);
    --vscode-editorCommentsWidget-replyInputBackground: var(--jb-editorCommentsWidget-replyInputBackground);
    --vscode-editorCommentsWidget-resolvedBorder: var(--jb-editorCommentsWidget-resolvedBorder);
    --vscode-editorCommentsWidget-unresolvedBorder: var(--jb-editorCommentsWidget-unresolvedBorder);
    --vscode-editorCursor-foreground: var(--jb-editorCursor-foreground);
    --vscode-editorError-border: var(--jb-editorError-border);
    --vscode-editorError-foreground: var(--jb-editorError-foreground);
    --vscode-editorGhostText-border: var(--jb-editorGhostText-border);
    --vscode-editorGroup-border: var(--jb-editorGroup-border);
    --vscode-editorGroup-dropIntoPromptBackground: var(--jb-editorGroup-dropIntoPromptBackground);
    --vscode-editorGroup-dropIntoPromptBorder: var(--jb-editorGroup-dropIntoPromptBorder);
    --vscode-editorGroup-dropIntoPromptForeground: var(--jb-editorGroup-dropIntoPromptForeground);
    --vscode-editorGroup-focusedEmptyBorder: var(--jb-editorGroup-focusedEmptyBorder);
    --vscode-editorGroupHeader-border: var(--jb-editorGroupHeader-border);
    --vscode-editorGroupHeader-noTabsBackground: var(--jb-editorGroupHeader-noTabsBackground);
    --vscode-editorGutter-addedBackground: var(--jb-editorGutter-addedBackground);
    --vscode-editorGutter-background: var(--jb-editorGutter-background);
    --vscode-editorGutter-commentGlyphForeground: var(--jb-editorGutter-commentGlyphForeground);
    --vscode-editorGutter-commentRangeForeground: var(--jb-editorGutter-commentRangeForeground);
    --vscode-editorGutter-commentUnresolvedGlyphForeground: var(--jb-editorGutter-commentUnresolvedGlyphForeground);
    --vscode-editorGutter-deletedBackground: var(--jb-editorGutter-deletedBackground);
    --vscode-editorGutter-foldingControlForeground: var(--jb-editorGutter-foldingControlForeground);
    --vscode-editorGutter-modifiedBackground: var(--jb-editorGutter-modifiedBackground);
    --vscode-editorHint-border: var(--jb-editorHint-border);
    --vscode-editorHoverWidget-background: var(--jb-editorHoverWidget-background);
    --vscode-editorHoverWidget-border: var(--jb-editorHoverWidget-border);
    --vscode-editorHoverWidget-foreground: var(--jb-editorHoverWidget-foreground);
    --vscode-editorHoverWidget-highlightForeground: var(--jb-textField-foreground);
    --vscode-editorHoverWidget-statusBarBackground: var(--jb-statusBar-foreground);
    --vscode-editorIndentGuide-activeBackground: var(--jb-textPane-foreground);
    --vscode-editorIndentGuide-activeBackground1: var(--jb-tabbedPane-underlineColor);
    --vscode-editorIndentGuide-activeBackground2: var(--jb-popupMenu-selectionForeground);
    --vscode-editorIndentGuide-activeBackground3: var(--jb-table-selectionForeground);
    --vscode-editorIndentGuide-activeBackground4: var(--jb-tree-textForeground);
    --vscode-editorIndentGuide-activeBackground5: var(--jb-menu-selectionForeground);
    --vscode-editorIndentGuide-activeBackground6: var(--jb-textPane-selectionForeground);
    --vscode-editorIndentGuide-background: var(--jb-separator-foreground);
    --vscode-editorIndentGuide-background1: var(--jb-scrollbar-foreground);
    --vscode-editorIndentGuide-background2: var(--jb-scrollbar-background);
    --vscode-editorIndentGuide-background3: var(--jb-scrollbar-thumb);
    --vscode-editorIndentGuide-background4: var(--jb-scrollbar-thumbShadow);
    --vscode-editorIndentGuide-background5: var(--jb-scrollbar-track);
    --vscode-editorIndentGuide-background6: var(--jb-scrollbar-trackHighlight);
    --vscode-editorInfo-border: var(--jb-validationTooltip-errorBorderColor);
    --vscode-editorInfo-foreground: var(--jb-validatedTooltip-warningBorderColor);
    --vscode-editorInlayHint-background: var(--jb-rolloverMousePressedForeground);
    --vscode-editorInlayHint-foreground: var(--jb-rolloverMousePressedBackground);
    --vscode-editorInlayHint-parameterBackground: var(--jb-recentLocations-colors);
    --vscode-editorInlayHint-parameterForeground: var(--jb-recentLocations-colors);
    --vscode-editorInlayHint-typeBackground: var(--jb-recentLocations-menuBackground);
    --vscode-editorInlayHint-typeForeground: var(--jb-recentLocations-menuForeground);
    --vscode-editorLightBulb-foreground: var(--jb-editorTabs-foreground);
    --vscode-editorLightBulbAi-foreground: var(--jb-editorTabs.underlinedTabBackground);
    --vscode-editorLightBulbAutoFix-foreground: var(--jb-formattedTextField-foreground);
    --vscode-editorLineNumber-activeForeground: var(--jb-formattedTextField-background);
    --vscode-editorLineNumber-foreground: var(--jb-passwordField-foreground);
    --vscode-editorLink-activeForeground: var(--jb-popup.translucentBackground);
    --vscode-editorMarkerNavigation-background: var(--jb-toolWindow.headerTab.selectedInactiveBackground);
    --vscode-editorMarkerNavigationError-background: var(--jb-toolbar.darkShadow);
    --vscode-editorMarkerNavigationInfo-background: var(--jb-tabbedPane.darkShadow);
    --vscode-editorMarkerNavigationWarning-background: var(--jb-tabbedPane.foreground);
    --vscode-editorMarkerNavigationWarning-headerBackground: var(--jb-toolbar.highlight);
    --vscode-editorMultiCursor-primary-foreground: var(--jb-button.light);
    --vscode-editorMultiCursor-secondary-foreground: var(--jb-toggleButton.shadow);
    --vscode-editorOverviewRuler-addedForeground: var(--jb-editorPane.selectionForeground);
    --vscode-editorOverviewRuler-border: var(--jb-separator.shadow);
    --vscode-editorOverviewRuler-bracketMatchForeground: var(--jb-scrollbar.thumbHighlight);
    --vscode-editorOverviewRuler-commentForeground: var(--jb-textPane-foreground);
    --vscode-editorOverviewRuler-commentUnresolvedForeground: var(--jb-button-shadow);
    --vscode-editorOverviewRuler-commonContentForeground: var(--jb-checkBox-foreground);
    --vscode-editorOverviewRuler-currentContentForeground: var(--jb-editorPane-selectionBackground);
    --vscode-editorOverviewRuler-deletedForeground: var(--jb-progressBar-failedColor);
    --vscode-editorOverviewRuler-errorForeground: var(--jb-validationTooltip-errorBorderColor);
    --vscode-editorOverviewRuler-findMatchForeground: var(--jb-editorPane-selectionForeground);
    --vscode-editorOverviewRuler-incomingContentForeground: var(--jb-progressBar-passedEndColor);
    --vscode-editorOverviewRuler-infoForeground: var(--jb-toolTip-infoForeground);
    --vscode-editorOverviewRuler-modifiedForeground: var(--jb-progressBar-progressColor);
    --vscode-editorOverviewRuler-rangeHighlightForeground: var(--jb-textPane-selectionForeground);
    --vscode-editorOverviewRuler-selectionHighlightForeground: var(--jb-editorPane-background);
    --vscode-editorOverviewRuler-warningForeground: var(--jb-validationTooltip-warningBorderColor);
    --vscode-editorOverviewRuler-wordHighlightForeground: var(--jb-editorPane-selectionForeground);
    --vscode-editorOverviewRuler-wordHighlightStrongForeground: var(--jb-textPane-selectionForeground);
    --vscode-editorOverviewRuler-wordHighlightTextForeground: var(--jb-editorPane-selectionForeground);
    --vscode-editorPane-background: var(--jb-editorPane-background);
    --vscode-editorRuler-foreground: var(--jb-editorRuler-foreground);
    --vscode-editorStickyScroll-background: var(--jb-editorStickyScroll-background);
    --vscode-editorStickyScroll-border: var(--jb-editorStickyScroll-border);
    --vscode-editorSuggestWidget-background: var(--jb-editorSuggestWidget-background);
    --vscode-editorSuggestWidget-border: var(--jb-editorSuggestWidget-border);
    --vscode-editorSuggestWidget-focusHighlightForeground: var(--jb-editorSuggestWidget-focusHighlightForeground);
    --vscode-editorSuggestWidget-foreground: var(--jb-editorSuggestWidget-foreground);
    --vscode-editorSuggestWidget-highlightForeground: var(--jb-editorSuggestWidget-highlightForeground);
    --vscode-editorSuggestWidgetStatus-foreground: var(--jb-editorSuggestWidgetStatus-foreground);
    --vscode-editorUnicodeHighlight-border: var(--jb-editorUnicodeHighlight-border);
    --vscode-editorUnnecessaryCode-border: var(--jb-editorUnnecessaryCode-border);
    --vscode-editorWarning-border: var(--jb-editorWarning-border);
    --vscode-editorWarning-foreground: var(--jb-editorWarning-foreground);
    --vscode-editorWatermark-foreground: var(--jb-editorWatermark-foreground);
    --vscode-editorWhitespace-foreground: var(--jb-editorWhitespace-foreground);
    --vscode-editorWidget-background: var(--jb-editorWidget-background);
    --vscode-editorWidget-border: var(--jb-editorWidget-border);
    --vscode-editorWidget-foreground: var(--jb-editorWidget-foreground);
    --vscode-errorForeground: var(--jb-errorForeground);
    --vscode-extensionBadge-remoteBackground: var(--jb-extensionBadge-remoteBackground);
    --vscode-extensionBadge-remoteForeground: var(--jb-extensionBadge-remoteForeground);
    --vscode-extensionButton-separator: var(--jb-extensionButton-separator);
    --vscode-extensionIcon-preReleaseForeground: var(--jb-extensionIcon-preReleaseForeground);
    --vscode-extensionIcon-starForeground: var(--jb-extensionIcon-starForeground);
    --vscode-extensionIcon-verifiedForeground: var(--jb-extensionIcon-verifiedForeground);
    --vscode-focusBorder: var(--jb-focusBorder);
    --vscode-foreground: var(--jb-foreground);
    --vscode-icon-foreground: var(--jb-icon-foreground);
    --vscode-inlineChat-background: var(--jb-inlineChat-background);
    --vscode-inlineChat-border: var(--jb-inlineChat-border);
    --vscode-inlineChat-regionHighlight: var(--jb-inlineChat-regionHighlight);
    --vscode-inlineChatInput-background: var(--jb-inlineChatInput-background);
    --vscode-inlineChatInput-border: var(--jb-inlineChatInput-border);
    --vscode-inlineChatInput-focusBorder: var(--jb-inlineChatInput-focusBorder);
    --vscode-inlineChatInput-placeholderForeground: var(--jb-inlineChatInput-placeholderForeground);
    --vscode-input-background: var(--jb-input-background);
    --vscode-input-border: var(--jb-input-border);
    --vscode-input-foreground: var(--jb-input-foreground);
    --vscode-input-placeholderForeground: var(--jb-input-placeholderForeground);
    --vscode-inputOption-activeBackground: var(--jb-inputOption-activeBackground);
    --vscode-inputOption-activeBorder: var(--jb-inputOption-activeBorder);
    --vscode-inputOption-activeForeground: var(--jb-inputOption-activeForeground);
    --vscode-inputValidation-errorBackground: var(--jb-inputValidation-errorBackground);
    --vscode-inputValidation-errorBorder: var(--jb-inputValidation-errorBorder);
    --vscode-inputValidation-infoBackground: var(--jb-inputValidation-infoBackground);
    --vscode-inputValidation-infoBorder: var(--jb-inputValidation-infoBorder);
    --vscode-inputValidation-warningBackground: var(--jb-inputValidation-warningBackground);
    --vscode-inputValidation-warningBorder: var(--jb-inputValidation-warningBorder);
    --vscode-interactive-activeCodeBorder: var(--jb-interactive-activeCodeBorder);
    --vscode-interactive-inactiveCodeBorder: var(--jb-interactive-inactiveCodeBorder);
    --vscode-keybindingLabel-background: var(--jb-keybindingLabel-background);
    --vscode-keybindingLabel-border: var(--jb-keybindingLabel-border);
    --vscode-keybindingLabel-bottomBorder: var(--jb-keybindingLabel-bottomBorder);
    --vscode-keybindingLabel-foreground: var(--jb-keybindingLabel-foreground);
    --vscode-list-deemphasizedForeground: var(--jb-list-deemphasizedForeground);
    --vscode-list-filterMatchBorder: var(--jb-list-filterMatchBorder);
    --vscode-list-focusHighlightForeground: var(--jb-list-focusHighlightForeground);
    --vscode-list-focusOutline: var(--jb-list-focusOutline);
    --vscode-list-highlightForeground: var(--jb-list-highlightForeground);
    --vscode-list-hoverBackground: var(--jb-list-hoverBackground);
    --vscode-list-invalidItemForeground: var(--jb-list-invalidItemForeground);
    --vscode-listFilterWidget-background: var(--jb-listFilterWidget-background);
    --vscode-listFilterWidget-noMatchesOutline: var(--jb-listFilterWidget-noMatchesOutline);
    --vscode-listFilterWidget-outline: var(--jb-listFilterWidget-outline);
    --vscode-menu-background: var(--jb-popupMenu-background);
    --vscode-menu-border: var(--jb-popupMenu-selectionBackground);
    --vscode-menu-foreground: var(--jb-popupMenu-foreground);
    --vscode-menu-selectionBorder: var(--jb-popupMenu-selectionForeground);
    --vscode-menu-separatorBackground: var(--jb-menu-separatorColor);
    --vscode-menubar-selectionBorder: var(--jb-menu-separatorColor);
    --vscode-menubar-selectionForeground: var(--jb-menu-selectionForeground);
    --vscode-merge-border: var(--jb-textComponent-selectionBackgroundInactive);
    --vscode-mergeEditor-change-background: var(--jb-mainToolbar-Icon-pressedBackground);
    --vscode-mergeEditor-change-word-background: var(--jb-mainToolbar-Icon-background);
    --vscode-mergeEditor-changeBase-background: var(--jb-menu-selectionForeground);
    --vscode-mergeEditor-changeBase-word-background: var(--jb-textPane-selectionForeground);
    --vscode-mergeEditor-conflict-handled-minimapOverViewRuler: var(--jb-textPane-inactiveForeground);
    --vscode-mergeEditor-conflict-handledFocused-border: var(--jb-textPane-caretForeground);
    --vscode-mergeEditor-conflict-handledUnfocused-border: var(--jb-textPane-foreground);
    --vscode-mergeEditor-conflict-unhandled-minimapOverViewRuler: var(--jb-textPane-background);
    --vscode-mergeEditor-conflict-unhandledFocused-border: var(--jb-textPane-inactiveBackground);
    --vscode-mergeEditor-conflict-unhandledUnfocused-border: var(--jb-textPane-inactiveForeground);
    --vscode-mergeEditor-conflictingLines-background: var(--jb-textPane-caretForeground);
    --vscode-minimap-errorHighlight: var(--jb-validationTooltip-errorBackground);
    --vscode-minimap-findMatchHighlight: var(--jb-validationTooltip-errorBorderColor);
    --vscode-minimap-foregroundOpacity: var(--jb-textPane-caretForeground);
    --vscode-minimap-infoHighlight: var(--jb-tooltip-foreground);
    --vscode-minimap-selectionHighlight: var(--jb-tooltip-background);
    --vscode-minimap-selectionOccurrenceHighlight: var(--jb-tooltip-Learning-foreground);
    --vscode-minimap-warningHighlight: var(--jb-tooltip-Learning-background);
    --vscode-minimapGutter-addedBackground: var(--jb-scrollbar-thumb);
    --vscode-minimapGutter-deletedBackground: var(--jb-scrollbar-thumbDarkShadow);
    --vscode-minimapGutter-modifiedBackground: var(--jb-scrollbar-track);
    --vscode-minimapSlider-activeBackground: var(--jb-scrollbar-trackHighlight);
    --vscode-minimapSlider-background: var(--jb-scrollbar-foreground);
    --vscode-minimapSlider-hoverBackground: var(--jb-scrollbar-background);
    --vscode-multiDiffEditor-border: var(--jb-component-borderColor);
    --vscode-notebook-cellBorderColor: var(--jb-textField-foreground);
    --vscode-notebook-cellInsertionIndicator: var(--jb-separator-foreground);
    --vscode-notebook-cellStatusBarItemHoverBackground: var(--jb-desktopIcon-labelBackground);
    --vscode-notebook-cellToolbarSeparator: var(--jb-toolbar-background);
    --vscode-notebook-focusedCellBorder: var(--jb-component-warningFocusColor);
    --vscode-notebook-focusedEditorBorder: var(--jb-component-errorFocusColor);
    --vscode-notebook-inactiveFocusedCellBorder: var(--jb-component-inactiveErrorFocusColor);
    --vscode-notebook-inactiveSelectedCellBorder: var(--jb-component-inactiveWarningFocusColor);
    --vscode-notebook-selectedCellBorder: var(--jb-component-focusedBorderColor);
    --vscode-notebookEditorOverviewRuler-runningCellForeground: var(--jb-lesson-Badge-newLessonForeground);
    --vscode-notebookScrollbarSlider-activeBackground: var(--jb-lesson-shortcutBackground);
    --vscode-notebookScrollbarSlider-background: var(--jb-lesson-Badge-newLessonBackground);
    --vscode-notebookScrollbarSlider-hoverBackground: var(--jb-lesson-Badge-newLessonBackground);
    --vscode-notebookStatusErrorIcon-foreground: var(--jb-validationTooltip-warningBorderColor);
    --vscode-notebookStatusRunningIcon-foreground: var(--jb-validationTooltip-warningBackground);
    --vscode-notebookStatusSuccessIcon-foreground: var(--jb-validationTooltip-warningForeground);
    --vscode-notificationCenter-border: var(--jb-notificationCenterHeader-background);
    --vscode-notificationCenterHeader-background: var(--jb-notificationLink-foreground);
    --vscode-notificationLink-foreground: var(--jb-notificationToast-border);
    --vscode-notificationToast-border: var(--jb-notifications-background);
    --vscode-notifications-background: var(--jb-notifications-foreground);
    --vscode-notifications-border: var(--jb-notificationsErrorIcon-foreground);
    --vscode-notifications-foreground: var(--jb-notificationsInfoIcon-foreground);
    --vscode-notificationsErrorIcon-foreground: var(--jb-notificationsWarningIcon-foreground);
    --vscode-panel-background: var(--jb-panel-background);
    --vscode-panel-border: var(--jb-panel-foreground);
    --vscode-panel-dropBorder: var(--jb-panel-background);
    --vscode-panelInput-border: var(--jb-textField-shadow);
    --vscode-panelSection-border: var(--jb-panel-background);
    --vscode-panelSectionHeader-border: var(--jb-panel-background);
    --vscode-panelStickyScroll-background: var(--jb-scrollPane-background);
    --vscode-panelTitle-activeBorder: var(--jb-tabbedPane-focusColor);
    --vscode-panelTitle-activeForeground: var(--jb-tabbedPane-underlineColor);
    --vscode-panelTitle-inactiveForeground: var(--jb-tabbedPane-foreground);
    --vscode-peekView-border: var(--jb-internalFrame-borderLight);
    --vscode-peekViewEditor-background: var(--jb-editorPane-background);
    --vscode-peekViewEditor-matchHighlightBorder: var(--jb-internalFrame-borderHighlight);
    --vscode-peekViewEditorGutter-background: var(--jb-editorPane-background);
    --vscode-peekViewEditorStickyScroll-background: var(--jb-scrollPane-background);
    --vscode-peekViewResult-background: var(--jb-editorPane-background);
    --vscode-peekViewResult-fileForeground: var(--jb-fileChooser-foreground);
    --vscode-peekViewResult-lineForeground: var(--jb-textPane-inactiveForeground);
    --vscode-peekViewResult-selectionForeground: var(--jb-menu-selectionForeground);
    --vscode-peekViewTitle-background: var(--jb-editorPane-background);
    --vscode-peekViewTitleDescription-foreground: var(--jb-textPane-foreground);
    --vscode-peekViewTitleLabel-foreground: var(--jb-textPane-foreground);
    --vscode-pickerGroup-border: var(--jb-menu-separatorColor);
    --vscode-pickerGroup-foreground: var(--jb-menu-foreground);
    --vscode-ports-iconRunningProcessForeground: var(--jb-text-foreground);
    --vscode-problemsErrorIcon-foreground: var(--jb-validationTooltip-errorBorderColor);
    --vscode-problemsInfoIcon-foreground: var(--jb-infoText);
    --vscode-problemsWarningIcon-foreground: var(--jb-warningText);
    --vscode-profileBadge-background: var(--jb-progressBar-background);
    --vscode-profileBadge-foreground: var(--jb-progressBar-foreground);
    --vscode-progressBar-background: var(--jb-progressBar-background);
    --vscode-quickInput-background: var(--jb-quickInput-background);
    --vscode-quickInput-foreground: var(--jb-quickInput-foreground);
    --vscode-quickInputTitle-background: var(--jb-quickInput-background);
    --vscode-remoteHub-decorations-addedForegroundColor: var(--jb-actionButton-hoverBackground);
    --vscode-remoteHub-decorations-conflictForegroundColor: var(--jb-validationTooltip-warningBorderColor);
    --vscode-remoteHub-decorations-deletedForegroundColor: var(--jb-actionButton-pressedBackground);
    --vscode-remoteHub-decorations-ignoredResourceForeground: var(--jb-button-foreground);
    --vscode-remoteHub-decorations-incomingAddedForegroundColor: var(--jb-actionButton-pressedBackground);
    --vscode-remoteHub-decorations-incomingDeletedForegroundColor: var(--jb-validationTooltip-warningBorderColor);
    --vscode-remoteHub-decorations-incomingModifiedForegroundColor: var(--jb-progressBar-failedColor);
    --vscode-remoteHub-decorations-incomingRenamedForegroundColor: var(--jb-tabbedPane-selectedTabTitleShadowNormalColor);
    --vscode-remoteHub-decorations-modifiedForegroundColor: var(--jb-progressBar-failedColor);
    --vscode-remoteHub-decorations-submoduleForegroundColor: var(--jb-actionButton-hoverBackground);
    --vscode-remoteHub-decorations-workspaceRepositoriesView-hasUncommittedChangesForegroundColor: var(--jb-actionButton-pressedBackground);
    --vscode-scm-historyItemStatisticsBorder: var(--jb-tabbedPane-underlineColor);
    --vscode-scrollbarSlider-activeBackground: var(--jb-scrollbar-thumbDarkShadow);
    --vscode-scrollbarSlider-background: var(--jb-scrollbar-thumb);
    --vscode-scrollbarSlider-hoverBackground: var(--jb-scrollbar-thumbShadow);
    --vscode-search-resultsInfoForeground: var(--jb-infoText);
    --vscode-searchEditor-findMatchBorder: var(--jb-searchEverywhere-list-separatorColor);
    --vscode-searchEditor-textInputBorder: var(--jb-searchEverywhere-searchField-infoForeground);
    --vscode-selection-background: var(--jb-text-selectionBackground);
    --vscode-settings-checkboxBackground: var(--jb-settings-checkboxBackground);
    --vscode-settings-checkboxBorder: var(--jb-settings-checkboxBorder);
    --vscode-settings-checkboxForeground: var(--jb-settings-checkboxForeground);
    --vscode-settings-dropdownBackground: var(--jb-comboBox-background);
    --vscode-settings-dropdownBorder: var(--jb-comboBox-selectionForeground);
    --vscode-settings-dropdownForeground: var(--jb-comboBox-foreground);
    --vscode-settings-dropdownListBorder: var(--jb-comboBox-selectionForeground);
    --vscode-settings-focusedRowBorder: var(--jb-comboBox-selectionForeground);
    --vscode-settings-headerBorder: var(--jb-settings-headerBorder);
    --vscode-settings-headerForeground: var(--jb-settings-headerForeground);
    --vscode-settings-modifiedItemIndicator: var(--jb-settings-modifiedItemIndicator);
    --vscode-settings-numberInputBackground: var(--jb-settings-numberInputBackground);
    --vscode-settings-numberInputBorder: var(--jb-settings-numberInputBorder);
    --vscode-settings-numberInputForeground: var(--jb-settings-numberInputForeground);
    --vscode-settings-sashBorder: var(--jb-settings-sashBorder);
    --vscode-settings-settingsHeaderHoverForeground: var(--jb-settings-settingsHeaderHoverForeground);
    --vscode-settings-textInputBackground: var(--jb-comboBox-background);
    --vscode-settings-textInputBorder: var(--jb-settings-textInputBorder);
    --vscode-settings-textInputForeground: var(--jb-comboBox-foreground);
    --vscode-sideBar-background: var(--jb-scrollPane-background);
    --vscode-sideBar-border: var(--jb-scrollPane-background);
    --vscode-sideBarActivityBarTop-border: var(--jb-menu-borderColor);
    --vscode-sideBarSectionHeader-border: var(--jb-tabbedPane-darkShadow);
    --vscode-sideBarStickyScroll-background: var(--jb-list-selectionInactiveForeground);
    --vscode-sideBarTitle-background: var(--jb-textField-selectionBackground);
    --vscode-sideBarTitle-foreground: var(--jb-label-foreground);
    --vscode-sideBySideEditor-horizontalBorder: var(--jb-tabbedPane-darkShadow);
    --vscode-sideBySideEditor-verticalBorder: var(--jb-tabbedPane-darkShadow);
    --vscode-simpleFindWidget-sashBorder: var(--jb-scrollbar-thumbShadow);
    --vscode-statusBar-border: var(--jb-scrollbar-thumbShadow);
    --vscode-statusBar-debuggingBackground: var(--jb-progressBar-failedEndColor);
    --vscode-statusBar-debuggingBorder: var(--jb-progressBar-failedEndColor);
    --vscode-statusBar-debuggingForeground: var(--jb-progressBar-foreground);
    --vscode-statusBar-foreground: var(--jb-scrollbar-foreground);
    --vscode-statusBar-noFolderBorder: var(--jb-scrollbar-thumbShadow);
    --vscode-statusBar-noFolderForeground: var(--jb-scrollbar-foreground);
    --vscode-statusBarItem-activeBackground: var(--jb-mainToolbar-icon-pressedBackground);
    --vscode-statusBarItem-compactHoverBackground: var(--jb-toolbarComboWidget-hoverBackground);
    --vscode-statusBarItem-errorForeground: var(--jb-validationTooltip-errorForeground);
    --vscode-statusBarItem-errorHoverBackground: var(--jb-statusBarItem-errorHoverForeground);
    --vscode-statusBarItem-errorHoverForeground: var(--jb-scrollbar-foreground);
    --vscode-statusBarItem-hoverBackground: var(--jb-toolbarComboWidget-hoverBackground);
    --vscode-statusBarItem-hoverForeground: var(--jb-scrollbar-foreground);
    --vscode-statusBarItem-offlineBackground: var(--jb-statusBarItem-offlineForeground);
    --vscode-statusBarItem-offlineForeground: var(--jb-scrollbar-foreground);
    --vscode-statusBarItem-offlineHoverBackground: var(--jb-statusBarItem-offlineHoverForeground);
    --vscode-statusBarItem-offlineHoverForeground: var(--jb-scrollbar-foreground);
    --vscode-statusBarItem-prominentBackground: var(--jb-statusBarItem-prominentForeground);
    --vscode-statusBarItem-prominentForeground: var(--jb-scrollbar-foreground);
    --vscode-statusBarItem-prominentHoverBackground: var(--jb-statusBarItem-prominentHoverForeground);
    --vscode-statusBarItem-prominentHoverForeground: var(--jb-scrollbar-foreground);
    --vscode-statusBarItem-remoteBackground: var(--jb-statusBarItem-remoteForeground);
    --vscode-statusBarItem-remoteForeground: var(--jb-scrollbar-foreground);
    --vscode-statusBarItem-remoteHoverBackground: var(--jb-statusBarItem-remoteHoverForeground);
    --vscode-statusBarItem-remoteHoverForeground: var(--jb-scrollbar-foreground);
    --vscode-statusBarItem-warningForeground: var(--jb-validationTooltip-warningForeground);
    --vscode-statusBarItem-warningHoverBackground: var(--jb-statusBarItem-warningHoverForeground);
    --vscode-statusBarItem-warningHoverForeground: var(--jb-scrollbar-foreground);
    --vscode-symbolIcon-arrayForeground: var(--jb-symbolIcon-arrayForeground);
    --vscode-symbolIcon-booleanForeground: var(--jb-symbolIcon-booleanForeground);
    --vscode-symbolIcon-classForeground: var(--jb-symbolIcon-classForeground);
    --vscode-symbolIcon-colorForeground: var(--jb-symbolIcon-colorForeground);
    --vscode-symbolIcon-constantForeground: var(--jb-symbolIcon-constantForeground);
    --vscode-symbolIcon-constructorForeground: var(--jb-symbolIcon-constructorForeground);
    --vscode-symbolIcon-enumeratorForeground: var(--jb-symbolIcon-enumeratorForeground);
    --vscode-symbolIcon-enumeratorMemberForeground: var(--jb-symbolIcon-enumeratorMemberForeground);
    --vscode-symbolIcon-eventForeground: var(--jb-symbolIcon-eventForeground);
    --vscode-symbolIcon-fieldForeground: var(--jb-symbolIcon-fieldForeground);
    --vscode-symbolIcon-fileForeground: var(--jb-symbolIcon-fileForeground);
    --vscode-symbolIcon-folderForeground: var(--jb-symbolIcon-folderForeground);
    --vscode-symbolIcon-functionForeground: var(--jb-symbolIcon-functionForeground);
    --vscode-symbolIcon-interfaceForeground: var(--jb-symbolIcon-interfaceForeground);
    --vscode-symbolIcon-keyForeground: var(--jb-symbolIcon-keyForeground);
    --vscode-symbolIcon-keywordForeground: var(--jb-symbolIcon-keywordForeground);
    --vscode-symbolIcon-methodForeground: var(--jb-symbolIcon-methodForeground);
    --vscode-symbolIcon-moduleForeground: var(--jb-symbolIcon-moduleForeground);
    --vscode-symbolIcon-namespaceForeground: var(--jb-symbolIcon-namespaceForeground);
    --vscode-symbolIcon-nullForeground: var(--jb-symbolIcon-nullForeground);
    --vscode-symbolIcon-numberForeground: var(--jb-symbolIcon-numberForeground);
    --vscode-symbolIcon-objectForeground: var(--jb-symbolIcon-objectForeground);
    --vscode-symbolIcon-operatorForeground: var(--jb-symbolIcon-operatorForeground);
    --vscode-symbolIcon-packageForeground: var(--jb-symbolIcon-packageForeground);
    --vscode-symbolIcon-propertyForeground: var(--jb-symbolIcon-propertyForeground);
    --vscode-symbolIcon-referenceForeground: var(--jb-symbolIcon-referenceForeground);
    --vscode-symbolIcon-snippetForeground: var(--jb-symbolIcon-snippetForeground);
    --vscode-symbolIcon-stringForeground: var(--jb-symbolIcon-stringForeground);
    --vscode-symbolIcon-structForeground: var(--jb-symbolIcon-structForeground);
    --vscode-symbolIcon-textForeground: var(--jb-symbolIcon-textForeground);
    --vscode-symbolIcon-typeParameterForeground: var(--jb-symbolIcon-typeParameterForeground);
    --vscode-symbolIcon-unitForeground: var(--jb-symbolIcon-unitForeground);
    --vscode-symbolIcon-variableForeground: var(--jb-symbolIcon-variableForeground);
    --vscode-tab-activeBackground: var(--jb-tabbedPane-background);
    --vscode-tab-activeForeground: var(--jb-tabbedPane-foreground);
    --vscode-tab-border: var(--jb-tabbedPane-border);
    --vscode-tab-dragAndDropBorder: var(--jb-dragAndDrop-borderColor);
    --vscode-tab-inactiveForeground: var(--jb-tabbedPane-foreground);
    --vscode-tab-inactiveModifiedBorder: var(--jb-tabbedPane-selectedTabTitleShadowNormalColor);
    --vscode-tab-lastPinnedBorder: var(--jb-tabbedPane-selectedTabTitleShadowDisabledColor);
    --vscode-tab-unfocusedActiveBackground: var(--jb-tabbedPane-light);
    --vscode-tab-unfocusedActiveForeground: var(--jb-tabbedPane-selectedTabTitleShadowNormalColor);
    --vscode-tab-unfocusedActiveModifiedBorder: var(--jb-tabbedPane-focus);
    --vscode-tab-unfocusedInactiveForeground: var(--jb-tabbedPane-selectedTabTitleDisabledColor);
    --vscode-tab-unfocusedInactiveModifiedBorder: var(--jb-tabbedPane-focusColor);
    --vscode-terminal-ansiBlack: var(--jb-text);
    --vscode-terminal-ansiBlue: var(--jb-charts-blue);
    --vscode-terminal-ansiBrightBlack: var(--jb-textInactiveText);
    --vscode-terminal-ansiBrightBlue: var(--jb-textLink-foreground);
    --vscode-terminal-ansiBrightCyan: var(--jb-actionButton-hoverBackground);
    --vscode-terminal-ansiBrightGreen: var(--jb-textSeparator-foreground);
    --vscode-terminal-ansiBrightMagenta: var(--jb-editorPane-caretForeground);
    --vscode-terminal-ansiBrightRed: var(--jb-validationTooltip-errorBackground);
    --vscode-terminal-ansiBrightWhite: var(--jb-toolbarComboWidget-hoverBackground);
    --vscode-terminal-ansiBrightYellow: var(--jb-validationTooltip-warningBackground);
    --vscode-terminal-ansiCyan: var(--jb-toolbarButton-selectionBackground);
    --vscode-terminal-ansiGreen: var(--jb-actionButton-pressedBackground);
    --vscode-terminal-ansiMagenta: var(--jb-menu-foreground);
    --vscode-terminal-ansiRed: var(--jb-validationTooltip-errorBorderColor);
    --vscode-terminal-ansiWhite: var(--jb-button-default-startBackground);
    --vscode-terminal-ansiYellow: var(--jb-progressBar-passedColor);
    --vscode-terminal-border: var(--jb-progressBar-background);
    --vscode-terminal-findMatchBorder: var(--jb-toolbarComboWidget-hoverBackground);
    --vscode-terminal-findMatchHighlightBorder: var(--jb-toolbarComboWidget-hoverBackground);
    --vscode-terminal-foreground: var(--jb-text);
    --vscode-terminal-hoverHighlightBackground: var(--jb-toolbarComboWidget-hoverBackground);
    --vscode-terminal-inactiveSelectionBackground: var(--jb-textArea-inactiveBackground);
    --vscode-terminal-selectionBackground: var(--jb-toolbarComboWidget-hoverBackground);
    --vscode-terminal-selectionForeground: var(--jb-textHighlight);
    --vscode-terminalCommandDecoration-defaultBackground: var(--jb-textSeparator-foreground);
    --vscode-terminalCommandDecoration-errorBackground: var(--jb-validationTooltip-errorBackground);
    --vscode-terminalCommandDecoration-successBackground: var(--jb-progressBar-passedEndColor);
    --vscode-terminalOverviewRuler-cursorForeground: var(--jb-button-startBackground);
    --vscode-terminalOverviewRuler-findMatchForeground: var(--jb-editorPane-selectionForeground);
    --vscode-testing-coverCountBadgeBackground: var(--jb-toolbarComboWidget-background);
    --vscode-testing-coverCountBadgeForeground: var(--jb-toolbarComboWidget-hoverBackground);
    --vscode-testing-coveredBorder: var(--jb-textLink-activeForeground);
    --vscode-testing-coveredGutterBackground: var(--jb-textCodeBlock-background);
    --vscode-testing-iconErrored: var(--jb-button-disabledText);
    --vscode-testing-iconErrored-retired: var(--jb-label-disabledShadow);
    --vscode-testing-iconFailed: var(--jb-button-shadow);
    --vscode-testing-iconFailed-retired: var(--jb-button-default-endBorderColor);
    --vscode-testing-iconPassed: var(--jb-button-foreground);
    --vscode-testing-iconPassed-retired: var(--jb-button-startBorderColor);
    --vscode-testing-iconQueued: var(--jb-button-secondaryForeground);
    --vscode-testing-iconQueued-retired: var(--jb-button-disabledBorderColor);
    --vscode-testing-iconSkipped: var(--jb-button-endBackground);
    --vscode-testing-iconSkipped-retired: var(--jb-button-disabledText);
    --vscode-testing-iconUnset: var(--jb-textBlockQuote-border);
    --vscode-testing-iconUnset-retired: var(--jb-textPreformat-foreground);
    --vscode-testing-message-error-decorationForeground: var(--jb-button-default-foreground);
    --vscode-testing-message-info-decorationForeground: var(--jb-textCodeBlock-background);
    --vscode-testing-messagePeekBorder: var(--jb-button-default-startBorderColor);
    --vscode-testing-peekBorder: var(--jb-button-default-focusColor);
    --vscode-testing-runAction: var(--jb-toolbar-hoverOutline);
    --vscode-testing-uncoveredBorder: var(--jb-button-secondaryForeground);
    --vscode-testing-uncoveredGutterBackground: var(--jb-button-endBorderColor);
    --vscode-textBlockQuote-border: var(--jb-button-shadow);
    --vscode-textCodeBlock-background: var(--jb-textCodeBlock-background);
    --vscode-textLink-activeForeground: var(--jb-textLink-activeForeground);
    --vscode-textLink-foreground: var(--jb-textLink-foreground);
    --vscode-textPreformat-background: var(--jb-textPreformat-background);
    --vscode-textPreformat-foreground: var(--jb-textPreformat-foreground);
    --vscode-textSeparator-foreground: var(--jb-textSeparator-foreground);
    --vscode-titleBar-activeBackground: var(--jb-titleBar-activeBackground);
    --vscode-titleBar-activeForeground: var(--jb-titleBar-activeForeground);
    --vscode-titleBar-border: var(--jb-titleBar-border);
    --vscode-toolbar-hoverOutline: var(--jb-toolbar-hoverOutline);
    --vscode-tree-inactiveIndentGuidesStroke: var(--jb-tree-inactiveIndentGuidesStroke);
    --vscode-tree-indentGuidesStroke: var(--jb-tree-indentGuidesStroke);
    --vscode-welcomePage-progress-background: var(--jb-welcomePage-progress-background);
    --vscode-welcomePage-progress-foreground: var(--jb-welcomePage-progress-foreground);
    --vscode-welcomePage-tileBackground: var(--jb-welcomePage-tileBackground);
    --vscode-welcomePage-tileBorder: var(--jb-welcomePage-tileBorder);
    --vscode-widget-border: var(--jb-widget-border);
    --vscode-window-activeBorder: var(--jb-window-activeBorder);
    --vscode-window-inactiveBorder: var(--jb-window-inactiveBorder)
}
