
/* Mimic rules injected by VSCode */

html[data-ide='JetBrains'] {

    /* Mimic rules injected by VSCode */
    --vscode-font-family: var(--font-family);
    --vscode-font-weight: var(--font-weight);
    --vscode-font-size: var(--jetbrains-font-size);

    --vscode-editor-font-family: var(--font-family);
    --vscode-editor-font-weight: var(--font-weight);
    --vscode-editor-font-size: var(--type-ramp-minus1-font-size);

    --vscode-widget-shadow: rgba(0, 0, 0, 0.36);
    scrollbar-color: var(--vscode-scrollbarSlider-background) var(--vscode-editor-background);
}


html[data-ide='JetBrains'] body {
    overscroll-behavior-x: none;
    background-color: var(--vscode-sideBar-background);
    color: var(--vscode-editor-foreground);
    font-family: var(--vscode-font-family);
    font-weight: var(--vscode-font-weight);
    font-size: var(--vscode-font-size);
    margin: 0 auto;
    padding: 0;



    background: transparent; /* we should let the color of the underlying UI set the background of the sidebar*/
    --border-width: none;

    color:var(--text);

    --font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    --font-editor: 'Monaco', 'Consolas', monospace;
    --font-size: 13px;

    --vscode-font-family: var(--font);

    /* PRIMITIVES FROM EDITOR */
    --editor-background: var(--jetbrains-MainToolbar-background);
    --editor-border: var(--jetbrains-Menu-borderColor);
    --editor-accent: var(--jetbrains-Button-default-endBackground);
    --editor-text:var(--jetbrains-text);


    


    /* Primary Button */
    --button-primary-text: var(--jetbrains-Button-default-foreground);
    --button-primary-background: var(--editor-accent);
    --button-primary-background-hover: color-mix(in srgb, var(--jetbrains-Button-default-endBackground) 70%, white 30%);
    --button-primary-border: var(--vscode-button-border);
    --button-primary-border-hover: var(--vscode-button-border);

    /* Backgrounds */
    --background-01: var(--editor-background);  /* Main page background */
    --background-02: color-mix(in srgb, var(--background-01), black 5%);  /* Slightly darker */
    --background-03: color-mix(in srgb, var(--background-01), black 10%);  /* Even darker */

    /* Text */
    --text: var(--editor-text);
    --text-subtle: color-mix(in srgb, var(--text), transparent 30%);  /* Slightly transparent */
    --text-muted: color-mix(in srgb, var(--text), transparent 40%);  /* More transparent */
    --text-primary: var(--editor-text);
    --text-primary-subtle: color-mix(in srgb, var(--text-primary)  70%, transparent 30%);  /* Subtle primary */
    --text-primary-muted: color-mix(in srgb, var(--text-primary)  50%, transparent 50%);  /* Muted primary */
    --text-disabled: color-mix(in srgb, var(--text-primary) 30%, transparent 70%);  /* Highly transparent */

    /* Links */
    --text-link-color: var(--editor-accent);
    --text-link-hover-color: #ff4c00;
    --text-white: #FFFFFF;

    /* Borders */
    --border: var(--editor-border);
    --border-subtle: color-mix(in srgb, var(--border) 70%, transparent 30%);  /* Subtle border */
    --border-disabled: color-mix(in srgb, var(--border) 30%, transparent 70%);  /* Disabled border */
    --border-active: color-mix(in srgb, var(--editor-accent), transparent 30%);  /* Active border with hint of blue */
    --border-hover: color-mix(in srgb, var(--border) 75%, white 25%);  /* Hover border with more vibrant blue */

    /* Highlight */
    --highlight-background: color-mix(in srgb, var(--editor-accent), transparent 40%);
    --highlight-text: color-mix(in srgb, var(--text), white 90%);
    --highlight-border: color-mix(in srgb, var(--editor-accent) 50%, white 20%);

    /* Links */
    --link-color: var(--editor-accent);
    --link-hover-color: color-mix(in srgb, var(--editor-accent) 75%, white 25%);


















}

html[data-ide='JetBrains'] :matches(img, video) {
    max-width: 100%;
    max-height: 100%;
}

html[data-ide='JetBrains'] :matches(a, a code) {
    color: var(--vscode-textLink-foreground);
}

html[data-ide='JetBrains'] a:hover {
    color: var(--vscode-textLink-activeForeground);
}

html[data-ide='JetBrains'] :matches(a, input, select, textarea):focus {
    outline: 1px solid -webkit-focus-ring-color;
    outline-offset: -1px;
}

html[data-ide='JetBrains'] code {
    font-family: monospace; /* todo: get proper font from hosting platform */
    font-size: 0.8rem;
    color: var(--vscode-textPreformat-foreground);
    background-color: var(--vscode-textPreformat-background);
    padding: 1px 3px;
    border-radius: 4px;
}

html[data-ide='JetBrains'] pre code {
    padding: 0;
}


html[data-ide='JetBrains'] blockquote {
    background: var(--vscode-textBlockQuote-background);
    border-color: var(--vscode-textBlockQuote-border);
}

/* color-mix is not supported on JetBrains webview */
html[data-ide='JetBrains'] .context-item-mention-node {
    color: var(--vscode-inputOption-activeForeground);
    background-color: var(--vscode-badge-background);
    gap: 0.2rem;

    .icon {
        width: 1rem;
        height: 1rem;
    }
}

html[data-ide='JetBrains'] .container {
    background-color: var(--vscode-input-background);
}

html[data-ide='JetBrains'] .tw-bg-muted-transparent:hover {
    background-color: var(--jetbrains-ActionButton-hoverBackground);
}

html[data-ide='JetBrains'] .tw-border-input-border {
    border-style: solid;
    border-width: thin;
}

/* Custom rule for cmdk heading:
 * VSCode uses input background for headings.
 * JetBrains needs different styling to distinguish headings because input background are the same as pane background. */

html[data-ide='JetBrains'] [cmdk-group-heading] {
    background: var(--jetbrains-EditorPane-inactiveBackground);
}

html[data-ide='JetBrains'] body *::-webkit-scrollbar {
    width: 14px;
    height: 8px;
    background-color: transparent;
}

html[data-ide='JetBrains'] body *::-webkit-scrollbar-thumb {
    background: var(--scrollbar-slider-active-background);
    border-radius: 100px;
    border: 3px solid var(--jetbrains-Desktop-background);
}

html[data-ide='JetBrains'] pre::-webkit-scrollbar {
    width: 14px;
    height: 14px;
    background-color: transparent;
}

html[data-ide='JetBrains'] pre::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 100px;
    border: 3px solid var(--code-background);
}
