html[data-ide='JetBrains'] {
    --vscode-actionBar-toggledBackground: var(--jetbrains-ToolbarComboWidget-background);
    --vscode-activityBar-background: var(--jetbrains-ToolBar-background);
    --vscode-activityBar-border: var(--jetbrains-ToolbarComboWidget-background);
    --vscode-activityBar-foreground: var(--jetbrains-ToolBar-foreground);
    --vscode-activityBar-inactiveForeground: var(--jetbrains-ToolbarComboWidget-hoverBackground);
    --vscode-activityBarBadge-background: var(--jetbrains-ToolBar-background);
    --vscode-activityBarBadge-foreground: var(--jetbrains-ToolBar-foreground);
    --vscode-activityBarTop-activeBorder: var(--jetbrains-MenuBar-borderColor);
    --vscode-activityBarTop-dropBorder: var(--jetbrains-MenuBar-borderColor);
    --vscode-activityBarTop-foreground: var(--jetbrains-MenuBar-foreground);
    --vscode-activityBarTop-inactiveForeground: var(--jetbrains-MenuBar-selectionForeground);
    --vscode-badge-background: var(--jetbrains-Tree-selectionBackground);
    --vscode-badge-foreground: var(--jetbrains-UIDesigner-Label-foreground);
    --vscode-banner-iconForeground: var(--jetbrains-Button-foreground);
    --vscode-breadcrumb-activeSelectionForeground: var(--jetbrains-Lesson-badge-newLessonForeground);
    --vscode-breadcrumb-background: var(--jetbrains-EditorPane-background);
    --vscode-breadcrumb-focusForeground: var(--jetbrains-EditorPane-caretForeground);
    --vscode-breadcrumb-foreground: var(--jetbrains-EditorPane-foreground);
    --vscode-breadcrumbPicker-background: var(--jetbrains-EditorPane-inactiveBackground);
    --vscode-button-border: var(--jetbrains-Button-startBorderColor);
    --vscode-button-foreground: var(--jetbrains-Button-foreground);
    --vscode-button-secondaryForeground: var(--jetbrains-Button-disabledText);
    --vscode-button-separator: var(--jetbrains-Button-shadow);
    --vscode-charts-blue: var(--jetbrains-CheckBox-foreground);
    --vscode-charts-foreground: var(--jetbrains-ControlText);
    --vscode-charts-green: var(--jetbrains-ProgressBar-passedColor);
    --vscode-charts-lines: var(--jetbrains-Table-gridColor);
    --vscode-charts-orange: var(--jetbrains-Bookmark-iconBackground);
    --vscode-charts-purple: var(--jetbrains-Tooltip-learning-background);
    --vscode-charts-red: var(--jetbrains-ProgressBar-failedColor);
    --vscode-charts-yellow: var(--jetbrains-ValidationTooltip-warningBackground);
    --vscode-chat-avatarBackground: var(--jetbrains-RadioButtonMenuItem-background);
    --vscode-chat-avatarForeground: var(--jetbrains-Tooltip-foreground);
    --vscode-chat-requestBackground: var(--jetbrains-List-background);
    --vscode-chat-requestBorder: var(--jetbrains-Component-borderColor);
    --vscode-chat-slashCommandBackground: var(--jetbrains-ToolbarComboWidget-background);
    --vscode-chat-slashCommandForeground: var(--jetbrains-ToolbarComboWidget-hoverBackground);
    --vscode-checkbox-background: var(--jetbrains-CheckBox-background);
    --vscode-checkbox-border: var(--jetbrains-Component-borderColor);
    --vscode-checkbox-foreground: var(--jetbrains-CheckBox-foreground);
    --vscode-checkbox-selectBackground: var(--jetbrains-TextField-selectionBackground);
    --vscode-checkbox-selectBorder: var(--jetbrains-TextField-darkShadow);
    --vscode-commandCenter-activeBorder: var(--jetbrains-Button-default-focusColor);
    --vscode-commandCenter-activeForeground: var(--jetbrains-Button-default-foreground);
    --vscode-commandCenter-border: var(--jetbrains-Component-borderColor);
    --vscode-commandCenter-debuggingBackground: var(--jetbrains-InternalFrame-borderHighlight);
    --vscode-commandCenter-foreground: var(--jetbrains-ToolBar-foreground);
    --vscode-commentsView-resolvedIcon: var(--jetbrains-List-selectionForeground);
    --vscode-commentsView-unresolvedIcon: var(--jetbrains-Bookmark-mnemonic-current-foreground);
    --vscode-contrastActiveBorder: var(--jetbrains-ActionButton-focusedBorderColor);
    --vscode-contrastBorder: var(--jetbrains-ActionButton-hoverBorderColor);
    --vscode-debugConsole-errorForeground: var(--jetbrains-Component-errorFocusColor);
    --vscode-debugConsole-infoForeground: var(--jetbrains-Info);
    --vscode-debugConsole-sourceForeground: var(--jetbrains-EditorPane-foreground);
    --vscode-debugConsole-warningForeground: var(--jetbrains-ValidationTooltip-warningBorderColor);
    --vscode-debugConsoleInputIcon-foreground: var(--jetbrains-Component-infoForeground);
    --vscode-debugExceptionWidget-background: var(--jetbrains-OptionPane-background);
    --vscode-debugExceptionWidget-border: var(--jetbrains-Component-borderColor);
    --vscode-debugIcon-breakpointCurrentStackframeForeground: var(--jetbrains-Tree-selectionForeground);
    --vscode-debugIcon-breakpointDisabledForeground: var(--jetbrains-RadioButton-darcula-selectionDisabledColor);
    --vscode-debugIcon-breakpointForeground: var(--jetbrains-BookmarkMnemonicCurrent-foreground);
    --vscode-debugIcon-breakpointStackframeForeground: var(--jetbrains-Tree-selectionForeground);
    --vscode-debugIcon-breakpointUnverifiedForeground: var(--jetbrains-RadioButton-darcula-selectionDisabledColor);
    --vscode-debugIcon-continueForeground: var(--jetbrains-ToolWindow-HeaderCloseButton-background);
    --vscode-debugIcon-disconnectForeground: var(--jetbrains-Button-shadowColor);
    --vscode-debugIcon-pauseForeground: var(--jetbrains-Button-light);
    --vscode-debugIcon-restartForeground: var(--jetbrains-Button-highlight);
    --vscode-debugIcon-startForeground: var(--jetbrains-Button-highlight);
    --vscode-debugIcon-stepBackForeground: var(--jetbrains-Button-light);
    --vscode-debugIcon-stepIntoForeground: var(--jetbrains-Button-light);
    --vscode-debugIcon-stepOutForeground: var(--jetbrains-Button-light);
    --vscode-debugIcon-stepOverForeground: var(--jetbrains-Button-light);
    --vscode-debugIcon-stopForeground: var(--jetbrains-ToolWindow-HeaderCloseButton-background);
    --vscode-debugTokenExpression-boolean: var(--jetbrains-Table-foreground);
    --vscode-debugTokenExpression-error: var(--jetbrains-ValidationTooltip-errorBackground);
    --vscode-debugTokenExpression-name: var(--jetbrains-ToolTip-foreground);
    --vscode-debugTokenExpression-number: var(--jetbrains-Table-focusCellForeground);
    --vscode-debugTokenExpression-string: var(--jetbrains-TextField-foreground);
    --vscode-debugTokenExpression-value: var(--jetbrains-ToolTip-foreground);
    --vscode-debugToolBar-background: var(--jetbrains-ToolWindow-Header-background);
    --vscode-debugView-exceptionLabelBackground: var(--jetbrains-ValidationTooltip-errorBackground);
    --vscode-debugView-exceptionLabelForeground: var(--jetbrains-ToolTip-foreground);
    --vscode-debugView-stateLabelBackground: var(--jetbrains-ValidationTooltip-warningBackground);
    --vscode-debugView-stateLabelForeground: var(--jetbrains-ToolTip-foreground);
    --vscode-debugView-valueChangedHighlight: var(--jetbrains-ProgressBar-passedColor);
    --vscode-descriptionForeground: var(--jetbrains-Label-foreground);
    --vscode-diffEditor-border: var(--jetbrains-SplitPaneDivider-draggingColor);
    --vscode-diffEditor-insertedTextBorder: var(--jetbrains-Table-selectionBackground);
    --vscode-diffEditor-move-border: var(--jetbrains-ToolWindow-HeaderTab-selectedInactiveBackground);
    --vscode-diffEditor-moveActive-border: var(--jetbrains-ToolWindow-HeaderTab-selectedBackground);
    --vscode-diffEditor-removedTextBorder: var(--jetbrains-ProgressBar-failedEndColor);
    --vscode-diffEditor-unchangedRegionBackground: var(--jetbrains-Table-selectionInactiveBackground);
    --vscode-diffEditor-unchangedRegionForeground: var(--jetbrains-Table-foreground);
    --vscode-diffEditor-unchangedRegionShadow: var(--jetbrains-ScrollBar-thumbDarkShadow);
    --vscode-disabledForeground: var(--jetbrains-CheckBoxMenuItem-disabledForeground);
    --vscode-dropdown-background: var(--jetbrains-ComboBox-background);
    --vscode-dropdown-border: var(--jetbrains-Component-borderColor);
    --vscode-dropdown-foreground: var(--jetbrains-ComboBox-foreground);
    --vscode-dropdown-listBackground: var(--jetbrains-ComboBox-buttonBackground);
    --vscode-editor-background: var(--jetbrains-EditorPane-background);
    --vscode-editor-findMatchBorder: var(--jetbrains-DragAndDrop-borderColor);
    --vscode-editor-findMatchHighlightBorder: var(--jetbrains-SegmentedButton-selectedEndBorderColor);
    --vscode-editor-findRangeHighlightBorder: var(--jetbrains-Table-dropLineShortColor);
    --vscode-editor-focusedStackFrameHighlightBackground: var(--jetbrains-Table-selectionBackground);
    --vscode-editor-foreground: var(--jetbrains-EditorPane-foreground);
    --vscode-editor-hoverHighlightBackground: var(--jetbrains-ActionButton-hoverBackground);
    --vscode-editor-inactiveSelectionBackground: var(--jetbrains-TextComponent-selectionBackgroundInactive);
    --vscode-editor-inlineValuesBackground: var(--jetbrains-BookmarkMnemonicAvailable-background);
    --vscode-editor-inlineValuesForeground: var(--jetbrains-Label-foreground);
    --vscode-editor-lineHighlightBorder: var(--jetbrains-Separator-foreground);
    --vscode-editor-linkedEditingBackground: var(--jetbrains-Menu-selectionBackground);
    --vscode-editor-rangeHighlightBorder: var(--jetbrains-Component-focusedBorderColor);
    --vscode-editor-selectionBackground: var(--jetbrains-EditorPane-selectionBackground);
    --vscode-editor-selectionForeground: var(--jetbrains-EditorPane-selectionForeground);
    --vscode-editor-selectionHighlightBorder: var(--jetbrains-SegmentedButton-selectedStartBorderColor);
    --vscode-editor-snippetFinalTabstopHighlightBorder: var(--jetbrains-SegmentedButton-focusColor);
    --vscode-editor-snippetTabstopHighlightBackground: var(--jetbrains-SegmentedButton-selectedButtonColor);
    --vscode-editor-stackFrameHighlightBackground: var(--jetbrains-Table-selectionInactiveBackground);
    --vscode-editor-symbolHighlightBorder: var(--jetbrains-MenuItem-selectionBackground);
    --vscode-editor-wordHighlightBorder: var(--jetbrains-Button-default-startBorderColor);
    --vscode-editor-wordHighlightStrongBorder: var(--jetbrains-TextField-darkShadow);
    --vscode-editor-wordHighlightTextBorder: var(--jetbrains-Component-errorFocusColor);
    --vscode-editorActiveLineNumber-foreground: var(--jetbrains-TextField-highlight);
    --vscode-editorBracketHighlight-foreground1: var(--jetbrains-MenuItem-acceleratorForeground);
    --vscode-editorBracketHighlight-foreground2: var(--jetbrains-Table-selectionForeground);
    --vscode-editorBracketHighlight-foreground3: var(--jetbrains-ToolTip-infoForeground);
    --vscode-editorBracketHighlight-foreground4: var(--jetbrains-Tree-textForeground);
    --vscode-editorBracketHighlight-foreground5: var(--jetbrains-InfoText);
    --vscode-editorBracketHighlight-foreground6: var(--jetbrains-Tree-foreground);
    --vscode-editorBracketHighlight-unexpectedBracket-foreground: var(--jetbrains-Hyperlink-linkColor);
    --vscode-editorBracketMatch-background: var(--jetbrains-EditorBracketMatch-background);
    --vscode-editorBracketMatch-border: var(--jetbrains-EditorBracketMatch-border);
    --vscode-editorBracketPairGuide-activeBackground1: var(--jetbrains-EditorBracketPairGuide-activeBackground1);
    --vscode-editorBracketPairGuide-activeBackground2: var(--jetbrains-EditorBracketPairGuide-activeBackground2);
    --vscode-editorBracketPairGuide-activeBackground3: var(--jetbrains-EditorBracketPairGuide-activeBackground3);
    --vscode-editorBracketPairGuide-activeBackground4: var(--jetbrains-EditorBracketPairGuide-activeBackground4);
    --vscode-editorBracketPairGuide-activeBackground5: var(--jetbrains-EditorBracketPairGuide-activeBackground5);
    --vscode-editorBracketPairGuide-activeBackground6: var(--jetbrains-EditorBracketPairGuide-activeBackground6);
    --vscode-editorBracketPairGuide-background1: var(--jetbrains-EditorBracketPairGuide-background1);
    --vscode-editorBracketPairGuide-background2: var(--jetbrains-EditorBracketPairGuide-background2);
    --vscode-editorBracketPairGuide-background3: var(--jetbrains-EditorBracketPairGuide-background3);
    --vscode-editorBracketPairGuide-background4: var(--jetbrains-EditorBracketPairGuide-background4);
    --vscode-editorBracketPairGuide-background5: var(--jetbrains-EditorBracketPairGuide-background5);
    --vscode-editorBracketPairGuide-background6: var(--jetbrains-EditorBracketPairGuide-background6);
    --vscode-editorCodeLens-foreground: var(--jetbrains-EditorCodeLens-foreground);
    --vscode-editorCommentsWidget-rangeActiveBackground: var(--jetbrains-EditorCommentsWidget-rangeActiveBackground);
    --vscode-editorCommentsWidget-rangeBackground: var(--jetbrains-EditorCommentsWidget-rangeBackground);
    --vscode-editorCommentsWidget-replyInputBackground: var(--jetbrains-EditorCommentsWidget-replyInputBackground);
    --vscode-editorCommentsWidget-resolvedBorder: var(--jetbrains-EditorCommentsWidget-resolvedBorder);
    --vscode-editorCommentsWidget-unresolvedBorder: var(--jetbrains-EditorCommentsWidget-unresolvedBorder);
    --vscode-editorCursor-foreground: var(--jetbrains-EditorCursor-foreground);
    --vscode-editorError-border: var(--jetbrains-EditorError-border);
    --vscode-editorError-foreground: var(--jetbrains-EditorError-foreground);
    --vscode-editorGhostText-border: var(--jetbrains-EditorGhostText-border);
    --vscode-editorGroup-border: var(--jetbrains-EditorGroup-border);
    --vscode-editorGroup-dropIntoPromptBackground: var(--jetbrains-EditorGroup-dropIntoPromptBackground);
    --vscode-editorGroup-dropIntoPromptBorder: var(--jetbrains-EditorGroup-dropIntoPromptBorder);
    --vscode-editorGroup-dropIntoPromptForeground: var(--jetbrains-EditorGroup-dropIntoPromptForeground);
    --vscode-editorGroup-focusedEmptyBorder: var(--jetbrains-EditorGroup-focusedEmptyBorder);
    --vscode-editorGroupHeader-border: var(--jetbrains-EditorGroupHeader-border);
    --vscode-editorGroupHeader-noTabsBackground: var(--jetbrains-EditorGroupHeader-noTabsBackground);
    --vscode-editorGutter-addedBackground: var(--jetbrains-EditorGutter-addedBackground);
    --vscode-editorGutter-background: var(--jetbrains-EditorGutter-background);
    --vscode-editorGutter-commentGlyphForeground: var(--jetbrains-EditorGutter-commentGlyphForeground);
    --vscode-editorGutter-commentRangeForeground: var(--jetbrains-EditorGutter-commentRangeForeground);
    --vscode-editorGutter-commentUnresolvedGlyphForeground: var(--jetbrains-EditorGutter-commentUnresolvedGlyphForeground);
    --vscode-editorGutter-deletedBackground: var(--jetbrains-EditorGutter-deletedBackground);
    --vscode-editorGutter-foldingControlForeground: var(--jetbrains-EditorGutter-foldingControlForeground);
    --vscode-editorGutter-modifiedBackground: var(--jetbrains-EditorGutter-modifiedBackground);
    --vscode-editorHint-border: var(--jetbrains-EditorHint-border);
    --vscode-editorHoverWidget-background: var(--jetbrains-EditorHoverWidget-background);
    --vscode-editorHoverWidget-border: var(--jetbrains-EditorHoverWidget-border);
    --vscode-editorHoverWidget-foreground: var(--jetbrains-EditorHoverWidget-foreground);
    --vscode-editorHoverWidget-highlightForeground: var(--jetbrains-TextField-foreground);
    --vscode-editorHoverWidget-statusBarBackground: var(--jetbrains-StatusBar-foreground);
    --vscode-editorIndentGuide-activeBackground: var(--jetbrains-TextPane-foreground);
    --vscode-editorIndentGuide-activeBackground1: var(--jetbrains-TabbedPane-underlineColor);
    --vscode-editorIndentGuide-activeBackground2: var(--jetbrains-PopupMenu-selectionForeground);
    --vscode-editorIndentGuide-activeBackground3: var(--jetbrains-Table-selectionForeground);
    --vscode-editorIndentGuide-activeBackground4: var(--jetbrains-Tree-textForeground);
    --vscode-editorIndentGuide-activeBackground5: var(--jetbrains-Menu-selectionForeground);
    --vscode-editorIndentGuide-activeBackground6: var(--jetbrains-TextPane-selectionForeground);
    --vscode-editorIndentGuide-background: var(--jetbrains-Separator-foreground);
    --vscode-editorIndentGuide-background1: var(--jetbrains-Scrollbar-foreground);
    --vscode-editorIndentGuide-background2: var(--jetbrains-Scrollbar-background);
    --vscode-editorIndentGuide-background3: var(--jetbrains-Scrollbar-thumb);
    --vscode-editorIndentGuide-background4: var(--jetbrains-Scrollbar-thumbShadow);
    --vscode-editorIndentGuide-background5: var(--jetbrains-Scrollbar-track);
    --vscode-editorIndentGuide-background6: var(--jetbrains-Scrollbar-trackHighlight);
    --vscode-editorInfo-border: var(--jetbrains-ValidationTooltip-errorBorderColor);
    --vscode-editorInfo-foreground: var(--jetbrains-ValidatedTooltip-warningBorderColor);
    --vscode-editorInlayHint-background: var(--jetbrains-RolloverMousePressedForeground);
    --vscode-editorInlayHint-foreground: var(--jetbrains-RolloverMousePressedBackground);
    --vscode-editorInlayHint-parameterBackground: var(--jetbrains-RecentLocations-colors);
    --vscode-editorInlayHint-parameterForeground: var(--jetbrains-RecentLocations-colors);
    --vscode-editorInlayHint-typeBackground: var(--jetbrains-RecentLocations-menuBackground);
    --vscode-editorInlayHint-typeForeground: var(--jetbrains-RecentLocations-menuForeground);
    --vscode-editorLightBulb-foreground: var(--jetbrains-EditorTabs-foreground);
    --vscode-editorLightBulbAi-foreground: var(--jetbrains-EditorTabs-underlinedTabBackground);
    --vscode-editorLightBulbAutoFix-foreground: var(--jetbrains-FormattedTextField-foreground);
    --vscode-editorLineNumber-activeForeground: var(--jetbrains-FormattedTextField-background);
    --vscode-editorLineNumber-foreground: var(--jetbrains-PasswordField-foreground);
    --vscode-editorLink-activeForeground: var(--jetbrains-Popup-translucentBackground);
    --vscode-editorMarkerNavigation-background: var(--jetbrains-ToolWindow-headerTab-selectedInactiveBackground);
    --vscode-editorMarkerNavigationError-background: var(--jetbrains-Toolbar-darkShadow);
    --vscode-editorMarkerNavigationInfo-background: var(--jetbrains-TabbedPane-darkShadow);
    --vscode-editorMarkerNavigationWarning-background: var(--jetbrains-TabbedPane-foreground);
    --vscode-editorMarkerNavigationWarning-headerBackground: var(--jetbrains-Toolbar-highlight);
    --vscode-editorMultiCursor-primary-foreground: var(--jetbrains-Button-light);
    --vscode-editorMultiCursor-secondary-foreground: var(--jetbrains-ToggleButton-shadow);
    --vscode-editorOverviewRuler-addedForeground: var(--jetbrains-EditorPane-selectionForeground);
    --vscode-editorOverviewRuler-border: var(--jetbrains-Separator-shadow);
    --vscode-editorOverviewRuler-bracketMatchForeground: var(--jetbrains-Scrollbar-thumbHighlight);
    --vscode-editorOverviewRuler-commentForeground: var(--jetbrains-TextPane-foreground);
    --vscode-editorOverviewRuler-commentUnresolvedForeground: var(--jetbrains-Button-shadow);
    --vscode-editorOverviewRuler-commonContentForeground: var(--jetbrains-CheckBox-foreground);
    --vscode-editorOverviewRuler-currentContentForeground: var(--jetbrains-EditorPane-selectionBackground);
    --vscode-editorOverviewRuler-deletedForeground: var(--jetbrains-ProgressBar-failedColor);
    --vscode-editorOverviewRuler-errorForeground: var(--jetbrains-ValidationTooltip-errorBorderColor);
    --vscode-editorOverviewRuler-findMatchForeground: var(--jetbrains-EditorPane-selectionForeground);
    --vscode-editorOverviewRuler-incomingContentForeground: var(--jetbrains-ProgressBar-passedEndColor);
    --vscode-editorOverviewRuler-infoForeground: var(--jetbrains-ToolTip-infoForeground);
    --vscode-editorOverviewRuler-modifiedForeground: var(--jetbrains-ProgressBar-progressColor);
    --vscode-editorOverviewRuler-rangeHighlightForeground: var(--jetbrains-TextPane-selectionForeground);
    --vscode-editorOverviewRuler-selectionHighlightForeground: var(--jetbrains-EditorPane-background);
    --vscode-editorOverviewRuler-warningForeground: var(--jetbrains-ValidationTooltip-warningBorderColor);
    --vscode-editorOverviewRuler-wordHighlightForeground: var(--jetbrains-EditorPane-selectionForeground);
    --vscode-editorOverviewRuler-wordHighlightStrongForeground: var(--jetbrains-TextPane-selectionForeground);
    --vscode-editorOverviewRuler-wordHighlightTextForeground: var(--jetbrains-EditorPane-selectionForeground);
    --vscode-editorPane-background: var(--jetbrains-EditorPane-background);
    --vscode-editorRuler-foreground: var(--jetbrains-EditorRuler-foreground);
    --vscode-editorStickyScroll-background: var(--jetbrains-EditorStickyScroll-background);
    --vscode-editorStickyScroll-border: var(--jetbrains-EditorStickyScroll-border);
    --vscode-editorSuggestWidget-background: var(--jetbrains-EditorSuggestWidget-background);
    --vscode-editorSuggestWidget-border: var(--jetbrains-EditorSuggestWidget-border);
    --vscode-editorSuggestWidget-focusHighlightForeground: var(--jetbrains-EditorSuggestWidget-focusHighlightForeground);
    --vscode-editorSuggestWidget-foreground: var(--jetbrains-EditorSuggestWidget-foreground);
    --vscode-editorSuggestWidget-highlightForeground: var(--jetbrains-EditorSuggestWidget-highlightForeground);
    --vscode-editorSuggestWidgetStatus-foreground: var(--jetbrains-EditorSuggestWidgetStatus-foreground);
    --vscode-editorUnicodeHighlight-border: var(--jetbrains-EditorUnicodeHighlight-border);
    --vscode-editorUnnecessaryCode-border: var(--jetbrains-EditorUnnecessaryCode-border);
    --vscode-editorWarning-border: var(--jetbrains-EditorWarning-border);
    --vscode-editorWarning-foreground: var(--jetbrains-EditorWarning-foreground);
    --vscode-editorWatermark-foreground: var(--jetbrains-EditorWatermark-foreground);
    --vscode-editorWhitespace-foreground: var(--jetbrains-EditorWhitespace-foreground);
    --vscode-editorWidget-background: var(--jetbrains-EditorWidget-background);
    --vscode-editorWidget-border: var(--jetbrains-EditorWidget-border);
    --vscode-editorWidget-foreground: var(--jetbrains-EditorWidget-foreground);
    --vscode-errorForeground: var(--jetbrains-ErrorForeground);
    --vscode-extensionBadge-remoteBackground: var(--jetbrains-ExtensionBadge-remoteBackground);
    --vscode-extensionBadge-remoteForeground: var(--jetbrains-ExtensionBadge-remoteForeground);
    --vscode-extensionButton-separator: var(--jetbrains-ExtensionButton-separator);
    --vscode-extensionIcon-preReleaseForeground: var(--jetbrains-ExtensionIcon-preReleaseForeground);
    --vscode-extensionIcon-starForeground: var(--jetbrains-ExtensionIcon-starForeground);
    --vscode-extensionIcon-verifiedForeground: var(--jetbrains-ExtensionIcon-verifiedForeground);
    --vscode-focusBorder: var(--jetbrains-Link-hoverForeground);
    --vscode-foreground: var(--jetbrains-Foreground);
    --vscode-icon-foreground: var(--jetbrains-Icon-foreground);
    --vscode-input-background: var(--jetbrains-TextField-background);
    --vscode-input-border: var(--jetbrains-TextArea-inactiveForeground);
    --vscode-input-foreground: var(--jetbrains-TextField-foreground);
    --vscode-input-placeholderForeground: var(--jetbrains-TextField-foreground);
    --vscode-inputOption-activeBackground: var(--jetbrains-ToolWindow-HeaderTab-underlineColor);
    --vscode-inputOption-activeBorder: var(--jetbrains-TextField-borderColor);
    --vscode-inputOption-activeForeground: var(--jetbrains-UIDesigner-Label-foreground);
    --vscode-inputValidation-errorBackground: var(--jetbrains-Notification-ToolWindow-errorBackground);
    --vscode-inputValidation-errorBorder: var(--jetbrains-Notification-ToolWindow-errorBorderColor);
    --vscode-inputValidation-infoBackground: var(--jetbrains-Notification-ToolWindow-informativeBackground);
    --vscode-inputValidation-infoBorder: var(--jetbrains-Notification-ToolWindow-informativeBorderColor);
    --vscode-inputValidation-warningBackground: var(--jetbrains-Notification-ToolWindow-warningBackground);
    --vscode-inputValidation-warningBorder: var(--jetbrains-Notification-ToolWindow-warningBorderColor);
    --vscode-interactive-activeCodeBorder: var(--jetbrains-Interactive-activeCodeBorder);
    --vscode-interactive-inactiveCodeBorder: var(--jetbrains-Interactive-inactiveCodeBorder);
    --vscode-keybindingLabel-background: var(--jetbrains-KeybindingLabel-background);
    --vscode-keybindingLabel-border: var(--jetbrains-KeybindingLabel-border);
    --vscode-keybindingLabel-bottomBorder: var(--jetbrains-KeybindingLabel-bottomBorder);
    --vscode-keybindingLabel-foreground: var(--jetbrains-KeybindingLabel-foreground);
    --vscode-list-deemphasizedForeground: var(--jetbrains-MenuItem-disabledForeground);
    --vscode-list-filterMatchBorder: var(--jetbrains-MenuItem-acceleratorForeground);
    --vscode-list-focusHighlightForeground: var(--jetbrains-MenuItem-selectionForeground);
    --vscode-list-focusOutline: var(--jetbrains-MenuBar-shadow);
    --vscode-list-highlightForeground: var(--jetbrains-MenuItem-selectionForeground);
    --vscode-list-hoverBackground: var(--jetbrains-List-selectionBackground);
    --vscode-list-invalidItemForeground: var(--jetbrains-MenuItem-disabledForeground);
    --vscode-list-activeSelectionForeground: var(--jetbrains-List-foreground);
    --vscode-list-activeSelectionBackground: var(--jetbrains-List-selectionBackground);
    --vscode-listFilterWidget-background: var(--jetbrains-List-selectionBackground);
    --vscode-listFilterWidget-noMatchesOutline: var(--jetbrains-List-selectionInactiveBackground);
    --vscode-listFilterWidget-outline: var(--jetbrains-List-selectionInactiveBackground);
    --vscode-menu-background: var(--jetbrains-PopupMenu-background);
    --vscode-menu-border: var(--jetbrains-PopupMenu-selectionBackground);
    --vscode-menu-foreground: var(--jetbrains-PopupMenu-foreground);
    --vscode-menu-selectionBorder: var(--jetbrains-PopupMenu-selectionForeground);
    --vscode-menu-separatorBackground: var(--jetbrains-Menu-separatorColor);
    --vscode-menubar-selectionBorder: var(--jetbrains-Menu-separatorColor);
    --vscode-menubar-selectionForeground: var(--jetbrains-Menu-selectionForeground);
    --vscode-merge-border: var(--jetbrains-TextComponent-selectionBackgroundInactive);
    --vscode-mergeEditor-change-background: var(--jetbrains-MainToolbar-Icon-pressedBackground);
    --vscode-mergeEditor-change-word-background: var(--jetbrains-MainToolbar-Icon-background);
    --vscode-mergeEditor-changeBase-background: var(--jetbrains-Menu-selectionForeground);
    --vscode-mergeEditor-changeBase-word-background: var(--jetbrains-TextPane-selectionForeground);
    --vscode-mergeEditor-conflict-handled-minimapOverViewRuler: var(--jetbrains-TextPane-inactiveForeground);
    --vscode-mergeEditor-conflict-handledFocused-border: var(--jetbrains-TextPane-caretForeground);
    --vscode-mergeEditor-conflict-handledUnfocused-border: var(--jetbrains-TextPane-foreground);
    --vscode-mergeEditor-conflict-unhandled-minimapOverViewRuler: var(--jetbrains-TextPane-background);
    --vscode-mergeEditor-conflict-unhandledFocused-border: var(--jetbrains-TextPane-inactiveBackground);
    --vscode-mergeEditor-conflict-unhandledUnfocused-border: var(--jetbrains-TextPane-inactiveForeground);
    --vscode-mergeEditor-conflictingLines-background: var(--jetbrains-TextPane-caretForeground);
    --vscode-minimap-errorHighlight: var(--jetbrains-ValidationTooltip-errorBackground);
    --vscode-minimap-findMatchHighlight: var(--jetbrains-ValidationTooltip-errorBorderColor);
    --vscode-minimap-foregroundOpacity: var(--jetbrains-TextPane-caretForeground);
    --vscode-minimap-infoHighlight: var(--jetbrains-Tooltip-foreground);
    --vscode-minimap-selectionHighlight: var(--jetbrains-Tooltip-background);
    --vscode-minimap-selectionOccurrenceHighlight: var(--jetbrains-Tooltip-Learning-foreground);
    --vscode-minimap-warningHighlight: var(--jetbrains-Tooltip-Learning-background);
    --vscode-minimapGutter-addedBackground: var(--jetbrains-Scrollbar-thumb);
    --vscode-minimapGutter-deletedBackground: var(--jetbrains-Scrollbar-thumbDarkShadow);
    --vscode-minimapGutter-modifiedBackground: var(--jetbrains-Scrollbar-track);
    --vscode-minimapSlider-activeBackground: var(--jetbrains-Scrollbar-trackHighlight);
    --vscode-minimapSlider-background: var(--jetbrains-Scrollbar-foreground);
    --vscode-minimapSlider-hoverBackground: var(--jetbrains-Scrollbar-background);
    --vscode-multiDiffEditor-border: var(--jetbrains-Component-borderColor);
    --vscode-notebook-cellBorderColor: var(--jetbrains-TextField-foreground);
    --vscode-notebook-cellInsertionIndicator: var(--jetbrains-Separator-foreground);
    --vscode-notebook-cellStatusBarItemHoverBackground: var(--jetbrains-DesktopIcon-labelBackground);
    --vscode-notebook-cellToolbarSeparator: var(--jetbrains-Toolbar-background);
    --vscode-notebook-focusedCellBorder: var(--jetbrains-Component-warningFocusColor);
    --vscode-notebook-focusedEditorBorder: var(--jetbrains-Component-errorFocusColor);
    --vscode-notebook-inactiveFocusedCellBorder: var(--jetbrains-Component-inactiveErrorFocusColor);
    --vscode-notebook-inactiveSelectedCellBorder: var(--jetbrains-Component-inactiveWarningFocusColor);
    --vscode-notebook-selectedCellBorder: var(--jetbrains-Component-focusedBorderColor);
    --vscode-notebookEditorOverviewRuler-runningCellForeground: var(--jetbrains-Lesson-Badge-newLessonForeground);
    --vscode-notebookScrollbarSlider-activeBackground: var(--jetbrains-Lesson-shortcutBackground);
    --vscode-notebookScrollbarSlider-background: var(--jetbrains-Lesson-Badge-newLessonBackground);
    --vscode-notebookScrollbarSlider-hoverBackground: var(--jetbrains-Lesson-Badge-newLessonBackground);
    --vscode-notebookStatusErrorIcon-foreground: var(--jetbrains-ValidationTooltip-warningBorderColor);
    --vscode-notebookStatusRunningIcon-foreground: var(--jetbrains-ValidationTooltip-warningBackground);
    --vscode-notebookStatusSuccessIcon-foreground: var(--jetbrains-ValidationTooltip-warningForeground);
    --vscode-notificationCenter-border: var(--jetbrains-notificationCenterHeader-background);
    --vscode-notificationCenterHeader-background: var(--jetbrains-notificationLink-foreground);
    --vscode-notificationLink-foreground: var(--jetbrains-notificationToast-border);
    --vscode-notificationToast-border: var(--jetbrains-notifications-background);
    --vscode-notifications-background: var(--jetbrains-notifications-foreground);
    --vscode-notifications-border: var(--jetbrains-notificationsErrorIcon-foreground);
    --vscode-notifications-foreground: var(--jetbrains-notificationsInfoIcon-foreground);
    --vscode-notificationsErrorIcon-foreground: var(--jetbrains-notificationsWarningIcon-foreground);
    --vscode-panel-background: var(--jetbrains-Panel-background);
    --vscode-panel-border: var(--jetbrains-Panel-foreground);
    --vscode-panel-dropBorder: var(--jetbrains-Panel-background);
    --vscode-panelInput-border: var(--jetbrains-TextField-shadow);
    --vscode-panelSection-border: var(--jetbrains-Panel-background);
    --vscode-panelSectionHeader-border: var(--jetbrains-Panel-background);
    --vscode-panelStickyScroll-background: var(--jetbrains-ScrollPane-background);
    --vscode-panelTitle-activeBorder: var(--jetbrains-TabbedPane-focusColor);
    --vscode-panelTitle-activeForeground: var(--jetbrains-TabbedPane-underlineColor);
    --vscode-panelTitle-inactiveForeground: var(--jetbrains-TabbedPane-foreground);
    --vscode-peekView-border: var(--jetbrains-InternalFrame-borderLight);
    --vscode-peekViewEditor-background: var(--jetbrains-EditorPane-background);
    --vscode-peekViewEditor-matchHighlightBorder: var(--jetbrains-InternalFrame-borderHighlight);
    --vscode-peekViewEditorGutter-background: var(--jetbrains-EditorPane-background);
    --vscode-peekViewEditorStickyScroll-background: var(--jetbrains-ScrollPane-background);
    --vscode-peekViewResult-background: var(--jetbrains-EditorPane-background);
    --vscode-peekViewResult-fileForeground: var(--jetbrains-FileChooser-foreground);
    --vscode-peekViewResult-lineForeground: var(--jetbrains-TextPane-inactiveForeground);
    --vscode-peekViewResult-selectionForeground: var(--jetbrains-Menu-selectionForeground);
    --vscode-peekViewTitle-background: var(--jetbrains-EditorPane-background);
    --vscode-peekViewTitleDescription-foreground: var(--jetbrains-TextPane-foreground);
    --vscode-peekViewTitleLabel-foreground: var(--jetbrains-TextPane-foreground);
    --vscode-pickerGroup-border: var(--jetbrains-Menu-separatorColor);
    --vscode-pickerGroup-foreground: var(--jetbrains-Menu-foreground);
    --vscode-ports-iconRunningProcessForeground: var(--jetbrains-Text-foreground);
    --vscode-problemsErrorIcon-foreground: var(--jetbrains-ValidationTooltip-errorBorderColor);
    --vscode-problemsInfoIcon-foreground: var(--jetbrains-InfoText);
    --vscode-problemsWarningIcon-foreground: var(--jetbrains-WarningText);
    --vscode-profileBadge-background: var(--jetbrains-ProgressBar-background);
    --vscode-profileBadge-foreground: var(--jetbrains-ProgressBar-foreground);
    --vscode-progressBar-background: var(--jetbrains-ProgressBar-background);
    --vscode-quickInput-background: var(--jetbrains-Desktop-background);
    --vscode-quickInput-foreground: var(--jetbrains-ToolTip-foreground);
    --vscode-quickInputTitle-background: var(--jetbrains-Tooltip-Learning-foreground);
    --vscode-remoteHub-decorations-addedForegroundColor: var(--jetbrains-ActionButton-hoverBackground);
    --vscode-remoteHub-decorations-conflictForegroundColor: var(--jetbrains-ValidationTooltip-warningBorderColor);
    --vscode-remoteHub-decorations-deletedForegroundColor: var(--jetbrains-ActionButton-pressedBackground);
    --vscode-remoteHub-decorations-ignoredResourceForeground: var(--jetbrains-Button-foreground);
    --vscode-remoteHub-decorations-incomingAddedForegroundColor: var(--jetbrains-ActionButton-pressedBackground);
    --vscode-remoteHub-decorations-incomingDeletedForegroundColor: var(--jetbrains-ValidationTooltip-warningBorderColor);
    --vscode-remoteHub-decorations-incomingModifiedForegroundColor: var(--jetbrains-ProgressBar-failedColor);
    --vscode-remoteHub-decorations-incomingRenamedForegroundColor: var(--jetbrains-TabbedPane-selectedTabTitleShadowNormalColor);
    --vscode-remoteHub-decorations-modifiedForegroundColor: var(--jetbrains-ProgressBar-failedColor);
    --vscode-remoteHub-decorations-submoduleForegroundColor: var(--jetbrains-ActionButton-hoverBackground);
    --vscode-remoteHub-decorations-workspaceRepositoriesView-hasUncommittedChangesForegroundColor: var(--jetbrains-ActionButton-pressedBackground);
    --vscode-scm-historyItemStatisticsBorder: var(--jetbrains-VersionControl-Log-Commit-currentBranchBackground);
    --vscode-scrollbar-shadow: var(--jetbrains-ScrollBar-thumbShadow);
    --vscode-scrollbarSlider-activeBackground: var(--jetbrains-ScrollBar-trackHighlight);
    --vscode-scrollbarSlider-background: var(--jetbrains-ScrollBar-track);
    --vscode-scrollbarSlider-hoverBackground: var(--jetbrains-ScrollBar-trackHighlight);
    --vscode-search-resultsInfoForeground: var(--jetbrains-InfoText);
    --vscode-searchEditor-findMatchBorder: var(--jetbrains-SearchEverywhere-list-separatorColor);
    --vscode-searchEditor-textInputBorder: var(--jetbrains-SearchEverywhere-searchField-infoForeground);
    --vscode-selection-background: var(--jetbrains-Text-selectionBackground);
    --vscode-settings-checkboxBackground: var(--jetbrains-Settings-checkboxBackground);
    --vscode-settings-checkboxBorder: var(--jetbrains-Settings-checkboxBorder);
    --vscode-settings-checkboxForeground: var(--jetbrains-Settings-checkboxForeground);
    --vscode-settings-dropdownBackground: var(--jetbrains-ComboBox-background);
    --vscode-settings-dropdownBorder: var(--jetbrains-ComboBox-selectionForeground);
    --vscode-settings-dropdownForeground: var(--jetbrains-ComboBox-foreground);
    --vscode-settings-dropdownListBorder: var(--jetbrains-ComboBox-selectionForeground);
    --vscode-settings-focusedRowBorder: var(--jetbrains-ComboBox-selectionForeground);
    --vscode-settings-headerBorder: var(--jetbrains-Settings-headerBorder);
    --vscode-settings-headerForeground: var(--jetbrains-Settings-headerForeground);
    --vscode-settings-modifiedItemIndicator: var(--jetbrains-Settings-modifiedItemIndicator);
    --vscode-settings-numberInputBackground: var(--jetbrains-Settings-numberInputBackground);
    --vscode-settings-numberInputBorder: var(--jetbrains-Settings-numberInputBorder);
    --vscode-settings-numberInputForeground: var(--jetbrains-Settings-numberInputForeground);
    --vscode-settings-sashBorder: var(--jetbrains-Settings-sashBorder);
    --vscode-settings-settingsHeaderHoverForeground: var(--jetbrains-Settings-settingsHeaderHoverForeground);
    --vscode-settings-textInputBackground: var(--jetbrains-ComboBox-background);
    --vscode-settings-textInputBorder: var(--jetbrains-Settings-textInputBorder);
    --vscode-settings-textInputForeground: var(--jetbrains-ComboBox-foreground);
    --vscode-sideBar-background: var(--jetbrains-MenuBar-background);
    --vscode-sideBar-border: var(--jetbrains-MenuBar-borderColor);
    --vscode-sideBarActivityBarTop-border: var(--jetbrains-MenuBar-borderColor);
    --vscode-sideBarSectionHeader-border: var(--jetbrains-MenuBar-shadow);
    --vscode-sideBarStickyScroll-background: var(--jetbrains-MenuBar-background);
    --vscode-sideBarTitle-background: var(--jetbrains-MenuBar-background);
    --vscode-sideBarTitle-foreground: var(--jetbrains-MenuBar-foreground);
    --vscode-sideBySideEditor-horizontalBorder: var(--jetbrains-TabbedPane-darkShadow);
    --vscode-sideBySideEditor-verticalBorder: var(--jetbrains-TabbedPane-darkShadow);
    --vscode-simpleFindWidget-sashBorder: var(--jetbrains-Scrollbar-thumbShadow);
    --vscode-statusBar-border: var(--jetbrains-Scrollbar-thumbShadow);
    --vscode-statusBar-debuggingBackground: var(--jetbrains-ProgressBar-failedEndColor);
    --vscode-statusBar-debuggingBorder: var(--jetbrains-ProgressBar-failedEndColor);
    --vscode-statusBar-debuggingForeground: var(--jetbrains-ProgressBar-foreground);
    --vscode-statusBar-foreground: var(--jetbrains-Scrollbar-foreground);
    --vscode-statusBar-noFolderBorder: var(--jetbrains-Scrollbar-thumbShadow);
    --vscode-statusBar-noFolderForeground: var(--jetbrains-Scrollbar-foreground);
    --vscode-statusBarItem-activeBackground: var(--jetbrains-MainToolbar-icon-pressedBackground);
    --vscode-statusBarItem-compactHoverBackground: var(--jetbrains-ToolbarComboWidget-hoverBackground);
    --vscode-statusBarItem-errorForeground: var(--jetbrains-ValidationTooltip-errorForeground);
    --vscode-statusBarItem-errorHoverBackground: var(--jetbrains-StatusBarItem-errorHoverForeground);
    --vscode-statusBarItem-errorHoverForeground: var(--jetbrains-Scrollbar-foreground);
    --vscode-statusBarItem-hoverBackground: var(--jetbrains-ToolbarComboWidget-hoverBackground);
    --vscode-statusBarItem-hoverForeground: var(--jetbrains-Scrollbar-foreground);
    --vscode-statusBarItem-offlineBackground: var(--jetbrains-StatusBarItem-offlineForeground);
    --vscode-statusBarItem-offlineForeground: var(--jetbrains-Scrollbar-foreground);
    --vscode-statusBarItem-offlineHoverBackground: var(--jetbrains-StatusBarItem-offlineHoverForeground);
    --vscode-statusBarItem-offlineHoverForeground: var(--jetbrains-Scrollbar-foreground);
    --vscode-statusBarItem-prominentBackground: var(--jetbrains-StatusBarItem-prominentForeground);
    --vscode-statusBarItem-prominentForeground: var(--jetbrains-Scrollbar-foreground);
    --vscode-statusBarItem-prominentHoverBackground: var(--jetbrains-StatusBarItem-prominentHoverForeground);
    --vscode-statusBarItem-prominentHoverForeground: var(--jetbrains-Scrollbar-foreground);
    --vscode-statusBarItem-remoteBackground: var(--jetbrains-StatusBarItem-remoteForeground);
    --vscode-statusBarItem-remoteForeground: var(--jetbrains-Scrollbar-foreground);
    --vscode-statusBarItem-remoteHoverBackground: var(--jetbrains-StatusBarItem-remoteHoverForeground);
    --vscode-statusBarItem-remoteHoverForeground: var(--jetbrains-Scrollbar-foreground);
    --vscode-statusBarItem-warningForeground: var(--jetbrains-ValidationTooltip-warningForeground);
    --vscode-statusBarItem-warningHoverBackground: var(--jetbrains-StatusBarItem-warningHoverForeground);
    --vscode-statusBarItem-warningHoverForeground: var(--jetbrains-Scrollbar-foreground);
    --vscode-symbolIcon-arrayForeground: var(--jetbrains-SymbolIcon-arrayForeground);
    --vscode-symbolIcon-booleanForeground: var(--jetbrains-SymbolIcon-booleanForeground);
    --vscode-symbolIcon-classForeground: var(--jetbrains-SymbolIcon-classForeground);
    --vscode-symbolIcon-colorForeground: var(--jetbrains-SymbolIcon-colorForeground);
    --vscode-symbolIcon-constantForeground: var(--jetbrains-SymbolIcon-constantForeground);
    --vscode-symbolIcon-constructorForeground: var(--jetbrains-SymbolIcon-constructorForeground);
    --vscode-symbolIcon-enumeratorForeground: var(--jetbrains-SymbolIcon-enumeratorForeground);
    --vscode-symbolIcon-enumeratorMemberForeground: var(--jetbrains-SymbolIcon-enumeratorMemberForeground);
    --vscode-symbolIcon-eventForeground: var(--jetbrains-SymbolIcon-eventForeground);
    --vscode-symbolIcon-fieldForeground: var(--jetbrains-SymbolIcon-fieldForeground);
    --vscode-symbolIcon-fileForeground: var(--jetbrains-SymbolIcon-fileForeground);
    --vscode-symbolIcon-folderForeground: var(--jetbrains-SymbolIcon-folderForeground);
    --vscode-symbolIcon-functionForeground: var(--jetbrains-SymbolIcon-functionForeground);
    --vscode-symbolIcon-interfaceForeground: var(--jetbrains-SymbolIcon-interfaceForeground);
    --vscode-symbolIcon-keyForeground: var(--jetbrains-SymbolIcon-keyForeground);
    --vscode-symbolIcon-keywordForeground: var(--jetbrains-SymbolIcon-keywordForeground);
    --vscode-symbolIcon-methodForeground: var(--jetbrains-SymbolIcon-methodForeground);
    --vscode-symbolIcon-moduleForeground: var(--jetbrains-SymbolIcon-moduleForeground);
    --vscode-symbolIcon-namespaceForeground: var(--jetbrains-SymbolIcon-namespaceForeground);
    --vscode-symbolIcon-nullForeground: var(--jetbrains-SymbolIcon-nullForeground);
    --vscode-symbolIcon-numberForeground: var(--jetbrains-SymbolIcon-numberForeground);
    --vscode-symbolIcon-objectForeground: var(--jetbrains-SymbolIcon-objectForeground);
    --vscode-symbolIcon-operatorForeground: var(--jetbrains-SymbolIcon-operatorForeground);
    --vscode-symbolIcon-packageForeground: var(--jetbrains-SymbolIcon-packageForeground);
    --vscode-symbolIcon-propertyForeground: var(--jetbrains-SymbolIcon-propertyForeground);
    --vscode-symbolIcon-referenceForeground: var(--jetbrains-SymbolIcon-referenceForeground);
    --vscode-symbolIcon-snippetForeground: var(--jetbrains-SymbolIcon-snippetForeground);
    --vscode-symbolIcon-stringForeground: var(--jetbrains-SymbolIcon-stringForeground);
    --vscode-symbolIcon-structForeground: var(--jetbrains-SymbolIcon-structForeground);
    --vscode-symbolIcon-textForeground: var(--jetbrains-SymbolIcon-textForeground);
    --vscode-symbolIcon-typeParameterForeground: var(--jetbrains-SymbolIcon-typeParameterForeground);
    --vscode-symbolIcon-unitForeground: var(--jetbrains-SymbolIcon-unitForeground);
    --vscode-symbolIcon-variableForeground: var(--jetbrains-SymbolIcon-variableForeground);
    --vscode-tab-activeBackground: var(--jetbrains-TabbedPane-background);
    --vscode-tab-activeForeground: var(--jetbrains-TabbedPane-foreground);
    --vscode-tab-border: var(--jetbrains-TabbedPane-border);
    --vscode-tab-dragAndDropBorder: var(--jetbrains-DragAndDrop-borderColor);
    --vscode-tab-inactiveForeground: var(--jetbrains-TabbedPane-foreground);
    --vscode-tab-inactiveModifiedBorder: var(--jetbrains-TabbedPane-selectedTabTitleShadowNormalColor);
    --vscode-tab-lastPinnedBorder: var(--jetbrains-TabbedPane-selectedTabTitleShadowDisabledColor);
    --vscode-tab-unfocusedActiveBackground: var(--jetbrains-TabbedPane-light);
    --vscode-tab-unfocusedActiveForeground: var(--jetbrains-TabbedPane-selectedTabTitleShadowNormalColor);
    --vscode-tab-unfocusedActiveModifiedBorder: var(--jetbrains-TabbedPane-focus);
    --vscode-tab-unfocusedInactiveForeground: var(--jetbrains-TabbedPane-selectedTabTitleDisabledColor);
    --vscode-tab-unfocusedInactiveModifiedBorder: var(--jetbrains-TabbedPane-focusColor);
    --vscode-terminal-ansiBlack: var(--jetbrains-Text);
    --vscode-terminal-ansiBlue: var(--jetbrains-Charts-blue);
    --vscode-terminal-ansiBrightBlack: var(--jetbrains-TextInactiveText);
    --vscode-terminal-ansiBrightBlue: var(--jetbrains-TextLink-foreground);
    --vscode-terminal-ansiBrightCyan: var(--jetbrains-ActionButton-hoverBackground);
    --vscode-terminal-ansiBrightGreen: var(--jetbrains-TextSeparator-foreground);
    --vscode-terminal-ansiBrightMagenta: var(--jetbrains-EditorPane-caretForeground);
    --vscode-terminal-ansiBrightRed: var(--jetbrains-ValidationTooltip-errorBackground);
    --vscode-terminal-ansiBrightWhite: var(--jetbrains-ToolbarComboWidget-hoverBackground);
    --vscode-terminal-ansiBrightYellow: var(--jetbrains-ValidationTooltip-warningBackground);
    --vscode-terminal-ansiCyan: var(--jetbrains-ToolbarButton-selectionBackground);
    --vscode-terminal-ansiGreen: var(--jetbrains-ActionButton-pressedBackground);
    --vscode-terminal-ansiMagenta: var(--jetbrains-Menu-foreground);
    --vscode-terminal-ansiRed: var(--jetbrains-ValidationTooltip-errorBorderColor);
    --vscode-terminal-ansiWhite: var(--jetbrains-Button-default-startBackground);
    --vscode-terminal-ansiYellow: var(--jetbrains-ProgressBar-passedColor);
    --vscode-terminal-border: var(--jetbrains-ProgressBar-background);
    --vscode-terminal-findMatchBorder: var(--jetbrains-ToolbarComboWidget-hoverBackground);
    --vscode-terminal-findMatchHighlightBorder: var(--jetbrains-ToolbarComboWidget-hoverBackground);
    --vscode-terminal-foreground: var(--jetbrains-Text);
    --vscode-terminal-hoverHighlightBackground: var(--jetbrains-ToolbarComboWidget-hoverBackground);
    --vscode-terminal-inactiveSelectionBackground: var(--jetbrains-TextArea-inactiveBackground);
    --vscode-terminal-selectionBackground: var(--jetbrains-ToolbarComboWidget-hoverBackground);
    --vscode-terminal-selectionForeground: var(--jetbrains-TextHighlight);
    --vscode-terminalCommandDecoration-defaultBackground: var(--jetbrains-TextSeparator-foreground);
    --vscode-terminalCommandDecoration-errorBackground: var(--jetbrains-ValidationTooltip-errorBackground);
    --vscode-terminalCommandDecoration-successBackground: var(--jetbrains-ProgressBar-passedEndColor);
    --vscode-terminalOverviewRuler-cursorForeground: var(--jetbrains-Button-startBackground);
    --vscode-terminalOverviewRuler-findMatchForeground: var(--jetbrains-EditorPane-selectionForeground);
    --vscode-testing-coverCountBadgeBackground: var(--jetbrains-ToolbarComboWidget-background);
    --vscode-testing-coverCountBadgeForeground: var(--jetbrains-ToolbarComboWidget-hoverBackground);
    --vscode-testing-coveredBorder: var(--jetbrains-TextLink-activeForeground);
    --vscode-testing-coveredGutterBackground: var(--jetbrains-TextCodeBlock-background);
    --vscode-testing-iconErrored: var(--jetbrains-Button-disabledText);
    --vscode-testing-iconErrored-retired: var(--jetbrains-Label-disabledShadow);
    --vscode-testing-iconFailed: var(--jetbrains-Button-shadow);
    --vscode-testing-iconFailed-retired: var(--jetbrains-Button-default-endBorderColor);
    --vscode-testing-iconPassed: var(--jetbrains-Button-foreground);
    --vscode-testing-iconPassed-retired: var(--jetbrains-Button-startBorderColor);
    --vscode-testing-iconQueued: var(--jetbrains-Button-secondaryForeground);
    --vscode-testing-iconQueued-retired: var(--jetbrains-Button-disabledBorderColor);
    --vscode-testing-iconSkipped: var(--jetbrains-Button-endBackground);
    --vscode-testing-iconSkipped-retired: var(--jetbrains-Button-disabledText);
    --vscode-testing-iconUnset: var(--jetbrains-TextBlockQuote-border);
    --vscode-testing-iconUnset-retired: var(--jetbrains-TextPreformat-foreground);
    --vscode-testing-message-error-decorationForeground: var(--jetbrains-Button-default-foreground);
    --vscode-testing-message-info-decorationForeground: var(--jetbrains-TextCodeBlock-background);
    --vscode-testing-messagePeekBorder: var(--jetbrains-Button-default-startBorderColor);
    --vscode-testing-peekBorder: var(--jetbrains-Button-default-focusColor);
    --vscode-testing-runAction: var(--jetbrains-Toolbar-hoverOutline);
    --vscode-testing-uncoveredBorder: var(--jetbrains-Button-secondaryForeground);
    --vscode-testing-uncoveredGutterBackground: var(--jetbrains-Button-endBorderColor);
    --vscode-textBlockQuote-border: var(--jetbrains-Button-shadow);
    --vscode-textCodeBlock-background: var(--jetbrains-TextCodeBlock-background);
    --vscode-textLink-activeForeground: var(--jetbrains-Link-hoverForeground);
    --vscode-textLink-foreground: var(--jetbrains-Hyperlink-linkColor);
    --vscode-textPreformat-background: var(--jetbrains-TextPreformat-background);
    --vscode-textPreformat-foreground: var(--jetbrains-TextPreformat-foreground);
    --vscode-textSeparator-foreground: var(--jetbrains-TextSeparator-foreground);
    --vscode-titleBar-activeBackground: var(--jetbrains-TitleBar-activeBackground);
    --vscode-titleBar-activeForeground: var(--jetbrains-TitleBar-activeForeground);
    --vscode-titleBar-border: var(--jetbrains-TitleBar-border);
    --vscode-toolbar-hoverOutline: var(--jetbrains-Toolbar-hoverOutline);
    --vscode-tree-inactiveIndentGuidesStroke: var(--jetbrains-Tree-inactiveIndentGuidesStroke);
    --vscode-tree-indentGuidesStroke: var(--jetbrains-Tree-indentGuidesStroke);
    --vscode-welcomePage-progress-background: var(--jetbrains-WelcomePage-progress-background);
    --vscode-welcomePage-progress-foreground: var(--jetbrains-WelcomePage-progress-foreground);
    --vscode-welcomePage-tileBackground: var(--jetbrains-WelcomePage-tileBackground);
    --vscode-welcomePage-tileBorder: var(--jetbrains-WelcomePage-tileBorder);
    --vscode-widget-border: var(--jetbrains-Popup-borderColor);
    --vscode-window-activeBorder: var(--jetbrains-Window-activeBorder);
    --vscode-window-inactiveBorder: var(--jetbrains-Window-inactiveBorder);
    --button-icon-background: var(--jetbrains-Button-iconBackground);
    --foreground: var(--jetbrains-Button-foreground);

    /* Mimic rules injected by VSCode */
    --vscode-font-family: var(--font-family);
    --vscode-font-weight: var(--font-weight);
    --vscode-font-size: var(--type-ramp-base-font-size);
    --vscode-editor-font-family: var(--font-family);
    --vscode-editor-font-weight: var(--font-weight);
    --vscode-editor-font-size: var(--type-ramp-minus1-font-size);


    --vscode-widget-shadow: rgba(0, 0, 0, 0.36);

    /* todo: get this from the vscode implementation instead of hardcoded on this theme file*/
    --vscode-font-size: 13px;

    /* Mimic rules injected by VSCode */
    scrollbar-color: var(--vscode-scrollbarSlider-background) var(--vscode-editor-background);
}

/* Mimic rules injected by VSCode */

html[data-ide='JetBrains'] body {
    overscroll-behavior-x: none;
    background-color: var(--vscode-sideBar-background);
    color: var(--vscode-editor-foreground);
    font-family: var(--vscode-font-family);
    font-weight: var(--vscode-font-weight);
    font-size: var(--vscode-font-size);
    margin: 0 auto;
    padding: 0;
}

html[data-ide='JetBrains'] :matches(img, video) {
    max-width: 100%;
    max-height: 100%;
}

html[data-ide='JetBrains'] :matches(a, a code) {
    color: var(--vscode-textLink-foreground);
}

html[data-ide='JetBrains'] a:hover {
    color: var(--vscode-textLink-activeForeground);
}

html[data-ide='JetBrains'] :matches(a, input, select, textarea):focus {
    outline: 1px solid -webkit-focus-ring-color;
    outline-offset: -1px;
}

html[data-ide='JetBrains'] code {
    font-family: var(--monaco-monospace-font);
    color: var(--vscode-textPreformat-foreground);
    background-color: var(--vscode-textPreformat-background);
    padding: 1px 3px;
    border-radius: 4px;
}

html[data-ide='JetBrains'] pre code {
    padding: 0;
}

html[data-ide='JetBrains'] blockquote {
    background: var(--vscode-textBlockQuote-background);
    border-color: var(--vscode-textBlockQuote-border);
}

html[data-ide='JetBrains'] kbd {
    background-color: var(--vscode-keybindingLabel-background);
    color: var(--vscode-keybindingLabel-foreground);
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: var(--vscode-keybindingLabel-border);
    border-bottom-color: var(--vscode-keybindingLabel-bottomBorder);
    box-shadow: inset 0 -1px 0 var(--vscode-widget-shadow);
    vertical-align: middle;
    padding: 1px 3px;
}

html[data-ide='JetBrains'] .model-selector-popover::-webkit-scrollbar {
    width: 10px;
    height: 8px;
    background-color: transparent;
}

html[data-ide='JetBrains'] .model-selector-popover::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 100px;
    border: 1px solid var(--vscode-sideBar-background);
}

/* color-mix is not supported on JetBrains webview */
html[data-ide=JetBrains] .context-item-mention-node {
    color: var(--vscode-inputOption-activeForeground);
    background-color: var(--vscode-badge-background);
    gap: 0.2rem;

    .icon {
        width: 1rem;
        height: 1rem;
    }
}
