html[data-ide='VisualStudio'] {
    --vscode-actionBar-toggledBackground: var(--visualstudio-);
    --vscode-activityBar-background: var(--visualstudio-);
    --vscode-activityBar-border: var(--visualstudio-);
    --vscode-activityBar-foreground: var(--visualstudio-);
    --vscode-activityBar-inactiveForeground: var(--visualstudio-);
    --vscode-activityBarBadge-background: var(--visualstudio-);
    --vscode-activityBarBadge-foreground: var(--visualstudio-);
    --vscode-activityBarTop-activeBorder: var(--visualstudio-);
    --vscode-activityBarTop-dropBorder: var(--visualstudio-);
    --vscode-activityBarTop-foreground: var(--visualstudio-);
    --vscode-activityBarTop-inactiveForeground: var(--visualstudio-);
    --vscode-badge-background: var(--visualstudio-);
    --vscode-badge-foreground: var(--visualstudio-);
    --vscode-banner-iconForeground: var(--visualstudio-);
    --vscode-breadcrumb-activeSelectionForeground: var(--visualstudio-);
    --vscode-breadcrumb-background: var(--visualstudio-);
    --vscode-breadcrumb-focusForeground: var(--visualstudio-);
    --vscode-breadcrumb-foreground: var(--visualstudio-);
    --vscode-breadcrumbPicker-background: var(--visualstudio-);
    --vscode-button-border: var(--visualstudio-filetabbuttonhoverselectedactiveborder);
    --vscode-button-background: var(--visualstudio-filetabbackground);
    --vscode-button-hoverBackground: var(--visualstudio-filetabselectedbackground);
    --vscode-button-foreground: var(--visualstudio-filetabparenttext);
    --vscode-button-secondaryHoverBackground: var(--visualstudio-editorexpansionlink);
    --vscode-button-secondaryBackground: var(--visualstudio-editorexpansionlink);
    --vscode-button-secondaryForeground: var(--visualstudio-editorexpansionfill);
    --vscode-button-separator: var(--visualstudio-filetabprimaryseparator);
    --vscode-charts-blue: var(--visualstudio-vizsurfacesoftbluedark);
    --vscode-charts-foreground: var(--visualstudio-);
    --vscode-charts-green: var(--visualstudio-vizsurfacegreendark);
    --vscode-charts-lines: var(--visualstudio-snaplines);
    --vscode-charts-orange: var(--visualstudio-vizsurfacebrowndark);
    --vscode-charts-purple: var(--visualstudio-vizsurfaceplumdark);
    --vscode-charts-red: var(--visualstudio-vizsurfacereddark);
    --vscode-charts-yellow: var(--visualstudio-vizsurfacegoldlight);
    --vscode-chat-avatarBackground: var(--visualstudio-);
    --vscode-chat-avatarForeground: var(--visualstudio-);
    --vscode-chat-requestBackground: var(--visualstudio-);
    --vscode-chat-requestBorder: var(--visualstudio-);
    --vscode-chat-slashCommandBackground: var(--visualstudio-);
    --vscode-chat-slashCommandForeground: var(--visualstudio-);
    --vscode-checkbox-background: var(--visualstudio-);
    --vscode-checkbox-border: var(--visualstudio-);
    --vscode-checkbox-foreground: var(--visualstudio-);
    --vscode-checkbox-selectBackground: var(--visualstudio-);
    --vscode-checkbox-selectBorder: var(--visualstudio-);
    --vscode-commandCenter-activeBorder: var(--visualstudio-);
    --vscode-commandCenter-activeForeground: var(--visualstudio-);
    --vscode-commandCenter-border: var(--visualstudio-);
    --vscode-commandCenter-debuggingBackground: var(--visualstudio-);
    --vscode-commandCenter-foreground: var(--visualstudio-);
    --vscode-commentsView-resolvedIcon: var(--visualstudio-);
    --vscode-commentsView-unresolvedIcon: var(--visualstudio-);
    --vscode-contrastActiveBorder: var(--visualstudio-);
    --vscode-contrastBorder: var(--visualstudio-);
    --vscode-debugConsole-errorForeground: var(--visualstudio-);
    --vscode-debugConsole-infoForeground: var(--visualstudio-);
    --vscode-debugConsole-sourceForeground: var(--visualstudio-);
    --vscode-debugConsole-warningForeground: var(--visualstudio-);
    --vscode-debugConsoleInputIcon-foreground: var(--visualstudio-);
    --vscode-debugExceptionWidget-background: var(--visualstudio-);
    --vscode-debugExceptionWidget-border: var(--visualstudio-);
    --vscode-debugIcon-breakpointCurrentStackframeForeground: var(--visualstudio-);
    --vscode-debugIcon-breakpointDisabledForeground: var(--visualstudio-);
    --vscode-debugIcon-breakpointForeground: var(--visualstudio-);
    --vscode-debugIcon-breakpointStackframeForeground: var(--visualstudio-);
    --vscode-debugIcon-breakpointUnverifiedForeground: var(--visualstudio-);
    --vscode-debugIcon-continueForeground: var(--visualstudio-);
    --vscode-debugIcon-disconnectForeground: var(--visualstudio-);
    --vscode-debugIcon-pauseForeground: var(--visualstudio-);
    --vscode-debugIcon-restartForeground: var(--visualstudio-);
    --vscode-debugIcon-startForeground: var(--visualstudio-);
    --vscode-debugIcon-stepBackForeground: var(--visualstudio-);
    --vscode-debugIcon-stepIntoForeground: var(--visualstudio-);
    --vscode-debugIcon-stepOutForeground: var(--visualstudio-);
    --vscode-debugIcon-stepOverForeground: var(--visualstudio-);
    --vscode-debugIcon-stopForeground: var(--visualstudio-);
    --vscode-debugTokenExpression-boolean: var(--visualstudio-);
    --vscode-debugTokenExpression-error: var(--visualstudio-);
    --vscode-debugTokenExpression-name: var(--visualstudio-);
    --vscode-debugTokenExpression-number: var(--visualstudio-);
    --vscode-debugTokenExpression-string: var(--visualstudio-);
    --vscode-debugTokenExpression-value: var(--visualstudio-);
    --vscode-debugToolBar-background: var(--visualstudio-);
    --vscode-debugView-exceptionLabelBackground: var(--visualstudio-);
    --vscode-debugView-exceptionLabelForeground: var(--visualstudio-);
    --vscode-debugView-stateLabelBackground: var(--visualstudio-);
    --vscode-debugView-stateLabelForeground: var(--visualstudio-);
    --vscode-debugView-valueChangedHighlight: var(--visualstudio-);
    --vscode-descriptionForeground: var(--visualstudio-);
    --vscode-diffEditor-border: var(--visualstudio-);
    --vscode-diffEditor-insertedTextBorder: var(--visualstudio-);
    --vscode-diffEditor-move-border: var(--visualstudio-);
    --vscode-diffEditor-moveActive-border: var(--visualstudio-);
    --vscode-diffEditor-removedTextBorder: var(--visualstudio-);
    --vscode-diffEditor-unchangedRegionBackground: var(--visualstudio-);
    --vscode-diffEditor-unchangedRegionForeground: var(--visualstudio-);
    --vscode-diffEditor-unchangedRegionShadow: var(--visualstudio-);
    --vscode-disabledForeground: var(--visualstudio-);
    --vscode-dropdown-background: var(--visualstudio-dropdownbackground);
    --vscode-dropdown-border: var(--visualstudio-dropdownborder);
    --vscode-dropdown-foreground: var(--visualstudio-dropdowntext);
    --vscode-dropdown-listBackground: var(--visualstudio-dropdownmouseoverbackgroundend);
    --vscode-editor-background: var(--visualstudio-editorexpansionfill);
    --vscode-editor-findMatchBorder: var(--visualstudio-);
    --vscode-editor-findMatchHighlightBorder: var(--visualstudio-);
    --vscode-editor-findRangeHighlightBorder: var(--visualstudio-);
    --vscode-editor-focusedStackFrameHighlightBackground: var(--visualstudio-);
    --vscode-editor-foreground: var(--visualstudio-);
    --vscode-editor-hoverHighlightBackground: var(--visualstudio-);
    --vscode-editor-inactiveSelectionBackground: var(--visualstudio-);
    --vscode-editor-inlineValuesBackground: var(--visualstudio-);
    --vscode-editor-inlineValuesForeground: var(--visualstudio-);
    --vscode-editor-lineHighlightBorder: var(--visualstudio-);
    --vscode-editor-linkedEditingBackground: var(--visualstudio-);
    --vscode-editor-rangeHighlightBorder: var(--visualstudio-);
    --vscode-editor-selectionBackground: var(--visualstudio-);
    --vscode-editor-selectionForeground: var(--visualstudio-);
    --vscode-editor-selectionHighlightBorder: var(--visualstudio-);
    --vscode-editor-snippetFinalTabstopHighlightBorder: var(--visualstudio-);
    --vscode-editor-snippetTabstopHighlightBackground: var(--visualstudio-);
    --vscode-editor-stackFrameHighlightBackground: var(--visualstudio-);
    --vscode-editor-symbolHighlightBorder: var(--visualstudio-);
    --vscode-editor-wordHighlightBorder: var(--visualstudio-);
    --vscode-editor-wordHighlightStrongBorder: var(--visualstudio-);
    --vscode-editor-wordHighlightTextBorder: var(--visualstudio-);
    --vscode-editorActiveLineNumber-foreground: var(--visualstudio-);
    --vscode-editorBracketHighlight-foreground1: var(--visualstudio-);
    --vscode-editorBracketHighlight-foreground2: var(--visualstudio-);
    --vscode-editorBracketHighlight-foreground3: var(--visualstudio-);
    --vscode-editorBracketHighlight-foreground4: var(--visualstudio-);
    --vscode-editorBracketHighlight-foreground5: var(--visualstudio-);
    --vscode-editorBracketHighlight-foreground6: var(--visualstudio-);
    --vscode-editorBracketHighlight-unexpectedBracket-foreground: var(--visualstudio-);
    --vscode-editorBracketMatch-background: var(--visualstudio-);
    --vscode-editorBracketMatch-border: var(--visualstudio-);
    --vscode-editorBracketPairGuide-activeBackground1: var(--visualstudio-);
    --vscode-editorBracketPairGuide-activeBackground2: var(--visualstudio-);
    --vscode-editorBracketPairGuide-activeBackground3: var(--visualstudio-);
    --vscode-editorBracketPairGuide-activeBackground4: var(--visualstudio-);
    --vscode-editorBracketPairGuide-activeBackground5: var(--visualstudio-);
    --vscode-editorBracketPairGuide-activeBackground6: var(--visualstudio-);
    --vscode-editorBracketPairGuide-background1: var(--visualstudio-);
    --vscode-editorBracketPairGuide-background2: var(--visualstudio-);
    --vscode-editorBracketPairGuide-background3: var(--visualstudio-);
    --vscode-editorBracketPairGuide-background4: var(--visualstudio-);
    --vscode-editorBracketPairGuide-background5: var(--visualstudio-);
    --vscode-editorBracketPairGuide-background6: var(--visualstudio-);
    --vscode-editorCodeLens-foreground: var(--visualstudio-);
    --vscode-editorCommentsWidget-rangeActiveBackground: var(--visualstudio-);
    --vscode-editorCommentsWidget-rangeBackground: var(--visualstudio-);
    --vscode-editorCommentsWidget-replyInputBackground: var(--visualstudio-);
    --vscode-editorCommentsWidget-resolvedBorder: var(--visualstudio-);
    --vscode-editorCommentsWidget-unresolvedBorder: var(--visualstudio-);
    --vscode-editorCursor-foreground: var(--visualstudio-);
    --vscode-editorError-border: var(--visualstudio-);
    --vscode-editorError-foreground: var(--visualstudio-);
    --vscode-editorGhostText-border: var(--visualstudio-);
    --vscode-editorGroup-border: var(--visualstudio-);
    --vscode-editorGroup-dropIntoPromptBackground: var(--visualstudio-);
    --vscode-editorGroup-dropIntoPromptBorder: var(--visualstudio-);
    --vscode-editorGroup-dropIntoPromptForeground: var(--visualstudio-);
    --vscode-editorGroup-focusedEmptyBorder: var(--visualstudio-);
    --vscode-editorGroupHeader-border: var(--visualstudio-);
    --vscode-editorGroupHeader-noTabsBackground: var(--visualstudio-);
    --vscode-editorGutter-addedBackground: var(--visualstudio-);
    --vscode-editorGutter-background: var(--visualstudio-);
    --vscode-editorGutter-commentGlyphForeground: var(--visualstudio-);
    --vscode-editorGutter-commentRangeForeground: var(--visualstudio-);
    --vscode-editorGutter-commentUnresolvedGlyphForeground: var(--visualstudio-);
    --vscode-editorGutter-deletedBackground: var(--visualstudio-);
    --vscode-editorGutter-foldingControlForeground: var(--visualstudio-);
    --vscode-editorGutter-modifiedBackground: var(--visualstudio-);
    --vscode-editorHint-border: var(--visualstudio-);
    --vscode-editorHoverWidget-background: var(--visualstudio-);
    --vscode-editorHoverWidget-border: var(--visualstudio-);
    --vscode-editorHoverWidget-foreground: var(--visualstudio-);
    --vscode-editorHoverWidget-highlightForeground: var(--visualstudio-);
    --vscode-editorHoverWidget-statusBarBackground: var(--visualstudio-);
    --vscode-editorIndentGuide-activeBackground: var(--visualstudio-);
    --vscode-editorIndentGuide-activeBackground1: var(--visualstudio-);
    --vscode-editorIndentGuide-activeBackground2: var(--visualstudio-);
    --vscode-editorIndentGuide-activeBackground3: var(--visualstudio-);
    --vscode-editorIndentGuide-activeBackground4: var(--visualstudio-);
    --vscode-editorIndentGuide-activeBackground5: var(--visualstudio-);
    --vscode-editorIndentGuide-activeBackground6: var(--visualstudio-);
    --vscode-editorIndentGuide-background: var(--visualstudio-);
    --vscode-editorIndentGuide-background1: var(--visualstudio-);
    --vscode-editorIndentGuide-background2: var(--visualstudio-);
    --vscode-editorIndentGuide-background3: var(--visualstudio-);
    --vscode-editorIndentGuide-background4: var(--visualstudio-);
    --vscode-editorIndentGuide-background5: var(--visualstudio-);
    --vscode-editorIndentGuide-background6: var(--visualstudio-);
    --vscode-editorInfo-border: var(--visualstudio-);
    --vscode-editorInfo-foreground: var(--visualstudio-);
    --vscode-editorInlayHint-background: var(--visualstudio-);
    --vscode-editorInlayHint-foreground: var(--visualstudio-);
    --vscode-editorInlayHint-parameterBackground: var(--visualstudio-);
    --vscode-editorInlayHint-parameterForeground: var(--visualstudio-);
    --vscode-editorInlayHint-typeBackground: var(--visualstudio-);
    --vscode-editorInlayHint-typeForeground: var(--visualstudio-);
    --vscode-editorLightBulb-foreground: var(--visualstudio-);
    --vscode-editorLightBulbAi-foreground: var(--visualstudio-);
    --vscode-editorLightBulbAutoFix-foreground: var(--visualstudio-);
    --vscode-editorLineNumber-activeForeground: var(--visualstudio-);
    --vscode-editorLineNumber-foreground: var(--visualstudio-);
    --vscode-editorLink-activeForeground: var(--visualstudio-);
    --vscode-editorMarkerNavigation-background: var(--visualstudio-);
    --vscode-editorMarkerNavigationError-background: var(--visualstudio-);
    --vscode-editorMarkerNavigationInfo-background: var(--visualstudio-);
    --vscode-editorMarkerNavigationWarning-background: var(--visualstudio-);
    --vscode-editorMarkerNavigationWarning-headerBackground: var(--visualstudio-);
    --vscode-editorMultiCursor-primary-foreground: var(--visualstudio-);
    --vscode-editorMultiCursor-secondary-foreground: var(--visualstudio-);
    --vscode-editorOverviewRuler-addedForeground: var(--visualstudio-);
    --vscode-editorOverviewRuler-border: var(--visualstudio-);
    --vscode-editorOverviewRuler-bracketMatchForeground: var(--visualstudio-);
    --vscode-editorOverviewRuler-commentForeground: var(--visualstudio-);
    --vscode-editorOverviewRuler-commentUnresolvedForeground: var(--visualstudio-);
    --vscode-editorOverviewRuler-commonContentForeground: var(--visualstudio-);
    --vscode-editorOverviewRuler-currentContentForeground: var(--visualstudio-);
    --vscode-editorOverviewRuler-deletedForeground: var(--visualstudio-);
    --vscode-editorOverviewRuler-errorForeground: var(--visualstudio-);
    --vscode-editorOverviewRuler-findMatchForeground: var(--visualstudio-);
    --vscode-editorOverviewRuler-incomingContentForeground: var(--visualstudio-);
    --vscode-editorOverviewRuler-infoForeground: var(--visualstudio-);
    --vscode-editorOverviewRuler-modifiedForeground: var(--visualstudio-);
    --vscode-editorOverviewRuler-rangeHighlightForeground: var(--visualstudio-);
    --vscode-editorOverviewRuler-selectionHighlightForeground: var(--visualstudio-);
    --vscode-editorOverviewRuler-warningForeground: var(--visualstudio-);
    --vscode-editorOverviewRuler-wordHighlightForeground: var(--visualstudio-);
    --vscode-editorOverviewRuler-wordHighlightStrongForeground: var(--visualstudio-);
    --vscode-editorOverviewRuler-wordHighlightTextForeground: var(--visualstudio-);
    --vscode-editorPane-background: var(--visualstudio-editorexpansionfill);
    --vscode-editorRuler-foreground: var(--visualstudio-);
    --vscode-editorStickyScroll-background: var(--visualstudio-);
    --vscode-editorStickyScroll-border: var(--visualstudio-);
    --vscode-editorSuggestWidget-background: var(--visualstudio-);
    --vscode-editorSuggestWidget-border: var(--visualstudio-);
    --vscode-editorSuggestWidget-focusHighlightForeground: var(--visualstudio-);
    --vscode-editorSuggestWidget-foreground: var(--visualstudio-);
    --vscode-editorSuggestWidget-highlightForeground: var(--visualstudio-);
    --vscode-editorSuggestWidgetStatus-foreground: var(--visualstudio-);
    --vscode-editorUnicodeHighlight-border: var(--visualstudio-);
    --vscode-editorUnnecessaryCode-border: var(--visualstudio-);
    --vscode-editorWarning-border: var(--visualstudio-);
    --vscode-editorWarning-foreground: var(--visualstudio-);
    --vscode-editorWatermark-foreground: var(--visualstudio-);
    --vscode-editorWhitespace-foreground: var(--visualstudio-);
    --vscode-editorWidget-background: var(--visualstudio-);
    --vscode-editorWidget-border: var(--visualstudio-);
    --vscode-editorWidget-foreground: var(--visualstudio-);
    --vscode-errorForeground: var(--visualstudio-);
    --vscode-extensionBadge-remoteBackground: var(--visualstudio-);
    --vscode-extensionBadge-remoteForeground: var(--visualstudio-);
    --vscode-extensionButton-separator: var(--visualstudio-);
    --vscode-extensionIcon-preReleaseForeground: var(--visualstudio-);
    --vscode-extensionIcon-starForeground: var(--visualstudio-);
    --vscode-extensionIcon-verifiedForeground: var(--visualstudio-);
    --vscode-focusBorder: var(--visualstudio-comboboxborder);
    --vscode-foreground: var(--visualstudio-toolwindowtext);
    --vscode-icon-foreground: var(--visualstudio-comboboxtext);
    --vscode-input-background: var(--visualstudio-comboboxbackground);
    --vscode-input-border: var(--visualstudio-comboboxborder);
    --vscode-input-foreground: var(--visualstudio-comboboxtext);
    --vscode-input-placeholderForeground: var(--visualstudio-comboboxitemtextinactive);
    --vscode-inputOption-activeBackground: var(--visualstudio-);
    --vscode-inputOption-activeBorder: var(--visualstudio-);
    --vscode-inputOption-activeForeground: var(--visualstudio-);
    --vscode-inputValidation-errorBackground: var(--visualstudio-);
    --vscode-inputValidation-errorBorder: var(--visualstudio-);
    --vscode-inputValidation-infoBackground: var(--visualstudio-);
    --vscode-inputValidation-infoBorder: var(--visualstudio-);
    --vscode-inputValidation-warningBackground: var(--visualstudio-);
    --vscode-inputValidation-warningBorder: var(--visualstudio-);
    --vscode-interactive-activeCodeBorder: var(--visualstudio-);
    --vscode-interactive-inactiveCodeBorder: var(--visualstudio-);
    --vscode-keybindingLabel-background: var(--visualstudio-);
    --vscode-keybindingLabel-border: var(--visualstudio-);
    --vscode-keybindingLabel-bottomBorder: var(--visualstudio-);
    --vscode-keybindingLabel-foreground: var(--visualstudio-);
    --vscode-list-deemphasizedForeground: var(--visualstudio-);
    --vscode-list-filterMatchBorder: var(--visualstudio-);
    --vscode-list-focusHighlightForeground: var(--visualstudio-);
    --vscode-list-focusOutline: var(--visualstudio-);
    --vscode-list-highlightForeground: var(--visualstudio-);
    --vscode-list-hoverBackground: var(--visualstudio-);
    --vscode-list-invalidItemForeground: var(--visualstudio-);
    --vscode-list-activeSelectionForeground: var(--visualstudio-);
    --vscode-list-activeSelectionBackground: var(--visualstudio-);
    --vscode-listFilterWidget-background: var(--visualstudio-);
    --vscode-listFilterWidget-noMatchesOutline: var(--visualstudio-);
    --vscode-listFilterWidget-outline: var(--visualstudio-);
    --vscode-menu-background: var(--visualstudio-);
    --vscode-menu-border: var(--visualstudio-);
    --vscode-menu-foreground: var(--visualstudio-);
    --vscode-menu-selectionBorder: var(--visualstudio-);
    --vscode-menu-separatorBackground: var(--visualstudio-);
    --vscode-menubar-selectionBorder: var(--visualstudio-);
    --vscode-menubar-selectionForeground: var(--visualstudio-);
    --vscode-merge-border: var(--visualstudio-);
    --vscode-mergeEditor-change-background: var(--visualstudio-);
    --vscode-mergeEditor-change-word-background: var(--visualstudio-);
    --vscode-mergeEditor-changeBase-background: var(--visualstudio-);
    --vscode-mergeEditor-changeBase-word-background: var(--visualstudio-);
    --vscode-mergeEditor-conflict-handled-minimapOverViewRuler: var(--visualstudio-);
    --vscode-mergeEditor-conflict-handledFocused-border: var(--visualstudio-);
    --vscode-mergeEditor-conflict-handledUnfocused-border: var(--visualstudio-);
    --vscode-mergeEditor-conflict-unhandled-minimapOverViewRuler: var(--visualstudio-);
    --vscode-mergeEditor-conflict-unhandledFocused-border: var(--visualstudio-);
    --vscode-mergeEditor-conflict-unhandledUnfocused-border: var(--visualstudio-);
    --vscode-mergeEditor-conflictingLines-background: var(--visualstudio-);
    --vscode-minimap-errorHighlight: var(--visualstudio-);
    --vscode-minimap-findMatchHighlight: var(--visualstudio-);
    --vscode-minimap-foregroundOpacity: var(--visualstudio-);
    --vscode-minimap-infoHighlight: var(--visualstudio-);
    --vscode-minimap-selectionHighlight: var(--visualstudio-);
    --vscode-minimap-selectionOccurrenceHighlight: var(--visualstudio-);
    --vscode-minimap-warningHighlight: var(--visualstudio-);
    --vscode-minimapGutter-addedBackground: var(--visualstudio-);
    --vscode-minimapGutter-deletedBackground: var(--visualstudio-);
    --vscode-minimapGutter-modifiedBackground: var(--visualstudio-);
    --vscode-minimapSlider-activeBackground: var(--visualstudio-);
    --vscode-minimapSlider-background: var(--visualstudio-);
    --vscode-minimapSlider-hoverBackground: var(--visualstudio-);
    --vscode-multiDiffEditor-border: var(--visualstudio-);
    --vscode-notebook-cellBorderColor: var(--visualstudio-);
    --vscode-notebook-cellInsertionIndicator: var(--visualstudio-);
    --vscode-notebook-cellStatusBarItemHoverBackground: var(--visualstudio-);
    --vscode-notebook-cellToolbarSeparator: var(--visualstudio-);
    --vscode-notebook-focusedCellBorder: var(--visualstudio-);
    --vscode-notebook-focusedEditorBorder: var(--visualstudio-);
    --vscode-notebook-inactiveFocusedCellBorder: var(--visualstudio-);
    --vscode-notebook-inactiveSelectedCellBorder: var(--visualstudio-);
    --vscode-notebook-selectedCellBorder: var(--visualstudio-);
    --vscode-notebookEditorOverviewRuler-runningCellForeground: var(--visualstudio-);
    --vscode-notebookScrollbarSlider-activeBackground: var(--visualstudio-);
    --vscode-notebookScrollbarSlider-background: var(--visualstudio-);
    --vscode-notebookScrollbarSlider-hoverBackground: var(--visualstudio-);
    --vscode-notebookStatusErrorIcon-foreground: var(--visualstudio-);
    --vscode-notebookStatusRunningIcon-foreground: var(--visualstudio-);
    --vscode-notebookStatusSuccessIcon-foreground: var(--visualstudio-);
    --vscode-notificationCenter-border: var(--visualstudio-);
    --vscode-notificationCenterHeader-background: var(--visualstudio-);
    --vscode-notificationLink-foreground: var(--visualstudio-);
    --vscode-notificationToast-border: var(--visualstudio-);
    --vscode-notifications-background: var(--visualstudio-);
    --vscode-notifications-border: var(--visualstudio-);
    --vscode-notifications-foreground: var(--visualstudio-);
    --vscode-notificationsErrorIcon-foreground: var(--visualstudio-);
    --vscode-panel-background: var(--visualstudio-);
    --vscode-panel-border: var(--visualstudio-);
    --vscode-panel-dropBorder: var(--visualstudio-);
    --vscode-panelInput-border: var(--visualstudio-);
    --vscode-panelSection-border: var(--visualstudio-);
    --vscode-panelSectionHeader-border: var(--visualstudio-);
    --vscode-panelStickyScroll-background: var(--visualstudio-);
    --vscode-panelTitle-activeBorder: var(--visualstudio-);
    --vscode-panelTitle-activeForeground: var(--visualstudio-);
    --vscode-panelTitle-inactiveForeground: var(--visualstudio-);
    --vscode-peekView-border: var(--visualstudio-);
    --vscode-peekViewEditor-background: var(--visualstudio-);
    --vscode-peekViewEditor-matchHighlightBorder: var(--visualstudio-);
    --vscode-peekViewEditorGutter-background: var(--visualstudio-);
    --vscode-peekViewEditorStickyScroll-background: var(--visualstudio-);
    --vscode-peekViewResult-background: var(--visualstudio-);
    --vscode-peekViewResult-fileForeground: var(--visualstudio-);
    --vscode-peekViewResult-lineForeground: var(--visualstudio-);
    --vscode-peekViewResult-selectionForeground: var(--visualstudio-);
    --vscode-peekViewTitle-background: var(--visualstudio-);
    --vscode-peekViewTitleDescription-foreground: var(--visualstudio-);
    --vscode-peekViewTitleLabel-foreground: var(--visualstudio-);
    --vscode-pickerGroup-border: var(--visualstudio-);
    --vscode-pickerGroup-foreground: var(--visualstudio-);
    --vscode-ports-iconRunningProcessForeground: var(--visualstudio-);
    --vscode-problemsErrorIcon-foreground: var(--visualstudio-);
    --vscode-problemsInfoIcon-foreground: var(--visualstudio-);
    --vscode-problemsWarningIcon-foreground: var(--visualstudio-);
    --vscode-profileBadge-background: var(--visualstudio-);
    --vscode-profileBadge-foreground: var(--visualstudio-);
    --vscode-progressBar-background: var(--visualstudio-);
    --vscode-quickInput-background: var(--visualstudio-filetabbackground);
    --vscode-quickInput-foreground: var(--visualstudio-comboboxtext);
    --vscode-quickInputTitle-background: var(--visualstudio---visualstudio-filetabselectedbackground);
    --vscode-remoteHub-decorations-addedForegroundColor: var(--visualstudio-);
    --vscode-remoteHub-decorations-conflictForegroundColor: var(--visualstudio-);
    --vscode-remoteHub-decorations-deletedForegroundColor: var(--visualstudio-);
    --vscode-remoteHub-decorations-ignoredResourceForeground: var(--visualstudio-);
    --vscode-remoteHub-decorations-incomingAddedForegroundColor: var(--visualstudio-);
    --vscode-remoteHub-decorations-incomingDeletedForegroundColor: var(--visualstudio-);
    --vscode-remoteHub-decorations-incomingModifiedForegroundColor: var(--visualstudio-);
    --vscode-remoteHub-decorations-incomingRenamedForegroundColor: var(--visualstudio-);
    --vscode-remoteHub-decorations-modifiedForegroundColor: var(--visualstudio-);
    --vscode-remoteHub-decorations-submoduleForegroundColor: var(--visualstudio-);
    --vscode-remoteHub-decorations-workspaceRepositoriesView-hasUncommittedChangesForegroundColor: var(--visualstudio-);
    --vscode-scm-historyItemStatisticsBorder: var(--visualstudio-);
    --vscode-scrollbar-shadow: var(--visualstudio-scrollbarthumbglyph);
    --vscode-scrollbarSlider-activeBackground: var(--visualstudio-scrollbarbackground);
    --vscode-scrollbarSlider-background: var(--visualstudio-scrollbarbackground);
    --vscode-scrollbarSlider-hoverBackground: var(--visualstudio-scrollbarbackground);
    --vscode-search-resultsInfoForeground: var(--visualstudio-);
    --vscode-searchEditor-findMatchBorder: var(--visualstudio-);
    --vscode-searchEditor-textInputBorder: var(--visualstudio-);
    --vscode-selection-background: var(--visualstudio-);
    --vscode-settings-checkboxBackground: var(--visualstudio-);
    --vscode-settings-checkboxBorder: var(--visualstudio-);
    --vscode-settings-checkboxForeground: var(--visualstudio-);
    --vscode-settings-dropdownBackground: var(--visualstudio-dropdownbackground);
    --vscode-settings-dropdownBorder: var(--visualstudio-dropdownborder);
    --vscode-settings-dropdownForeground: var(--visualstudio-dropdowntext);
    --vscode-settings-dropdownListBorder: var(--visualstudio-dropdownmouseoverbackground);
    --vscode-settings-focusedRowBorder: var(--visualstudio-);
    --vscode-settings-headerBorder: var(--visualstudio-);
    --vscode-settings-headerForeground: var(--visualstudio-);
    --vscode-settings-modifiedItemIndicator: var(--visualstudio-);
    --vscode-settings-numberInputBackground: var(--visualstudio-);
    --vscode-settings-numberInputBorder: var(--visualstudio-);
    --vscode-settings-numberInputForeground: var(--visualstudio-);
    --vscode-settings-sashBorder: var(--visualstudio-);
    --vscode-settings-settingsHeaderHoverForeground: var(--visualstudio-);
    --vscode-settings-textInputBackground: var(--visualstudio-);
    --vscode-settings-textInputBorder: var(--visualstudio-);
    --vscode-settings-textInputForeground: var(--visualstudio-);
    --vscode-sideBar-background: var(--visualstudio-toolwindowbackground);
    --vscode-sideBar-foreground: var(--visualstudio-toolwindowtext);
    --vscode-sideBar-border: var(--visualstudio-toolwindowborder);
    --vscode-sideBarActivityBarTop-border: var(--visualstudio-);
    --vscode-sideBarSectionHeader-border: var(--visualstudio-);
    --vscode-sideBarStickyScroll-background: var(--visualstudio-dropdownbackground);
    --vscode-sideBarTitle-background: var(--visualstudio-dropdownbackground);
    --vscode-sideBarTitle-foreground: var(--visualstudio-toolwindowtabselectedactivetext);
    --vscode-sideBySideEditor-horizontalBorder: var(--visualstudio-);
    --vscode-sideBySideEditor-verticalBorder: var(--visualstudio-);
    --vscode-simpleFindWidget-sashBorder: var(--visualstudio-);
    --vscode-statusBar-border: var(--visualstudio-);
    --vscode-statusBar-debuggingBackground: var(--visualstudio-);
    --vscode-statusBar-debuggingBorder: var(--visualstudio-);
    --vscode-statusBar-debuggingForeground: var(--visualstudio-);
    --vscode-statusBar-foreground: var(--visualstudio-);
    --vscode-statusBar-noFolderBorder: var(--visualstudio-);
    --vscode-statusBar-noFolderForeground: var(--visualstudio-);
    --vscode-statusBarItem-activeBackground: var(--visualstudio-);
    --vscode-statusBarItem-compactHoverBackground: var(--visualstudio-);
    --vscode-statusBarItem-errorForeground: var(--visualstudio-);
    --vscode-statusBarItem-errorHoverBackground: var(--visualstudio-);
    --vscode-statusBarItem-errorHoverForeground: var(--visualstudio-);
    --vscode-statusBarItem-hoverBackground: var(--visualstudio-);
    --vscode-statusBarItem-hoverForeground: var(--visualstudio-);
    --vscode-statusBarItem-offlineBackground: var(--visualstudio-);
    --vscode-statusBarItem-offlineForeground: var(--visualstudio-);
    --vscode-statusBarItem-offlineHoverBackground: var(--visualstudio-);
    --vscode-statusBarItem-offlineHoverForeground: var(--visualstudio-);
    --vscode-statusBarItem-prominentBackground: var(--visualstudio-);
    --vscode-statusBarItem-prominentForeground: var(--visualstudio-);
    --vscode-statusBarItem-prominentHoverBackground: var(--visualstudio-);
    --vscode-statusBarItem-prominentHoverForeground: var(--visualstudio-);
    --vscode-statusBarItem-remoteBackground: var(--visualstudio-);
    --vscode-statusBarItem-remoteForeground: var(--visualstudio-);
    --vscode-statusBarItem-remoteHoverBackground: var(--visualstudio-);
    --vscode-statusBarItem-remoteHoverForeground: var(--visualstudio-);
    --vscode-statusBarItem-warningForeground: var(--visualstudio-);
    --vscode-statusBarItem-warningHoverBackground: var(--visualstudio-);
    --vscode-statusBarItem-warningHoverForeground: var(--visualstudio-);
    --vscode-symbolIcon-arrayForeground: var(--visualstudio-);
    --vscode-symbolIcon-booleanForeground: var(--visualstudio-);
    --vscode-symbolIcon-classForeground: var(--visualstudio-);
    --vscode-symbolIcon-colorForeground: var(--visualstudio-);
    --vscode-symbolIcon-constantForeground: var(--visualstudio-);
    --vscode-symbolIcon-constructorForeground: var(--visualstudio-);
    --vscode-symbolIcon-enumeratorForeground: var(--visualstudio-);
    --vscode-symbolIcon-enumeratorMemberForeground: var(--visualstudio-);
    --vscode-symbolIcon-eventForeground: var(--visualstudio-);
    --vscode-symbolIcon-fieldForeground: var(--visualstudio-);
    --vscode-symbolIcon-fileForeground: var(--visualstudio-);
    --vscode-symbolIcon-folderForeground: var(--visualstudio-);
    --vscode-symbolIcon-functionForeground: var(--visualstudio-);
    --vscode-symbolIcon-interfaceForeground: var(--visualstudio-);
    --vscode-symbolIcon-keyForeground: var(--visualstudio-);
    --vscode-symbolIcon-keywordForeground: var(--visualstudio-);
    --vscode-symbolIcon-methodForeground: var(--visualstudio-);
    --vscode-symbolIcon-moduleForeground: var(--visualstudio-);
    --vscode-symbolIcon-namespaceForeground: var(--visualstudio-);
    --vscode-symbolIcon-nullForeground: var(--visualstudio-);
    --vscode-symbolIcon-numberForeground: var(--visualstudio-);
    --vscode-symbolIcon-objectForeground: var(--visualstudio-);
    --vscode-symbolIcon-operatorForeground: var(--visualstudio-);
    --vscode-symbolIcon-packageForeground: var(--visualstudio-);
    --vscode-symbolIcon-propertyForeground: var(--visualstudio-);
    --vscode-symbolIcon-referenceForeground: var(--visualstudio-);
    --vscode-symbolIcon-snippetForeground: var(--visualstudio-);
    --vscode-symbolIcon-stringForeground: var(--visualstudio-);
    --vscode-symbolIcon-structForeground: var(--visualstudio-);
    --vscode-symbolIcon-textForeground: var(--visualstudio-);
    --vscode-symbolIcon-typeParameterForeground: var(--visualstudio-);
    --vscode-symbolIcon-unitForeground: var(--visualstudio-);
    --vscode-symbolIcon-variableForeground: var(--visualstudio-);
    --vscode-tab-activeBackground: var(--visualstudio-filetabactivegrouptitlebackground);
    --vscode-tab-activeForeground: var(--visualstudio-filetabhottext);
    --vscode-tab-border: var(--visualstudio-filetabborder);
    --vscode-tab-dragAndDropBorder: var(--visualstudio-filetabbuttonprovisionalhoverinactiveborder);
    --vscode-tab-inactiveForeground: var(--visualstudio-filetabinactivetext);
    --vscode-tab-inactiveModifiedBorder: var(--visualstudio-filetabbuttonhoverinactiveborder);
    --vscode-tab-lastPinnedBorder: var(--visualstudio-filetabbuttonhoverselectedactiveborder);
    --vscode-tab-unfocusedActiveBackground: var(--visualstudio-filetabprovisionalhover);
    --vscode-tab-unfocusedActiveForeground: var(--visualstudio-filetabprovisionalhoverforeground);
    --vscode-tab-unfocusedActiveModifiedBorder: var(--visualstudio-FileTabProvisionalHoverBorder);
    --vscode-tab-unfocusedInactiveForeground: var(--visualstudio-filetabprovisionalinactiveforeground);
    --vscode-tab-unfocusedInactiveModifiedBorder: var(--visualstudio-filetabprovisionalselectedactiveborder);
    --vscode-terminal-ansiBlack: var(--visualstudio-);
    --vscode-terminal-ansiBlue: var(--visualstudio-);
    --vscode-terminal-ansiBrightBlack: var(--visualstudio-);
    --vscode-terminal-ansiBrightBlue: var(--visualstudio-);
    --vscode-terminal-ansiBrightCyan: var(--visualstudio-);
    --vscode-terminal-ansiBrightGreen: var(--visualstudio-);
    --vscode-terminal-ansiBrightMagenta: var(--visualstudio-);
    --vscode-terminal-ansiBrightRed: var(--visualstudio-);
    --vscode-terminal-ansiBrightWhite: var(--visualstudio-);
    --vscode-terminal-ansiBrightYellow: var(--visualstudio-);
    --vscode-terminal-ansiCyan: var(--visualstudio-);
    --vscode-terminal-ansiGreen: var(--visualstudio-);
    --vscode-terminal-ansiMagenta: var(--visualstudio-);
    --vscode-terminal-ansiRed: var(--visualstudio-);
    --vscode-terminal-ansiWhite: var(--visualstudio-);
    --vscode-terminal-ansiYellow: var(--visualstudio-);
    --vscode-terminal-border: var(--visualstudio-);
    --vscode-terminal-findMatchBorder: var(--visualstudio-);
    --vscode-terminal-findMatchHighlightBorder: var(--visualstudio-);
    --vscode-terminal-foreground: var(--visualstudio-);
    --vscode-terminal-hoverHighlightBackground: var(--visualstudio-);
    --vscode-terminal-inactiveSelectionBackground: var(--visualstudio-);
    --vscode-terminal-selectionBackground: var(--visualstudio-);
    --vscode-terminal-selectionForeground: var(--visualstudio-);
    --vscode-terminalCommandDecoration-defaultBackground: var(--visualstudio-);
    --vscode-terminalCommandDecoration-errorBackground: var(--visualstudio-);
    --vscode-terminalCommandDecoration-successBackground: var(--visualstudio-);
    --vscode-terminalOverviewRuler-cursorForeground: var(--visualstudio-);
    --vscode-terminalOverviewRuler-findMatchForeground: var(--visualstudio-);
    --vscode-testing-coverCountBadgeBackground: var(--visualstudio-);
    --vscode-testing-coverCountBadgeForeground: var(--visualstudio-);
    --vscode-testing-coveredBorder: var(--visualstudio-);
    --vscode-testing-coveredGutterBackground: var(--visualstudio-);
    --vscode-testing-iconErrored: var(--visualstudio-);
    --vscode-testing-iconErrored-retired: var(--visualstudio-);
    --vscode-testing-iconFailed: var(--visualstudio-);
    --vscode-testing-iconFailed-retired: var(--visualstudio-);
    --vscode-testing-iconPassed: var(--visualstudio-);
    --vscode-testing-iconPassed-retired: var(--visualstudio-);
    --vscode-testing-iconQueued: var(--visualstudio-);
    --vscode-testing-iconQueued-retired: var(--visualstudio-);
    --vscode-testing-iconSkipped: var(--visualstudio-);
    --vscode-testing-iconSkipped-retired: var(--visualstudio-);
    --vscode-testing-iconUnset: var(--visualstudio-);
    --vscode-testing-iconUnset-retired: var(--visualstudio-);
    --vscode-testing-message-error-decorationForeground: var(--visualstudio-);
    --vscode-testing-message-info-decorationForeground: var(--visualstudio-);
    --vscode-testing-messagePeekBorder: var(--visualstudio-);
    --vscode-testing-peekBorder: var(--visualstudio-);
    --vscode-testing-runAction: var(--visualstudio-);
    --vscode-testing-uncoveredBorder: var(--visualstudio-);
    --vscode-testing-uncoveredGutterBackground: var(--visualstudio-);
    --vscode-textBlockQuote-border: var(--visualstudio-);
    --vscode-textCodeBlock-background: var(--visualstudio-);
    --vscode-textLink-activeForeground: var(--visualstudio-editorexpansionlink);
    --vscode-textLink-foreground: var(--visualstudio-editorexpansionlink);
    --vscode-textPreformat-background: var(--visualstudio-);
    --vscode-textPreformat-foreground: var(--visualstudio-);
    --vscode-textSeparator-foreground: var(--visualstudio-);
    --vscode-titleBar-activeBackground: var(--visualstudio-paneltitlebar);
    --vscode-titleBar-activeForeground: var(--visualstudio-paneltitlebartext);
    --vscode-titleBar-border: var(--visualstudio-);
    --vscode-toolbar-hoverOutline: var(--visualstudio-);
    --vscode-tree-inactiveIndentGuidesStroke: var(--visualstudio-);
    --vscode-tree-indentGuidesStroke: var(--visualstudio-);
    --vscode-welcomePage-progress-background: var(--visualstudio-);
    --vscode-welcomePage-progress-foreground: var(--visualstudio-);
    --vscode-welcomePage-tileBackground: var(--visualstudio-);
    --vscode-welcomePage-tileBorder: var(--visualstudio-);
    --vscode-widget-border: var(--visualstudio-);
    --vscode-window-activeBorder: var(--visualstudio-titlebaractiveborder);
    --vscode-window-inactiveBorder: var(--visualstudio-titlebarinactive);
    --button-icon-background: var(--visualstudio-filetabbackground);
    --foreground: var(--visualstudio-toolwindowtext);

    /* Mimic rules injected by VSCode */
    --visualstudio-font-weight: normal;
    --vscode-font-family: var(--visualstudio-ui-font-family);
    --vscode-font-size: var(--visualstudio-ui-font-size);
    --vscode-font-weight: var(--visualstudio-font-weight);
    --vscode-editor-font-family: var(--visualstudio-editor-font-family);
    --vscode-editor-font-size: var(--visualstudio-editor-font-size);
    --vscode-editor-font-weight: var(--visualstudio-font-weight);
    --vscode-widget-shadow: var(--visualstudio-buttonshadow);

    /* Mimic rules injected by VSCode */
    scrollbar-color: var(--visualstudio-scrollbarthumbbackground);

}

html[data-ide='VisualStudio'] body {
    overscroll-behavior-x: none;
    background-color: var(--vscode-sideBar-background);
    color: var(--vscode-editor-foreground);
    font-family: var(--vscode-font-family);
    font-weight: var(--vscode-font-weight);
    font-size: var(--vscode-font-size);
    margin: 0 auto;
    padding: 0;
}

html[data-ide='VisualStudio'] :matches(img, video) {
    max-width: 100%;
    max-height: 100%;
}

html[data-ide='VisualStudio'] code {
    font-family: var(--vscode-editor-font-family);
    font-size: var(--vscode-editor-font-size);
    color: var(--vscode-textPreformat-foreground);
    background-color: var(--vscode-textPreformat-background);
}

html[data-ide='VisualStudio'] pre code {
    padding: 0;
}

html[data-ide='VisualStudio'] blockquote {
    background: var(--vscode-textBlockQuote-background);
    border-color: var(--vscode-textBlockQuote-border);
}


html[data-ide='VisualStudio'] .model-selector-popover::-webkit-scrollbar {
    width: 10px;
    height: 8px;
    background-color: transparent;
}

/* color-mix is not supported on VisualStudio webview */
html[data-ide=VisualStudio] .context-item-mention-node {
    color: var(--vscode-inputOption-activeForeground);
    background-color: var(--vscode-badge-background);
    gap: 0.2rem;

    .icon {
        width: 1rem;
        height: 1rem;
    }
}
