@import url('../../vscode/.storybook/static/vscode-themes/dark-modern.css');

:root {
    --vscode-font-size: 13px;
    --vscode-editor-font-size: var(--vscode-font-size);
    --vscode-font-family: -apple-system, BlinkMacSystemFont, 'Ubuntu', 'Droid Sans', 'Segoe WPC', 'Segoe UI', sans-serif;
    --vscode-editor-font-family: 'Monaco', 'Consolas', monospace;
}

html,
:host {
    tab-size: 4;
    line-height: 1.5;
    text-size-adjust: 100%;
    font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji';
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    line-height: inherit;
}

:root {
    color-scheme: dark;
}

.root {
    font-size: 13px;
    height: 100vh;
}
