.app {
    background-color: var(--vscode-sideBar-background);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.controls {
    flex: 0 0 1;
    display: flex;
    gap: 0.25em;
    padding: 0.25em;

    align-items: center;
}

.transcript {
    flex: auto;
    overflow-y: auto;
}

.user-input {
    flex: 0 0 0.5em;
    padding: 1em;
}

.controls button {
    /* no button styling */
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    display: flex;
    align-items: center;
}

.controls-session-selector {
    background: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    border: 1px solid var(--vscode-input-border);
}

.event {
    flex: 0 0 5em;
    background-color: var(--vscode-list-inactiveSelectionBackground);

    border: var(--vscode-sideBarSectionHeader-border);
    padding: 1em;
    padding-bottom: 2em;
}

.event-l1 {
    padding-left: 1em;
}

.event-l2 {
    padding-left: 2em;
}

.event-title {
    font-size: 1em;
    font-weight: bold;
    padding-bottom: 1em;
    display: flex;
    align-items: center;
}

.event-title-name {
    padding-left: 0.5em;
}

.event-body {
    display: flex;
    flex-direction: column;
}

.event-body .event-text {
    flex: 1 1;
    white-space: pre;
    text-wrap: wrap;
}

.event-body form {
    display: flex;
    flex-direction: column;
}

.event-body form input,
.event-body form button {
    margin-top: 0.25em;
    align-self: flex-start;
}

.event-body .human-action {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1em;
}

.event-input {
    flex: 1 1 100%;
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    border: 1px solid var(--vscode-input-border);
}

.event-code-filename {
    border: 1px solid var(--vscode-panel-border);
    border-bottom: 0;
    padding: 0.5ch 1ch;
    background: var(--vscode-tab-activeBackground);
}

.event-code-container {
    margin-bottom: 1em;
    border-radius: 1ch;
    overflow: auto;
}

.event-code-filename-link {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.event-code-filename a {
    color: var(--vscode-editor-foreground);
}

.event-code-snippet {
    padding: 0.5ch 1ch;
    max-height: 10em;
    overflow: scroll;
    background-color: var(--vscode-textPreformat-background);
    border: 1px solid var(--vscode-panel-border);
}

.input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.input-group .input-icon {
    padding-left: 0.75em;
}

/**
 * Node block
 */

.node-block {
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.node-title {
    font-weight: bold;
}

.node-header-button {
    padding: 0;
    margin: 0;
    color: var(--vscode-foreground);
    background: none;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
}

.contextualize-explanation {
    margin-bottom: 1em;
}

.steps-container {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    margin-top: 1em;
}

.step {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.step-header {
    display: flex;
    align-items: center;
    font-weight: bold;
    border-bottom: 1px solid var(--vscode-foreground);
}

.step-controls {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.4em;
    margin: 0.5em 0;
    padding: 0.2em 0;
    height: 1.9em;
}

.step-controls-multi {
    border: 1px solid
        color-mix(
            in lch,
            var(--vscode-foreground),
            var(--vscode-input-background)
        );
    border-radius: 10px;
    padding: 0.2em 0.3em;
    margin-left: -0.3em;
}

.step-title {
    margin-left: 0.5em;
}

.event-button {
    padding: 0;
    margin: 0;
    color: var(--vscode-foreground);
    background: none;
    cursor: pointer;
    border: none;
    display: flex;
}

.event-button-disabled {
    color: color-mix(
        in lch,
        var(--vscode-foreground),
        var(--vscode-input-background)
    );
}

.step-description {
    margin: 0;
    white-space: pre;
    text-wrap: wrap;
}

/**
 * Stop spinner icon
 */

.stop-spinner {
    display: inline-block;
    position: relative;
}

.stop-spinner .spinner {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    animation: node-spinner 1.2s linear infinite;
}

@keyframes node-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.stop-spinner .stop {
    position: absolute;
    font-size: 80%;
    top: 15%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
}
