:root {
    --button-font-size: var(--vscode-font-size);
}

.button {
    font-family: var(--vscode-font-family);
    color: var(--vscode-foreground);
    background: transparent;
    user-select: none;
    &:enabled {
        cursor: pointer;
    }
    &:focus, &:focus-within {
        outline: 1px solid var(--vscode-focusBorder);
    }

    border: 0;
    --padding: 0.15rem;
    padding: var(--padding);

    --icon-size: var(--button-font-size);

    display: flex;
    align-items: center;
    --gap: 0.25rem;
    gap: var(--gap);

    > svg {
        width: var(--icon-size);
        height: var(--icon-size);
    }
}

.button--no-icon-start {
    padding-left: calc(2*var(--padding));
}

.button--icon-end-chevron > svg:last-child {
    margin-left: calc(-1*var(--gap));
}

.button--primary {
    background-color: var(--tint-color);
    border: solid 1px var(--tint-color);
    &:disabled {
        --tint-color: color-mix(in srgb, var(--vscode-button-secondaryBackground) 60%, var(--vscode-button-secondaryForeground));
    }
    &:enabled {
        --tint-color: var(--vscode-button-background);
    }
}

.button--secondary {
    border: solid 1px transparent;
    &:enabled {
        border-color: color-mix(in lch, var(--vscode-button-border) 90%, var(--vscode-button-foreground));
    }
}

/* Hover state */
.button:enabled:hover {
    background-color: unset;
    color: var(--vscode-button-foreground);
    fill: var(--vscode-button-foreground);
    &.button--primary {
        background-color: var(--vscode-button-background);
    }
}

.popover-button-popover {
    border: solid 1px var(--vscode-focusBorder) !important;
}
