.container {
    user-select: none;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.label {
    padding: 0.45rem 0.45rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    &:hover {
        background-color: var(--vscode-list-hoverBackground);
    }
    &:has(> input:checked) {
        color: var(--vscode-list-activeSelectionForeground);
        background-color: var(--vscode-list-activeSelectionBackground);
    }
    & > input[type=radio] {
        pointer-events: none;
        user-select: none;
        width: 0;
        height: 0;
        padding: 0;
        margin: 0;
    }
}
