{
  "log": {
    "_recordingName": "FullConfig",
    "creator": {
      "comment": "persister:cody-fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "31492fa34cb8f902937801fef522f532",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "token REDACTED"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json; charset=utf-8",
            "params": [],
            "text": "{\"query\":\"\\nmutation LogEventMutation($event: String!, $userCookieID: String!, $url: String!, $source: EventSource!, $argument: String, $publicArgument: String, $client: String, $connectedSiteID: String, $hashedLicenseKey: String) {\\n    logEvent(\\n\\t\\tevent: $event\\n\\t\\tuserCookieID: $userCookieID\\n\\t\\turl: $url\\n\\t\\tsource: $source\\n\\t\\targument: $argument\\n\\t\\tpublicArgument: $publicArgument\\n\\t\\tclient: $client\\n\\t\\tconnectedSiteID: $connectedSiteID\\n\\t\\thashedLicenseKey: $hashedLicenseKey\\n    ) {\\n\\t\\talwaysNil\\n\\t}\\n}\",\"variables\":{\"event\":\"CodyVSCodeExtension:Auth:failed\",\"userCookieID\":\"e356883a-89cf-421d-b714-449408303296\",\"source\":\"IDEEXTENSION\",\"url\":\"\",\"argument\":\"{}\",\"publicArgument\":\"{\\\"serverEndpoint\\\":\\\"https://sourcegraph.com\\\",\\\"extensionDetails\\\":{\\\"ide\\\":\\\"VSCode\\\",\\\"ideExtensionType\\\":\\\"Cody\\\",\\\"platform\\\":\\\"macos\\\",\\\"arch\\\":\\\"aarch64\\\",\\\"version\\\":\\\"1.0.0\\\"},\\\"configurationDetails\\\":{\\\"contextSelection\\\":\\\"embeddings\\\",\\\"chatPredictions\\\":false,\\\"guardrails\\\":false},\\\"version\\\":\\\"1.0.0\\\"}\",\"client\":\"VSCODE_CODY_EXTENSION\",\"connectedSiteID\":\"SourcegraphWeb\",\"hashedLicenseKey\":\"bd8965b2eef3a61b4e05647a401026066c88116c8594a0c10b09cfb38b9e1669\"}}"
          },
          "queryString": [
            {
              "name": "LogEventMutation",
              "value": null
            }
          ],
          "url": "https://sourcegraph.com/.api/graphql?LogEventMutation"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 26,
            "text": "{\"data\":{\"logEvent\":null}}"
          },
            {
              "domain": ".sourcegraph.com",
              "expires": "2023-12-14T22:09:31.000Z",
              "httpOnly": true,
              "name": "__cf_bm",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "VOlBu2iYPsvstXgXA0a7VK4ZzDCnb8mZRxy0JxE1IWo-1702589971-1-Aee24tkyY6N1JOevROvFPhMX6Vj89kDZMwpLcTqdL1WwtZAFiXyhEQaOCfKhCAv4LtHk1mbRybz+iBJBTk+6zNU="
            },
            {
              "domain": ".sourcegraph.com",
              "httpOnly": true,
              "name": "_cfuvid",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "EkYSvvVqv2gfxnfWII5fj3bb9WRvSDwklCUBAiBAErY-1702589971050-0-604800000"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-trace",
              "value": "4504d1c626d06251d33657bed1dee4c4"
            },
            {
              "name": "x-trace-span",
              "value": "85b776db478bbace"
            },
            {
              "name": "x-trace-url",
              "value": "https://sourcegraph.com/-/debug/jaeger/trace/4504d1c626d06251d33657bed1dee4c4"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 255,
      },
      {
        "_id": "bcd655fee9ba0fd7b72a3006b8743911",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "token REDACTED"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "m[...]
