{
  "log": {
    "_recordingName": "FullConfig",
    "creator": {
      "comment": "persister:cody-fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "5020e9795fdc3e413c5f7292f24b272a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "token REDACTED"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json; charset=utf-8",
            "params": [],
            "text": "{\"query\":\"\\nmutation LogEventMutation($event: String!, $userCookieID: String!, $url: String!, $source: EventSource!, $argument: String, $publicArgument: String, $client: String, $connectedSiteID: String, $hashedLicenseKey: String) {\\n    logEvent(\\n\\t\\tevent: $event\\n\\t\\tuserCookieID: $userCookieID\\n\\t\\turl: $url\\n\\t\\tsource: $source\\n\\t\\targument: $argument\\n\\t\\tpublicArgument: $publicArgument\\n\\t\\tclient: $client\\n\\t\\tconnectedSiteID: $connectedSiteID\\n\\t\\thashedLicenseKey: $hashedLicenseKey\\n    ) {\\n\\t\\talwaysNil\\n\\t}\\n}\",\"variables\":{\"event\":\"CodyVSCodeExtension:Auth:connected\",\"userCookieID\":\"be67f2e5-7d20-4b73-b8fc-aba5c139a3ac\",\"source\":\"IDEEXTENSION\",\"url\":\"\",\"argument\":\"{}\",\"publicArgument\":\"{\\\"serverEndpoint\\\":\\\"https://sourcegraph.com\\\",\\\"extensionDetails\\\":{\\\"ide\\\":\\\"VSCode\\\",\\\"ideExtensionType\\\":\\\"Cody\\\",\\\"platform\\\":\\\"macos\\\",\\\"arch\\\":\\\"aarch64\\\",\\\"version\\\":\\\"1.0.0\\\"},\\\"configurationDetails\\\":{\\\"contextSelection\\\":\\\"embeddings\\\",\\\"chatPredictions\\\":false,\\\"guardrails\\\":false},\\\"version\\\":\\\"1.0.0\\\"}\",\"client\":\"VSCODE_CODY_EXTENSION\",\"connectedSiteID\":\"SourcegraphWeb\",\"hashedLicenseKey\":\"bd8965b2eef3a61b4e05647a401026066c88116c8594a0c10b09cfb38b9e1669\"}}"
          },
          "queryString": [
            {
              "name": "LogEventMutation",
              "value": null
            }
          ],
          "url": "https://sourcegraph.com/.api/graphql?LogEventMutation"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 26,
            "text": "{\"data\":{\"logEvent\":null}}"
          },
            {
              "domain": ".sourcegraph.com",
              "expires": "2023-12-15T12:53:49.000Z",
              "httpOnly": true,
              "name": "__cf_bm",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "Y_KAk4ELcayg2M4N_f7RT1UoGfPe8GjJyeg2p7hwflM-1702643029-1-AaMtDAe/8QPU11Nvme5l0/eZJxcZrvFMPvo0W/bCQSFNHChcO2V+KgMjwKDEbZO691/xX6eEMj8wQ9b2SlbJMsU="
            },
            {
              "domain": ".sourcegraph.com",
              "httpOnly": true,
              "name": "_cfuvid",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "YW6EbnDNviu0Ttf_F6YdquHKwB6jpZyJlrZz1b9.zLw-1702643029334-0-604800000"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-trace",
              "value": "cb93e51cd4798e8c5daf9b3b1f261ce0"
            },
            {
              "name": "x-trace-span",
              "value": "82b937340a546239"
            },
            {
              "name": "x-trace-url",
              "value": "https://sourcegraph.com/-/debug/jaeger/trace/cb93e51cd4798e8c5daf9b3b1f261ce0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 234,
      },
      {
        "_id": "2edf387a7f6d5624ea2a5b6466005370",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "token REDACTED"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "m[...]
