body {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
}

.content {
    padding: 32px;
    width: 1536px;
}

.summary-metrics {
    display: flex;
    justify-content: center;
}

.controls {
    margin-bottom: 16px;
}

.order-by-select {
    margin-left: 8px;
    padding: 8px 4px;
}

.search {
    margin-right: 8px;
    margin-left: 8px;
    padding: 8px 4px;
}
