@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Nunito&display=swap');

:root {
    --success-color: rgba(43 138 62 / 75%);
    --warning-color: rgba(230 119 0 / 75%);
    --danger-color: rgba(201 42 42 / 75%);
    --border-color: #adb5bd;
    --border-color-2: #ced4da;
    --selected-color: #f1f3f5;
}

body {
    font-family: Nunito, sans-serif;
}

code,
pre {
    font-family: 'IBM Plex Mono', monospace;
}
