.context-item {
    display: inline-flex;
    padding: 2px 4px 2px 2px;
}

.context-item-metadata {
    color: var(--vscode-disabledForeground);
    padding-left: 0.1rem;
    text-wrap: nowrap;
}

.context-item-link {
    background: none;
    border: none;
    color: var(--vscode-textLink-foreground);
    font-size: inherit;
    padding: 0;
    margin: 0;
    text-align: left;
    font-weight: normal;
    display: flex;
    align-items: center;
    gap: 0.125rem;
    overflow: hidden;
}

/* In light high contrast, --vscode-textLink-foreground provides little
   contrast; instead inherit the --code-foreground color from the container. */
body[data-vscode-theme-kind='vscode-high-contrast-light'] .context-item-link {
    color: inherit;
}
