.container {
    margin: 1rem;
    max-width: 100%;
}

.qs-header-container {
    width: 100%;
    max-height: 90vh;
    background-color: color-mix(in srgb, var(--vscode-input-background) 50%, transparent);
    padding: 0.5rem;
    border-radius: 4px;
}

.qs-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0.5rem;
    width: 100%;
    gap: 0.5rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.75;
    font-size: 1rem;
    color: var(vscode-input-foreground);
}

.expand-button {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    padding: 0.25rem 0.5rem;
}

.expand-button:hover {
    background-color: var(--vscode-input-background);
}

.examples-container {
    padding: 0.5rem 1rem;

}
