.quickstart-container{
    margin: 1rem;
    max-width: 100%;
}

.quickstart-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0.5rem;
    width: 100%;
    gap: 0.5rem;
}

.cheatsheet {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    gap: 0.5rem;
}

.expand-button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    color: var(--vscode-input-foreground);
}

.examples {
    display: flex;
    flex-flow: row wrap;
    gap: 0.25rem 1rem;
    padding: 0 0.5rem;
}

.example {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: 0.25rem;
    padding: 0.25rem 0;
}

.example-input {
    display: flex;
    flex-flow: row wrap;
    border-radius: 4px;
    color: var(--vscode-input-foreground);
    border: 1px solid var(--vscode-button-secondaryBackground);
    background-color: var(--vscode-editor-background);
    font-family: var(--vscode-editor-font-family);
    font-size: var(--vscode-editor-font-size);
}
