.welcome-footer {
    padding: 1rem;
    display: flex;
    flex-flow: column nowrap;
    max-width: 100%;
    color: var(--vscode-input-placeholderForeground)
}


.quickstart-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    gap: 0.5rem;
}

.cheatsheet {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    gap: 0.5rem;
}

.title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-weight: 500;
    gap: 0.5rem;
}

.examples {
    display: flex;
    flex-flow: row wrap;
    gap: 0.25rem 1rem;
    padding: 0 0.5rem;
}

.example {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: 0.25rem;
    padding: 0.25rem 0;
}

.example-input {
    display: flex;
    flex-flow: row wrap;
    border-radius: 4px;
    color: var(--vscode-input-foreground);
    border: 1px solid var(--vscode-button-secondaryBackground);
    background-color: var(--vscode-editor-background);
    font-family: var(--vscode-editor-font-family);
    font-size: var(--vscode-editor-font-size);
}

.tips {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    gap: 0.5rem;
    padding: 1rem 0;
}

.links {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 1rem 0;
    gap: 1.25rem;
    border-top: 0.5px solid var(--vscode-button-secondaryBackground);
}

.item {
    display: flex;
    flex-flow: row nowrap;
    flex-shrink: 0;
    padding: 0 0.5rem;
    gap: 0.5rem;
    align-items: center;
}

.link {
    color: inherit;
    text-decoration: none;
}
