.welcome-footer {
    padding: 1rem 1rem;
    display: flex;
    flex-flow: column nowrap;
    max-width: 100%;
    color: var(--vscode-input-placeholderForeground)
}

.tips {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    gap: 0.5rem;
    padding: 1rem 0;
    border-bottom: 0.25px solid var(--vscode-dropdown-border);
}

.links {
    display: flex;
    flex-flow: row wrap;
    padding: 0.75rem 0;
    gap: 0.5rem;
}

.item {
    display: flex;
    flex-flow: row nowrap;
    flex-shrink: 0;
    padding: 0 0.5rem;
    gap: 0.5rem;
    align-items: center;
}

.link {
    color: inherit;
    text-decoration: none;

}
