node_modules/
out/
.vscode-test/
dist/
.vscode-test-web/
.test-reports
resources/wasm/
GITHUB_CHANGELOG.md
tsconfig.typehacks.json

# these are snapshots that haven't been accepted
*.new.json

# jest-image-snapshot debugging files
__diff_output__
