.container {
    border: 1px solid var(--vscode-widget-border);
    border-radius: 3px;
    outline: none;
}

/* Hide scroll bar. */
.container [cmdk-list] {
    scrollbar-width: none;

    /* Exactly so that the initial menu exact-fits all items on my machine */

    --cmdk-list-max-height: 323px;

    height: min(var(--cmdk-list-max-height), calc(var(--cmdk-list-height) + 2px));
    max-height: var(--cmdk-list-max-height);
}

.container [cmdk-list]::-webkit-scrollbar {
    display: none;
}

.container [cmdk-empty] {
    padding: 0.325rem 0.5rem;
}

.item {
    line-height: 1.2;

    &.context-item {
        display: flex;
        flex-direction: column;
        align-items: stretch !important;
        gap: 0.2rem;
    }
}
