.container {
    border: 1px solid var(--vscode-widget-border);
    border-radius: 3px;
    outline: none;
}

.container [cmdk-empty] {
    padding: 0.325rem 0.5rem;
}

.item {
    line-height: 1.2;

    &.context-item {
        display: flex;
        flex-direction: column;
        align-items: stretch !important;
        gap: 0.2rem;
    }
}
