:root {
    --cell-spacing-y: 15px;
    --cell-spacing-x: 15px;
    --cell-internal-gap: 12px;
}

.container {
    padding: var(--cell-spacing-y) var(--cell-spacing-x);
    display: flex;
    gap: var(--cell-internal-gap);
}

.content {
    flex: 1 0;
    overflow: hidden;
}
