:root {
    --cell-spacing-y: 8px;
    --cell-spacing-x: 12px;
    --cell-internal-gap: 8px;
}

.container {
    padding: var(--cell-spacing-y) var(--cell-spacing-x);
    display: flex;
    gap: var(--cell-internal-gap);
}

.content {
    flex: 1 0;
    overflow: hidden;
}

.gutter {
    padding-top: 3px;
}
