.code-excerpt {
    :global(.line),
    :global(.code) {
        height: 16px;

        @media (min-width: 768px) {
            height: 18px;
        }

        vertical-align: middle;
        padding: 0;
    }

    :global(.line) {
        min-width: 1.5rem;
        text-align: right;
        -webkit-user-select: none;
        user-select: none;
        cursor: pointer;
        color: var(--vscode-editorLineNumber-foreground);
        transition: opacity 0.2s ease;

        &:hover {
            text-decoration: none;
            color: var(--vscode-editorLineNumber-activeForeground);
        }

        &::before {
            content: attr(data-line);
            color: var(--cody-chat-code-text-muted);
        }

        &:hover::before {
            color: var(--vscode-editorLineNumber-activeForeground);
        }
    }

    :global(.code) {
        white-space: pre;
        padding-left: 1rem;
    }

    &-error {
        width: 100%;
    }

    &-alert {
        margin-bottom: 0;
        color: #c92a2a;
    }

    :global(.hl-text) {
        color: #657b83;
    }
}
