.chunk {
    position: relative;
    overflow-x: auto;
    padding: 0.25rem 0.5rem;
    background-color: var(--cody-chat-code-background);

    &:first-child {
        padding-top: 0.5rem;
    }

    &:last-child {
        padding-bottom: 0.5rem;
    }
}
