
.root {
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
    border-radius: 3px;
    border: 1px solid var(--vscode-dropdown-border);
    background-color: var(--background-03);
}

.icons-header {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.625rem;
}

.heading {
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 0.175rem;
    color: var(--vscode-dropdown-foreground);
}

.description-text {
    line-height: 1rem;
    margin-bottom: 0.875rem;
    color: var(--vscode-dropdown-foreground);
}

.actions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
}

.action {
    flex-shrink: 0;
}

.footer {
    margin-top: 0.75rem;
    line-height: 1rem;
    font-size: 12px;
}

.inner-container {
    margin-top: 0.5rem;
}

.loader {
    width: 100%;
    height: 0.5rem;
    position: relative;
    overflow: hidden;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 3px;
    background-color: var(--background-01);

    /* Fix overflow clipping in Safari */
    /* https://gist.github.com/domske/b66047671c780a238b51c51ffde8d3a0 */
    transform: translateZ(0);

    &-indicator {
        width: 100%;
        height: 100%;
        background-color: var(--button-primary-background);
        transition: transform 660ms cubic-bezier(0.65, 0, 0.35, 1);
    }
}

.error {
    color: var(--error-text);
    background-color: var(--error-background);
    line-height: 150%;
    padding: 0.5rem;
    word-break: break-word;
    border-left: 0.5rem solid var(--error-border);
    font-weight: bold;
}

.close {
    padding: 0.25rem;
    align-self: flex-start;
    margin: -0.25rem -0.25rem 0 auto;
}
