
h4{
    border-bottom: 1px solid var(--vscode-editorWidget-border);
}

.history-row {
    display: flex;
    flex-direction: row;
}

.history-item {
    cursor: pointer;;
}

.history-item:hover {
    cursor: pointer;
    color: var(--vscode-list-highlightForeground);
}

.history-delete-btn {
    opacity: 0;
    transition: opacity 0.2s ease;
}

.history-row:hover .history-delete-btn {
    opacity: 1;
}

