:root {
    --vscode-font-size: 13px;
    --vscode-font-family: -apple-system, BlinkMacSystemFont, 'Ubuntu', 'Droid Sans', 'Segoe WPC', 'Segoe UI', sans-serif;
    --vscode-editor-font-family: 'Monaco', 'Consolas', monospace;
}

body {
    background-color: var(--vscode-editor-background);
    font-size: var(--vscode-font-size);
    font-family: var(--vscode-font-family);
    color: var(--vscode-editor-foreground);
}

.container a {
    color: var(--vscode-textLink-foreground);
    text-decoration: none;
}

.container--webview {
    max-height: max(500px, calc(100vh - 6rem));
    overflow: auto;
}

.container--webview, .container--cell {
    max-width: 80%;
    margin: 2rem auto;
    background-color: var(--vscode-editor-background);
    border: solid 1px var(--vscode-tab-border);
}

.container--sidebar {
    max-width: 400px;
    margin: 2rem auto;
    background-color: var(--vscode-sideBar-background);
    border: solid 1px var(--vscode-sideBar-border);
}

.container-viewport {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}
