@import './vscode-dark-theme.css';

:root {
    --vscode-font-size: 13px;
    --vscode-font-family: -apple-system, BlinkMacSystemFont, 'Ubuntu', 'Droid Sans', 'Segoe WPC', 'Segoe UI', sans-serif;
}

body {
    background-color: var(--vscode-editor-background);
}

vscode-button::part(control) {
    font-size: inherit;
}

.container {
    font-size: var(--vscode-font-size);
    font-family: var(--vscode-font-family);
    color: var(--vscode-editor-foreground);
    height: 100%;
}

.container a {
    color: var(--vscode-textLink-foreground);
    text-decoration: none;
}

.container--webview {
    max-width: 80%;
    margin: 2rem auto;
    background-color: var(--vscode-editor-background);
    border: solid 1px var(--vscode-tab-border);
}

.container-sidebar {
    max-width: 400px;
    margin: 2rem auto;
    background-color: var(--vscode-sideBar-background);
    border: solid 1px var(--vscode-sideBar-border);
}
