
.prompts-input {
    background-color: var(--vscode-sideBar-background);
}

.prompts-container {
    height: min-content !important;
    overflow: visible !important;
}

.prompt-migration-widget {
    margin: 0.75rem 0.75rem 0 0.75rem;
}
