@import '../../vscode/webviews/storybook/vscode-dark-theme.css';
@import '../node_modules/@vscode/codicons/dist/codicon.css';

:root {
    color-scheme: dark;

    --vscode-font-size: 13px;
    --vscode-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

body {
    margin: 0;
    height: 100vh;

    background-color: var(--vscode-editor-background);
    font-size: var(--vscode-font-size);
    font-family: var(--vscode-font-family);
    color: var(--vscode-editor-foreground);

    /* Override VS Code Webview Toolkit elements */
    --border-width: none;
}

#root {
    height: 100%;
}

a {
    color: var(--vscode-textLink-foreground);
    text-decoration: none;
}

vscode-button {
    /* Avoid secondary buttons from @vscode/webview-ui-toolkit blending in with the editor background. */
    --button-secondary-background: color-mix(in lch, var(--vscode-button-secondaryBackground) 40%, var(--vscode-button-secondaryHoverBackground));
}
vscode-button::part(control) {
    font-size: inherit;
}
