.model-title-with-icon {
    display: inline-flex;
    align-items: end;
    gap: 0.45rem;

    .model-text {
        display: block;
    }
    .model-name {
        font-weight: 500;
    }
    .model-provider {
        margin-left: 0.25rem;
        opacity: 0.65;
        font-size: 85%;
    }
    &.disabled {
        .model-icon {
            opacity: 0.3;
        }
        .model-name, .model-provider {
            opacity: 0.6;
        }
    }

    & > svg {
        opacity: 0.5;
        margin-top: -1px
    }
}

.badge  {
    position: relative;
    margin-left: auto;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.025rem;
    text-shadow: 0px 0px 1px #280065, 0px 1px 1px rgba(36, 0, 81, 1);
    transition: box-shadow 150ms;
}

.cody-pro-badge {
    background: repeating-conic-gradient(#7048E8 50%, #00CBEC 75%, #A112FF 100%, #FF5543 125%, #7048E8 150%);
    color: rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    padding: 3px 4px;
}

.experimental-badge {
    background: var(--vscode-badge-background);
    color: var(--vscode-badge-foreground);
    border-radius: 4px;
    padding: 3px 4px;
}
