.model-title-with-icon {
    flex: 1;

    display: inline-flex;
    align-items: center;
    gap: 0.45rem;
    line-height: 1;

    .model-text {
        margin-bottom: -2px;
    }
    .model-name {
        font-weight: 500;
    }
    .model-provider {
        margin-left: 0.25rem;
        opacity: 0.65;
        font-size: 85%;
    }
    &.disabled {
        .model-icon {
            opacity: 0.3;
        }
        .model-name, .model-provider {
            opacity: 0.6;
        }
    }

    & > svg {
        opacity: 0.5;
    }
}

button > .model-title-with-icon .model-provider {
    /* HACK(sqs): Hide the provider name from the button (show it only in the dropdown). */
    display: none;
}

.badge  {
    margin-left: auto;
    line-height: 1;
    letter-spacing: -0.02rem;
    font-size: 90%;
    border-radius: 3px;
    padding: 2px 3px 1px;
    margin-bottom: -1px;
}

.cody-pro-badge {
    background: repeating-conic-gradient(#7048E888 50%, #00CBEC88 75%, #A112FF88 100%, #FF554388 125%, #7048E888 150%);
    color: rgba(255, 255, 255, 1);
}

.experimental-badge {
    background: var(--vscode-badge-background);
    color: var(--vscode-badge-foreground);
}
