.model-title-with-icon {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 0.375rem;
    line-height: 16px;
    &:is(a) {
        outline: none !important;
    }

    .model-name {
        font-weight: 500;
    }

    .model-provider {
        margin-left: 0.25rem;
        opacity: 0.65;
        font-size: 85%;
    }

    &.disabled {
        opacity: 0.5;
    }

    .model-icon {
        opacity: 0.5;
    }
}

.right-icon {
    margin-left: auto;
}

.badge  {
    margin-left: auto;
    line-height: 16px;
    font-size: 11px;
    border-radius: 2px;
    padding: 0 5px;
    border: 1px solid var(--vscode-contrastBorder);
    background: var(--vscode-badge-background);
    color: var(--vscode-badge-foreground);
}

.badge-pro {
    opacity: 0.75;
}

/* Show minimal form in the button. */
button > .model-title-with-icon {
    .model-name {
        font-weight: normal;
    }
    .model-icon, .model-provider, .badge {
        display: none;
    }
}

/* Show link as normal text in popover. */
[cmdk-list] .model-title-with-icon {
    color: var(--vscode-foreground) !important;
}
