.container {
    width: 100%;
    background: var(--vscode-sideBar-background);
    color: var(--vscode-sideBar-foreground);
    border: 1px solid var(--vscode-widget-border);
    box-shadow: 0 2px 16px 0 var(--vscode-widget-shadow);
    border-radius: 4px;
    margin-bottom: var(--spacing);
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;
}

.section {
    width: 100%;
    max-width: 500px;
    display: flex;
    gap: 0.5rem;
    align-items: flex-start;
    flex-direction: column;
}

.button {
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    justify-content: center;
    padding: 0.25rem;
    margin-left: auto;
    margin-right: auto;
}

.input {
    width: 100%;
    padding: 0.25rem;
    color: var(--vscode-input-foreground);
    background-color: var(--vscode-input-background);
    border: 1px solid var(--vscode-input-border);
}

.warning {
    color: var(--vscode-inputValidation-warningBorder);
}
