.enhanced-context-settings-popup {
    max-width: 300px;
    cursor: default;
}

.enhanced-context-inner-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.enhanced-context-settings-popup label {
    display: block;
    margin-bottom: 0.2rem;
}

.enhanced-context-settings-popup label h1 {
    font-weight: 600;
    display: inline;
    cursor: pointer;
}

.enhanced-context-settings-popup > p {
    display: block;
}

.folders-list {
    margin: 1rem 0 0 0;
}

.folders-list > dt {
    display: flex;
    gap: 0.4rem;
}

.folders-list > dd {
    margin-left: 0rem;
    padding-left: 1rem;
    border-left: 1px solid var(--vscode-checkbox-border);
}

.folders-list > dd + dt {
    margin-top: 1rem;
}

.providers-list, .provider-item {
    margin: 0;
    padding: 0;
    list-style: none;
}

.providers-list {
    margin-top: 0.4rem;
    padding: 0.25rem 0 0.5rem 0;
    font-size: 12px;
}

.provider-item + .provider-item {
    margin-top: 0.75rem;
}

.providers-list p {
    margin-top: 0.2rem;
    margin-left: 1.25rem;
}

.providers-list p + p {
    margin-top: 0.5rem;
}

.provider-label {
    font-weight: 600;
}

.provider-icon-and-name {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.provider-explanatory-text, .provider-inline-state {
    opacity: 0.8;
}

.provider-item:not(:has(p)) {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.provider-inline-state {
    font-weight: normal;
}

.enhanced-context-settings-popup i {
    opacity: 0.8;
}

vscode-checkbox {
    margin-top: 0;
}

/*
    vscode-checkbox and vscode-button is missing the borders and focus styles that built-in VS
    controls have (perhaps out of date?) so we need to add them in ourselves
*/
vscode-checkbox::part(control) {
    background-color: var(--vscode-checkbox-background);
    border: 1px solid var(--vscode-checkbox-border);
}
vscode-checkbox:focus::part(control),
vscode-checkbox:focus-visible::part(control),
vscode-checkbox:focus-within::part(control) {
    border-color: var(--vscode-focusBorder);
}

vscode-button:focus::part(control),
vscode-button:focus-visible::part(control),
vscode-button:focus-within::part(control) {
    outline: 1px solid var(--vscode-focusBorder);
    outline-offset: 2px;
}
