.container {
    z-index: 10;
    position: relative;
}

.pop-up-container {
    background: var(--vscode-input-background);
    color: var(--vscode-inputOption-activeForeground);
    box-shadow: 0 0 3px 2px var(--vscode-inputOption-activeBorder);

    position: absolute;
    bottom: 2.5rem;
    right: -2.5rem;

    width: 50%;
    min-width: 300px;

    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.25rem;

    z-index: 100;
}

.pop-up-container:before {
    content: '';
    position: absolute;
    top: 100%;
    right: 3.4rem;

    width: 0;
    border-top: 0.5rem solid var(--vscode-input-background);
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
}

.enhanced-context-description {
    font-size: smaller;
    margin: 0;
    color: var(--vscode-descriptionForeground);
}

.codebase-connection {
    font-size: smaller;
    margin: 0;
    margin-top: 1rem;
}

.settings-btn {
    position: relative;
    color: var(--vscode-editor-foreground);
}

.settings-btn-active {
    background: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
}

.check-box {
    margin: 0;
    margin-bottom: 0.25rem;
}

.codebase {
    border-bottom: 1px solid var(--vscode-selection-background);
}

.current-file {
    margin-top: 0.5rem;
}
