.banner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background: var(--vscode-editor-background);
    border: 1px solid var(--vscode-widget-border);
    margin: 0 auto;
    border-radius: 6px;

    h3 {
        margin: 0;
        font-size: 0.875rem;
        color: var(--vscode-editor-foreground);
        font-weight: 500;
    }
}

.download-button {
    display: flex;
    align-items: center;
    padding: 0.25rem 0.75rem;
    font-weight: 500;
    background: var(--vscode-button-secondaryBackground);
    color: var(--vscode-button-secondaryForeground);
    text-decoration: none;
    border-radius: 4px;
    height: 32px;
}

.download-button:hover {
    background: var(--vscode-button-hoverBackground);
    color: var(--vscode-editor-foreground);
}

.banner {
    position: relative;
}
