.link-container {
    display: flex;
    align-items: center;
}

.link-button {
    background: none;
    border: none;
    color: var(--vscode-textLink-foreground);
    cursor: pointer;
    font-size: inherit;
    padding: 0;
    margin: 0;
    text-align: left;
    font-weight: normal;
    display: flex;
    align-items: center;
    gap: 0.125rem;
    overflow: hidden;
}

/* In light high contrast, --vscode-textLink-foreground provides little
   contrast; instead inherit the --code-foreground color from the container. */
body[data-vscode-theme-kind='vscode-high-contrast-light'] .link-button {
    color: inherit;
}

.path {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.excluded {
    text-decoration: line-through !important;
}
