.link-button {
    background: none;
    border: none;
    color: var(--vscode-textLink-foreground);
    cursor: pointer;
    font-size: inherit;
    text-decoration: underline;
    padding: 0;
    margin: 0;
    text-align: left;
    font-weight: normal;
    display: inline-block;
}

.excluded {
    text-decoration: line-through !important;
}

.item {
    display: flex;
    align-items: center;
}
