.path {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    /* Makes ellipsis show in default text color, we show the basename in link color below */
    color: var(--text-subtle);
    background:transparent;

}

.excluded {
    text-decoration: line-through !important;
}

.basename {
    color: var(--text-inverted);
}

.repoShortName {
    color: var(--text-inverted);
    font-size: smaller;
}

.dirname {
    color: var(--text-inverted);
    font-size: smaller;
    mix-blend-mode: multiply;
}

.range {
    color: var(--text-inverted);
    mix-blend-mode: multiply;
    font-size: smaller;
    font-weight: bold;
}

