.path {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    /* Makes ellipsis show in default text color, we show the basename in link color below */
    color: var(--text-subtle);
}

.excluded {
    text-decoration: line-through !important;
}

.basename {
    color: var(--text);
}

.repoShortName {
    color: var(--text-disabled);
    font-size: smaller;
}

.dirname {
    color: var(--text-disabled);
    font-size: smaller;
}

.range {
    color: var(--text-disabled);
}
