.user-avatar {
    isolation: isolate;
    display: inline-flex;
    border-radius: 50%;
    background-color: var(--background-03);
    color: var(--text);
    align-items: center;
    justify-content: center;
}

.sourcegraph-gradient-border {
    --gradient-border-width: 1px;

    border-radius: 50%;
    padding: 1px;
    background-clip: padding-box;
    background-image: linear-gradient(
        180deg,
        #00cbec 0%,
        #a112ff 50%,
        #ff5543 100%
    );

    align-items: center;
    justify-content: center;

    width: fit-content;
    height: fit-content;
}
