.user-avatar, .user-avatar-text{
    isolation: isolate;
    display: inline-flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
}

.user-avatar-text {
    background-color: var(--vscode-inputOption-activeBackground);
    color: var(--vscode-inputOption-activeForeground);
}
